body {
  background:#5C9FDA;
}

.container {
  background:#ffffff;
}

.date-tag {
  margin-left:25px;
  background:#5C9FDA;
  padding:5px 10px;
  font-size: 14px;
  display: inline-block;
  color:#ffffff;
}

h1 {
  font-family: Georgia;
  font-size:35px;
  padding:15px 20px;
}

h1 strong {

}

h2 {
  font-size: 23px;
}

.caption {
  background:#efefef;
  padding:15px 0;
  font-size: 18px;
  font-style: italic;
}

.top {
  font-family: Georgia;
  font-size:23px;
  line-height: 140%;
}

#right-side h3 {
  margin-top:0;
  padding-top:0;
  border-left:5px solid #5C9FDA;
  padding-left:10px;
}

#right-side h4 {
  font-size: 14px;
}

#right-side ul {
  margin:0;
  padding:0;
  list-style: none;
}

#right-side ul li  a {
  color:#5C9FDA;
  display: inline-block;
  padding:4px 0;
}
