@font-face {
  font-family: 'latoregular';
  src: url(../../../fonts/lato-reg-webfont.eot);
  src: url(../../../fonts/lato-reg-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-reg-webfont.woff2) format('woff2'), url(../../../fonts/lato-reg-webfont.woff) format('woff'), url(../../../fonts/lato-reg-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url(../../../fonts/lato-bol-webfont.eot);
  src: url(../../../fonts/lato-bol-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bol-webfont.woff2) format('woff2'), url(../../../fonts/lato-bol-webfont.woff) format('woff'), url(../../../fonts/lato-bol-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack';
  src: url(../../../fonts/lato-bla-webfont.eot);
  src: url(../../../fonts/lato-bla-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bla-webfont.woff2) format('woff2'), url(../../../fonts/lato-bla-webfont.woff) format('woff'), url(../../../fonts/lato-bla-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neueregular';
  src: url(../../../fonts/bebasneue-webfont.eot);
  src: url(../../../fonts/bebasneue-webfont.eot?#iefix) format('embedded-opentype'),         url(../../../fonts/bebasneue-webfont.woff2) format('woff2'),         url(../../../fonts/bebasneue-webfont.woff) format('woff'),         url(../../../fonts/bebasneue-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url(../../../fonts/lato-regita-webfont.eot);
  src: url(../../../fonts/lato-regita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-regita-webfont.woff2) format('woff2'), url(../../../fonts/lato-regita-webfont.woff) format('woff'), url(../../../fonts/lato-regita-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack_italic';
  src: url(../../../fonts/lato-blaita-webfont.eot);
  src: url(../../../fonts/lato-blaita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-blaita-webfont.woff2) format('woff2'), url(../../../fonts/lato-blaita-webfont.woff) format('woff'), url(../../../fonts/lato-blaita-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold_italic';
  src: url(../../../fonts/lato-bolita-webfont.eot);
  src: url(../../../fonts/lato-bolita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bolita-webfont.woff2) format('woff2'), url(../../../fonts/lato-bolita-webfont.woff) format('woff'), url(../../../fonts/lato-bolita-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url(../../../fonts/lato-lig-webfont.eot);
  src: url(../../../fonts/lato-lig-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-lig-webfont.woff2) format('woff2'), url(../../../fonts/lato-lig-webfont.woff) format('woff'), url(../../../fonts/lato-lig-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix {
  clear: both;
  display: block;
  content: '';
}

b {
  font-family: 'latobold';
}

strong {
  font-family: 'latobold';
}

img {
  max-width: 100%;
}

.font-black {
  font-family: 'latoblack';
}

div.row:after {
  clear: both;
  display: block;
  content: '';
}

div.row div.left-side {
  float: left;
}

div.row div.right-side {
  float: right;
}

div.row img.right {
  float: right;
}

div.row img.left {
  float: left;
}

.pull-right {
  float: right;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

body {
  background: #ebebeb;
  font-family: 'latoregular';
}

div.wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 13px 0px rgba(0, 1, 1, 0.3);
  background: white;
  padding-top: 32px;
}

ul li {
  line-height: 20px;
  font-size: 15px;
  color: #3d3d3d;
  position: relative;
}

ul li:before {
  position: absolute;
  content: '•';
  top: 0;
  left: -17px;
  color: #498600;
  font-size: 17px;
}

p {
  font-size: 15px;
  line-height: 23px;
  color: #3d3d3d;
}

div.row div.content {
  width: 72.16494845%;
  vertical-align: top;
  position: relative;
  float: left;
}

div.row aside {
  float: right;
  vertical-align: top;
  width: 27.83505155%;
}

div.content {
  padding: 0 20px 0 30px;
}

div.content h1 {
  color: #4c83b2;
  font-size: 38px;
  text-align: center;
  line-height: 51px;
  font-family: 'latoregular';
  margin: 0 auto;
  width: 89%;
}

div.content h1 strong {
  display: block;
  font-family: 'latobold';
}

div.content h1 span {
  color: #b41c58;
}

div.content h1 span.fontitalic {
  color: #4c83b2;
  font-family: 'latoitalic';
}

div.content ul.hal-under-h1 {
  list-style: none;
  line-height: 30px;
  padding-left: 0px;
  margin-top: 22px;
}

div.content ul.hal-under-h1 li {
  padding-bottom: 10px;
  padding-left: 25px;
}

div.content ul.hal-under-h1 li::before {
  content: url(../../images/frontend/hal_li_bg.jpg);
  width: 8px;
  height: 8px;
  position: relative;
  top: -1px;
}

div.content h2 {
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  background: url(../../images/frontend/h22.jpg) no-repeat left center;
  min-height: 39px;
  margin-bottom: 25px;
  color: #4c83b2;
  font-family: 'latobold';
}

div.content h2.one-line {
  padding-top: 7px;
  margin-bottom: 15px;
}

div.content h3 {
  color: #3d3d3d;
  font-size: 15px;
  margin-bottom: 3px;
  line-height: 20px;
  font-family: 'latoblack';
}

div.content section {
  margin-bottom: 30px;
}

div.content div.product-desc {
  font-family: 'latoblack';
  text-align: center;
  margin: 35px auto;
  width: 81%;
}

div.content div.product-desc p {
  font-size: 20px;
  margin-bottom: 5px;
}

div.content div.product-desc ul {
  margin-left: 13.13131313%;
}

div.content div.product-desc ul li {
  font-size: 15px;
  text-align: left;
  line-height: 22px;
  color: black;
}

div.content blockquote {
  background: #ebf9da;
  border: 2px solid #498600;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  line-height: 18px;
  padding: 16px 20px;
  margin: 20px 0;
  width: 92%;
}

div.content footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

div.content footer a {
  text-decoration: none;
  color: #3d3d3d;
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  border-left: 1px solid #3d3d3d;
}

div.content footer a:first-child {
  border-left: 0;
}

section.block-3 div.row div.left-side {
  width: 51%;
}

section.block-4 div.row {
  margin: 25px 0;
}

section.block-4 div.row div.left-side {
  width: 62%;
}

section.block-4 div.row div.left-side ul li + li {
  margin-top: 15px;
}

section.block-4 div.row div.left-side ul li:before {
  left: 0;
  font-size: 23px;
}

section.block-4 div.row div.left-side ul li {
  padding-left: 17px;
}

section.block-6 div.media {
  margin-top: 25px;
}

section.block-6 div.media div.right-side {
  width: 69%;
}

section.block-6 div.media div.right-side p {
  margin: 5px 0;
}

section.block-6 div.media div.right-side a {
  font-size: 13px;
  color: blue;
  text-decoration: none;
}

section.block-6 div.media div.row + div.row {
  margin-top: 35px;
}

div.specialist {
  background: #eef6e9;
  padding: 22px 29px 22px 9px;
  margin-top: 15px;
  font-style: italic;
}

div.specialist:after {
  clear: both;
  display: block;
  content: '';
}

div.specialist img {
  float: left;
  margin-right: 20px;
}

div.specialist h3 {
  color: #0e0e0e;
  font-style: normal;
  margin-bottom: 15px;
}

div.product-order {
  text-align: center;
  margin: 50px 0 100px;
}

div.product-order p.black {
  font-family: 'latoblack';
  font-size: 17px;
}

div.product-order a {
  margin-top: 25px;
}

div.product-order img {
  margin: 30px 0;
}

.greenBtn {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 18px 40px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  background: #437b00;
  background: -moz-linear-gradient(top, #437b00 0%, #578f14 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #437b00), color-stop(100%, #578f14));
  background: -webkit-linear-gradient(top, #437b00 0%, #578f14 100%);
  background: -o-linear-gradient(top, #437b00 0%, #578f14 100%);
  background: -ms-linear-gradient(top, #437b00 0%, #578f14 100%);
  background: linear-gradient(to bottom, #437b00 0%, #578f14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#437b00', endColorstr='#578f14', GradientType=0);
  font-family: 'latoblack';
}

.grayBtn {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: #b9b9b9;
  background: -moz-linear-gradient(top, #b9b9b9 0%, #acacac 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9b9b9), color-stop(100%, #acacac));
  background: -webkit-linear-gradient(top, #b9b9b9 0%, #acacac 100%);
  background: -o-linear-gradient(top, #b9b9b9 0%, #acacac 100%);
  background: -ms-linear-gradient(top, #b9b9b9 0%, #acacac 100%);
  background: linear-gradient(to bottom, #b9b9b9 0%, #acacac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9b9b9', endColorstr='#acacac', GradientType=0);
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 11px 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.redBtn {
  color: white;
  background: #54669d;
  border-radius: 5px;
  font-size: 23.34px;
  text-transform: uppercase;
  font-family: 'latoblack';
  text-decoration: none;
  padding: 15px 100px;
  display: inline-block;
  border-bottom: 2px solid #a56117;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
  cursor: pointer;
  border: none;
}

aside {
  border-left: 1px solid #cacaca;
  padding-left: 20px;
  padding-right: 20px;
}

aside div.effect {
  border: 1px solid #e8e8e8;
  padding: 8px;
  padding-bottom: 20px;
}

aside div.effect h4 {
  color: #3d3d3d;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'latobold';
}

aside div.effect div.txt {
  padding: 0 4px 0 5px;
}

aside div.effect p.end {
  font-family: 'latoitalic';
  margin-top: 15px;
}

aside div.effect div.data {
  font-family: 'latobold';
  line-height: 24px;
  font-size: 15px;
  margin-top: 15px;
}

aside div.effect div.data span {
  color: #b41c58;
}

aside div.effect + div.effect {
  margin-top: 25px;
}

h1.line {
  border-bottom: 8px solid #f5dee8;
  padding-top: 12px;
  margin-bottom: 35px;
  line-height: 30px !important;
}

#order-page h1.line {
  width: 100%;
  margin-bottom: 25px;
}

h1.line span {
  float: left;
  background: white;
  padding-right: 20px;
  margin-top: -12px;
}

div.wrapper.order {
  margin-top: 30px;
  padding-top: 15px;
  max-width: 820px;
}

div.wrapper.order form:before {
  clear: both;
  display: block;
  content: '';
}

div.wrapper.order h1 {
  font-size: 25px;
  text-align: left;
}

div.wrapper.order h1 span {
  font-family: 'latoblack';
}

div.wrapper.order p.green {
  color: #4c83b2;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'latobold';
}

div.wrapper.order div.form-element:after {
  clear: both;
  display: block;
  content: '';
}

div.wrapper.order div.form-element label {
  display: inline-block;
  width: 19.4%;
  text-align: right;
  color: #363636;
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
  font-family: 'latobold';
}

div.wrapper.order div.form-element span.help {
  color: #acacac;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

div.wrapper.order div.form-element input[type=text],
div.wrapper.order div.form-element select {
  border: 1px solid #c2c2c2;
  height: 29px;
  max-width: 305px;
  width: 100%;
  font-size: 12px;
  padding: 0 10px;
  font-family: 'latoregular';
}

div.wrapper.order div.form-element input[type=text].phone,
div.wrapper.order div.form-element select.phone {
  max-width: 218px;
}

div.wrapper.order div.form-element input[type=text].name,
div.wrapper.order div.form-element select.name {
  max-width: 257px;
}

div.wrapper.order div.form-element div.row {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

div.wrapper.order div.form-element div.row input {
  float: left;
  margin-right: 15px;
}

div.wrapper.order div.form-element div.row p {
  width: 55%;
  float: left;
  color: #222222;
  font-size: 12px;
  line-height: 16px;
}

div.wrapper.order div.form-element div.row p span {
  color: #919191;
  display: block;
}

div.wrapper.order div.form-actions {
  text-align: center;
  margin-bottom: 35px;
}

div.wrapper.order div.form-actions input[type=submit] {
  border: 0;
  cursor: pointer;
  padding: 14px 32px 12px;
}

div.wrapper.no-aside.order2 div.content {
  padding: 0 59px 50px;
}

div.wrapper.no-aside.order2 h1 {
  font-size: 35px;
  font-family: 'latobold';
  margin-bottom: 25px;
}

div.wrapper.no-aside.order2 h1 span {
  color: #a42f5d;
  font-size: 39px;
  font-family: 'latoblack';
}

div.wrapper.no-aside.order2 p {
  color: black;
}

div.wrapper.no-aside.order2 div.order-info {
  border: 1px solid #ebebeb;
  line-height: 23px;
  margin: 20px auto;
  max-width: 70%;
  padding: 15px 40px;
  text-align: center;
}

div.wrapper.no-aside.order2 div.order-info span {
  display: block;
  color: #ff721b;
  font-size: 22px;
  font-family: 'latobold';
  text-transform: uppercase;
  margin-bottom: 5px;
}

div.wrapper.no-aside.order2 p.h1-next {
  font-size: 20px;
  text-align: center;
  color: #010101;
  width: 100%;
}

div.wrapper.no-aside.order2 p.lead {
  color: #010101;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin: 38px auto;
  text-align: center;
  width: 76%;
}

div.wrapper.no-aside.order2 p.lead span {
  text-decoration: underline;
  color: #a42f5d;
}

div.wrapper.no-aside.order2 p.lead-2 {
  color: #010101;
  font-size: 22px;
  font-weight: bold;
  line-height: 35px;
  margin: 10px auto;
  text-align: center;
  width: 75%;
}

div.wrapper.no-aside.order2 h2 {
  font-size: 24px;
  background: none;
  min-height: auto;
  padding: 0;
  margin: 40px 0 25px;
  text-align: center;
  text-transform: none;
  text-transform: uppercase;
  color: black;
  font-family: 'latoblack';
}

div.wrapper.no-aside.order2 table {
  width: 74.82598608%;
  margin: 0 auto 30px;
  border: 1px solid #c1c1c1;
}

div.wrapper.no-aside.order2 table thead th {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background: #4c83b2;
  padding: 15px 0;
  border-left: 1px solid #466f14;
  text-align: center;
}

div.wrapper.no-aside.order2 table td {
  text-align: center;
  border: 1px solid #c1c1c1;
  font-size: 14px;
  padding: 10px 10px;
  vertical-align: middle;
}

div.wrapper.no-aside.order2 table td:first-child {
  text-align: right;
}

div.wrapper.no-aside.order2 table td.red,
div.wrapper.no-aside.order2 table td.green {
  color: #e70606;
  font-size: 16px;
  font-family: 'latoblack';
}

div.wrapper.no-aside.order2 table td.blue {
  color: #307dc0;
  font-size: 16px;
  font-family: 'latoblack';
}

div.wrapper.no-aside.order2 table td.green {
  color: #649727;
}

div.wrapper.no-aside.order2 div.btn {
  text-align: center;
}

div.wrapper.no-aside.order2 div.btn a.grayBtn {
  margin-top: 20px;
  padding: 14px 40px 14px;
}

div.wrapper.no-aside.order2 div.btn a.greenBtn {
  padding: 18px 40px 16px;
}

div.wrapper.no-aside.order2 div.thanks {
  border: 4px solid #e8e8e8;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
}

div.wrapper.no-aside.order2 div.thanks div.ng {
  color: white;
  background: #960043;
  padding: 20px 0;
  font-family: 'latoblack';
  font-size: 32.43px;
}

div.wrapper.no-aside.order2 div.thanks p {
  width: 100%;
  font-size: 17px;
  line-height: 22px;
  color: #363636;
}

div.wrapper.no-aside.order2 div.thanks a {
  margin: 25px 0;
  font-size: 17px;
  color: white;
  background: #009fb3;
  background: -moz-linear-gradient(top,  #009fb3 0%, #008fa6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009fb3), color-stop(100%,#008fa6));
  background: -webkit-linear-gradient(top,  #009fb3 0%,#008fa6 100%);
  background: -o-linear-gradient(top,  #009fb3 0%,#008fa6 100%);
  background: -ms-linear-gradient(top,  #009fb3 0%,#008fa6 100%);
  background: linear-gradient(to bottom,  #009fb3 0%,#008fa6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fb3', endColorstr='#008fa6',GradientType=0 );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'latoblack';
  text-decoration: none;
  padding: 15px 30px;
  display: inline-block;
  border-bottom: 2px solid #0e5a65;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
  cursor: pointer;
  border: 0;
}

div.wrapper.no-aside div.content {
  width: 100%;
  padding: 0 15px;
}

div.fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

div.fade div.superpromo {
  background: url(/layout/1/images/hallupro-superpromo.jpg) no-repeat top center;
  width: 724px;
  height: 362px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  -moz-transform: translate(-50%, -70%);
  -webkit-transform: translate(-50%, -70%);
  -o-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  padding: 15px;
  font-family: Arial;
  color: black;
}

div.fade div.superpromo span.circle-percent {
  background: #ffc000 none repeat scroll 0 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: white;
  font-size: 29px;
  font-weight: 900;
  height: 100px;
  padding-top: 35px;
  position: absolute;
  right: 130px;
  text-align: center;
  top: 228px;
  transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  width: 100px;
}

div.fade div.superpromo span.badge {
  background: #ede901 none repeat scroll 0 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: black;
  display: block;
  font-size: 27.47px;
  font-weight: 900;
  height: 100px;
  padding-top: 37px;
  position: absolute;
  right: 28px;
  text-align: center;
  top: 42px;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  width: 100px;
}

div.fade div.superpromo h1 {
  font-size: 25.54px;
  color: black;
  text-align: center;
  line-height: 55px;
  margin-bottom: 0px;
  font-weight: 900;
  width: 71%;
  margin-top: 10px;
}

div.fade div.superpromo h1 span {
  text-transform: uppercase;
  color: #516894;
  font-size: 66.53px;
  display: block;
}

div.fade div.superpromo h1 strong {
  color: #b90808;
  font-size: 53px;
}

div.fade div.superpromo p {
  text-align: center;
  color: black;
  font-size: 21px;
  width: 56%;
  line-height: 30.21px;
  margin-left: 40px;
}

div.fade div.superpromo p strong {
  font-weight: 900;
  font-family: Arial;
  text-decoration: underline;
}

div.fade div.superpromo div.actions {
  width: 68%;
  text-align: center;
}

div.fade div.superpromo div.actions a.redBtn {
  background: #ece900 none repeat scroll 0 0;
  border-bottom: 2px solid #79780b;
  color: black;
  font-family: Arial;
  font-weight: 900;
  font-size: 27.71px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px 30px;
  text-shadow: none;
}

div.fade div.superpromo div.actions span {
  font-size: 11px;
  text-transform: uppercase;
}

div.wrapper.no-aside.promo {
  padding-top: 10px;
}

div.wrapper.no-aside.promo div.content {
  padding: 0px 35px 100px;
}

div.wrapper.no-aside.promo h1 {
  font-size: 31.91px;
  color: #54669d;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  font-family: 'latoblack';
}

div.wrapper.no-aside.promo h1 span {
  color: white;
  background: #4c83b2;
  font-size: 41px;
  padding: 11px 13px 12px;
  position: relative;
  left: 10px;
}

div.wrapper.no-aside.promo p.h1-next {
  font-size: 22px;
  text-align: center;
  font-family: 'latoblack';
}

div.wrapper.no-aside.promo div#counter {
  text-align: center;
  color: #d75b9a;
  font-size: 58.91px;
  margin: 29px 0 15px;
  font-family: 'latoblack';
}

div.wrapper.no-aside.promo div.row {
  width: 100%;
  margin: 30px auto;
}

div.wrapper.no-aside.promo div.row div.left-side {
  text-align: center;
  padding-top: 68px;
}

div.wrapper.no-aside.promo div.row div.left-side p {
  color: black;
  font-family: 'latoblack';
}

div.wrapper.no-aside.promo div.row div.left-side p.old {
  font-size: 18.23px;
  text-decoration: line-through;
}

div.wrapper.no-aside.promo div.row div.left-side p.new {
  font-size: 23.59px;
  line-height: 32.17px;
  margin-top: 15px;
}

div.wrapper.no-aside.promo div.row div.left-side p.new span {
  font-family: 'latoblack';
}

div.wrapper.no-aside.promo div.action {
  text-align: center;
  margin-top: 35px;
}

div.wrapper.index2 div.content {
  padding: 0 25px 70px 25px;
}

div.wrapper.index2 div.content h1 {
  font-size: 37.8px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 30px;
}

div.wrapper.index2 div.content div.metamorphosis {
  background: #ffffe1;
  border: 2px solid #fff284;
  padding: 22px 22px;
}

div.wrapper.index2 div.content div.metamorphosis span.title {
  font-size: 22.2px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

div.wrapper.index2 div.content div.metamorphosis p {
  color: black;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.left-side,
div.wrapper.index2 div.content div.metamorphosis div.row div.right-side {
  width: 52%;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.left-side p,
div.wrapper.index2 div.content div.metamorphosis div.row div.right-side p {
  line-height: 23px;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.left-side span,
div.wrapper.index2 div.content div.metamorphosis div.row div.right-side span {
  font-weight: bold;
  font-style: italic;
  display: block;
  text-align: right;
  font-size: 15px;
  margin-top: 10px;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.right-side {
  float: right;
}

div.wrapper.index2 div.content div.metamorphosis div.sign {
  line-height: 23px;
  font-size: 15px;
  margin-top: 5px;
}

div.wrapper.index2 div.content div.metamorphosis div.sign:first-line {
  font-weight: bold;
}

div.wrapper.index2 div.content section.block-1:after {
  clear: both;
  display: block;
  content: '';
}

div.wrapper.index2 div.content section.block-1 > img {
  float: right;
  border: 1px solid #a8a8a8;
  margin-left: 15px;
}

div.wrapper.index2 div.content section.block-1 ul {
  margin-top: 15px;
  margin-left: 10%;
}

div.wrapper.index2 div.content section.block-1 ul li {
  margin: 5px 0;
}

div.wrapper.index2 div.content section.block-1 ul li:before {
  font-size: 22px;
}

div.wrapper.index2 div.content section.block-1 p.bordered {
  border-left: 8px solid #e5e5e5;
  padding-left: 25px;
  padding-right: 20px;
}

div.wrapper.index2 div.content h3 {
  font-size: 18px;
  font-family: 'latoblack';
  text-align: center;
  color: black;
  margin: 25px 0 15px;
}

div.wrapper.index2 div.content p.center {
  text-align: center;
}

div.wrapper.index2 div.content div.info {
  background: #ebf9da;
  border: 2px solid #498600;
  margin: 25px auto;
  text-align: center;
  padding: 21px 25px;
  width: 59%;
}

div.wrapper.index2 div.content div.info h4 {
  color: #df0000;
  font-size: 18px;
  font-family: 'latoblack';
  text-transform: uppercase;
  margin-bottom: 8px;
}

div.wrapper.index2 div.content div.info p {
  font-weight: bold;
}

div.quote {
  background: #effdff;
  border: 2px solid #d6e1ea;
  padding: 20px;
}

div.quote.background {
  background: rgba(0, 0, 0, 0) url("../../images/frontend/quote-bg.jpg") no-repeat scroll 0 0 / 100% auto;
  border: 0 none;
  height: 354px;
  width: 665px;
  padding-left: 40px;
}

div.quote.background h2 {
  font-family: 'latoregular';
  font-style: italic;
  font-size: 22px;
  margin-bottom: 15px;
}

div.quote.background p {
  margin-right: 257px;
  font-family: 'latoitalic';
  margin-left: 00px;
  margin-top: 0px;
}

div.quote h2 {
  background: none;
  padding: 0;
  margin: 0;
  font-size: 21px;
  text-transform: none;
  color: #4c83b2;
  font-family: 'latobold';
}

div.quote div.row {
  margin-top: 5px;
}

div.quote div.row p.sign {
  float: right;
  font-family: "latoregular";
  font-size: 15px;
  line-height: 21px;
  margin-right: 37px;
  margin-top: 25px;
  width: 30%;
}

div.quote div.row p.sign strong {
  font-size: 15px;
  color: #4c83b2;
}

div.quote div.row div.left-side {
  width: 64%;
}

div.quote div.row div.left-side p {
  line-height: 23px;
  margin-top: 0;
}

div.quote div.row div.left-side p + p {
  margin-top: 15px;
  margin-bottom: 0;
}

div.quote div.row div.left-side p + p strong {
  color: #4c83b2;
  font-family: 'latobold';
  font-style: italic;
}

div.quote div.row div.left-side b {
  font-size: 15px;
  float: right;
  position: relative;
  left: 249px;
  font-family: 'latobold_italic';
}

div.quote div.row img {
  border: 1px solid #6f9196;
}

div.quote div.row img.left {
  margin-right: 25px;
}

section.block-1 figure {
  max-width: 196px;
  background: #ececec;
  margin-left: 20px;
  margin-right: 0;
}

section.block-1 figure figcaption {
  color: #a2a2a2;
  line-height: 14px;
  font-size: 11px;
  font-family: Arial;
  padding: 3px 9px 5px;
}

section.block-1 ul {
  margin-top: 10px;
}

section.block-1 ul li {
  padding: 4px 0;
  padding-left: 30px;
}

p.blue-left {
  border-left: 9px solid #e1f3f9;
  padding-left: 28px;
  margin-left: 10px;
}

section.end {
  margin-top: 25px;
}

section.end h2 {
  border: 0;
  padding: 0;
  background: none;
  text-align: center;
  color: black;
  margin-bottom: 0;
  font-size: 21px;
  display: block;
}

section.end div.info {
  background: #4c83b2;
  border: 2px solid #e4edf4;
  padding: 15px 38px;
  width: 63%;
  margin: 30px auto 35px;
  color: white;
  font-family: 'latobold';
  line-height: 21px;
  text-align: center;
}

section.end div.info span {
  font-family: 'latobold';
  display: block;
  color: #f2e901;
}

section.end div.art-sign {
  text-align: right;
  margin-top: 20px;
  font-family: 'latobold_italic';
}

section.end div.art-sign img {
  margin-bottom: 12px;
}

.product-image {
  display: inline-block;
  position: relative;
}

.form-actions.margin-top-20.order-form-end {
  padding-left: 147px;
  text-align: left !important;
}

.form-actions.margin-top-20.order-form-end .order-summation {
  background: rgba(0, 0, 0, 0) url("/layout/1/images/order-summation.jpg") repeat scroll 0 0;
  height: 170px;
  margin-top: 20px;
  width: 320px;
  padding-top: 66px;
}

.form-actions.margin-top-20.order-form-end .order-summation table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 13px;
  width: 100%;
}

.form-actions.margin-top-20.order-form-end .order-summation table td {
  padding: 7px 35px;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr td:first-child {
  text-align: right;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr td:last-child {
  color: #4c83b2;
  font-family: 'latoblack';
}

.form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td:first-child {
  color: #4c83b2;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td:last-child {
  color: #b80e51;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td {
  padding-top: 20px;
  font-family: 'latoblack';
  text-transform: uppercase;
}

.disclaimer {
  padding: 0 20px 20px;
}

.disclaimer p {
  font-size: 10px;
  margin-top: 70px;
  text-align: center;
}

.disclaimer p + p {
  margin-top: 10px;
}

div.product-image .price {
  font-weight: bold;
  margin-bottom: 20px;
  color: #4c83b2;
}

div.product-image .price span {
  font-weight: normal;
  text-decoration: line-through;
  color: black;
}

div.error_message {
  background: red;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.validation_error {
  color: red;
  font-size: 12px;
  padding-left: 143px;
}

p.hal_center {
  width: 76%;
  margin: 0 auto;
}

@media all and (max-width: 890px) {
  div.wrapper div.row div.content div.row img.right {
    width: 38%;
  }

  div.quote div.row div.left-side b {
    float: none;
    position: static;
    left: 0;
    display: block;
    margin-top: 5px;
  }
}

@media all and (max-width: 800px) {
  .quote.background {
    width: 100%;
    max-width: 100%;
    height: auto !important;
    margin-bottom: 25px;
    padding: 23px !important;
  }

  .quote.background p {
    width: 100%;
    margin: 0 !important;
  }

  .quote.background .sign {
    margin-left: 0;
    margin-top: 10px !important;
  }

  div.quote h2 {
    font-size: 19.92px;
  }
}

@media all and (max-width: 768px) {
  div.wrapper div.row {
    display: block !important;
  }

  div.wrapper div.row div.content {
    float: none !important;
    display: block !important;
    width: 100% !important;
  }

  div.wrapper div.row aside {
    float: none !important;
    display: block !important;
    width: 100% !important;
    margin-top: 5px;
    text-align: center;
  }

  div.wrapper div.row aside div.effect {
    display: inline-block;
    text-align: left;
    max-width: 250px;
    width: 100%;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 20px;
  }

  div.quote div.row div.left-side b {
    left: 0;
    display: block;
    margin-top: 10px;
  }

  div.wrapper.no-aside div.content {
    width: 100% !important;
    max-width: 100% !important;
    float: none !important;
  }

  div.wrapper.order div.form-element span.help {
    display: block;
    margin: 0 0 0 14px;
    padding-left: 19.4%;
  }

  div.wrapper.no-aside.order2 div.thanks div.ng {
    font-size: 22.43px;
    padding: 15px 0;
  }

  div.wrapper.no-aside.order2 div.thanks p {
    font-size: 15px;
  }

  div.wrapper.no-aside.order2 div.thanks p.margin-top-20 {
    margin-top: 12px;
  }

  div.product-order {
    margin: 50px 0 63px !important;
  }

  section.end {
    margin-bottom: 0 !important;
  }

  div.content footer {
    position: static;
  }

  div.content footer a {
    font-size: 12px;
  }
}

#mobilebg {
  display: none;
}

@media all and (max-width: 800px) {
  #mobilebg {
    display: inline;
    padding-top: 10px;
    width: 50%;
    float: left;
  }

  .quote.background {
    background-image: none!important;
    background-color: #f6f6f6;
  }
}

@media all and (max-width: 555px) {
  p {
    font-size: 14px;
    line-height: 22px !important;
  }

  div.wrapper div.content h1 {
    font-size: 31.8px;
    line-height: 40px;
  }

  div.wrapper div.content div.metamorphosis {
    padding: 15px;
  }

  div.wrapper div.content div.metamorphosis div.row div.left-side {
    width: 59%;
  }

  div.wrapper div.content div.metamorphosis span.title {
    font-size: 19.2px;
  }

  section.block-1 div.row figure.pull-right {
    max-width: none;
    width: auto;
    background: none;
    border: 0;
    margin: 0;
  }

  img.block-1-img {
    width: 100%!important;
  }

  div.content h2 {
    font-size: 15px;
    line-height: 19px;
    padding: 0px;
  }

  div.wrapper div.content div.info {
    width: 100%;
  }

  div.wrapper div.content {
    padding: 0 10px;
  }

  div.wrapper.order div.form-element label {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 3px;
  }

  div.wrapper.order div.form-element span.help {
    margin: 0;
    padding: 0;
  }

  div.wrapper.order div.form-element div.row p {
    width: 88%;
  }

  .form-actions.margin-top-20.order-form-end {
    padding-left: 0;
  }

  div.wrapper.order div.form-element input[type="text"],
  div.wrapper.order div.form-element select {
    max-width: 100% !important;
    width: 100%;
    margin-bottom: 3px;
  }

  div.wrapper.order div.form-element input#post {
    max-width: 35% !important;
  }

  div.wrapper.order div.form-element input#city {
    max-width: 63% !important;
  }

  div.wrapper.order div.form-actions {
    padding-bottom: 35px;
  }

  div.wrapper.order div.form-element div.row {
    width: 100%;
  }

  div.wrapper.no-aside.order2 div.content {
    padding: 0 15px 50px;
  }

  div.wrapper.no-aside.order2 table {
    width: 100%;
  }

  div.wrapper.no-aside.order2 p {
    width: 100%;
  }

  div.wrapper.no-aside.order2 div.thanks p {
    padding: 0 20px;
  }
}

@media all and (max-width: 350px) {
  .form-actions.margin-top-20.order-form-end .order-summation {
    background-size: 100% 100%;
    width: 100%;
  }

  .form-actions.margin-top-20.order-form-end .order-summation table td {
    padding: 7px 10px;
  }

  .form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td {
    padding-top: 16px;
  }

  div.wrapper.no-aside.order2 h2 {
    font-size: 20px;
  }

  div.wrapper.no-aside.order2 p.lead-2 {
    font-size: 19px;
  }
}

@media all and (max-width: 455px) {
  div.wrapper div.content h1 {
    font-size: 24.8px;
    line-height: 32px;
  }

  div.wrapper div.content div.metamorphosis span.title {
    font-size: 17.2px;
  }

  div.wrapper div.content div.quote div.left-side {
    float: none;
    width: 100%;
  }

  div.wrapper div.row div.content div.quote img.right {
    display: none;
  }

  div.wrapper.no-aside.order2 table img {
    width: 50%;
  }

  div.wrapper.no-aside.order2 h1 span {
    font-size: 34px;
  }

  div.wrapper.no-aside.order2 h1 {
    font-size: 26px;
  }

  div.wrapper.no-aside.order2 p.lead {
    font-size: 19px;
  }

  div.wrapper.no-aside.order2 .greenBtn {
    font-size: 17px;
    padding: 18px 34px;
  }

  div.wrapper.no-aside.order2 div.btn a.grayBtn {
    font-size: 13px;
  }

  div.wrapper.no-aside.order2 div.thanks div.ng {
    font-size: 18.43px;
  }

  div.wrapper.no-aside.order2 div.thanks p {
    font-size: 14px;
  }

  div.wrapper.no-aside.order2 div.thanks a {
    font-size: 14px;
    padding: 13px 20px;
  }
}

@media all and (max-width: 355px) {
  div.wrapper div.content h1 {
    font-size: 21.8px;
    line-height: 28px;
  }

  .greenBtn,
  .redBtn {
    font-size: 19px;
    padding: 18px 32px;
  }
}

.widget {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .9);
  z-index: 100;
  border-bottom: 3px solid #794293;
}

.widget a {
  border: none;
  display: inline-block;
  color: #fff;
  font-size: 23px;
  margin-top: -28px;
}

a.red,
button.red {
  background: #794293 !important;
}

.widgetWrap {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.countdown,
.sale-text {
  font-weight: 700;
  display: inline-block;
}

.sale-text {
  font-size: 35px;
  margin-right: 30px;
}

.countdown,
.disclaimer p,
.widget,
div.content footer,
div.content h1,
div.product-order {
  text-align: center;
}

.countdown {
  font-size: 40px;
  border-radius: 15px;
  padding-top: 5px;
  margin: 0 auto;
}

#countdown-text {
  font-size: 16px;
  vertical-align: middle;
  display: block;
}

.countdown span {
  position: relative;
  margin: 0 5px;
}

.btn,
button {
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .sale-text {
    margin-right: 0;
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .countdown {
    font-size: 17px;
    padding: 5px 2px;
  }

  #countdown-text {
    font-size: 11px;
    margin-bottom: -5px;
    display: none;
  }

  .widget a {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.content .quote h2 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.content .end h2 {
  padding-left: 0;
}

@media (max-width:890px) {
  .quote.margin-top-30 {
    text-align: center;
    max-width: 550px;
    margin: 20px auto;
  }

  .content .quote.margin-top-30 h2 {
    max-width: 485px;
  }

  div.quote div.row div.left-side {
    width: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%!important;
    max-width: 750px;
  }

  #orderSubmit {
    font-size: 14px!important;
  }
}

@media (max-width: 359px) {
  #orderSubmit {
    font-size: 11px!important;
  }
}
/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/* END OF RESET CSS */