.ac_footer {
    position: relative;
    top: 10px;
    height:0;
    text-align: center;
    margin-bottom: 70px;
    color: #A12000;
}
.ac_footer a {
    color: #A12000;
}
img[height="1"], img[width="1"] {
    display: none !important;
}
.td-menu-wrap {
    background-color: white;
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGCAQAAACoGTy6AAAAF0lEQVQImWNgYGIAIWYGBhYGBlYGBjYAAKAAF4mj2TgAAAAASUVORK5CYII=') repeat-x;
    background-position: bottom;
    border-bottom: 4px solid white;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -o-transition: background-color 2s;
    transition: background-color 2s;
}