.clearfix {
    *zoom: 1
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 31px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover,
a:active {
    outline: 0
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    max-width: 100%;
    width: auto \9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

#map_canvas img,
.google-maps img {
    max-width: none
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button,
input {
    *overflow: visible;
    line-height: normal
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: .5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    background-color: #fff
}

a {
    color: #08c;
    text-decoration: none
}

a:hover,
a:focus {
    color: #005580;
    text-decoration: underline
}

.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px
}

.row {
    margin-left: -36px;
    *zoom: 1
}

.row:before,
.row:after {
    display: table;
    content: "";
    line-height: 0
}

.row:after {
    clear: both
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 36px
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 996px
}

.span12 {
    width: 996px
}

.span11 {
    width: 910px
}

.span10 {
    width: 824px
}

.span9 {
    width: 738px
}

.span8 {
    width: 652px
}

.span7 {
    width: 566px
}

.span6 {
    width: 480px
}

.span5 {
    width: 394px
}

.span4 {
    width: 308px
}

.span3 {
    width: 222px
}

.span2 {
    width: 136px
}

.span1 {
    width: 50px
}

.offset12 {
    margin-left: 1068px
}

.offset11 {
    margin-left: 982px
}

.offset10 {
    margin-left: 896px
}

.offset9 {
    margin-left: 810px
}

.offset8 {
    margin-left: 724px
}

.offset7 {
    margin-left: 638px
}

.offset6 {
    margin-left: 552px
}

.offset5 {
    margin-left: 466px
}

.offset4 {
    margin-left: 380px
}

.offset3 {
    margin-left: 294px
}

.offset2 {
    margin-left: 208px
}

.offset1 {
    margin-left: 122px
}

.row-fluid {
    width: 100%;
    *zoom: 1
}

.row-fluid:before,
.row-fluid:after {
    display: table;
    content: "";
    line-height: 0
}

.row-fluid:after {
    clear: both
}

.row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 31px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0
}

.row-fluid .controls-row [class*="span"]+[class*="span"] {
    margin-left: 4.4776119402985%
}

.row-fluid .span12 {
    width: 100%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 99.949799196787%
}

.row-fluid .span11 {
    width: 91.293532338308%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 91.243331535096%
}

.row-fluid .span10 {
    width: 82.587064676617%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 82.536863873404%
}

.row-fluid .span9 {
    width: 73.880597014925%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 73.830396211713%
}

.row-fluid .span8 {
    width: 65.174129353234%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 65.123928550021%
}

.row-fluid .span7 {
    width: 56.467661691542%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 56.417460888329%
}

.row-fluid .span6 {
    width: 47.761194029851%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 47.710993226638%
}

.row-fluid .span5 {
    width: 39.054726368159%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 39.004525564946%
}

.row-fluid .span4 {
    width: 30.348258706468%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 30.298057903255%
}

.row-fluid .span3 {
    width: 21.641791044776%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 21.591590241563%
}

.row-fluid .span2 {
    width: 12.935323383085%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 12.885122579872%
}

.row-fluid .span1 {
    width: 4.228855721393%;
    margin-left: 4.4776119402985%;
    *margin-left: 4.4274111370857%;
    *width: 4.1786549181802%
}

.row-fluid .offset12 {
    margin-left: 108.9552238806%;
    *margin-left: 108.85482227417%
}

.row-fluid .offset12:first-child {
    margin-left: 104.4776119403%;
    *margin-left: 104.37721033387%
}

.row-fluid .offset11 {
    margin-left: 100.24875621891%;
    *margin-left: 100.14835461248%
}

.row-fluid .offset11:first-child {
    margin-left: 95.771144278607%;
    *margin-left: 95.670742672181%
}

.row-fluid .offset10 {
    margin-left: 91.542288557214%;
    *margin-left: 91.441886950788%
}

.row-fluid .offset10:first-child {
    margin-left: 87.064676616915%;
    *margin-left: 86.96427501049%
}

.row-fluid .offset9 {
    margin-left: 82.835820895522%;
    *margin-left: 82.735419289097%
}

.row-fluid .offset9:first-child {
    margin-left: 78.358208955224%;
    *margin-left: 78.257807348798%
}

.row-fluid .offset8 {
    margin-left: 74.129353233831%;
    *margin-left: 74.028951627405%
}

.row-fluid .offset8:first-child {
    margin-left: 69.651741293532%;
    *margin-left: 69.551339687107%
}

.row-fluid .offset7 {
    margin-left: 65.422885572139%;
    *margin-left: 65.322483965714%
}

.row-fluid .offset7:first-child {
    margin-left: 60.945273631841%;
    *margin-left: 60.844872025415%
}

.row-fluid .offset6 {
    margin-left: 56.716417910448%;
    *margin-left: 56.616016304022%
}

.row-fluid .offset6:first-child {
    margin-left: 52.238805970149%;
    *margin-left: 52.138404363724%
}

.row-fluid .offset5 {
    margin-left: 48.009950248756%;
    *margin-left: 47.909548642331%
}

.row-fluid .offset5:first-child {
    margin-left: 43.532338308458%;
    *margin-left: 43.431936702032%
}

.row-fluid .offset4 {
    margin-left: 39.303482587065%;
    *margin-left: 39.203080980639%
}

.row-fluid .offset4:first-child {
    margin-left: 34.825870646766%;
    *margin-left: 34.72546904034%
}

.row-fluid .offset3 {
    margin-left: 30.597014925373%;
    *margin-left: 30.496613318947%
}

.row-fluid .offset3:first-child {
    margin-left: 26.119402985075%;
    *margin-left: 26.019001378649%
}

.row-fluid .offset2 {
    margin-left: 21.890547263682%;
    *margin-left: 21.790145657256%
}

.row-fluid .offset2:first-child {
    margin-left: 17.412935323383%;
    *margin-left: 17.312533716957%
}

.row-fluid .offset1 {
    margin-left: 13.18407960199%;
    *margin-left: 13.083677995564%
}

.row-fluid .offset1:first-child {
    margin-left: 8.7064676616915%;
    *margin-left: 8.6060660552658%
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
    display: none
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
    float: right
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1
}

.container:before,
.container:after {
    display: table;
    content: "";
    line-height: 0
}

.container:after {
    clear: both
}

.container-fluid {
    padding-right: 35px;
    padding-left: 35px;
    *zoom: 1
}

.container-fluid:before,
.container-fluid:after {
    display: table;
    content: "";
    line-height: 0
}

.container-fluid:after {
    clear: both
}

p {
    margin: 0 0 10.5px
}

.lead {
    margin-bottom: 21px;
    font-size: 21px;
    font-weight: 200;
    line-height: 31.5px
}

small {
    font-size: 85%
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

cite {
    font-style: normal
}

.muted {
    color: #999
}

a.muted:hover,
a.muted:focus {
    color: gray
}

.text-warning {
    color: #c09853
}

a.text-warning:hover,
a.text-warning:focus {
    color: #a47e3c
}

.text-error {
    color: #b94a48
}

a.text-error:hover,
a.text-error:focus {
    color: #953b39
}

.text-info {
    color: #3a87ad
}

a.text-info:hover,
a.text-info:focus {
    color: #2d6987
}

.text-success {
    color: #468847
}

a.text-success:hover,
a.text-success:focus {
    color: #356635
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10.5px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 21px;
    color: inherit;
    text-rendering: optimizelegibility
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999
}

h1,
h2,
h3 {
    line-height: 42px
}

h1 {
    font-size: 38.5px
}

h2 {
    font-size: 31.5px
}

h3 {
    font-size: 24.5px
}

h4 {
    font-size: 17.5px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 11.9px
}

h1 small {
    font-size: 24.5px
}

h2 small {
    font-size: 17.5px
}

h3 small {
    font-size: 14px
}

h4 small {
    font-size: 14px
}

.page-header {
    padding-bottom: 9.5px;
    margin: 21px 0 31.5px;
    border-bottom: 1px solid #eee
}

ul,
ol {
    padding: 0;
    margin: 0 0 10.5px 25px
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0
}

li {
    line-height: 21px
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none
}

ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none
}

ul.inline>li,
ol.inline>li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 5px;
    padding-right: 5px
}

dl {
    margin-bottom: 21px
}

dt,
dd {
    line-height: 21px
}

dt {
    font-weight: bold
}

dd {
    margin-left: 10.5px
}

.dl-horizontal {
    *zoom: 1
}

.dl-horizontal:before,
.dl-horizontal:after {
    display: table;
    content: "";
    line-height: 0
}

.dl-horizontal:after {
    clear: both
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dl-horizontal dd {
    margin-left: 180px
}

hr {
    margin: 21px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 21px;
    border-left: 5px solid #eee
}

blockquote p {
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25
}

blockquote small {
    display: block;
    line-height: 21px;
    color: #999
}

blockquote small:before {
    content: '\2014 \00A0'
}

blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0
}

blockquote.pull-right p,
blockquote.pull-right small {
    text-align: right
}

blockquote.pull-right small:before {
    content: ''
}

blockquote.pull-right small:after {
    content: '\00A0 \2014'
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: ""
}

address {
    display: block;
    margin-bottom: 21px;
    font-style: normal;
    line-height: 21px
}

code,
pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 13px;
    line-height: 21px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

pre.prettyprint {
    margin-bottom: 21px
}

pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}

form {
    margin: 0 0 21px
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 21px;
    line-height: 42px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

legend small {
    font-size: 15.75px;
    color: #999
}

label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px
}

input,
button,
select,
textarea {
    font-family: 'PT Sans', sans-serif
}

label {
    display: block;
    margin-bottom: 5px
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 21px;
    padding: 4px 6px;
    margin-bottom: 10.5px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    vertical-align: middle
}

input,
textarea,
.uneditable-input {
    width: 206px
}

textarea {
    height: auto
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #fafafa;
    border: 1px solid #f5f5f5;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 1px solid #ededed !important;
    outline: 0
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    *margin-top: 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto
}

select,
input[type="file"] {
    height: 31px;
    *margin-top: 4px;
    line-height: 31px
}

select {
    width: 220px;
    border: 1px solid #ebebeb;
    background-color: #fafafa
}

select[multiple],
select[size] {
    height: auto
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.uneditable-input,
.uneditable-textarea {
    color: #999;
    background-color: #f7f7f7;
    border-color: #ebebeb;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    cursor: not-allowed
}

.uneditable-input {
    overflow: hidden;
    white-space: nowrap
}

.uneditable-textarea {
    width: auto;
    height: auto
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999
}

.radio,
.checkbox {
    min-height: 21px;
    padding-left: 20px
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-left: -20px
}

.controls>.radio:first-child,
.controls>.checkbox:first-child {
    padding-top: 5px
}

.radio.inline,
.checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle
}

.radio.inline+.radio.inline,
.checkbox.inline+.checkbox.inline {
    margin-left: 10px
}

.input-mini {
    width: 60px
}

.input-small {
    width: 90px
}

.input-medium {
    width: 150px
}

.input-large {
    width: 210px
}

.input-xlarge {
    width: 270px
}

.input-xxlarge {
    width: 530px
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
    display: inline-block
}

input,
textarea,
.uneditable-input {
    margin-left: 0
}

.controls-row [class*="span"]+[class*="span"] {
    margin-left: 36px
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
    width: 982px
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
    width: 896px
}

input.span10,
textarea.span10,
.uneditable-input.span10 {
    width: 810px
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
    width: 724px
}

input.span8,
textarea.span8,
.uneditable-input.span8 {
    width: 638px
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
    width: 552px
}

input.span6,
textarea.span6,
.uneditable-input.span6 {
    width: 466px
}

input.span5,
textarea.span5,
.uneditable-input.span5 {
    width: 380px
}

input.span4,
textarea.span4,
.uneditable-input.span4 {
    width: 294px
}

input.span3,
textarea.span3,
.uneditable-input.span3 {
    width: 208px
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
    width: 122px
}

input.span1,
textarea.span1,
.uneditable-input.span1 {
    width: 36px
}

.controls-row {
    *zoom: 1
}

.controls-row:before,
.controls-row:after {
    display: table;
    content: "";
    line-height: 0
}

.controls-row:after {
    clear: both
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
    float: left
}

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
    padding-top: 5px
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #eee
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
    color: #c09853
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    color: #c09853
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #b94a48
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #b94a48
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
    color: #468847
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    color: #468847
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
    color: #3a87ad
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    color: #3a87ad
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    border-color: #3a87ad;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
    border-color: #2d6987;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #3a87ad
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7
}

.form-actions {
    padding: 20px 20px 21px;
    margin-top: 21px;
    margin-bottom: 21px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    *zoom: 1
}

.form-actions:before,
.form-actions:after {
    display: table;
    content: "";
    line-height: 0
}

.form-actions:after {
    clear: both
}

.help-block,
.help-inline {
    color: #595959
}

.help-block {
    display: block;
    margin-bottom: 10.5px
}

.help-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding-left: 5px
}

.input-append,
.input-prepend {
    display: inline-block;
    margin-bottom: 10.5px;
    vertical-align: middle;
    font-size: 0;
    white-space: nowrap
}

.input-append input,
.input-append select,
.input-append .uneditable-input,
.input-append .dropdown-menu,
.input-append .popover,
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input,
.input-prepend .dropdown-menu,
.input-prepend .popover {
    font-size: 14px
}

.input-append input,
.input-append select,
.input-append .uneditable-input,
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input {
    position: relative;
    margin-bottom: 0;
    *margin-left: 0;
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-append input:focus,
.input-append select:focus,
.input-append .uneditable-input:focus,
.input-prepend input:focus,
.input-prepend select:focus,
.input-prepend .uneditable-input:focus {
    z-index: 2
}

.input-append .add-on,
.input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 21px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group>.dropdown-toggle,
.input-prepend .add-on,
.input-prepend .btn,
.input-prepend .btn-group>.dropdown-toggle {
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-append .active,
.input-prepend .active {
    background-color: #a9dba9;
    border-color: #46a546
}

.input-prepend .add-on,
.input-prepend .btn {
    margin-right: -1px
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-append input+.btn-group .btn:last-child,
.input-append select+.btn-group .btn:last-child,
.input-append .uneditable-input+.btn-group .btn:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
    margin-left: -1px
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child>.dropdown-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-prepend.input-append input+.btn-group .btn,
.input-prepend.input-append select+.btn-group .btn,
.input-prepend.input-append .uneditable-input+.btn-group .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
    margin-right: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-prepend.input-append .btn-group:first-child {
    margin-left: 0
}

input.search-query {
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.form-search .input-append .search-query {
    -webkit-border-radius: 14px 0 0 14px;
    -moz-border-radius: 14px 0 0 14px;
    border-radius: 14px 0 0 14px
}

.form-search .input-append .btn {
    -webkit-border-radius: 0 14px 14px 0;
    -moz-border-radius: 0 14px 14px 0;
    border-radius: 0 14px 14px 0
}

.form-search .input-prepend .search-query {
    -webkit-border-radius: 0 14px 14px 0;
    -moz-border-radius: 0 14px 14px 0;
    border-radius: 0 14px 14px 0
}

.form-search .input-prepend .btn {
    -webkit-border-radius: 14px 0 0 14px;
    -moz-border-radius: 14px 0 0 14px;
    border-radius: 14px 0 0 14px
}

.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
    display: none
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
    display: inline-block
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
    margin-bottom: 0
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0
}

.control-group {
    margin-bottom: 10.5px
}

legend+.control-group {
    margin-top: 21px;
    -webkit-margin-top-collapse: separate
}

.form-horizontal .control-group {
    margin-bottom: 21px;
    *zoom: 1
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
    display: table;
    content: "";
    line-height: 0
}

.form-horizontal .control-group:after {
    clear: both
}

.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right
}

.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0
}

.form-horizontal .controls:first-child {
    *padding-left: 180px
}

.form-horizontal .help-block {
    margin-bottom: 0
}

.form-horizontal input+.help-block,
.form-horizontal select+.help-block,
.form-horizontal textarea+.help-block,
.form-horizontal .uneditable-input+.help-block,
.form-horizontal .input-prepend+.help-block,
.form-horizontal .input-append+.help-block {
    margin-top: 10.5px
}

.form-horizontal .form-actions {
    padding-left: 180px
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.table {
    width: 100%;
    margin-bottom: 21px
}

.table th,
.table td {
    padding: 8px;
    line-height: 21px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table th {
    font-weight: bold
}

.table thead th {
    vertical-align: bottom
}

.table caption+thead tr:first-child th,
.table caption+thead tr:first-child td,
.table colgroup+thead tr:first-child th,
.table colgroup+thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0
}

.table tbody+tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-condensed th,
.table-condensed td {
    padding: 4px 5px
}

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.table-bordered th,
.table-bordered td {
    border-left: 1px solid #ddd
}

.table-bordered caption+thead tr:first-child th,
.table-bordered caption+tbody tr:first-child th,
.table-bordered caption+tbody tr:first-child td,
.table-bordered colgroup+thead tr:first-child th,
.table-bordered colgroup+tbody tr:first-child th,
.table-bordered colgroup+tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0
}

.table-bordered thead:first-child tr:first-child>th:first-child,
.table-bordered tbody:first-child tr:first-child>td:first-child,
.table-bordered tbody:first-child tr:first-child>th:first-child {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0
}

.table-bordered thead:first-child tr:first-child>th:last-child,
.table-bordered tbody:first-child tr:first-child>td:last-child,
.table-bordered tbody:first-child tr:first-child>th:last-child {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0
}

.table-bordered thead:last-child tr:last-child>th:first-child,
.table-bordered tbody:last-child tr:last-child>td:first-child,
.table-bordered tbody:last-child tr:last-child>th:first-child,
.table-bordered tfoot:last-child tr:last-child>td:first-child,
.table-bordered tfoot:last-child tr:last-child>th:first-child {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0
}

.table-bordered thead:last-child tr:last-child>th:last-child,
.table-bordered tbody:last-child tr:last-child>td:last-child,
.table-bordered tbody:last-child tr:last-child>th:last-child,
.table-bordered tfoot:last-child tr:last-child>td:last-child,
.table-bordered tfoot:last-child tr:last-child>th:last-child {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}

.table-bordered tfoot+tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0
}

.table-bordered tfoot+tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}

.table-bordered caption+thead tr:first-child th:first-child,
.table-bordered caption+tbody tr:first-child td:first-child,
.table-bordered colgroup+thead tr:first-child th:first-child,
.table-bordered colgroup+tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0
}

.table-bordered caption+thead tr:first-child th:last-child,
.table-bordered caption+tbody tr:first-child td:last-child,
.table-bordered colgroup+thead tr:first-child th:last-child,
.table-bordered colgroup+tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0
}

.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9
}

.table-hover tbody tr:hover>td,
.table-hover tbody tr:hover>th {
    background-color: #f5f5f5
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0
}

.table td.span1,
.table th.span1 {
    float: none;
    width: 34px;
    margin-left: 0
}

.table td.span2,
.table th.span2 {
    float: none;
    width: 120px;
    margin-left: 0
}

.table td.span3,
.table th.span3 {
    float: none;
    width: 206px;
    margin-left: 0
}

.table td.span4,
.table th.span4 {
    float: none;
    width: 292px;
    margin-left: 0
}

.table td.span5,
.table th.span5 {
    float: none;
    width: 378px;
    margin-left: 0
}

.table td.span6,
.table th.span6 {
    float: none;
    width: 464px;
    margin-left: 0
}

.table td.span7,
.table th.span7 {
    float: none;
    width: 550px;
    margin-left: 0
}

.table td.span8,
.table th.span8 {
    float: none;
    width: 636px;
    margin-left: 0
}

.table td.span9,
.table th.span9 {
    float: none;
    width: 722px;
    margin-left: 0
}

.table td.span10,
.table th.span10 {
    float: none;
    width: 808px;
    margin-left: 0
}

.table td.span11,
.table th.span11 {
    float: none;
    width: 894px;
    margin-left: 0
}

.table td.span12,
.table th.span12 {
    float: none;
    width: 980px;
    margin-left: 0
}

.table tbody tr.success>td {
    background-color: #dff0d8
}

.table tbody tr.error>td {
    background-color: #f2dede
}

.table tbody tr.warning>td {
    background-color: #fcf8e3
}

.table tbody tr.info>td {
    background-color: #d9edf7
}

.table-hover tbody tr.success:hover>td {
    background-color: #d0e9c6
}

.table-hover tbody tr.error:hover>td {
    background-color: #ebcccc
}

.table-hover tbody tr.warning:hover>td {
    background-color: #faf2cc
}

.table-hover tbody tr.info:hover>td {
    background-color: #c4e3f3
}

.dropup,
.dropdown {
    position: relative
}

.dropdown-toggle {
    *margin-bottom: -3px
}

.dropdown-toggle:active,
.open .dropdown-toggle {
    outline: 0
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: ""
}

.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9.5px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 21px;
    color: #333;
    white-space: nowrap
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
    text-decoration: none;
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #08c, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #08c, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0)
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #08c, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #08c, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0)
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    color: #999
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: default
}

.open {
    *z-index: 1000
}

.open>.dropdown-menu {
    display: block
}

.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #000;
    content: ""
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px
}

.dropdown-submenu {
    position: relative
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block
}

.dropup .dropdown-submenu>.dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff
}

.dropdown-submenu.pull-left {
    float: none
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px
}

.dropdown .dropdown-menu .nav-header {
    padding-left: 20px;
    padding-right: 20px
}

.typeahead {
    z-index: 1051;
    margin-top: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.hide {
    display: none
}

.show {
    display: block
}

.invisible {
    visibility: hidden
}

.affix {
    position: fixed
}

.hidden {
    display: none;
    visibility: hidden
}

.visible-phone {
    display: none !important
}

.visible-tablet {
    display: none !important
}

.hidden-desktop {
    display: none !important
}

.visible-desktop {
    display: inherit !important
}

@media(min-width:768px) and (max-width:979px) {
    .hidden-desktop {
        display: inherit !important
    }
    .visible-desktop {
        display: none !important
    }
    .visible-tablet {
        display: inherit !important
    }
    .hidden-tablet {
        display: none !important
    }
}

@media(max-width:767px) {
    .hidden-desktop {
        display: inherit !important
    }
    .visible-desktop {
        display: none !important
    }
    .visible-phone {
        display: inherit !important
    }
    .hidden-phone {
        display: none !important
    }
}

.visible-print {
    display: none !important
}

@media print {
    .visible-print {
        display: inherit !important
    }
    .hidden-print {
        display: none !important
    }
}

@media(min-width:1200px) {
    .row {
        margin-left: -30px;
        *zoom: 1
    }
    .row:before,
    .row:after {
        display: table;
        content: "";
        line-height: 0
    }
    .row:after {
        clear: both
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 30px
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1170px
    }
    .span12 {
        width: 1170px
    }
    .span11 {
        width: 1070px
    }
    .span10 {
        width: 970px
    }
    .span9 {
        width: 870px
    }
    .span8 {
        width: 770px
    }
    .span7 {
        width: 670px
    }
    .span6 {
        width: 570px
    }
    .span5 {
        width: 470px
    }
    .span4 {
        width: 370px
    }
    .span3 {
        width: 270px
    }
    .span2 {
        width: 170px
    }
    .span1 {
        width: 70px
    }
    .offset12 {
        margin-left: 1230px
    }
    .offset11 {
        margin-left: 1130px
    }
    .offset10 {
        margin-left: 1030px
    }
    .offset9 {
        margin-left: 930px
    }
    .offset8 {
        margin-left: 830px
    }
    .offset7 {
        margin-left: 730px
    }
    .offset6 {
        margin-left: 630px
    }
    .offset5 {
        margin-left: 530px
    }
    .offset4 {
        margin-left: 430px
    }
    .offset3 {
        margin-left: 330px
    }
    .offset2 {
        margin-left: 230px
    }
    .offset1 {
        margin-left: 130px
    }
    .row-fluid {
        width: 100%;
        *zoom: 1
    }
    .row-fluid:before,
    .row-fluid:after {
        display: table;
        content: "";
        line-height: 0
    }
    .row-fluid:after {
        clear: both
    }
    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 31px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0
    }
    .row-fluid .controls-row [class*="span"]+[class*="span"] {
        margin-left: 2.5641025641026%
    }
    .row-fluid .span12 {
        width: 100%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 99.949799196787%
    }
    .row-fluid .span11 {
        width: 93.293532338308%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 91.243331535096%
    }
    .row-fluid .span10 {
        width: 82.587064676617%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 82.536863873404%
    }
    .row-fluid .span9 {
        width: 73.880597014925%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 73.830396211713%
    }
    .row-fluid .span8 {
        width: 65.174129353234%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 65.123928550021%
    }
    .row-fluid .span7 {
        width: 56.467661691542%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 56.417460888329%
    }
    .row-fluid .span6 {
        width: 47.761194029851%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 47.710993226638%
    }
    .row-fluid .span5 {
        width: 39.054726368159%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 39.004525564946%
    }
    .row-fluid .span4 {
        width: 30.348258706468%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 30.298057903255%
    }
    .row-fluid .span3 {
        width: 21.641791044776%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 21.591590241563%
    }
    .row-fluid .span2 {
        width: 12.935323383085%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 12.885122579872%
    }
    .row-fluid .span1 {
        width: 4.228855721393%;
        margin-left: 4.4776119402985%;
        *margin-left: 4.4274111370857%;
        *width: 4.1786549181802%
    }
    .row-fluid .offset12 {
        margin-left: 105.12820512821%;
        *margin-left: 105.02780352178%
    }
    .row-fluid .offset12:first-child {
        margin-left: 102.5641025641%;
        *margin-left: 102.46370095768%
    }
    .row-fluid .offset11 {
        margin-left: 100.24875621891%;
        *margin-left: 100.14835461248%
    }
    .row-fluid .offset11:first-child {
        margin-left: 95.771144278607%;
        *margin-left: 95.670742672181%
    }
    .row-fluid .offset10 {
        margin-left: 91.542288557214%;
        *margin-left: 91.441886950788%
    }
    .row-fluid .offset10:first-child {
        margin-left: 87.064676616915%;
        *margin-left: 86.96427501049%
    }
    .row-fluid .offset9 {
        margin-left: 82.835820895522%;
        *margin-left: 82.735419289097%
    }
    .row-fluid .offset9:first-child {
        margin-left: 78.358208955224%;
        *margin-left: 78.257807348798%
    }
    .row-fluid .offset8 {
        margin-left: 74.129353233831%;
        *margin-left: 74.028951627405%
    }
    .row-fluid .offset8:first-child {
        margin-left: 69.651741293532%;
        *margin-left: 69.551339687107%
    }
    .row-fluid .offset7 {
        margin-left: 65.422885572139%;
        *margin-left: 65.322483965714%
    }
    .row-fluid .offset7:first-child {
        margin-left: 60.945273631841%;
        *margin-left: 60.844872025415%
    }
    .row-fluid .offset6 {
        margin-left: 56.716417910448%;
        *margin-left: 56.616016304022%
    }
    .row-fluid .offset6:first-child {
        margin-left: 52.238805970149%;
        *margin-left: 52.138404363724%
    }
    .row-fluid .offset5 {
        margin-left: 48.009950248756%;
        *margin-left: 47.909548642331%
    }
    .row-fluid .offset5:first-child {
        margin-left: 43.532338308458%;
        *margin-left: 43.431936702032%
    }
    .row-fluid .offset4 {
        margin-left: 39.303482587065%;
        *margin-left: 39.203080980639%
    }
    .row-fluid .offset4:first-child {
        margin-left: 34.825870646766%;
        *margin-left: 34.72546904034%
    }
    .row-fluid .offset3 {
        margin-left: 30.597014925373%;
        *margin-left: 30.496613318947%
    }
    .row-fluid .offset3:first-child {
        margin-left: 26.119402985075%;
        *margin-left: 26.019001378649%
    }
    .row-fluid .offset2 {
        margin-left: 21.890547263682%;
        *margin-left: 21.790145657256%
    }
    .row-fluid .offset2:first-child {
        margin-left: 17.412935323383%;
        *margin-left: 17.312533716957%
    }
    .row-fluid .offset1 {
        margin-left: 13.18407960199%;
        *margin-left: 13.083677995564%
    }
    .row-fluid .offset1:first-child {
        margin-left: 8.7064676616915%;
        *margin-left: 8.6060660552658%
    }
    input,
    textarea,
    .uneditable-input {
        margin-left: 0
    }
    .controls-row [class*="span"]+[class*="span"] {
        margin-left: 30px
    }
    input.span12,
    textarea.span12,
    .uneditable-input.span12 {
        width: 1156px
    }
    input.span11,
    textarea.span11,
    .uneditable-input.span11 {
        width: 1056px
    }
    input.span10,
    textarea.span10,
    .uneditable-input.span10 {
        width: 956px
    }
    input.span9,
    textarea.span9,
    .uneditable-input.span9 {
        width: 856px
    }
    input.span8,
    textarea.span8,
    .uneditable-input.span8 {
        width: 756px
    }
    input.span7,
    textarea.span7,
    .uneditable-input.span7 {
        width: 656px
    }
    input.span6,
    textarea.span6,
    .uneditable-input.span6 {
        width: 556px
    }
    input.span5,
    textarea.span5,
    .uneditable-input.span5 {
        width: 456px
    }
    input.span4,
    textarea.span4,
    .uneditable-input.span4 {
        width: 356px
    }
    input.span3,
    textarea.span3,
    .uneditable-input.span3 {
        width: 256px
    }
    input.span2,
    textarea.span2,
    .uneditable-input.span2 {
        width: 156px
    }
    input.span1,
    textarea.span1,
    .uneditable-input.span1 {
        width: 56px
    }
    .thumbnails {
        margin-left: -30px
    }
    .thumbnails>li {
        margin-left: 30px
    }
    .row-fluid .thumbnails {
        margin-left: 0
    }
}

@media(min-width:768px) and (max-width:1018px) {
    .row {
        margin-left: -20px;
        *zoom: 1
    }
    .row:before,
    .row:after {
        display: table;
        content: "";
        line-height: 0
    }
    .row:after {
        clear: both
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 20px
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 748px
    }
    .span12 {
        width: 748px
    }
    .span11 {
        width: 684px
    }
    .span10 {
        width: 620px
    }
    .span9 {
        width: 556px
    }
    .span8 {
        width: 492px
    }
    .span7 {
        width: 428px
    }
    .span6 {
        width: 364px
    }
    .span5 {
        width: 300px
    }
    .span4 {
        width: 236px
    }
    .span3 {
        width: 172px
    }
    .span2 {
        width: 108px
    }
    .span1 {
        width: 44px
    }
    .offset12 {
        margin-left: 788px
    }
    .offset11 {
        margin-left: 724px
    }
    .offset10 {
        margin-left: 660px
    }
    .offset9 {
        margin-left: 596px
    }
    .offset8 {
        margin-left: 532px
    }
    .offset7 {
        margin-left: 468px
    }
    .offset6 {
        margin-left: 404px
    }
    .offset5 {
        margin-left: 340px
    }
    .offset4 {
        margin-left: 276px
    }
    .offset3 {
        margin-left: 212px
    }
    .offset2 {
        margin-left: 148px
    }
    .offset1 {
        margin-left: 84px
    }
    .row-fluid {
        width: 100%;
        *zoom: 1
    }
    .row-fluid:before,
    .row-fluid:after {
        display: table;
        content: "";
        line-height: 0
    }
    .row-fluid:after {
        clear: both
    }
    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 31px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.6737967914439%;
        *margin-left: 2.623595988231%
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0
    }
    .row-fluid .controls-row [class*="span"]+[class*="span"] {
        margin-left: 2.6737967914439%
    }
    .row-fluid .span12 {
        width: 100%;
        margin-left: 2.6737967914439%;
        *margin-left: 2.623595988231%;
        *width: 99.949799196787%
    }
    .row-fluid .span11 {
        width: 91.452991452991%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 91.402790649779%
    }
    .row-fluid .span10 {
        width: 82.905982905983%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 82.85578210277%
    }
    .row-fluid .span9 {
        width: 74.358974358974%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 74.308773555762%
    }
    .row-fluid .span8 {
        width: 65.811965811966%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 65.761765008753%
    }
    .row-fluid .span7 {
        width: 57.264957264957%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 57.214756461744%
    }
    .row-fluid .span6 {
        width: 48.717948717949%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 48.667747914736%
    }
    .row-fluid .span5 {
        width: 40.17094017094%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 40.120739367727%
    }
    .row-fluid .span4 {
        width: 31.623931623932%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 31.573730820719%
    }
    .row-fluid .span3 {
        width: 23.076923076923%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 23.02672227371%
    }
    .row-fluid .span2 {
        width: 14.529914529915%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 14.479713726702%
    }
    .row-fluid .span1 {
        width: 5.982905982906%;
        margin-left: 2.5641025641026%;
        *margin-left: 2.5139017608897%;
        *width: 5.9327051796931%
    }
    .row-fluid .offset12 {
        margin-left: 105.34759358289%;
        *margin-left: 105.24719197646%
    }
    .row-fluid .offset12:first-child {
        margin-left: 102.67379679144%;
        *margin-left: 102.57339518502%
    }
    .row-fluid .offset11 {
        margin-left: 96.581196581197%;
        *margin-left: 96.480794974771%
    }
    .row-fluid .offset11:first-child {
        margin-left: 94.017094017094%;
        *margin-left: 93.916692410668%
    }
    .row-fluid .offset10 {
        margin-left: 88.034188034188%;
        *margin-left: 87.933786427762%
    }
    .row-fluid .offset10:first-child {
        margin-left: 85.470085470085%;
        *margin-left: 85.36968386366%
    }
    .row-fluid .offset9 {
        margin-left: 79.487179487179%;
        *margin-left: 79.386777880754%
    }
    .row-fluid .offset9:first-child {
        margin-left: 76.923076923077%;
        *margin-left: 76.822675316651%
    }
    .row-fluid .offset8 {
        margin-left: 70.940170940171%;
        *margin-left: 70.839769333745%
    }
    .row-fluid .offset8:first-child {
        margin-left: 68.376068376068%;
        *margin-left: 68.275666769643%
    }
    .row-fluid .offset7 {
        margin-left: 62.393162393162%;
        *margin-left: 62.292760786737%
    }
    .row-fluid .offset7:first-child {
        margin-left: 59.82905982906%;
        *margin-left: 59.728658222634%
    }
    .row-fluid .offset6 {
        margin-left: 53.846153846154%;
        *margin-left: 53.745752239728%
    }
    .row-fluid .offset6:first-child {
        margin-left: 51.282051282051%;
        *margin-left: 51.181649675626%
    }
    .row-fluid .offset5 {
        margin-left: 45.299145299145%;
        *margin-left: 45.19874369272%
    }
    .row-fluid .offset5:first-child {
        margin-left: 42.735042735043%;
        *margin-left: 42.634641128617%
    }
    .row-fluid .offset4 {
        margin-left: 36.752136752137%;
        *margin-left: 36.651735145711%
    }
    .row-fluid .offset4:first-child {
        margin-left: 34.188034188034%;
        *margin-left: 34.087632581608%
    }
    .row-fluid .offset3 {
        margin-left: 28.205128205128%;
        *margin-left: 28.104726598702%
    }
    .row-fluid .offset3:first-child {
        margin-left: 25.641025641026%;
        *margin-left: 25.5406240346%
    }
    .row-fluid .offset2 {
        margin-left: 19.65811965812%;
        *margin-left: 19.557718051694%
    }
    .row-fluid .offset2:first-child {
        margin-left: 17.094017094017%;
        *margin-left: 16.993615487591%
    }
    .row-fluid .offset1 {
        margin-left: 11.111111111111%;
        *margin-left: 11.010709504685%
    }
    .row-fluid .offset1:first-child {
        margin-left: 8.5470085470085%;
        *margin-left: 8.4466069405828%
    }
    input,
    textarea,
    .uneditable-input {
        margin-left: 0
    }
    .controls-row [class*="span"]+[class*="span"] {
        margin-left: 20px
    }
    input.span12,
    textarea.span12,
    .uneditable-input.span12 {
        width: 734px
    }
    input.span11,
    textarea.span11,
    .uneditable-input.span11 {
        width: 670px
    }
    input.span10,
    textarea.span10,
    .uneditable-input.span10 {
        width: 606px
    }
    input.span9,
    textarea.span9,
    .uneditable-input.span9 {
        width: 542px
    }
    input.span8,
    textarea.span8,
    .uneditable-input.span8 {
        width: 478px
    }
    input.span7,
    textarea.span7,
    .uneditable-input.span7 {
        width: 414px
    }
    input.span6,
    textarea.span6,
    .uneditable-input.span6 {
        width: 350px
    }
    input.span5,
    textarea.span5,
    .uneditable-input.span5 {
        width: 286px
    }
    input.span4,
    textarea.span4,
    .uneditable-input.span4 {
        width: 222px
    }
    input.span3,
    textarea.span3,
    .uneditable-input.span3 {
        width: 158px
    }
    input.span2,
    textarea.span2,
    .uneditable-input.span2 {
        width: 94px
    }
    input.span1,
    textarea.span1,
    .uneditable-input.span1 {
        width: 30px
    }
}

@media(max-width:767px) {
    body {
        padding-left: 20px;
        padding-right: 20px
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: -20px;
        margin-right: -20px
    }
    .container-fluid {
        padding: 0
    }
    .dl-horizontal dt {
        float: none;
        clear: none;
        width: auto;
        text-align: left
    }
    .dl-horizontal dd {
        margin-left: 0
    }
    .container {
        width: auto
    }
    .row-fluid {
        width: 100%
    }
    .row,
    .thumbnails {
        margin-left: 0
    }
    .thumbnails>li {
        float: none;
        margin-left: 0
    }
    [class*="span"],
    .uneditable-input[class*="span"],
    .row-fluid [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .span12,
    .row-fluid .span12 {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .row-fluid [class*="offset"]:first-child {
        margin-left: 0
    }
    .input-large,
    .input-xlarge,
    .input-xxlarge,
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"],
    .uneditable-input {
        display: block;
        width: 100%;
        min-height: 31px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .input-prepend input,
    .input-append input,
    .input-prepend input[class*="span"],
    .input-append input[class*="span"] {
        display: inline-block;
        width: auto
    }
    .controls-row [class*="span"]+[class*="span"] {
        margin-left: 0
    }
    .modal {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        margin: 0
    }
    .modal.fade {
        top: -100px
    }
    .modal.fade.in {
        top: 20px
    }
}

@media(max-width:480px) {
    .nav-collapse {
        -webkit-transform: translate3d(0, 0, 0)
    }
    .page-header h1 small {
        display: block;
        line-height: 21px
    }
    input[type="checkbox"],
    input[type="radio"] {
        border: 1px solid #ccc
    }
    .form-horizontal .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left
    }
    .form-horizontal .controls {
        margin-left: 0
    }
    .form-horizontal .control-list {
        padding-top: 0
    }
    .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px
    }
    .media .pull-left,
    .media .pull-right {
        float: none;
        display: block;
        margin-bottom: 10px
    }
    .media-object {
        margin-right: 0;
        margin-left: 0
    }
    .modal {
        top: 10px;
        left: 10px;
        right: 10px
    }
    .modal-header .close {
        padding: 10px;
        margin: -10px
    }
    .carousel-caption {
        position: static
    }
}

@media(max-width:979px) {
    body {
        padding-top: 0
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: static
    }
    .navbar-fixed-top {
        margin-bottom: 21px
    }
    .navbar-fixed-bottom {
        margin-top: 21px
    }
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        padding: 5px
    }
    .navbar .container {
        width: auto;
        padding: 0
    }
    .navbar .brand {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 0 0 -5px
    }
    .nav-collapse {
        clear: both
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10.5px
    }
    .nav-collapse .nav>li {
        float: none
    }
    .nav-collapse .nav>li>a {
        margin-bottom: 2px
    }
    .nav-collapse .nav>.divider-vertical {
        display: none
    }
    .nav-collapse .nav .nav-header {
        color: #777;
        text-shadow: none
    }
    .nav-collapse .nav>li>a,
    .nav-collapse .dropdown-menu a {
        padding: 9px 15px;
        font-weight: bold;
        color: #777;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }
    .nav-collapse .btn {
        padding: 4px 10px 4px;
        font-weight: normal;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
    .nav-collapse .dropdown-menu li+li a {
        margin-bottom: 2px
    }
    .nav-collapse .nav>li>a:hover,
    .nav-collapse .nav>li>a:focus,
    .nav-collapse .dropdown-menu a:hover,
    .nav-collapse .dropdown-menu a:focus {
        background-color: #f2f2f2
    }
    .navbar-inverse .nav-collapse .nav>li>a,
    .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #999
    }
    .navbar-inverse .nav-collapse .nav>li>a:hover,
    .navbar-inverse .nav-collapse .nav>li>a:focus,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover,
    .navbar-inverse .nav-collapse .dropdown-menu a:focus {
        background-color: #111
    }
    .nav-collapse.in .btn-group {
        margin-top: 5px;
        padding: 0
    }
    .nav-collapse .dropdown-menu {
        position: static;
        top: auto;
        left: auto;
        float: none;
        display: none;
        max-width: none;
        margin: 0 15px;
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    .nav-collapse .open>.dropdown-menu {
        display: block
    }
    .nav-collapse .dropdown-menu:before,
    .nav-collapse .dropdown-menu:after {
        display: none
    }
    .nav-collapse .dropdown-menu .divider {
        display: none
    }
    .nav-collapse .nav>li>.dropdown-menu:before,
    .nav-collapse .nav>li>.dropdown-menu:after {
        display: none
    }
    .nav-collapse .navbar-form,
    .nav-collapse .navbar-search {
        float: none;
        padding: 10.5px 15px;
        margin: 10.5px 0;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1)
    }
    .navbar-inverse .nav-collapse .navbar-form,
    .navbar-inverse .nav-collapse .navbar-search {
        border-top-color: #111;
        border-bottom-color: #111
    }
    .navbar .nav-collapse .nav.pull-right {
        float: none;
        margin-left: 0
    }
    .nav-collapse,
    .nav-collapse.collapse {
        overflow: hidden;
        height: 0
    }
    .navbar .btn-navbar {
        display: block
    }
    .navbar-static .navbar-inner {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media(min-width:980px) {
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important
    }
}