@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext);
.ac_footer a {
  color: #A12000;
}

img[height="1"],
img[width="1"] {
  display: none !important;
}
html {
  min-width: 320px;
}

.dib {
  zoom: 1!important;
  display: -moz-inline-box!important;
  -moz-box-orient: vertical!important;
  display: inline-block!important;
  _display: inline!important;
  *display: inline!important;
  vertical-align: top!important;
}

.corb-center {
  text-align: center!important;
}

.corb-pl {
  display: none;
  position: fixed!important;
  top: 0!important;
  width: 100%!important;
  height: 100%!important;
  left: 0!important;
  background: #000!important;
  background: rgba(0, 0, 0, 0.75)!important;
  z-index: 1000!important;
}

.corb-pl ::-webkit-input-placeholder {
  color: #888888!important;
  font-size: 22px!important;
  font-family: 'Roboto', sans-serif;
}

.corb-pl :-moz-placeholder {
  color: #888888!important;
  font-size: 22px!important;
  font-family: 'Roboto', sans-serif;
}

.corb-pl .placeholder {
  color: #888888!important;
  font-size: 22px!important;
  font-family: 'Roboto', sans-serif;
}

.corb-pl * {
  font-family: 'Roboto', sans-serif;
  -moz-box-sizing: border-box!important;
  /*Firefox 1+*/
  -webkit-box-sizing: border-box!important;
  /*Safari 3+, Chrome 1+*/
  box-sizing: border-box!important;
  /*Opera 7+, IE8+*/
  padding: 0!important;
  border: 0!important;
  margin: 0!important;
}

.order182614-form {
  position: absolute!important;
  min-width: 300px!important;
  max-width: ;
  left: 50%!important;
  top: 50%!important;
  -webkit-transform: translate(-50%, -50%)!important;
  transform: translate(-50%, -50%)!important;
  max-width: 550px!important;
  padding: 25px 30px 25px!important;
  background: #ffffff!important;
  margin: 0 auto!important;
  -webkit-border-radius: 10px!important;
  -moz-border-radius: 10px!important;
  border-radius: 10px!important;
}



.order182614-form .secInp {
  width: 45%!important;
  background: #fff !important!important;
  height: 32px!important;
  line-height: normal!important;
  line-height: 32px \0/!important;
  font-size: 22px!important;
  color: #000!important;
  -webkit-border-radius: 10px!important;
  -moz-border-radius: 10px!important;
  border-radius: 10px!important;
  border: 1px solid #b4b4b4!important;
  padding: 0 16px!important;
  outline: none!important;
  margin: 0 5px 18px!important;
}

.order182614-form .secInp:hover,
.order182614-form .secInp:focus {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(24, 42, 133, 0.35)!important;
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(24, 42, 133, 0.35)!important;
  box-shadow: inset 0px 0px 10px 0px rgba(24, 42, 133, 0.35)!important;
}

.corb-top__header {
  font-size: 30px!important;
  font-weight: 300;
  line-height: 35px!important;
  white-space: normal;
  word-break: break-all;
  word-break: normal;
  color: #000;
}

.corb-top__header b {
  display: block;
  color: #e20000;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 0 15px!important;
}

.corb-top__header span {
  display: block;
  font-weight: 400;
}

.secSendBtn {
  background: #f8391a!important;
  background: -moz-linear-gradient(top, #f8391a 0%, #a80b03 100%)!important;
  background: -webkit-linear-gradient(top, #f8391a 0%, #a80b03 100%)!important;
  background: linear-gradient(to bottom, #f8391a 0%, #a80b03 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8391a', endColorstr='#a80b03', GradientType=0);
  text-align: center!important;
  height: 63px!important;
  width: 256px!important;
  font-family: Arial, sans-serif!important;
  font-size: 32px!important;
  line-height: 63px!important;
  color: #fff!important;
  font-weight: 400!important;
  -webkit-border-radius: 10px!important;
  -moz-border-radius: 10px!important;
  border-radius: 10px!important;
  -moz-transition: all 0.5s ease-out!important;
  -o-transition: all 0.5s ease-out!important;
  -webkit-transition: all 0.5s ease-out!important;
  margin: 0 auto!important;
}

.secSendBtn:hover {
  background: #a80b03!important;
  background: -moz-linear-gradient(top, #a80b03 0%, #f8391a 100%)!important;
  background: -webkit-linear-gradient(top, #a80b03 0%, #f8391a 100%)!important;
  background: linear-gradient(to bottom, #a80b03 0%, #f8391a 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a80b03', endColorstr='#f8391a', GradientType=0);
  transform: scale(1.05)!important;
  -moz-transform: scale(1.05)!important;
  -webkit-transform: translateZ(0) scale(1.05)!important;
  -o-transform: scale(1.05)!important;
  -ms-transform: scale(1.05)!important;
  cursor: pointer!important;
}

@media only screen
and (max-width: 800px) {
  .order182614-form {
    padding: 20px 10px!important;
  }

  .secSendBtn {
    height: 60px!important;
    width: 100%!important;
    font-size: 30px!important;
    line-height: 60px!important;
  }

  .order182614-form .secInp {
    height: 32px!important;
    width: 90%!important;
    line-height: normal!important;
    line-height: 32px \0/!important;
    font-size: 18px!important;
    padding: 0 10px!important;
  }

  .corb-pl ::-webkit-input-placeholder {
    color: #888888!important;
    font-size: 18px!important;
  }

  .corb-pl :-moz-placeholder {
    color: #888888!important;
    font-size: 18px!important;
  }

  .corb-pl .placeholder {
    color: #888888!important;
    font-size: 18px!important;
  }

  .corb-top__header {
    font-size: 24px!important;
    font-weight: 500!important;
    line-height: 26px!important;
  }
}
/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
}

a {
  outline: none;
}

a img {
  border: 0;
}

img {
  max-width: 100%;
}

.clearfix:after,
.row:after {
  content: "";
  display: block;
  clear: both;
}

.ttu {
  text-transform: uppercase;
}

.limit {
  margin: 0 auto;
  width: 95%;
  max-width: 480px;
  padding: 0 2.5%;
}

.btn {
  outline: none;
  display: inline-block;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  border: 0;
  cursor: pointer;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn.btn-transparent {
  background: none;
  display: block;
  border: 1px solid #ff8484;
  color: #ff8484;
}

.btn.btn-transparent:hover {
  color: #ffffff;
  border-color: #fff;
}

.btn.btn-primary {
  color: #2c1f1f;
  font-size: 16px;
  padding: 24px 45px;
  box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.26);
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #d0d0d0 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d0d0d0 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d0d0d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0d0d0', GradientType=0);
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  color: #fff;
  background: #ef2222;
  background: -moz-linear-gradient(left, #ef2222 0%, #d72020 100%);
  background: -webkit-linear-gradient(left, #ef2222 0%, #d72020 100%);
  background: linear-gradient(to right, #ef2222 0%, #d72020 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef2222', endColorstr='#d72020', GradientType=1);
}

.btn.btn-block {
  width: 100%;
  display: block;
}

.dark-title {
  background: #2f2f2f;
  background: -moz-linear-gradient(left, #2f2f2f 0%, #161616 100%);
  background: -webkit-linear-gradient(left, #2f2f2f 0%, #161616 100%);
  background: linear-gradient(to right, #2f2f2f 0%, #161616 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#161616', GradientType=1);
  padding: 22px 0;
  text-align: center;
}

.dark-title span {
  display: block;
  color: #ff5f5f;
  font-size: 26px;
  margin-bottom: 5px;
}

.dark-title em {
  color: #fffafa;
  font-size: 17px;
}

.block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.block .image.with-label:before,
.block .description.with-label:before {
  content: '1';
  background: #94c400;
  color: #ffffff;
  display: block;
  height: 34px;
  width: 34px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 34px;
  position: absolute;
}

.block.with-gradient {
  background: #b92020;
  background: -moz-linear-gradient(top, #7faa00 0%, #4c6d00 100%);
  background: -webkit-linear-gradient(top, #7faa00 0%, #4c6d00 100%);
  background: linear-gradient(to bottom, #7faa00 0%, #4c6d00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7faa00', endColorstr='#4c6d00', GradientType=0);
}

.fixed-button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #352c2c;
  padding: 5px 0;
  z-index: 19;
}

.fixed-button .btn {
  font-size: 13px;
  color: #000000;
  line-height: 1;
  padding: 10px 35px;
  background: #b4b4b4;
  background: -moz-linear-gradient(left, #b4b4b4 0%, #fdfdfd 100%);
  background: -webkit-linear-gradient(left, #b4b4b4 0%, #fdfdfd 100%);
  background: linear-gradient(to right, #b4b4b4 0%, #fdfdfd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b4b4', endColorstr='#fdfdfd', GradientType=1);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.fixed-button .btn:hover,
.fixed-button .btn:active,
.fixed-button .btn:focus {
  color: #000;
  background: #8e8e8e;
  background: -moz-linear-gradient(left, #fdfdfd 0%, #8e8e8e 100%);
  background: -webkit-linear-gradient(left, #fdfdfd 0%, #8e8e8e 100%);
  background: linear-gradient(to right, #fdfdfd 0%, #8e8e8e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#8e8e8e', GradientType=1);
}

.block1 {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.block1 img {
  display: block;
  margin: 0 auto;
  position: relative;
}

.block1 img.body {
  margin-top: 24px;
}

.block1 .logo {
  background: url("../../images/frontend/garcinia2-logo-mobile.png") no-repeat;
  display: block;
  margin: 0 auto;
  height: 43px;
  width: 293px;
  margin-bottom: 18px;
  line-height: 40px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.block1 .title1 {
  font-size: 26px;
  color: #c1ff72;
  margin-bottom: 20px;
}

.block1 .title2 {
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  display: block;
  margin-bottom: 4px;
}

.block1 .btn {
  margin-top: 25px;
}

.block1 .list {
  color: #fed8d8;
  font-size: 15px;
  margin-top: 18px;
}

.block1 .list span {
  font-size: 16px;
  color: #ffffff;
  display: block;
  text-align: center;
  margin-bottom: 18px;
}

.block1 .list li {
  font-style: italic;
  text-align: left;
  list-style: none;
  position: relative;
  padding-left: 28px;
}

.block1 .list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  width: 7px;
  height: 7px;
  background: #d79292;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.block2 {
  background: #ffffff;
  padding-bottom: 25px;
  font-style: italic;
}

.block2 .item {
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 15px;
}

.block2 .item img {
  display: block;
  margin: 0 auto;
}

.block2 .item span {
  color: #030303;
  font-size: 14px;
  display: block;
  margin-top: 8px;
}

.block3 {
  padding-bottom: 23px;
}

.block3 .title {
  text-align: center;
  font-size: 18px;
  color: #1d1b1b;
}

.block3 .title span {
  display: block;
  font-weight: bold;
}

.block3 .graph {
  text-align: center;
  margin-top: -32px;
}

.block3 .graph img {
  display: block;
  margin: 0 auto;
}

.block3 .info {
  margin-top: -10px;
  border-left: 8px solid #2f2f2f;
  font-size: 12px;
  color: #ffffff;
  padding: 8px 0 8px 12px;
}

.block4 {
  background: #2f2f2f;
  background: -moz-linear-gradient(left, #2f2f2f 0%, #161616 100%);
  background: -webkit-linear-gradient(left, #2f2f2f 0%, #161616 100%);
  background: linear-gradient(to right, #2f2f2f 0%, #161616 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#161616', GradientType=1);
  padding: 22px 0;
  text-align: center;
}

.block4 span {
  display: block;
  color: #ffb400;
  font-size: 26px;
  margin-bottom: 5px;
}

.block4 em {
  color: #fffafa;
  font-size: 17px;
}

.block5 {
  background: #c8c8c8;
  background: -moz-linear-gradient(left, #c8c8c8 0%, #e6e6e6 100%);
  background: -webkit-linear-gradient(left, #c8c8c8 0%, #e6e6e6 100%);
  background: linear-gradient(to right, #c8c8c8 0%, #e6e6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#e6e6e6', GradientType=1);
  padding: 20px 0;
}

.block5 img {
  display: block;
  margin: 0 auto;
}

.block5 .label {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  background: #ffb400;
  padding: 19px 18px;
  max-width: 290px;
  margin: 0 auto;
  text-align: center;
}

.block5 .label span {
  display: block;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}

.block5 ol {
  list-style-type: none;
  counter-reset: num;
  margin-top: 18px;
}

.block5 ol li {
  list-style: none;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 20px;
}

.block5 ol li:before {
  content: counter(num);
  counter-increment: num;
  line-height: 31px;
  float: left;
  width: 31px;
  height: 31px;
  background: #2f2f2f;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  color: #fffefe;
  font-size: 16px;
  margin-right: 12px;
  font-style: normal;
}

.block5 ol li:after {
  clear: both;
  content: '';
  display: block;
}

.block5 ol li:last-child {
  margin-bottom: 0;
}

.block6 {
  padding-bottom: 30px;
  text-align: center;
}

.block6 .title1 {
  color: #c1ff72;
  font-size: 26px;
  margin-bottom: 10px;
}

.block6 .title2 {
  font-size: 18px;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 15px;
}

.block6 img {
  display: block;
  margin: 0 auto;
  position: relative;
}

.block6 .title3 {
  margin-top: 15px;
  font-size: 16px;
  color: #c1ff72;
  margin-bottom: 15px;
}

.block6 .description {
  margin-bottom: 35px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
}

.block6 .description p {
  margin-bottom: 15px;
}

.block7 {
  text-align: center;
}

.block7 .title1 {
  line-height: 1;
  margin-bottom: 5px;
  color: #242424;
  font-size: 36px;
}

.block7 .title2 {
  color: #1a1a1a;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 8px;
}

.block7 .item {
  width: 50%;
  float: left;
  padding: 0 1px;
  text-align: center;
}

.block7 .item .image {
  position: relative;
  display: inline-block;
}

.block7 .item .image div {
  width: 100%;
  display: table;
  padding: 0 15px;
  position: absolute;
  bottom: 11px;
  height: 49px;
  background: rgba(39, 39, 39, 0.87);
  text-align: center;
}

.block7 .item .image div span {
  height: 49px;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
}

.block8 {
  padding-top: 0;
}

.block8 .dark-title {
  padding: 0;
}

.block8 .dark-title .table {
  display: table;
  width: 100%;
  text-align: left;
}

.block8 .dark-title .table span {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 20px 0;
}

.block8 .dark-title .table span.label {
  font-size: 16px;
  border-right: 1px solid #4b4b4b;
  padding-right: 10px;
}

.block8 .dark-title .table span.value {
  width: 50%;
  padding-left: 10px;
  font-size: 11px;
  color: #fffafa;
}

.block8 .item {
  margin-top: 12px;
  margin-bottom: 15px;
}

.block8 .item .image {
  margin-bottom: 8px;
  text-align: center;
}

.block8 .item .description {
  position: relative;
  padding-left: 50px;
}

.block8 .item .description span {
  font-size: 24px;
  text-transform: uppercase;
  color: #414141;
  margin-bottom: 8px;
  display: block;
}

.block8 .item .description:before {
  left: 0;
  top: 0;
}

.block8 .item .description p {
  color: #414141;
  font-size: 13px;
}

.block8 .item:nth-child(2) .description:before {
  content: '2';
}

.block8 .item:nth-child(3) .description:before {
  content: '3';
}

.block9 {
  text-align: center;
}

.block9 .title1 {
  color: #c1ff72;
  font-size: 22px;
  margin-bottom: 8px;
}

.block9 .title2 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 8px;
}

.block9 .title3 {
  color: #acd52f;
  font-size: 13px;
  font-style: italic;
}

.block9 .compare {
  max-width: 290px;
  margin: 8px auto 0;
}

.block9 .compare .tooltip {
  position: absolute;
  height: 22px;
  min-width: 80px;
  line-height: 22px;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  background: #acd52f;
  left: 50%;
  margin-left: -38px;
  top: 0;
}

.block9 .compare .tooltip:after,
.block9 .compare .tooltip:before {
  content: '';
  background: url("../../images/frontend/block9-tooltip.png") no-repeat;
  width: 9px;
  height: 100%;
  position: absolute;
  top: 0;
}

.block9 .compare .tooltip:before {
  left: -9px;
}

.block9 .compare .tooltip:after {
  width: 8px;
  right: -8px;
  background-position: -9px 0;
}

.block9 .compare .tooltip.tooltip-shoulder {
  top: 31px;
}

.block9 .compare .tooltip.tooltip-waist {
  top: 108px;
}

.block9 .compare .tooltip.tooltip-hip {
  top: 158px;
}

.block9 .compare .tooltip i {
  height: 1px;
  position: absolute;
  right: 0;
  top: 16px;
  display: block;
  z-index: 0;
}

.block9 .compare .side {
  position: relative;
  width: 50%;
  float: left;
}

.block9 .compare .side .image {
  position: relative;
}

.block9 .compare .side .image img {
  display: block;
}

.block9 .compare .side .image .weight {
  width: 46px;
  height: 53px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -23px;
  line-height: 53px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}

.block9 .compare .side.before .weight {
  background: url("../../images/frontend/block9-before-weight.png") no-repeat;
}

.block9 .compare .side.before .tooltip i {
  background: #f05353;
}

.block9 .compare .side.before .tooltip.tooltip-shoulder i {
  right: -132px;
  width: 132px;
}

.block9 .compare .side.before .tooltip.tooltip-waist i {
  right: -220px;
  width: 220px;
}

.block9 .compare .side.before .tooltip.tooltip-hip i {
  right: -142px;
  width: 142px;
}

.block9 .compare .side.after .weight {
  background: url("../../images/frontend/block9-after-weight.png") no-repeat;
}

.block9 .compare .side.after .tooltip {
  background: #ffb400;
}

.block9 .compare .side.after .tooltip i {
  background: #ffb400;
  right: auto;
  left: 0;
}

.block9 .compare .side.after .tooltip.tooltip-shoulder i {
  left: -122px;
  width: 122px;
}

.block9 .compare .side.after .tooltip.tooltip-waist i {
  left: -154px;
  width: 154px;
}

.block9 .compare .side.after .tooltip.tooltip-hip i {
  left: -152px;
  width: 152px;
}

.block9 .compare .side.after .tooltip:before {
  background-position: -16px 0;
}

.block9 .compare .side.after .tooltip:after {
  background-position: -26px 0;
}

.block9 .title4 {
  font-size: 26px;
  color: #292929;
  margin-top: 20px;
}

.block9 .title5 {
  color: #acd52f;
  font-size: 21px;
  margin-bottom: 5px;
}

.block9 .title6 {
  color: #292929;
  font-size: 14px;
  font-style: italic;
}

.block9 .chain .item {
  width: 50%;
  float: left;
  margin-top: 15px;
  margin-bottom: 22px;
  position: relative;
}

.block9 .chain .item img {
  display: block;
  margin: 0 auto;
}

.block9 .chain .item:after {
  content: '';
  background: url("../../images/frontend/arrows.png") no-repeat;
  width: 13px;
  height: 25px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: -7px;
}

.block9 .chain .item:nth-child(2):after {
  top: auto;
  bottom: -28px;
  left: 50%;
  margin-left: -7px;
  right: auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.block9 .chain .item:nth-child(3):after {
  display: none;
}

.block9 .chain .item:last-child:after {
  right: auto;
  left: -6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.block10 {
  background-color: #162329;
  text-align: center;
}

.block10 .title1 {
  color: #94c400;
  font-size: 30px;
  margin-bottom: 4px;
}

.block10 .title2 {
  color: #7f767b;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

.block10 .row {
  text-align: center;
}

.block10 .row > div {
  position: relative;
  width: 50%;
  float: left;
}

.block10 .row > div > div {
  position: relative;
  display: inline-block;
}

.block10 .row > div span {
  z-index: 10;
  position: absolute;
  right: -16px;
  top: -20px;
  height: 48px;
  width: 48px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  line-height: 48px;
  text-align: center;
  color: #fffefe;
  font-size: 10px;
  text-transform: uppercase;
}

.block10 .row > div img {
  border: 1px solid #000;
}

.block10 .row > div.before {
  text-align: right;
}

.block10 .row > div.before span {
  background: #353535;
}

.block10 .row > div.after {
  text-align: left;
}

.block10 .row > div.after span {
  background: #94c400;
  right: -12px;
}

.block11 .title {
  color: #162329;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.block11 .item {
  margin-bottom: 20px;
  outline: none;
  padding-top: 18px;
}

.block11 .item .image {
  position: relative;
}

.block11 .item .image span.minus {
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -29px;
  width: 59px;
  height: 59px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  background: #ffb400;
  color: #ffffff;
  font-size: 16px;
  line-height: 59px;
  text-align: center;
}

.block11 .item .image img {
  display: block;
  width: 100%;
  height: auto;
}

.block11 .item .label {
  color: #414141;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.block11 .item .duration {
  margin-top: 10px;
  font-size: 14px;
  color: #162329;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.block11 .item .result {
  height: 34px;
  line-height: 34px;
  background: #162329;
  font-size: 14px;
  padding: 0 12px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.block11 .item .result span.before {
  color: #ffffff;
  float: left;
}

.block11 .item .result span.after {
  color: #959595;
  float: right;
}

.block11 .item .name {
  margin-bottom: 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  background: #ffb400;
  text-align: center;
  padding: 8px;
}

.block11 .item .story {
  text-align: center;
  font-style: italic;
  padding-top: 20px;
  background: url("../../images/frontend/review-quotes.png") top center no-repeat;
  color: #162329;
  font-size: 13px;
}

.warning {
  background: #162329;
  padding: 20px 0;
}

.warning p {
  position: relative;
  padding-top: 70px;
  margin: 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-style: italic;
}

.warning p::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: url('../../images/frontend/warning.png') no-repeat center center;
  background-size: cover;
}

.block12 {
  padding-bottom: 20px;
}

.block12 .title1 {
  color: #162329;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  line-height: 1.2;
}

.block12 .title2 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 12px;
}

.block12 img {
  display: block;
  margin: 0 auto;
}

.block12 .story {
  margin-top: 12px;
  text-align: center;
  font-style: italic;
  color: #ffffff;
  font-size: 12px;
}

.block12 .story:before {
  /*content: '“';*/
  content: '"';
  display: block;
  text-align: center;
  font-size: 48px;
  font-style: italic;
  height: 12px;
  line-height: 1;
  margin-bottom: 14px;
}

.block12 .form {
  padding-top: 15px;
  margin-top: 40px;
  background: url("../../images/frontend/cup.png") top center no-repeat;
  text-align: center;
}

.block12 .form .title1 {
  font-style: normal;
  font-size: 21px;
  color: #ffffff;
  margin-top: 170px;
}

.block12 .form .title2 {
  color: #c1ff72;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 35px;
}

.block12 .form form {
  background: url("../../images/frontend/block12-fruit.png") bottom center no-repeat;
  padding-bottom: 158px;
}

.block12 .form  .fields .price {
  color: #ffffff;
  font-size: 16px;
  padding: 12px 12px 0;
  text-align: left;
}

.block12 .form  .fields .price span {
  float: right;
}

.block12 .form  .fields .form-group {
  margin: 20px 0 0;
}

.block12 .form .fields .form-group.buttons {
  margin-top: 15px;
}

.block12 .form  .fields input[type="text"],
.block12 .form  .fields select {
  outline: none;
  line-height: normal;
  -webkit-border-radius: 0;
  color: #fff;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #fff;
  font-size: 14px;
  text-align: left;
  display: block;
  background: none;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 12px;
}

/*::-webkit-input-placeholder {color: #fff !important;}
:-ms-input-placeholder      {color: #fff !important;}*/

.block12 .form .fields input[type="text"]::-webkit-input-placeholder,
.block12 .form .fields select::-webkit-input-placeholder {
  color: #fff;
}

.block12 .form .fields input[type="text"]::-moz-placeholder,
.block12 .form  .fields select::-moz-placeholder {
  color: #fff;
}

.block12 .form .fields input[type="text"]:-moz-placeholder,
.block12 .form  .fields select:-moz-placeholder {
  color: #fff;
}

.block12 .form  .fields input[type="text"]:-ms-input-placeholder,
.block12 .form  .fields select:-ms-input-placeholder {
  color: #fff;
}

select {
  padding: 0 15px;
}

.block12 .form  select option {
  color: #fff;
}

select {
  background-image: url(../../images/frontend/down.svg) !important;
  background-position: 98% 50% !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
.transitionmyl {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.containerz {
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.hidden-window * {
  box-sizing: border-box;
}

.hidden-window {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  min-height: 100%;
  background: #f2f6f7;
  font-family: 'Open Sans';
  font-family: 'Roboto', sans-serif;
  z-index: 10000;
}

.hidden-window * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.js_scrollForm p {
  margin: 0;
}

.totalpriceForm {
  font-size: 22px;
  color: #e70116;
  padding-bottom: 10px;
}

.js_total_price {
  font-size: 28px;
  font-weight: 700;
}

select,
input,
textarea {
  font-family: "Roboto", sans-serif !important;
}

.h-w__header {
  color: #ffdd2e;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  line-height: 51px;
}

.h-w__header span {
  display: inline-block;
  *zoom: 1;
  _display: inline;
  padding-left: 40px;
  padding-top: 15px;
  color: #e80116;
}

.dtable {
  display: table;
  width: 100%;
}

.dtable-cell {
  display: table-cell;
  vertical-align: middle;
}

.dtr {
  display: table-row;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.zarrr,
.zarrrLeft {
  position: absolute;
  top: 50%;
  right: -6px;
}

.zarrrLeft {
  left: -6px;
  right: auto;
}

.w-h__right .zGarant {
  background: #ffffff;
  color: #000;
  font-size: 18px;
  padding: 25px 20px 35px;
  margin-bottom: 20px;
}

.w-h__right .zGarant .zHeader {
  font-size: 23px;
  text-align: center;
  color: #dc4f79;
  font-weight: 700;
  text-transform: uppercase;
}

.w-h__right .zGarant li {
  list-style: none;
  padding-left: 30px;
  background: url("../../images/zli.png") 0 50% no-repeat;
  margin-top: 25px;
  text-align: left;
}

.w-h__right .zGarant ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

.w-h__right .zGarant b {
  font-size: 20px;
}

.w-h__right form {
  background: #ffdc2e;
  background: -moz-linear-gradient(top, #ffdc2e 0%, #fdbb01 100%);
  background: -webkit-linear-gradient(top, #ffdc2e 0%, #fdbb01 100%);
  background: linear-gradient(to bottom, #ffdc2e 0%, #fdbb01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc2e', endColorstr='#fdbb01', GradientType=0);
  padding: 28px 30px 14px;
}

.w-h__right form input,
.w-h__right form select,
.w-h__right form textarea {
  width: 100%;
  background-color: #fff;
  color: #000 !important;
  height: 31px;
  font-size: 16px;
  border: 1px solid #d5dde9;
}

.w-h__right form .zbtn {
  width: 250px;
  margin: 0 auto;
  background: #ff061d;
  background: -moz-linear-gradient(top, #ff061d 1%, #b80011 100%);
  background: -webkit-linear-gradient(top, #ff061d 1%, #b80011 100%);
  background: linear-gradient(to bottom, #ff061d 1%, #b80011 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff061d', endColorstr='#b80011', GradientType=0);
  height: 55px;
  border: 1px solid #eb6672;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.w-h__right form .zbtn:hover,
.w-h__right form .zbtn:active {
  cursor: pointer;
  background: #b80011;
  background: -moz-linear-gradient(top, #b80011 0%, #ff061d 99%);
  background: -webkit-linear-gradient(top, #b80011 0%, #ff061d 99%);
  background: linear-gradient(to bottom, #b80011 0%, #ff061d 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b80011', endColorstr='#ff061d', GradientType=0);
}

.w-h__right form .inp {
  background: #fff;
  border: 1px solid #d5dde9;
  padding: 0 15px;
  color: #000 !important;
  font-family: 'Open Sans';
  font-size: 16px;
  height: 31px;
  margin: 0 auto 10px;
}

.w-h__right form textarea {
  height: auto;
  resize: none;
  height: 125px;
  padding: 15px;
  margin-bottom: 10px;
}

.w-h__right-row1 {
  margin-bottom: 15px;
  margin-top: 20px;
}

.w-h__right-row1 .zHeader {
  background-color: #f3af42;
  padding: 15px;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.w-h__right-row1 .zHeader b {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.w-h__right-row1 .zContent {
  padding: 10px 5px 5px;
}

.w-h__right-row1 .dtable {
  color: #000;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.w-h__right-row1 .dtable .dtable-cell {
  vertical-align: top;
  width: 33%;
  position: relative;
}

.w-h__right-row1 .dtable span {
  color: #fff;
  background-color: #7eb263;
}

.w-h__right-row1 .text-right {
  padding-right: 18px;
  width: 40%;
}

.w-h__right-row1 .text-right img {
  max-width: 100%;
}

.formHeader {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

.formHeader span {
  color: #e70116;
  font-size: 23px;
}

.zItem {
  background: #f7f8f8;
  margin: 0 3px;
  position: relative;
  color: #000;
  padding: 10px 10px;
  border: 2px solid #93d8fa;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 40px;
}

.zItem.list {
  padding-bottom: 10px;
}

.zItem .zstick {
  background: url(../../images/zstick.png) 0 0 no-repeat;
  width: 145px;
  height: 145px;
  position: absolute;
  top: -5px;
  left: -5px;
}

.zItem .buttonMy {
  position: absolute;
  width: 250px;
  margin: 0 auto;
  background: #ffdc2d;
  background: -moz-linear-gradient(top, #ffdc2d 0%, #f39b01 100%);
  background: -webkit-linear-gradient(top, #ffdc2d 0%, #f39b01 100%);
  background: linear-gradient(to bottom, #ffdc2d 0%, #f39b01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc2d', endColorstr='#f39b01', GradientType=0);
  height: 45px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  bottom: -15px;
  left: 50%;
  margin-left: -125px;
}

.zItem .buttonMy:hover,
.zItem .buttonMy:active {
  cursor: pointer;
  background: #f39b01;
  background: -moz-linear-gradient(top, #f39b01 0%, #ffdc2d 100%);
  background: -webkit-linear-gradient(top, #f39b01 0%, #ffdc2d 100%);
  background: linear-gradient(to bottom, #f39b01 0%, #ffdc2d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f39b01', endColorstr='#ffdc2d', GradientType=0);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.zItem .zHeader {
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
}

.zItem .zHeader b {
  font-size: 36px;
}

.side-right {
  padding-left: 136px;
  position: relative;
  backface-visibility: hidden;
  height: 150px;
}

.ssimgabs {
  position: absolute;
  width: 160px;
  height: auto;
  top: 5px;
  left: 5px;
  text-align: center;
}

.ssimgabs img {
  max-width: 100%;
  height: auto;
  max-height: 140px;
}

.side-right .zItem .zHeader {
  white-space: normal;
}

.zItem.active {
  border: 6px solid red;
}

.zItem .pack_descr {
  padding: 5px 40px;
  text-align: center;
  font-size: 16px;
}

.zItem .dtable .red {
  color: red;
}

.zItem .dtable-cell {
  vertical-align: bottom;
  position: relative;
}

.zItem .pack_old_price {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-size: 14px;
}

.zItem .pack_old_price i {
  position: absolute;
  top: 9px;
  width: 100%;
  height: 1px;
  background: #e70116;
  transform: rotate(-28deg);
}

.js_pack_price {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  color: #e70116;
  text-align: center;
}

.currencycell {
  color: #e70116;
  font-size: 18px;
  text-align: left;
}

.zplus {
  font-size: 14px;
  text-align: right;
  padding-right: 5px;
  color: #f3af42;
  font-weight: 700;
  background: url(../../images/zplus1.png) 0 0 no-repeat;
  width: 146px;
  height: 43px;
  line-height: 55px;
}

.zplus.sec {
  background: url(../../images/zplus2.png) 0 0 no-repeat;
  color: #f3af42;
}

.zplus.th {
  background: url(../../images/zplus3.png) 0 0 no-repeat;
}

.logo > p {
  display: none;
}

.pana {
  text-align: center;
}

.select-block .selecttext {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  padding: 0 10px;
}

.select-block input,
.select-block select,
.select-block textarea {
  width: 70%;
  display: block;
  margin: 10px auto;
  background-color: #fff;
  color: #000 !important;
  height: 31px;
  font-size: 14px;
  border: 1px solid #d5dde9;
}

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper .bx-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

#bx-pager {
  text-align: center;
}

#bx-pager a {
  width: 24px;
  display: inline-block;
  *zoom: 1;
  _display: inline;
  height: 24px;
  background: #47c4eb;
  border-radius: 12px;
  color: #fff!important;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  text-decoration: none;
  margin-right: 3px;
}

#bx-pager a.active {
  background: #f3af42;
}

.giftmobile {
  font-size: 13px;
  white-space: nowrap;
  background: #f7f8f8;
  color: #e70116;
  position: absolute;
  font-weight: 700;
  top: 91px;
  left: 74px;
}

.dib {
  zoom: 1;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  _display: inline;
  *display: inline;
  vertical-align: top;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  bottom: 25%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.header_sub {
  color: #FFDD2E;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.header_new {
  height: 99px;
  background: url("../../images/hehe.jpg") 50% 0 repeat;
}

.header_new .dtable-cell {
  height: 99px;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 4px #000;
}

.header_new .dtable-cell img {
  max-width: 100%;
  margin-top: -2px;
}