body {
  width: 100% !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

a img {
  border: none;
}

p {
  margin: 1em 0;
}

table td {
  border-collapse: collapse;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-family: 'Calibri', sans-serif;
  margin-bottom: 10px;
}

ul {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #5b9bd5;
  line-height: 25px;
  font-family: 'Calibri', sans-serif;
  text-decoration: none;
}

p {
  font-size: 14px;
  font-family: 'Calibri', sans-serif;
}

span {
  font-size: 14px;
}