@font-face {
	font-family: 'latoregular';
	src: url(../../../fonts/lato-reg-webfont.eot);
	src: url(../../../fonts/lato-reg-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-reg-webfont.woff2) format('woff2'), url(../../../fonts/lato-reg-webfont.woff) format('woff'), url(../../../fonts/lato-reg-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latobold';
	src: url(../../../fonts/lato-bol-webfont.eot);
	src: url(../../../fonts/lato-bol-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bol-webfont.woff2) format('woff2'), url(../../../fonts/lato-bol-webfont.woff) format('woff'), url(../../../fonts/lato-bol-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoblack';
	src: url(../../../fonts/lato-bla1-webfont.eot);
	src: url(../../../fonts/lato-bla1-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bla1-webfont.woff2) format('woff2'), url(../../../fonts/lato-bla1-webfont.woff) format('woff'), url(../../../fonts/lato-bla1-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url(../../../fonts/bebasneue-webfont.eot);
    src: url(../../../fonts/bebasneue-webfont.eot?#iefix) format('embedded-opentype'),
         url(../../../fonts/bebasneue-webfont.woff2) format('woff2'),
         url(../../../fonts/bebasneue-webfont.woff) format('woff'),
         url(../../../fonts/bebasneue-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'latoitalic';
	src: url(../../../fonts/lato-regita-webfont.eot);
	src: url(../../../fonts/lato-regita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-regita-webfont.woff2) format('woff2'), url(../../../fonts/lato-regita-webfont.woff) format('woff'), url(../../../fonts/lato-regita-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoblack_italic';
	src: url(../../../fonts/lato-blaita-webfont.eot);
	src: url(../../../fonts/lato-blaita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-blaita-webfont.woff2) format('woff2'), url(../../../fonts/lato-blaita-webfont.woff) format('woff'), url(../../../fonts/lato-blaita-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latobold_italic';
	src: url(../../../fonts/lato-bolita-webfont.eot);
	src: url(../../../fonts/lato-bolita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bolita-webfont.woff2) format('woff2'), url(../../../fonts/lato-bolita-webfont.woff) format('woff'), url(../../../fonts/lato-bolita-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latolight';
	src: url(../../../fonts/lato-lig-webfont.eot);
	src: url(../../../fonts/lato-lig-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-lig-webfont.woff2) format('woff2'), url(../../../fonts/lato-lig-webfont.woff) format('woff'), url(../../../fonts/lato-lig-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}