﻿#top-head {width: 100%;border-bottom: 1px solid #ccc;}


  #top-head .top_menu_wp {
    background: #fff;
    width: 100%;
    overflow: hidden;}
    @media screen and (max-width: 767px) {
      #top-head .top_menu_wp {
        height: 36px;
        overflow: visible; } }
    #top-head .top_menu_wp .menu_btn {
      display: none; }
#top-head .top_menu_wp .menu_btn .menu_btn_txt{margin-left:30px;color: #25562A;text-transform:uppercase;font-size:16px;font-weight: 700;}
      @media screen and (max-width: 767px) {
        #top-head .top_menu_wp .menu_btn {
          display: block;
          background: url('../images/i_menu.png') 10px 8px no-repeat;
          width: 500px;
          height: 20px;
          margin: 0 auto;
          padding: 8px 10px;
          cursor: pointer; } }
      @media screen and (max-width: 479px) {
        #top-head .top_menu_wp .menu_btn {
          width: 500px; } }
    #top-head .top_menu_wp .nav_wp {
      height: 52px; }
    #top-head .top_menu_wp nav {
      height: 52px;
      width: 100%;
      position: relative;
      background: #fff;
      z-index: 50; }
      @media screen and (max-width: 767px) {
        #top-head .top_menu_wp nav {
          height: 36px; } }
      #top-head .top_menu_wp nav.fixed {
        background: #FFF;
width:100%;overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 100;
        border-bottom: 1px solid #ccc;
         }
@media screen and (max-width: 767px) {
#top-head .top_menu_wp nav.fixed{overflow: visible;} }
@media screen and (max-width: 479px) {
#top-head .top_menu_wp nav.fixed{overflow: visible;} }
      #top-head .top_menu_wp nav ul {
        display: inline-block;
        text-align: center;
        width: 100%;
        line-height: 52px; }
        @media screen and (max-width: 767px) {
          #top-head .top_menu_wp nav ul {
            display: none;
            position: absolute;
            z-index: 10;
            border-top: 1px solid #bbbbbb; } }
        #top-head .top_menu_wp nav ul li {
          display: inline-block;
          margin-right: 15px; }
          @media screen and (max-width: 959px) {
            #top-head .top_menu_wp nav ul li {
              margin-right: 20px; } }
          #top-head .top_menu_wp nav ul li a {
            padding: 10px 0; }
          #top-head .top_menu_wp nav ul li.last {
            margin-right: 0; }
#top-head .top_menu_wp nav ul li.last a{color: #fff !important;
    background: #FF4B4B;
    padding: 5px 5px;border-radius: 2px;}
#top-head .top_menu_wp nav ul li.last a:hover {
             background: #FE3636;}
          @media screen and (max-width: 767px) {
            #top-head .top_menu_wp nav ul li.home {
              border-top: 1px solid #e8e8e8;
              padding-top: 10px; } }
          #top-head .top_menu_wp nav ul li.home a {
            background: url('../images/i_home.png') 0 0 no-repeat;
            background-size: 26px auto;
            display: inline-block;
            vertical-align: middle;
            width: 26px;
            height: 23px;
            text-indent: -9000px;
            padding: 0; }

          #top-head .top_menu_wp nav ul li a {
            color: #555;
            font-size: 15px;font-weight:700;
            text-decoration: none;text-transform:uppercase; }
            #top-head .top_menu_wp nav ul li a:hover, #top-head .top_menu_wp nav ul li a.active {
              color: #509131; }
        #top-head .top_menu_wp nav ul.open {
          display: inline-block;
          background: rgba(255, 255, 255, 0.9);
          width: 100%;
          padding-bottom: 10px; }
          #top-head .top_menu_wp nav ul.open li {
            display: block;
            text-align: center;
            line-height: 38px; }
            @media screen and (max-width: 767px) {
              #top-head .top_menu_wp nav ul.open li {
                text-align: left;
                width: 400px;
                margin: 0 auto; } }
            @media screen and (max-width: 479px) {
              #top-head .top_menu_wp nav ul.open li {
                width: 350px; } }

#wa-wrapper-grey {
  background:#269923;
  padding:20px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top:-60px;
  margin-left:40px;
  width:400px;
}

#wa-wrapper-grey a {
  color:#fff;
}

#wa-wrapper-grey img {
  float:left;
  margin-bottom:20px;
  margin-left:50px;
  width:70px;
}

#wa-wrapper-grey p {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0px;
  margin-right: 50px;
}

#mobilewhatsapp {
  background:#269923;
  padding:20px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top:20px;
}

#mobilewhatsapp img {
  float:left;
  margin-bottom:20px;
  margin-left:50px;
  width:70px;
}

#mobilewhatsapp p {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0px;
  margin-right: 50px;
}

#mobilewhatsapp a {
  color:#fff;
}
#wa-wrapper-grey-mobile{
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 989px) {
  #wa-wrapper-grey-mobile div {
    width:100% !important;
    margin:0;
    margin-top:-80px;

  }
  #wa-wrapper-grey-mobile div p {
    margin-right: 0px;
  }

  #wa-wrapper-grey-mobile div img {
    float:none;
    margin-left:0px;
  }
  #work{
    margin-top: 0;
  }
  #wa-wrapper-grey{
    display: none;
  }
  #wa-wrapper-grey-mobile{
    display: inline;
  }
}

