/* ::::: http://live-blogger.org/kashtan-starhit/css/style.css ::::: */
.overlap{
    height:25px;
    background-color:black;
    color:white;
    text-align:center;
    font-weight:bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}
.comments-block img {
    max-width: 100%;
    height: auto;
}
.button {     display: inline-block;
    padding: 20px 20px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    border-radius: 5px;
    font-size: 25px;
    color: rgb(255, 255, 255)!important;
    box-shadow: 0 1px 5px 1px #A58F50;
    border: 1px solid #FFF;}
.vk_name { font: bold 11px/140% Tahoma,Arial; color: rgb(16, 99, 154); }
.vk_text { font: 11px/130% Tahoma,Arial; color: rgb(0, 0, 0); }
.vk_info { font: 9px Tahoma,Arial; color: rgb(119, 119, 119); margin-top: 3px; }
.b-title.dark span, .b-title.dark h1, .b-title.dark a { color: rgb(51, 51, 51); }
.b-title a { text-decoration: none; }
td { vertical-align: top; padding: 0px; }
.b-title { font-size: 24px; letter-spacing: -0.06em; display: block; color: rgb(89, 184, 215); text-transform: inherit; line-height: 0.9em; margin: 5px 0px 15px; text-decoration: none; }
.b-title a { text-decoration: none; }
.b-title.dark { color: rgb(51, 51, 51); border-color: rgb(51, 51, 51); }
.b-title.dark span, .b-title.dark h1, .b-title.dark a { color: rgb(51, 51, 51); }
.b-title.t-center { text-align: center; }
.comments-block .title { color: rgb(51, 51, 51); font: 17px "FuturaFuturisNormal",Arial,Helvetica,sans-serif; margin-bottom: 15px; text-transform: uppercase; }
.comments-block .list { overflow: hidden; }
.comments-block .user-pic { float: left; height: 40px; margin-right: 10px; position: relative; width: 40px; }
.comments-block .comment { border-bottom: 1px dotted rgb(165, 165, 165); overflow: auto; padding: 15px; }
.comments-block .comment-info { margin: -2px 0px 5px; }
.comments-block .user-name { font: italic 20px georgia,times,serif; }
.comment-text { font-size: 15px; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
table { border-collapse: collapse; border-spacing: 0px; }
:focus { outline: 0px none; }
.clear { font-size: 0px; clear: both; height: 0px; width: 0px; line-height: 0; }
h2 {
    font-size: 27px;
    font-family: Tahoma;
    margin: 20px 0;
    line-height: 1.3;
}

h3 {
    float: left;
    width: 63%;
    font-size: 18px;
}

.rImg {
    float: right;
    margin: 10px;
    border-radius: 110px;
}

@font-face {
	font-family: "FuturaFuturis";
	font-style: normal;
	font-weight: normal;
	src: url('ftn55-webfont.eot') format("embedded-opentype"), url('ftn55-webfont.woff') format("woff"), url('ftn55-webfont.ttf') format("truetype"), url('ftn55-webfont.svg') format("svg");
}
@font-face {
	font-family: "FuturaFuturisBold";
	font-style: normal;
	font-weight: normal;
	src: url('ftn65-webfont.eot') format("embedded-opentype"), url('ftn65-webfont.woff') format("woff"), url('ftn65-webfont.ttf') format("truetype"), url('ftn65-webfont.svg') format("svg");
}
@font-face {
	font-family: "FuturaFuturisX";
	font-style: normal;
	font-weight: normal;
	src: url('ftn95-webfont.eot') format("embedded-opentype"), url('ftn95-webfont.woff') format("woff"), url('ftn95-webfont.ttf') format("truetype"), url('ftn95-webfont.svg') format("svg");
}
@font-face {
	font-family: "FuturaFuturisNormal";
	font-style: normal;
	font-weight: normal;
	src: url('ftx55-webfont.eot') format("embedded-opentype"), url('ftx55-webfont.woff') format("woff"), url('ftx55-webfont.ttf') format("truetype"), url('ftx55-webfont.svg') format("svg");
}
b { font-weight: bold; }
i { font-style: italic; }
a, a:link { text-decoration: none; color: rgb(30, 121, 179); transition: color 0.3s ease 0s; }
a:hover, .emulink:hover { color: rgb(216, 21, 52); text-decoration: underline; }
a:hover *, .emulink:hover * { text-decoration: underline; }
a:active { color: rgb(135, 17, 35); text-decoration: underline; }
body { font: 12px/1.3em Arial,Verdana,sans; background: none repeat scroll 0% 0% rgb(255, 255, 255); min-width: 1000px; color: rgb(0, 0, 0); position: relative; }
.wrap { width: 1000px; margin: 0px auto; position: relative; background-color: rgb(255, 255, 255); padding: 0px 15px; }
.content { line-height: 0; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 60px 0px 0px; position: relative; }
.content .primary { line-height: 1.3em; }
.content .primary .right { float: right; width: 240px; }
.content .primary .main { width: 740px; float: left; }
.mid-banner { margin-bottom: 30px ! important; }
.header { font-size: 12px; position: absolute; top: 0px; width: 1000px; }
.header-main { position: relative; height: 129px; width: 990px; margin: 0px auto; }
.header-main .logo { display: block; position: absolute; left: 0px; top: 24px; width: 183px; height: 85px; text-indent: -999em; background: url('header-logo.gif') no-repeat scroll 0px 0px transparent; }
.header-menu { clear: both; text-align: center; font: 17px/41px "FuturaFuturisNormal",Arial,Helvetica,sans-serif; text-transform: uppercase; overflow: hidden; background: url('header-menu-bg.gif') no-repeat scroll right bottom rgb(0, 0, 0); height: 40px; width: 992px; margin: 0px 0px 0px 4px; position: relative; }
.header-menu ul { background: url('header-menu-bg.gif') no-repeat scroll left top transparent; height: 40px; padding-left: 13px; width: 802px; }
.header-menu .item { display: block; float: left; padding: 0px 25px 0px 26px; background: url('undefined') no-repeat scroll left 50% transparent; }
.header-menu .item:first-child { background: none repeat scroll 0% 0% transparent; }
.header-menu a { display: block; color: rgb(255, 255, 255); text-align: center; letter-spacing: -0.045em; }
.header-menu a:hover, .header-menu a:hover * { text-decoration: none; color: rgb(216, 21, 52); }
.header-menu .active a, .header-menu .active span { color: rgb(216, 21, 52); }
.header-menu .spec-link { position: absolute; top: 0px; right: 0px; height: 40px; width: 191px; background: url('header-menu-active-bg.png') no-repeat scroll left bottom transparent; z-index: 10; }
.header-menu .spec-link div { overflow: hidden; background: url('header-menu-active-bg.png') no-repeat scroll right top transparent; color: rgb(255, 255, 255); }
.header-menu .spec-link div:hover, .header-menu .spec-link div:hover * { color: rgb(255, 255, 255); }
.header-menu .spec-link span { display: block; margin: 0px 6px; background: url('undefined') repeat scroll 0% 0% rgb(215, 22, 53); color: rgb(255, 255, 255); }
.header-news { float: right; padding-top: 21px; }
.header-news:after { clear: both; content: " "; display: block; font-size: 0px; line-height: 0; visibility: hidden; width: 0px; height: 0px; }
.header-news .item { float: left; height: 87px; margin-left: 18px; background: url('header-news.png') no-repeat scroll 0px 0px transparent; }
.header-news .photo { float: left; display: block; margin: -7px 22px 0px 31px; }
.header-news .title { display: block; float: left; width: 215px; font: 16px/16px "FuturaFuturisBold"; margin-top: 5px; margin-bottom: 4px; }
.header-news .info { width: 215px; line-height: 14px; margin-left: 155px; }
.header-banner { width: 1000px; margin: 0px auto; font-size: 0px; line-height: 0; padding: 0px 15px; position: relative; z-index: 200; }
.right {  }
.right .block { border-top: 2px solid rgb(198, 198, 198); margin-top: 20px; }
.right .banner-side-mid { border: medium none ! important; }
.crumbs { font: italic 11px Georgia,"Times New Roman",Times; color: rgb(127, 127, 127); }
.crumbs a, .crumbs-main { color: rgb(215, 22, 53); }
.figure { text-align: center; }
.article-title { font: 44px/1.1em "FuturaFuturisBold",Arial,Helvetica,sans-serif; margin: 15px 0px 10px; }
.article-announce { font: 16px Georgia,"Times New Roman",Times,serif; margin: 0px 0px 13px; }
.article-date { font: italic 12px Georgia,"Times New Roman",serif; color: rgb(120, 120, 118); display: block; float: left; margin-top: 2px; }
.article-side { float: right; width: 310px; padding-left: 18px; position: relative; z-index: 1; }
.article-side .block { padding: 25px 20px 13px; margin-bottom: 20px; }
.article-side .title { border-top: 1px solid rgb(198, 198, 199); font: 18px "FuturaFuturisNormal",Arial,Helvetica,sans-serif; text-transform: uppercase; color: rgb(215, 22, 53); text-align: center; }
.article-side .title span { padding: 0px 10px; margin-top: -0.7em; background: none repeat scroll 0% 0% rgb(254, 238, 189); display: inline-block; }
.article-side .item { margin-top: 11px; padding-top: 11px; border-top: 1px dotted rgb(184, 184, 184); font-weight: bold; }
.article-side .item:first-child { border: medium none; margin: 0px; }
.article-container { border-top: 1px solid rgb(198, 198, 199); clear: both; }
.article-body { font-size: 17px; line-height: 18px; }
.article-body p, .article-body iframe { margin-bottom: 20px; }
.article-body p { margin-bottom: 18px; }
.article-social-line:after { content: ""; display: block; height: 0px; clear: both; visibility: hidden; }
.article-social-line { position: relative; z-index: 100; clear: both; width: 100%; padding: 10px 0px 7px; border-style: solid; border-color: rgb(198, 198, 198); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px; }
.interview-list-inner .item:nth-child(3n+2) { width: 275px; padding: 0px; }
.interview-list-inner .item:nth-child(3n+2) .item-inner { width: 253px; border-style: solid; border-color: rgb(198, 198, 199); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; padding-top: 35px; margin: -35px auto 0px; }
.interview-list-inner .item:nth-child(3n+2) .interview-title { width: 45%; }
.exclusive-list-inner .item:nth-child(1), .exclusive-list-inner .item:nth-child(3) { border: medium none; }
.exclusive-list-inner .item:first-child:before, .exclusive-list-inner .item:nth-child(2):before, .exclusive-list-inner .item:nth-child(3):before { display: none; }
.food-list-inner .item:first-child:before, .food-list-inner .item:nth-child(2):before { display: none; }
.comments-block { clear: both; padding: 30px 0px 15px; border-style: solid; border-color: rgb(198, 198, 198); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px; }
.comments-block .title { font: 17px "FuturaFuturisNormal",Arial,Helvetica,sans-serif; text-transform: uppercase; color: rgb(51, 51, 51); margin-bottom: 15px; }
.comments-block .list { overflow: hidden; }
html, body { margin: 0px; padding: 0px; background-color: white; }
