article div.author {
    background: #ebebeb none repeat scroll 0 0;
    margin: 40px 0;
    padding: 20px;
}
article div.author::after {
    clear: both;
    content: "";
    display: block;
}
article div.author div.image {
    float: left;
    margin-right: 15px;
    max-width: 132px;
    width: 100%;
}
article div.author div.info {
    float: left;
    font-size: 16px;
    line-height: 20px;
    width: 70%;
}
article div.author div.info p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 14px;
    padding-bottom: 0;
}
article div.warning {
    border: 1px solid #a1a1a1;
    margin-top: 50px;
    padding: 20px 15px;
    text-align: center;
}
article div.warning h2 {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 17px;
    margin-top: 0 !important;
    text-transform: uppercase;
}
article div.warning h2 span {color: red}
article div.warning p.yellow {
    background: #fcff00 none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 12px;
    padding: 3px 5px;
}
article div.warning p {
    font-size: 14px;
    line-height: 21px;
}
article div.warning > a {
    color: #001d96;
    display: block;
    font-weight: 900;
    font-size: 20px;
    margin-top: 0px;
}

ul.std-list {margin-bottom: 50px !important;}
div.page-view div.left-side::after {clear: both; display: block; content: '';}
div.page-view div.left-side {float: none; width: 100%; max-width: 100%; background: white;}
div.page-view div.left-side article {float: left; max-width: 800px; width: 100%; box-shadow: none;}
div.page-view div.left-side aside div.block {box-shadow: none; padding: 0}
div.page-view div.left-side aside {padding-right: 20px; padding-top: 180px;}
div.page-view div.left-side aside img {width: 100%;}
video {margin-bottom: 50px;}
.page-container {max-width: 1100px;}

aside div.box {
    border: 1px solid #d3d3d3;
    margin-top: 0px;
}
aside div.box h3 {
    background: #f3f3f3 none repeat scroll 0 0;
    color: #740b0b;
    font-family: 'open_sansbold';
    font-size: 14px;
    padding: 13px 15px;
    text-align: left;
    text-transform: uppercase;
}
aside div.box.quote p {
    color: #3d466c;
    font-family: "open_sansbold";
    font-size: 15px;
    margin: 20px 0 15px;
    text-align: center;
}
aside div.box.quote label {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    padding-left: 20px;
}
aside div.box.quote label input {
    margin-right: 20px;
    position: relative;
    top: 2px;
}
aside div.box.quote div.actions {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}
aside div.box.quote div.actions input[type="button"] {
    background: #3d466c none repeat scroll 0 0;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 4px 10px;
    text-transform: uppercase;
}
aside div.box.quote div.actions a {
    color: #797979;
    font-size: 11px;
    text-decoration: underline;
}
aside div.box.quote div.query_result {
    font-size: 12px;
    margin-bottom: 20px;
    padding: 0 20px;
}
aside div.box.quote div.query_result > div {
    background: white none repeat scroll 0 0;
    border: 1px solid #cccccc;
    height: 18px;
    margin-top: 5px;
}
aside div.box.quote div.query_result > div div {
    background: #9c0021 none repeat scroll 0 0;
    border-right: 1px solid #cccccc;
    height: 16px;
}

@media (max-width: 600px) {
    aside {
        display:none !important;
    }
}