﻿* {margin:0;padding:0;border:0;outline:none;}
*:focus {outline: none;}
li {list-style:none;}
a {text-decoration:none;}
body {font-family:'Roboto',arial,sans-serif!important;font-size:14px;color:#050505;}
#order input[type="text"], input[type="tel"], input[type="email"] {
	background: rgba(0,0,0,0.7);
	border: 3px solid #fff;
	display: block;
	width: 256px;
	height: 50px;
	line-height: 68px;
	font-family: 'Roboto',arial,sans-serif;
	padding: 0 20px;
	font-size: 18px;
	color: #fff;
	margin: 0 40px 0 0;
	float: left;
}

.width {width:990px;margin:0 auto;}
.clear {clear:both;}
#order .button {top: 15px;position: relative;width:280px;height:50px;line-height:48px;display:block;font-family:'Roboto',arial,sans-serif;text-align:center;font-size:23px;font-weight:500;cursor:pointer;border-bottom:3px solid rgba(0,0,0,0.3);text-transform:uppercase;border-radius:2px;}
.button.green {
    background: #9AD43D;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    display: block;
    max-width: 200px;
    text-align: center;
}
.button.green:hover {background:#90C639;}
.button.white {background:#4b5dff;color:#fff;}
.button.white:hover {background:#FF4B4B;color:#fff;}
.title {background:url('../../images/frontend/title1.png') no-repeat 0 bottom;font-size:44px;font-weight:500;padding:0 0 30px 0;line-height:45px;}
.title-mask{font-weight: 300;
font-size: 40px;color:#333;text-transform:uppercase;}

/* header */
#header {background:url('../../images/frontend/top.jpg') no-repeat center 0;height:auto;color:#fff;background-size:cover;}
#header .carrot {text-align:center;height:97px;font-size:18px;line-height:1;}
#header .carrot div {font-size:28px;font-weight:bold;padding:21px 0 27px 0;text-transform:uppercase;margin-bottom: -20px;}
#header .content {padding:0 0 0 540px;}
#header .content h1 {font-size:70px;line-height:70px;font-weight:700;}
#header .content h2 {font-size:24px;line-height:33px;font-weight:400;}
#header .content .problems {font-size:22px;text-transform:uppercase;font-weight:700;padding:50px 0 0 0;}
#header .content .problems span {display:inline-block;vertical-align:top;padding:0 25px 0 0;color:#9AD43D;}
#header .content ul {padding:55px 0 0 0;margin:0 0 0 15px;}
#header .content ul li {list-style-type:disc;padding:0 0 30px 0;font-size:17px;line-height:25px;}
#header .content .sale {font-size:34px;font-weight:500;padding:5px 0 0 0;}
#header .content .price {font-size:24px;padding:25px 0 0 0;}
#header .content .price div,#header .content .price del {display:inline-block;vertical-align:top;}
#header .content .price del {color:#cfcdcb;padding:0 30px 0 0;}
#header .content .price div {font-weight:500;font-size:34px;}


/* description */
#description {padding:0 0 60px 0;}
#description .width {background:url('../../images/frontend/mask.png') no-repeat 50px 180px;}
#description .image {background:url('../../images/frontend/img1.jpg') no-repeat right 65px;padding:60px 0 20px 0;}
#description .image p {font-size:18px;line-height:27px;font-weight:300;width:330px;padding:60px 0 0 0;}
#description .image p span {
    color: #509131;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
}
#description .left-block {width:330px;float:left;}
#description .right-block {width:324px;float:right;}
#description .item {background:url('../../images/frontend/dots.png') repeat-x 0 bottom;padding:0 0 35px 0;line-height:24px;color:#333;font-size: 15px;
font-weight: 300;}
#description .item div {font-size:25px;font-weight:400;padding:35px 0 22px 0;text-transform:uppercase;color:#050505;}
#description .item.last {background:none;padding:0;}
#description .bottle {margin:0 auto;width:300px;padding:110px 0 0 0;}


/* form block */
#form-block {background:url('../../images/frontend/form.jpg') no-repeat center 0;height:460px;color:#fff;}
#form-block .title {background:none;padding:55px 0 0 0;font-size:45px;line-height:50px;}
#form-block .title span {
    font-size: 34px;
font-weight: 300;text-transform:uppercase;}
#form-block .sale {font-size:34px;font-weight:500;padding:40px 0 0 0;}
#form-block .price {font-size:24px;padding:25px 0 0 0;}
#form-block .price div,#header .content .price del {display:inline-block;vertical-align:top;}
#form-block .price del {color:#cfcdcb;padding:0 30px 0 0;}
#form-block .price div {font-weight:500;font-size:34px;}
#form-block .left-block {float:left;}
#form-block .right-block {float:right;}
#form-block .time {padding:0 0 70px 0;text-align:center;}
#form-block .time .name-t {padding:60px 0 30px 0;font-size:23px;font-weight:500;}
#form-block .time #timer div {display:inline-block;vertical-align:top;}
#form-block .time #timer p {width:90px;font-size:70px;line-height:50px;font-weight:300;}
#form-block .time span {font-size:18px;display:block;padding:13px 0 0 0;}
#form-block .time .dots {font-size:70px;font-weight:300;line-height:40px;display:inline-block;vertical-align:top;padding:0 20px 0 20px;}
#form-block .button {margin:0 auto;}


/* how use */
#how-use {padding:55px 0 75px 0;}
#how-use .title {float:left;}
#how-use .text {float:right;width:280px;font-size:18px;line-height:25px;padding:15px 0 0 0;text-transform: uppercase;font-weight: 300;}
#how-use .item {width:33%;float:left;text-align:center;padding:30px 0 0 0;}
#how-use .item img {vertical-align:bottom;}
#how-use .item p {font-size: 25px;font-weight: 300;padding:25px 0;color: #509131;}
#how-use .item div {line-height:24px;padding:0 30px;font-weight: 300;font-size:15px;}
#how-use .button {margin:65px auto 0 auto;}


/* info block */
#info-block {background:url('../../images/frontend/info-block.jpg') no-repeat center 0;height:688px;}
#info-block .width {padding:50px 0 0 0;color: white;}
#info-block span {font-size:18px;line-height:27px;display:block;padding:25px 0 45px 0;}
#info-block p {line-height:24px;width:465px;font-size: 15px;
font-weight: 300;}


/* doctor */
#doctor {padding:0 0 50px 0;}
#doctor .left-block {width:480px;float:left;padding:65px 0 0 0;}
.img-doc{float:left;border-radius:50%;margin:15px 10px 0 0;}
#doctor .left-block .name {font-size:18px;font-weight:700;padding:35px 0 0 0;}
#doctor .left-block .name-b {font-size:16px;padding:5px 0 0 0;color:#777;}
#doctor .left-block .status {font-size:18px;color: #777;
font-weight: 300;line-height:27px;width:300px;padding:20px 0 40px 0;}
#doctor .left-block .message {line-height:24px;font-size: 15px;
font-weight: 300;}
#doctor .right-block {width:500px;float:right;padding:100px 0 0 0;}
#doctor .right-block .item {float:left;margin:0;}
#doctor .right-block .item .item1 {width:326px;}
#doctor .right-block .item .item2 {width:168px;}
#doctor .right-block .item div {padding:23px 10px 0 10px;line-height:21px;font-size: 15px;
font-weight: 300;color: #509131;}
#doctor .right-block ul {padding:65px 0 0 100px;}
#doctor .right-block ul li {line-height:24px;font-size: 15px;
font-weight: 300;list-style-type:disc;padding:0 0 25px 0;color:#509131;}
#doctor .right-block ul li span{color:#050505;}


/* image */
#image {background:url('../../images/frontend/img2.jpg') no-repeat center 0;height:427px;}


/* pluses */
#pluses {padding:0 0 75px 0;}
#pluses .width {background:url('../../images/frontend/mask.png') no-repeat 50px 100px;padding:65px 0 0 0;}
#pluses .title {float:left;}
#pluses .text {float:right;font-size:18px;line-height:27px;width:290px;padding:10px 0 0 0;text-transform: uppercase;font-weight: 300;}
#pluses .item {display:inline-block;vertical-align:top;width:33%;text-align:center;padding:60px 0 0;}
#pluses .item div {padding:30px 30px 0 30px;line-height:21px;font-size: 15px;font-weight: 300;}
#pluses .item p {height:64px;}
#pluses .item p img {vertical-align:middle;display:inline-block;}
#pluses .item p span {vertical-align:middle;display:inline-block;height:64px;}
#pluses .width .title-people{text-align:center;font-size:36px;padding:60px 0px 30px;line-height:45px;font-weight: 300;color: #509131;}
#pluses .people-img{background:url('../../images/frontend/img-people.jpg') center 0 no-repeat;width:988px;height:427px;}


/* reviews */
#reviews {background:url('../../images/frontend/reviews.jpg') no-repeat center 0;height:702px;color:#fff;}
#reviews .width {padding:55px 0 0 0;}
#reviews .review {width:465px;}
#reviews .review span {display:block;font-size:20px;font-weight:300;padding:32px 0;}
#reviews .review img {vertical-align:bottom;}
#reviews .review div {line-height:24px;font-size:15px;}
#reviews .flex-control-nav {display:none;}
#reviews .flex-direction-nav {}
#reviews .flex-direction-nav a {background:url('../../images/frontend/arrows.png') no-repeat 0 0;width:30px;height:35px;display:block;text-indent:-9999px;position:absolute;top:80px;}
#reviews .flex-direction-nav a.flex-prev {display:none;}
#reviews .flex-direction-nav a.flex-next {background-position:right 0;right:60px;}
#reviews .flexslider {position:relative;width:465px;margin:45px 0 0 0;}


/* footer */
#footer {background:url('../../images/frontend/footer.jpg') no-repeat center 0;height:900px;color:#fff;}
#footer .title {background:none;padding:60px 0 0 0;}
#footer .title span {
    font-size: 38px;
    font-weight: 300;
    text-transform: uppercase;
}
#footer .price {font-size:24px;padding:40px 0 0 0;}
#footer .price div,#header .content .price del {display:inline-block;vertical-align:top;}
#footer .price del {color:#cfcdcb;padding:0 30px 0 0;}
#footer .price div {font-weight: 500;
font-size: 38px;}
#footer .price-with-delivery {font-size:24px;font-weight:300;padding:62px 0 36px 0;}
#footer .operator-txt {font-size:16px;font-weight:400;padding:19px 0 16px 0;float:right;}
#footer .time {padding:0 0 50px 0;text-align:center;width:486px;}
#footer .time .name-t {padding:5px 0 20px 0;font-size:23px;font-weight:500;}
#footer .time #timer2 div {display:inline-block;vertical-align:top;}
#footer .time #timer2 p {width:90px;font-size:70px;line-height:50px;font-weight:300;}
#footer .time span {font-size:18px;display:block;padding:13px 0 0 0;}
#footer .time .dots {font-size:70px;font-weight:300;line-height:40px;display:inline-block;vertical-align:top;padding:0 20px 0 20px;}

/* how work */
#work {padding:55px 0 75px 0;}
#work .title {float:left;}
#work .text {float:right;width:280px;font-size:18px;line-height:25px;padding:15px 0 0 0;text-transform: uppercase;font-weight:300;}
#work .item {width:25%;float:left;text-align:center;padding:30px 0 0 0;}
#work .item img {vertical-align:bottom;}
#work .item p {font-size:25px;font-weight:300;padding:25px 0;color: #40B0CA;}
#work .item div {line-height:24px;padding:0 30px;font-weight:300;font-size:15px;}

/* faq */
#faq {padding:55px 0 75px 0;}
#faq .title {float:left;}
#faq .text {float:right;font-size:18px;line-height:27px;width:290px;
padding:10px 0px 0px;text-transform: uppercase;
font-weight: 300;}
#faq .faq-top{margin-top:30px;}
.spoiler_body{display:none;background:#509131;color:#fff;padding:25px;margin-bottom:5px;font-size:15px;}
.spoiler_links:after{content:'+';margin-right:8px;float:right;color:#C8C8C8;}
.spoiler_links{cursor:pointer;font-size:18px;
line-height:24px;padding:25px;border:1px solid #E3E3E3;margin-bottom:5px;background:#fff;font-weight: 500;
text-transform: uppercase;color:#555;}
.spoiler_links:hover{background:#F0F0F0;color:#509131;}
.in-dev{font-size:20px;font-weight:500;}
.redi{color:#FE3636;}

#faq ul li{list-style-type:decimal;list-style-position:inside;padding:7px 0 7px 5px;}


/* bottom */
#bottom {background:#1d1d1d;padding:25px;text-align:center;color:#888;}
#bottom a {text-decoration:underline;color:#444;font-size:12px;}
#bottom a:hover {text-decoration:none;}
#bottom .social {padding: 0;margin-top:20px;}
#bottom .social ul {list-style: none; margin: 0; padding: 0;}
#bottom .social li {display: inline;}
#bottom .social a {text-decoration:none;text-align: center;padding: 0;margin-right:7px;}
#bottom .social img{width:20px;height:20px;margin-right:7px;}

#toTop {width:70px;
border:1px solid #ccc;
background:rgba(255,255,255,0.8);
text-align:center;
padding:5px;
position:fixed;
bottom:10px;
right:10px;
cursor:pointer;
display:none;
color:#999;
font-size:15px;
font-weight:300;
z-index:9999;
}
#toTop:hover{background:rgba(255,255,255,1.0);color:#509131;}


@media screen and (max-width: 989px) and (min-width: 640px) {
	.width {width:574px;padding:0 33px;}

	/* header */
	#header {background:url('../../images/frontend/top.jpg') no-repeat center 0;height:auto;background-size: cover;}
	#header .carrot {height:100px;}
	#header .content {margin-top: -100px;padding:0 0 0 190px;}
	#header .content h1 {font-size:56px;line-height:56px;padding:75px 0 24px 0;}
#header .content h2 {
    font-size: 22px;
}
#header .content .problems {
    font-size: 20px;
}
	#header .content .price div,#header .content .price del {display:inline-block;vertical-align:baseline;}
	#header .content .price del {color:#cfcdcb;padding:0 30px 0 0;font-size:24px;}
	#header .content .price div {font-size:28px}


	/* description */
	#description {padding:0 0 20px 0;background:url('../../images/frontend/mask.png') no-repeat center 680px;}
	#description .width {background:none;}
	#description .image {background:url('../../images/frontend/img1.jpg') no-repeat right bottom;padding:60px 0 310px 0;}
	#description .image br {display:none;}
	#description .image p {width:auto;padding:30px 0 0 0;}
	#description .left-block {width:264px;float:left;}
	#description .right-block {width:264px;float:right;}
	#description .item {background:url('../../images/frontend/dots.png') repeat-x 0 bottom;padding:0 0 35px 0;}
	#description .item div {font-size:23px;padding:35px 0 22px 0;}
	#description .item.last {background:none;padding:0;}
	#description span {display:block;clear:both;}
	#description .bottle {margin:0 auto;width:300px;padding:20px 0 0 0;height:306px;overflow:hidden;}
	#description .bottle img {width:300px;}


	/* form block */
	#form-block {background:url('../../images/frontend/form.jpg') no-repeat center 0;height:600px;}
	#form-block .title {text-align:center;}
	#form-block .sale {text-align:center;}
	#form-block .price {padding:25px 0 0 0;text-align:center;}
	#form-block .left-block {float:none;}
	#form-block .right-block {float:none;}
	#form-block .time {padding:0 0 50px 0;visibility: hidden;margin-top: -200px;}


	/* how use */
	#how-use {padding:55px 0 75px 0;}

	#how-use .title br {display:none;}
	#how-use .text {float:none;padding:25px 0 15px 0;text-align:center;margin:0 auto;}
	#how-use .item {width:auto;float:none;text-align:center;padding:30px 120px 0 120px;}
	#how-use .item img {vertical-align:bottom;}
	#how-use .item p {padding:35px 0;}
	#how-use .item div {padding:0 30px;}
	#how-use .button {margin:65px auto 0 auto;}


	/* info block */
	#info-block {background:url('../../images/frontend/info-block.jpg') no-repeat center 0;height:555px;}
	#info-block .width {padding:50px 0 0 0;color:white}
	#info-block span {display:block;padding:25px 0 45px 0;}
	#info-block span br {display:none;}
	#info-block p {width:auto;padding:0 20px 0 0;}


	/* doctor */
	#doctor {padding:0 0 30px 0;}
	#doctor .title br {display:none;}
	#doctor .left-block {width:auto;float:none;padding:55px 0 0 0;}
	#doctor .left-block .name {padding:35px 0 0 0;text-align:center;}
#doctor .left-block .name-b{text-align:center;}
	#doctor .left-block .status {text-align:center;width:auto;padding:20px 80px 35px 80px;}
	#doctor .left-block .message {}
	#doctor .right-block {width:auto;float:none;padding:60px 0 0 0;}

#doctor .right-block .item {float:left;margin:0;}
#doctor .right-block .item .item1 {width:326px;}
#doctor .right-block .item .item2 {width:168px;}
	#doctor .right-block .item div {padding:23px 10px 0 10px;}
	#doctor .right-block ul {padding:45px 0 0 20px;overflow:hidden;}
	#doctor .right-block ul li {list-style-type:disc;padding:0 0 25px 0;width:240px;float:left;}
	#doctor .right-block ul li:first-child {padding-right:70px;}


	/* image */
	#image {background:url('../../images/frontend/img2.jpg') no-repeat center 0;height:376px;}


	/* pluses */
	#pluses {background:url('../../images/frontend/mask.png') no-repeat center 125px;padding:65px 0 35px 0;}
	#pluses .width {background:none;padding:0;}
	#pluses .title {float:none;}
	#pluses .text {float:none;padding:25px 0 0 0;text-align:center;margin:0 auto;}
	#pluses .item {display:inline-block;vertical-align:top;width:49%;text-align:center;padding:40px 0 0;}
	#pluses .item div {padding:30px 30px 0 30px;line-height:21px;}
	#pluses .item p {height:64px;}
	#pluses .item p img {vertical-align:middle;display:inline-block;}
	#pluses .item p span {vertical-align:middle;display:inline-block;height:64px;}
#pluses .people-img{background:url('../../images/frontend/img-people.jpg') no-repeat;width:577px;height:249px;}

	/* reviews */
	#reviews {background:url('../../images/frontend/reviews.jpg') no-repeat center 0;height:680px;color:#fff;}
	#reviews .width {padding:55px 0 0 0;}
	#reviews .title.white {text-align:center;background-position:center bottom;}
	#reviews .review {width:auto;text-align:center;}
	#reviews .review span {display:block;padding:32px 0;}
	#reviews .review img {vertical-align:bottom;}
	#reviews .review div {}
	#reviews .flex-control-nav {display:none;}
	#reviews .flex-direction-nav {}
	#reviews .flex-direction-nav a {background:url('../../images/frontend/arrows.png') no-repeat 0 0;width:30px;height:35px;display:block;text-indent:-9999px;position:absolute;top:80px;}
	#reviews .flex-direction-nav a.flex-prev {display:block;background-position:0 0;left:60px;}
	#reviews .flex-direction-nav a.flex-next {background-position:right 0;right:60px;}
	#reviews .flexslider {position:relative;width:auto;margin:45px 0 0 0;}

	/* footer */
	#footer {background:url('../../images/frontend/footer.jpg') no-repeat center 0;height:902px;}
	#footer .title {background:none;padding:55px 0 0 0;text-align:center;}
	#footer .price {padding:40px 0 0 0;text-align:center;}
	#footer .price div,#header .content .price del {display:inline-block;vertical-align:top;padding:0 15px;}
	#footer .price del {color:#cfcdcb;padding:0;}
	#footer .price div {}

#footer .operator-txt {padding:32px 0 16px 0;text-align:center;float:none;}
	#footer .time {padding:0 0 0px 0;text-align:center;width:auto;}
	#footer .time #timer2 div {display:inline-block;vertical-align:top;}
	#footer .time #timer2 p {width:90px;font-size:70px;line-height:50px;}
	#footer .time span {display:block;padding:13px 0 0 0;}
	#footer .time .dots {font-size:70px;line-height:40px;display:inline-block;vertical-align:top;padding:0 20px 0 20px;}

	#footer input[type="text"],#footer input[type="tel"] {margin:0 0 20px 0;float:none;}
	#footer input[type="submit"] {margin:35px 0 0 0;float:none;}
#footer #order{margin-top:15px;margin-left: 16%;}

/* how work */
#work .text {float:none;padding:35px 0 0 0;text-align:center;margin:0 auto;}
#work .item {width:50%;}

/* faq */
#faq .text {float:none;padding:35px 0 0 0;text-align:center;margin:0 auto;}

}

@media screen and (max-width: 640px) and (min-width: 320px) {
	#top-head{display:none;}
	.width {width:284px;}
	.title,.title.white {background-position:center bottom;font-size:30px;line-height:30px;text-align:center;padding:0px 0 20px 0;}
.title-mask{font-size: 22px;}
	.button {width:280px;}

	/* header */
	#header {background:url('../../images/frontend/top.jpg') no-repeat 0 0;background-size: cover;color:#fff;height:400px;}
#header .carrot div {padding: 29px 0 19px 0;margin-bottom:-15px;font-size:17px;}
	#header .carrot {font-size:18px;background:#8cba54}
	#header .content {margin-top:-240px;padding: 40px 20px 0 20px;text-align:center;}
	#header .content h1 {font-size:50px;line-height:40px;padding:515px 0 25px 0;color:#000;}
	#header .content h2 {font-size:19px;line-height:27px;padding:0px;color:#000;}
	#header .content .problems {font-size:25px;line-height:33px;padding:20px 0 0 0;}
	#header .content .problems span {display:block;padding:0 0 0 0;text-align:center;}
	#header .content ul {padding:20px 0 0 0;margin:0 0 0 15px;text-align:left;}
	#header .content ul li {list-style-type:disc;padding:0 0 15px 0;font-size:14px;line-height:25px;color:#000;}
	#header .content .sale {font-size:28px;margin:10px 0 30px 0px;text-align:center;color:#000;}
	#header .content .price {font-size:18px;margin:-40px -10px 0 0px;text-align:center;color:#000;}
	#header .content .price div,#header .content .price del {display:block;text-align:right;}
	#header .content .price del {font-size:25px;color:#cfcdcb;margin:0 0px 0px 0px;text-align:center;color:#000;}
	#header .content .price div {font-size:48px;margin:0px 0px 0 0px;text-align:center;}
	#header .width {
		width:100%;
	}

	/* description */
	#description {padding:820px 0 0 0;background:url('../../images/frontend/mask.png') no-repeat center 689px;}
	#description .width {background:none;}
	#description .image {background: none;}
	#description .image br {display:none;}
	#description .image p {font-size:18px;line-height:24px;width:auto;text-align:center;padding:30px 0 0 0;}
	#description .left-block {width:auto;float:none;}
	#description .right-block {width:auto;float:none;}
	#description .item {background:url('../../images/frontend/dots.png') repeat-x 0 bottom;padding:0 0 35px 0;line-height:24px;color:#4a4a4a;font-size:17px;}
	#description .item div {font-size:23px;font-weight:700;color:#000;padding:35px 0 22px 0;}
	#description .item.last {background:url('../../images/frontend/dots.png') repeat-x 0 bottom;padding:0 0 35px 0;}
	#description .item.last.small {background:none;padding:0;}
	#description span {display:block;clear:both;}
	#description .bottle {margin:0 auto;width:250px;padding:35px 0 20px 0;height:255px;overflow:hidden;}
	#description .bottle img {width:250px;}



	/* form block */
	#form-block {background:url('../../images/frontend/form.jpg') no-repeat center 0;color:#fff;background-size: cover;height:679px}
	#form-block .title {background:none;padding:35px 0 0 0;font-size:30px;line-height:30px;}
#form-block .title span{font-size:22px;}
	#form-block .sale {font-size:28px;padding:30px 0 0 0;text-align:center;}
	#form-block .price {font-size:28px;text-align:center;}
	#form-block .price div,#header .content .price del {display:block;padding:10px 0 0 0 ;}
	#form-block .price del {color:#cfcdcb;padding:0;}
	#form-block .price div {}
	#form-block .left-block {float:none;}
	#form-block .right-block {float:none;}
	#form-block .time {padding:0 0 0px 0;text-align:center;}
	#form-block .time .name-t {padding:40px 0 30px 0;font-size:23px;}
	#form-block .time #timer div {display:inline-block;vertical-align:top;}
	#form-block .time #timer p {width:60px;font-size:50px;line-height:30px;}
	#form-block .time span {font-size:16px;display:block;padding:13px 0 0 0;}
	#form-block .time .dots {font-size:50px;line-height:20px;display:inline-block;vertical-align:top;padding:0 15px 0 15px;}
	#form-block .button {margin:22px auto;}


	/* how use */
	#how-use {padding:400px 0 65px 0;}
	#how-use .title {float:none;margin:-360px 40px 40px;}
	#how-use .title br {display:none;}
	#how-use .text {float:none;width:280px;font-size:18px;line-height:24px;padding:25px 0 15px 0;text-align:center;margin:0 auto;}
	#how-use .item {width:auto;float:none;text-align:center;padding:30px 0 0 0;}
	#how-use .item img {vertical-align:bottom;}
	#how-use .item p {font-size:25px;padding:35px 0;}
	#how-use .item div {line-height:24px;padding-top:-20px;font-size:17px;}
	#how-use .button {margin:45px auto 0 auto;}

	/* info block */
	#info-block {background:url('../../images/frontend/info-block.jpg') no-repeat -100px 0;background-size: cover;color:#fff;}
	#info-block .width {padding:40px 0 0 0;}
	#info-block span {font-size:18px;line-height:27px;display:block;padding:25px 0 35px 0;}
	#info-block span br {display:none;}
	#info-block p {line-height:24px;width:auto;font-size:17px;}


	/* doctor */
	#doctor {padding:0 0 30px 0;}
	#doctor .title br {display:none;}
	#doctor .left-block {width:auto;float:none;padding:50px 0 0 0;}
	#doctor .left-block .name {font-size:22px;font-weight:700;padding:20px 0 0 0;text-align:center;}
#doctor .left-block .name-b{text-align:center;}
	#doctor .left-block .status {font-size:17px;line-height:27px;width:auto;padding:0px 0 25px 0;text-align:center;}
	#doctor .left-block .message {line-height:24px;font-size:17px;}
	#doctor .right-block {width:auto;float:none;padding:30px 0 0 0;}
	#doctor .right-block .item {float:none;margin:0 auto 0 auto;text-align:center;padding:0 0 50px 0;}
	.item1 {display:none!important;}
	#doctor .right-block .item .item2 {width:auto;}
	#doctor .right-block ul {padding:0 0 0 20px;overflow:hidden;}
	#doctor .right-block ul li {line-height:24px;font-size:17px;list-style-type:disc;padding:0 0 25px 0;}


	/* image */
	#image {background:url('../../images/frontend/img2.jpg') no-repeat center 0;height:376px;}



	/* pluses */
	#pluses {background:url('../../images/frontend/mask.png') no-repeat center 125px;padding:55px 0 35px 0;}
	#pluses .width {background:none;padding:0;}
	#pluses .title {float:none;}
	#pluses .text {display:none;}
	#pluses .item {display:block;width:100%;text-align:center;padding:40px 0 0;}
	#pluses .item div {padding:30px 30px 0 30px;line-height:21px;font-size:17px;}
	#pluses .item p {height:64px;}
	#pluses .item p img {vertical-align:middle;display:inline-block;}
	#pluses .item p span {vertical-align:middle;display:inline-block;height:64px;}
#pluses .people-img{background:url('../../images/frontend/img-people.jpg') no-repeat;width:286px;height:174px;}
#pluses .width .title-people {
    font-size: 23px;
    padding: 60px 0px 30px;
    line-height: 28px;
}



	/* reviews */
	#reviews {background:url('../../images/frontend/reviews.jpg') no-repeat center 0;color:#fff;}
	#reviews .width {padding:55px 0 0 0;}
	#reviews .title.white {text-align:center;background-position:center bottom;}
	#reviews .review {width:auto;text-align:center;}
	#reviews .review span {display:block;font-size:17px;line-height:27px;padding:32px 0;}
	#reviews .review img {vertical-align:bottom;width:275px;}
	#reviews .review div {line-height:24px;}
	#reviews .flex-control-nav {display:none;}
	#reviews .flex-direction-nav {}
	#reviews .flex-direction-nav a {background:url('../../images/frontend/arrows.png') no-repeat 0 0;width:30px;height:35px;display:block;text-indent:-9999px;position:absolute;top:590px;}
	#reviews .flex-direction-nav a.flex-prev {display:block;background-position:0 0;left:90px;}
	#reviews .flex-direction-nav a.flex-next {background-position:right 0;right:90px;}
	#reviews .flexslider {position:relative;width:auto;margin:45px 0 0 0;}


	/* footer */
	#footer {
		background:url('../../images/frontend/footer.jpg') no-repeat center 0;color:#fff;
	}
	#footer .title {background:none;padding:34px 0 0 0;font-size:24px;line-height:30px;text-align:center;}
#footer .title span{font-size:22px;}

	#footer .price {font-size:24px;padding:25px 0 0 0;text-align:center;}
	#footer .price div,#header .content .price del {display:block;}
	#footer .price del {color:#f5f4f4;padding:0;}
	#footer .price div {}
	#footer .price-with-delivery {font-size:20px;font-weight:700;padding:40px 0 346px 0;text-align:center;}
#footer .operator-txt {font-size:16px;font-weight:300;padding:12px 0 16px 0;text-align:center;}
	#footer .time {padding:0 0 25px 0;text-align:center;width:auto;margin-left: 0;}
	#footer .time .name-t {font-size:20px;}
	#footer .time #timer2 div {display:inline-block;vertical-align:top;}
	#footer .time #timer2 p {width:60px;font-size:50px;line-height:30px;}
	#footer .time span {font-size:16px;display:block;padding:13px 0 0 0;}
	#footer .time .dots {font-size:50px;line-height:20px;display:inline-block;vertical-align:top;padding:0 15px 0 15px;}

	#footer input[type="text"],#footer input[type="tel"] {margin:0 0 20px 0;float:none;width:280px;}
	#footer input[type="submit"] {margin:35px 0 0 0;float:none;width:235px;}

/* how work */
#work {padding:25px 0 55px 0!important;}
#work .title {float:none;}
#work .text {float: none;
width: auto;padding: 25px 0px 0px;text-align:center;}
#work .item {width:auto;}
#work .item div {font-size:17px;}

/* faq */
#faq {padding:25px 0 75px 0;}
#faq .title {float:none;}
#faq .text {float:none;text-align:center;}
#faq .faq-top{margin-top:30px;}
.spoiler_body {font-size:14px;padding:15px;}
.spoiler_links {font-size:15px;
line-height:20px;padding:15px;}
.spoiler_links:after{display:none;}

#bottom .cont{width:280px;height:44px;}

}
