@media (max-width: 1024px) {
    #orderSubmit {
        font-size: 16px;
    }
    .effect {
        max-width: 550px;
    }
    .metamorphosis-alt,
    .metamorphosis {
        text-align: center;
        max-width: 550px;
        margin: 24px auto;
    }
    .metamorphosis-alt p,
    .metamorphosis .left-side {
        width: auto!important;
        float: none!important;
    }

    .maxwidth550px,
    .block-1 {
        max-width: 550px;
        margin: auto;
    }
}

@media (max-width: 992px) {
    .disclaimer {
        margin: auto;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .maxwidth550px .container {
        width: auto;
    }
}
