#pr {
    color: #C4D9E0;
    font-size: 16px;
    letter-spacing: 7px;
    margin: 0;
    padding: 20px 10px 10px;
    text-align: center;
}

.yellowbg {background: yellow;}
         .h1-1 {font-size: 28px; line-height: 32px;}
         figure
         {
            max-width : 200px;
            float: left;
            margin-right: 20px;
            margin-bottom: 40px;
         }
         figcaption
         {
        color: rgb(109, 109, 109);
font-size: 11px;
line-height: 16px;
background: rgb(233, 233, 233) none repeat scroll 0% 0%;
position: relative;
padding: 8px;
top: -8px;
         }
         .italic
         {
         font-style: italic;   
         }
         div.link-box {
    margin-bottom: 50px;
    border: 2px dashed #0b3f8f;
    padding: 15px;
    text-align: center;
    max-width: 550px;
    margin: 30px auto;
         }
         div.link-box p:nth-of-type(1) {
    font-size: 18px !important;
    font-weight: bold;
}
div.link-box p {
    padding-bottom: 10px;
    margin-bottom: 0px !important;
}

div.link-box p:nth-of-type(1) span {
    background: none;
    color: red;
}
div.link-box p:nth-of-type(2) a {
    font-weight: bold;
    font-size: 18px;
    color: #343fb2;
    text-decoration: underline;
    padding-bottom: 0;
    margin-bottom: 0;
}
aside::before{
    content: "";
    clear: both;
}
aside #facebook-box {
    width: 300px;
    height: 265px;
    border: 1px solid #ababab;
    border-top: 1px solid #345e9a;
    margin: 0px 0 25px;
    position: relative;
}
aside #facebook-box .ribbon-1 {
    position: absolute;
    width: 56px;
    height: 56px;
    background: url(../images/frontend/facebook-icon.png) no-repeat 0 0 scroll transparent;
    z-index: 10;
    left: 4px;
    top: 4px;
}
aside #facebook-box .ribbon-1 a {
    display: block;
    height: 56px;
    width: 56px;
}
aside #facebook-box .ribbon-2 {
    width: 190px;
    height: 60px;
    position: absolute;
    left: 65px;
    top: 13px;
    z-index: 20;
    background: #ffffff;
}
aside #facebook-box .ribbon-3 {
    height: 22px;
    position: absolute;
    left: 67px;
    top: 35px;
    z-index: 30;
    background: #3e59a6;
    border: 1px solid #7786bd;
    border-radius: 3px;
    padding-right: 5px;
}
aside #facebook-box .ribbon-3 a {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #ffffff;
    line-height: 22px;
    background: url(../images/frontend/facebook-icon-1.png) no-repeat 5px center scroll transparent;
    padding-left: 24px;
    height: 22px;
    display: block;
    text-decoration: none;
}
aside #facebook-box .ribbon-4 {
    width: 280px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 75px;
    z-index: 40;
    background: #ffffff;
    border-top: 1px solid #ABABAB;
}
aside #facebook-box .ribbon-4 p {
    float: left;
    font-family: Tahoma, sans-serif;
    line-height: 30px;
    padding-left: 0px;
    font-size: 11px;
}
aside #facebook-box .ribbon-4 p a {
    color: #3d58a7;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
}
aside #facebook-box .ribbon-5 {
    width: 262px;
    height: 103px;
    background: url(../images/frontend/face-bg.jpg) no-repeat 0 0 scroll transparent;
    position: absolute;
    top: 115px;
    left: 10px;
}
aside #facebook-box .ribbon-6 {
    position: absolute;
    top: 240px;
    left: 10px;
    border-top: 1px solid #ABABAB;
    padding-top: 5px;
    width: 280px;
}
aside #facebook-box .ribbon-6 a {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    color: #777;
    background: url(../images/frontend/like-2.png) no-repeat 0 center scroll transparent;
    height: 12px;
    line-height: 12px;
    padding-left: 20px;
    text-decoration: none;
    display: block;
}
aside #facebook-box .ribbon-2 a {
    color: #3d58a7;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}
div.page-view aside {
max-width: 340px;
padding-left: 20px;
}
div.page-view div.left-side article {
    max-width: 760px;
}
@media (max-width: 600px) {
    aside {
        display:none !important;
    }
}