*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.clearfix {
  clear: both;
  display: block;
  content: '';
}
.page-container {
  max-width: 1145px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover {text-decoration: underline;}
i.icons {
  display: inline-block;
  background: url(../../images/frontend/medicreporter/icons.png) no-repeat;
}
i.icons.icon-search {
  width: 14px;
  height: 15px;
}
i.icons.icon-plus {
  width: 16px;
  height: 14px;
  background-position: 0px -16px;
}
i.icons.icon-minus {
  width: 16px;
  height: 14px;
  background-position: -17px -17px;
}
body {
  font-family: 'open_sansregular';
  background: url(../../images/frontend/medicreporter/bg.jpg) repeat-x, url(../../images/frontend/medicreporter/bg2.jpg);
}
h2 {
  color: #161616;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'open_sansbold';
}
h2.line {
  border-bottom: 10px solid #e7e7e7;
  line-height: 0px;
  margin: 14px 0 20px;
}
h2.line span {
  background: white;
  padding-right: 20px;
  position: relative;
  top: 3px;
}
header#main-header {
  padding-top: 14px;
}
header#main-header div.data:after {
  clear: both;
  display: block;
  content: '';
}
header#main-header h1 {
  float: left;
  margin-right: 35px;
}
header#main-header .button {
  float: left;
  margin-top: 25px;
  width: 73px;
  height: 20px;
  background: url(../../build/images/frontend/medicreporter/button.png) no-repeat;
  background: none;
}
header#main-header form {
  display: inline-block;
  max-width: 370px;
  width: 100%;
  margin-left: 55px;
  padding-top: 18px;
}
header#main-header form input {
  border: 1px solid #d7d7d7;
  height: 33px;
  max-width: 325px;
  width: 100%;
  position: relative;
  top: -1px;
  padding: 0 5px;
}
header#main-header form button {
  border: 1px solid #d7d7d7;
  background: #dedede;
  height: 33px;
  width: 39px;
  position: relative;
  left: -4px;
  vertical-align: top;
  top: -1px;
  cursor: pointer;
}
header#main-header div.weather {
  float: right;
}
header#main-header div.weather > div {
  display: inline-block;
  vertical-align: top;
  color: #8f8f8f;
  font-size: 10.53px;
  text-transform: uppercase;
  text-align: center;
  line-height: 29px;
}
header#main-header div.weather > div + div {
  margin-left: 15px;
}
header#main-header div.weather > div span {
  color: #395393;
  font-size: 22.65px;
  font-family: 'open_sansbold';
  position: relative;
  top: -4px;
}
header#main-header nav {
  display: block;
  width: 100%;
  margin: 10px 0 0;
}
header#main-header nav a {
  color: #203875;
  font-size: 11px;
  font-family: 'open_sanssemibold';
  display: inline-block;
  padding: 12px 20px;
}

header#main-header nav a::after {
  content: "|";
  position: relative;
  left: 25px;
  display: inline-block;
}
header#main-header nav a:last-child::after {
  content: "";
}

header#main-header nav a:hover, header#main-header nav a.active {
  text-decoration: underline;
}
header#main-header nav a.active {
    font-family: 'open_sansbold';
}
header#main-header nav a:first-child {
  padding-left: 0;
}
header#main-header nav a:last-child {
  padding-right: 0;
  border-right: 0;
}

/*MENU ON SUBPAGES*/

.subpage header#main-header nav {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 4px solid #0e3187;
}
.subpage header#main-header nav a:first-child {
  padding-left: 20px;
}
.subpage header#main-header nav a:last-child {
  padding-right: 20px;
}
.subpage header#main-header nav a:hover,
.subpage header#main-header nav a.active {
  border-bottom: 4px solid #3a85d7;
  margin-bottom: -4px;
}

div#slider {
  border-top: 1px solid #caccd4;
    margin-bottom: 30px;
}
div#slider:after {
  clear: both;
  display: block;
  content: '';
}
div#slider div.big {
  float: left;
  max-width: 800px;
}
div#slider div.big a {
  display: block;
  position: relative;
}
div#slider div.big a div.data {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  padding-bottom: 15px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
}
div#slider div.big a div.data span.category {
  background: #f69d10;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 10px;
  font-family: 'open_sanssemibold';
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  position: relative;
}
div#slider div.big a div.data span.category:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #f69d10 transparent transparent transparent;
  content: '';
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
}
div#slider div.big a div.data span.title {
  margin-top: 10px;
  font-size: 38px;
  color: white;
  font-family: 'open_sansbold';
  text-transform: uppercase;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.44);
  display: block;
}
div#slider div.big:hover a div.data span.title {text-decoration: underline;}
div#slider div.big a div.data span.more {
  color: #f69d10;
  font-size: 13px;
  font-family: 'open_sanssemibold';
  float: right;
}
div#slider div.big a div.data p {
  color: white;
  font-size: 15px;
  line-height: 22px;
}
div#slider div.big a div.data hr {
  height: 1px;
  border: 0;
  background: rgba(255, 255, 255, 0.25);
  margin: 16px 0 8px;
}
div#slider ul {
  float: right;
  max-width: 345px;
}
div#slider ul li {
  background: #f7f7f7;
  padding: 8px 14px;
  color: black;
  font-size: 13px;
  font-family: 'open_sanssemibold';
  line-height: 18px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
div#slider ul li:after {
  clear: both;
  display: block;
  content: '';
}
div#slider ul li:first-child {
  padding-top: 7px;
}
div#slider ul li + li {
  margin-top: 1px;
}
div#slider ul li.active {
  background: #3c80cb;
  color: white;
  border: 1px solid #3c80cb;
  position: relative;
  padding-bottom: 9px;
}
div#slider ul li.active img {
  border: 1px solid #3776bb;
}
div#slider ul li.active:before {
  content: '';
  top: 50%;
  left: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22.5px 18px 22.5px 0;
  border-color: transparent #3c80cb transparent transparent;
  position: absolute;
  margin-top: -22px;
}
div#slider ul li img {
  border: 1px solid #e4e4e4;
  vertical-align: top;
  margin-right: 15px;
  float: left;
}
div.rek {
  color: #cccccc;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'open_sansregular';
  text-align: center;
  line-height: 20px;
}
div.rek.rek1 {
  margin: 15px 0 20px;
}
section.block-1:after {
  clear: both;
  display: block;
  content: '';
}
section.block-1 div.category {
  float: left;
  background: white;
  max-width: 350px;
  width: 100%;
  padding: 15px 15px 25px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
}
section.block-1 div.category ul li img {
  border: 1px solid #eaeaea;
  float: left;
  margin-right: 10px;
}
section.block-1 div.category ul li a {
  color: #161616;
  font-size: 13px;
}
section.block-1 div.category ul li a:hover {
  text-decoration: underline;
}
section.block-1 div.category ul li:first-child:after {
  clear: both;
  display: block;
  content: '';
}
section.block-1 div.category ul li:first-child a {
  font-size: 15px;
  line-height: 21px;
  font-family: 'open_sansbold';
}
section.block-1 div.category ul li + li {
  margin-top: 6px;
}
section.block-1 div.category ul li + li:before {
  content: '•';
  font-size: 18px;
  color: #005fba;
  margin-right: 12px;
  position: relative;
  top: 1px;
}
section.block-1 div.articles {
  float: left;
  margin-left: 25px;
}
section.block-1 div.articles:after {
  clear: both;
  display: block;
  content: '';
}
section.block-1 div.articles div.block {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  float: left;
  font-family: 'open_sanssemibold';
  max-width: 254px;
  padding-bottom: 10px;
  position: relative;
  transition: all .5s;
  -webkit-transition: all .5s;
}
section.block-1 div.articles div.block:hover {
    background: #3c80cb;
    transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    -o-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    z-index: 10;
}
section.block-1 div.articles div.block:hover a {color: #f69d10; text-decoration: none;}
section.block-1 div.articles div.block:hover a.title {color: white;}
section.block-1 div.articles div.block:hover div, section.block-1 div.articles div.block:hover div span {color: white;}
section.block-1 div.articles div.block span.new {
  background: #f69d10;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-family: 'open_sanssemibold';
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  position: absolute;
  left: 20px;
  top: 209px;
}
section.block-1 div.articles div.block span.new:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #f69d10 transparent transparent transparent;
  content: '';
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
}
section.block-1 div.articles div.block div a {
  color: #3c80cb;
  font-size: 12px;
  float: right;
  position: relative;
  top: 3px;
}
section.block-1 div.articles div.block a.title {
  float: none;
  font-size: 22px;
  line-height: 29px;
  color: #161616;
  display: block;
  margin: 7px 0 10px;
  top: 0;
  height: 86px;
  overflow: hidden;
}
section.block-1 div.articles div.block div {
  padding: 0 20px;
}
section.block-1 div.articles div.block div span {
  color: #b4b4b4;
  font-size: 11px;
}
section.block-1 div.articles div.block:nth-child(3n + 2) {
  margin: 0px;
  margin-left: 2px;
}
section.block-2 {
  margin-top: 30px;
}
section.block-2:after {
  clear: both;
  display: block;
  content: '';
}
section.block-2 div.rek {
  float: right;
}
section.block-2 div.block {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  padding: 10px 20px;
  float: left;
  max-width: 800px;
  width: 100%;
  position: relative;
}
section.block-2 div.block span.slider-arrow {
  position: absolute;
  width: 17px;
  height: 27px;
  background: url(../../build/images/frontend/medicreporter/slider-arrow.png) no-repeat;
  display: inline-block;
  top: 120px;
  left: 10px;
  cursor: pointer;
}
section.block-2 div.block span.slider-arrow.prev {
  right: 10px;
  left: auto;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
section.block-2 div.block a {
  vertical-align: top;
  display: inline-block;
  max-width: 221px;
  color: #060101;
  line-height: 22px;
  font-family: 'open_sanssemibold';
    transition: all 1s;
  -webkit-transition: all .5s;
}
section.block-2 div.block a:hover {
    transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    -o-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.01, 1.01);
}
section.block-2 div.block a img {
  display: block;
  margin-bottom: 5px;
}
section.block-2 div.block a + a {
  margin-left: 27px;
}
section.block-2 div.block div.container {
  max-width: 731px;
  width: 100%;
  overflow: hidden;
  margin: 12px auto;
}
section.block-2 div.block div.container div.articles-container {
  width: 500%;
  height: 197px;
  padding-left: 4px;
}
footer#main-footer {
  background: #e6e6e6;
  padding: 10px 0;
  position: relative;
  margin-top: 30px;
}

footer#main-footer div.page-container > a {vertical-align: top;}
footer#main-footer div.page-container > a:first-child {margin-right: 3px;}
footer#main-footer div.page-container > a:nth-child(2) {position: relative; top: 11px;}
footer#main-footer div.page-container > a:nth-child(3) {left: 3px; position: relative; top: 12px;}

footer#main-footer:after {
  clear: both;
  display: block;
  content: '';
}
footer#main-footer:before {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  display: block;
  content: '';
  height: 1px;
  background: rgba(136, 136, 136, 0.1);
}
footer#main-footer a {
  display: inline-block;
}
footer#main-footer nav {
  float: right;
  padding-top: 9px;
}
footer#main-footer nav a {
  font-family: 'denseregular';
  color: #bebebe;
  font-size: 24px;
  padding: 0 20px;
  border-right: 1px solid #bebebe;
}
footer#main-footer nav a:last-child {
  padding-right: 0;
  border-right: 0;
}
footer#main-footer hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #d9d9d9;
}
footer#main-footer div.copy {
  color: #cdcdcd;
  text-transform: uppercase;
  font-size: 11px;
}
footer#main-footer div.copy ul {
  float: right;
}
footer#main-footer div.copy ul a {
  color: #cdcdcd;
}
footer#main-footer div.copy ul li {
  display: inline;
  padding-left: 20px;
}
div.page-view:after {
  clear: both;
  display: block;
  content: '';
}
div.page-view div.left-side {
  float: left;
  max-width: 800px;
}
div.page-view div.left-side div.slider {
  margin-bottom: 30px;
}
div.page-view div.left-side div#slider div.big a div.data {
  padding: 0 23px 0px;
}
div.page-view div.left-side div#slider div.big a div.data span.more {
  position: relative;
  top: -12px;
}
div.page-view div.left-side section.block-1 div.articles {
  margin-left: 0;
  width: 100%;
  max-width: 100%;
}
div.page-view div.left-side section.block-1 div.articles div.block {
  max-width: 265px;
  margin-bottom: 20px;
}
div.page-view aside {
  float: right;
  max-width: 300px;
  width: 100%;
}
div.page-view aside div.block {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  padding: 10px 20px;
  margin: 25px 0;
}
div.page-view aside div.block:first-child {margin-top: 0;}
div.page-view aside div.block ul li {
  position: relative;
  padding-left: 50px;
  display: block;
  min-height: 38px;
}
div.page-view aside div.block ul li a {
  font-size: 13px;
  line-height: 20px;
  color: #161616;
}
div.page-view aside div.block ul li + li {
  margin-top: 20px;
}
div.page-view aside div.block ul li span {
  background: #dddddd;
  color: white;
  font-size: 12px;
  font-family: 'open_sanssemibold';
  padding: 13px 4px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 600px) {
  aside {
    display:none !important;
  }
}
article.main {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
}
article.main header figure {
  position: relative;
}
article.main header figure figcaption {
  position: absolute;
  bottom: 2px;
  right: 0;
  background: #e5e5e5;
  padding: 8px 10px;
  font-size: 11px;
  color: #777777;
}
article.main header h1 {
  font-size: 38px;
  line-height: 44px;
  font-family: 'open_sansbold';
  padding: 10px 20px;
}
article.main header p {
  padding: 0 20px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'open_sansbold';
  margin: 20px 0 15px;
}

article.main .meta {
  padding: 0 20px;
  font-size: 12px;
  color: #b9b9bb;
}
article.main .meta div {
  margin-right: 5px;
  display: inline-block;
}
article.main .meta div.fb-like,
article.main .meta div.social-button {
  position: relative;
  top: 5px;
}
.italic{
  font-style: italic;
}
article.main div.body {
  padding: 0 20px;
}
article.main div.body b {
  font-family: 'open_sansbold';
}
article.main div.body p, article.main div.body {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 24px;
}
article.main div.body h2 {
  font-size: 20px;
  text-transform: none;
  margin-bottom: 15px;
    margin-top: 20px;
}
article.main div.body span.author {
  font-size: 13px;
  font-style: italic;
  color: #b9b9bb;
}
h3 {
  font-size: 20px;
  font-family: 'open_sansbold';
  margin-bottom: 20px;
}
section.more {
  border-bottom: 1px solid #e2e2e2;
  padding: 15px 0 25px;
  margin: 30px 20px 15px;
}
section.more:after {
  clear: both;
  display: block;
  content: '';
}
section.more a {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
section.more a figure:after {
  clear: both;
  display: block;
  content: '';
}
section.more a figure img {
  float: left;
  margin-right: 15px;
  display: block;
  margin-bottom: 5px;
}
section.more a figure figcaption {
  font-size: 13px;
  font-family: 'open_sansregular';
  color: black;
  line-height: 17px;
}
section.more a + a {
  margin-left: 20px;
}
section.comments {
  padding: 0 20px 20px;
}
section.comments input {
  height: 33px;
  padding: 0 5px;
  width: 30%;
  margin-bottom: 30px;
}
section.comments input[type=submit] {
  float: right;
  color: white;
  background: #004385;
  width: auto;
  padding: 0 20px;
  cursor: pointer;
}
section.comments textarea {
  padding: 5px;
  min-height: 142px;
  margin-bottom: 15px;
  width: 100%;
}
section.comments textarea,
section.comments input {
  font-family: 'open_sansregular';
  font-size: 12px;
  border: 1px solid #dedede;
}
section.comments div.comment {
  margin-bottom: 20px;
}
section.comments div.comment div.title {
  font-size: 12px;
  color: #4d4d4d;
  font-family: 'open_sansregular';
  margin-bottom: 5px;
}
section.comments div.comment div.title span {
  color: #00a651;
  font-style: italic;
}
section.comments div.comment p {
  font-size: 12px;
  line-height: 20px;
}
section.comments div.comment div.bottom {
  margin-top: 5px;
  font-size: 12px;
  color: #4d4d4d;
  font-style: italic;
}
section.comments div.comment div.bottom a {
  font-style: normal;
  font-family: 'open_sansbold';
}
section.comments div.comment div.bottom a i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
section.comments div.comment div.bottom a.add-plus {
  color: #00a651;
  margin-left: 20px;
  margin-right: 10px;
}
section.comments div.comment div.bottom a.add-minus {
  color: #d8011a;
}

div.pagination {
    text-align: center;
}
div.pagination strong, div.pagination a {
    background: white;
    border: 1px solid #ddd;
    padding: 7px;
    margin: 0 2px;
    font-size: 13px;
    color: black;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    display: inline-block;
}
div.pagination strong {
    background: #eee;
}

p.info_message {
    background: #004385 none repeat scroll 0 0;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
}

div.page-view.static div.left-side {
  max-width: 100%;
    width: 100%;
}
div.page-view.static div.left-side article.main {
  padding: 30px;    
}
div.page-view.static div.left-side article.main p, div.page-view.static div.left-side article.main ul li {
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
}
div.page-view.static div.left-side article.main b {
    display: block;
    font-family: open_sansbold;
    margin-top: 20px;
}
div.page-view.static div.left-side article.main ul li {margin-top: 13px;}
div.page-view.static div.left-side article.main ul {
  margin-left: 25px;
}
div.page-view.static div.left-side article.main h1 {
  font-family: "open_sansbold";
    font-size: 38px;
}

div.page-view.static form {
  margin-top: 25px;
  max-width: 462px;
}
div.page-view.static form p.validation_error {
  margin-top: 0 !important;
  margin-bottom: 5px;
  font-size: 12px;
  color: red;
}
div.page-view.static form::after {
  clear: both;
  content: "";
  display: block;
}
div.page-view.static form label {
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
}
div.page-view.static form input,
div.page-view.static form select {
  height: 33px;
  padding: 0 5px;
}
div.page-view.static form textarea {
  min-height: 150px;
  padding: 5px;
}
div.page-view.static form input,
div.page-view.static form textarea,
div.page-view.static form select {
  margin-bottom: 15px;
  border: 1px solid #b3b3b3;
  width: 100%;
  font-family: 'open_sansregular';
  font-size: 13px;
}
div.page-view.static form input[type=submit] {
  background: #004385;
  color: white;
  font-size: 13px;
  padding: 4px 20px;
  float: right;
  width: auto;
  cursor: pointer;
}

div.search {
    padding: 30px;
    background: white none repeat scroll 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
}
div.search div.block {
    
}
div.search div.block a.title {
    color: black;
    font-family: "open_sansbold";
    font-size: 16px;
    line-height: 26px;
    display: block;
}
div.search div.block p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
}
div.search div.block div {
    font-size: 11px;
    color: #b4b4b4;
}
div.search div.big {
    font-family: "open_sansbold";
    font-size: 38px;
}
div.search div.block div a {color: #3c80cb;}
div.search div.block {
    margin-top: 25px;
}
div.cookie_bar {
    background: white none repeat scroll 0 0;
    border-top: 1px solid silver;
    bottom: 0;
    font-size: 11px;
    left: 0;
    line-height: 15px;
    padding: 11px 0;
    position: fixed;
    right: 0;
    width: 100%;
}
div.cookie_bar a {color: #3c80cb;}
div.cookie_bar div.page-container {position: relative;}
div.cookie_bar span {
    position: absolute;
    right: 0;
    top: -11px;
    cursor: pointer;
    background: #bebebe url("../../images/close-icon.png") no-repeat scroll center center;
    float: right;
    height: 19px;
    width: 19px;
}

ol.breadcrumb {
    display: block;
    margin: 4px 0 9px;
    padding: 0 15px;
}
ol.breadcrumb li {
    display: inline;
    font-size: 11px;
    color: #777777;
}
ol.breadcrumb li::after {
    content: ">>";
    padding: 0 6px;
}
ol.breadcrumb li:last-child a {color: #a8a8a8}
ol.breadcrumb li:last-child:after {display: none;}
ol.breadcrumb li a {color: #777777;}

p.error {
    background: darkred none repeat scroll 0 0;
    color: white;
    padding: 5px;
}
p.success {
    background: green none repeat scroll 0 0;
    color: white;
    padding: 5px;
}

.rating:after {
    clear: both;
    display: block;
    content: '';
}
.rating {
    position: relative;
    display: inline-block;
    top: 7px;
}
.rating-stars {
    float: left;
}
.rating p {
    float: left;
    font-family: "open_sansregular" !important;
    font-size: 12px !important;
    margin: -1px 0 0 !important;
    padding: 0 !important;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) .rating-stars  > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:155%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) .rating-stars > label:before {
    content: '★ ';
}

.rating .rating-stars > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) .rating-stars > label.active,
.rating:not(:checked) .rating-stars > label:hover,
.rating:not(:checked) .rating-stars > label:hover ~ label {
    color: gold;
}

.rating .rating-stars > input:checked + label:hover,
.rating .rating-stars > input:checked + label:hover ~ label,
.rating .rating-stars > input:checked ~ label:hover,
.rating .rating-stars > input:checked ~ label:hover ~ label,
.rating .rating-stars > label:hover ~ input:checked ~ label {
    color: #ea0;
}

span#top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 0;
    height: 0;
    width: 38px;
    height: 38px;
    background: url(../../images/top.png) no-repeat;
    float: right;
    cursor: pointer;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(206,206,206,0.8);
}

#popup .window {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 360px;
  padding: 20px;

  text-align: center;

  border: 1px solid rgba(255,255,255,0.7);
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

#popup .window h1 {
  font-family: 'open_sansbold';
  font-size: 20px;
  color: #003366;
}

#popup .window p {
    font-family: 'open_sansregular';
    font-size: 14px;
    line-height: 1.3em;
    color: #3a85d7;
    margin: 15px 0;
}

#popup .window .close {
  background: #004385;
  border: none;
    padding: 8px 18px;
    color: white;
}

body.sitemap {
    background: url(../../images/frontend/medicreporter/bg2.jpg);
    padding: 50px;
}
body.sitemap h1 {
    font-family: open_sansbold;
    font-size: 40px;
    margin-bottom: 37px;
}
body.sitemap ul li {
    padding: 10px 0;
}
body.sitemap ul li ul {margin-left: 25px;}
body.sitemap ul li a {color: black;}
body.sitemap ul li a:hover {text-decoration: underline;}
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.clearfix {
  clear: both;
  display: block;
  content: '';
}
.page-container {
  max-width: 1145px;
  margin: 0 auto;
}
#leftphoto {
  float:left;
  width:35%;
}
#rightdesc{
  float:left;
  width:65%;
}
@media all and (max-width: 440px) {

  #rightdesc{
    width:100%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  article.main div.body p{
    margin-left: 6px;
    margin-right: 6px;
  }
}
#rightdesc p{
  margin-left:8px;
}
.link-box p a {
  font-weight: bold;
  font-size: 22px;
  color: #343fb2;
  text-decoration: underline;
  padding-bottom: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
a:hover {text-decoration: underline;}
i.icons {
  display: inline-block;
  background: url(../../images/frontend/medicreporter/icons.png) no-repeat;
}
i.icons.icon-search {
  width: 14px;
  height: 15px;
}
i.icons.icon-plus {
  width: 16px;
  height: 14px;
  background-position: 0px -16px;
}
i.icons.icon-minus {
  width: 16px;
  height: 14px;
  background-position: -17px -17px;
}
body {
  font-family: 'open_sansregular';
  background: url(../../images/frontend/medicreporter/bg.jpg) repeat-x, url(../../images/frontend/medicreporter/bg2.jpg);
}
h2 {
  color: #161616;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'open_sansbold';
}
h2.line {
  border-bottom: 10px solid #e7e7e7;
  line-height: 0px;
  margin: 14px 0 20px;
}
h2.line span {
  background: white;
  padding-right: 20px;
  position: relative;
  top: 3px;
}
header#main-header {
  padding-top: 14px;
  background: white;
}
header#main-header div.data:after {
  clear: both;
  display: block;
  content: '';
}
header#main-header h1 {
  float: left;
  margin-right: 35px;
}
header#main-header .button {
  float: left;
  margin-top: 25px;
  width: 73px;
  height: 20px;
  background: url(../../build/images/frontend/medicreporter/button.png) no-repeat;
  background: none;
}

header#main-header form {
  display: inline-block;
  max-width: 370px;
  width: 100%;
  margin-left: 55px;
  padding-top: 18px;
}
header#main-header form input {
  border: 1px solid #d7d7d7;
  height: 33px;
  max-width: 325px;
  width: 100%;
  position: relative;
  top: -1px;
  padding: 0 5px;
}
header#main-header form button {
  border: 1px solid #d7d7d7;
  background: #dedede;
  height: 33px;
  width: 39px;
  position: relative;
  left: -4px;
  vertical-align: top;
  top: -1px;
  cursor: pointer;
}
header#main-header div.weather {
  float: right;
}
header#main-header div.weather > div {
  display: inline-block;
  vertical-align: top;
  color: #8f8f8f;
  font-size: 10.53px;
  text-transform: uppercase;
  text-align: center;
  line-height: 29px;
}
header#main-header div.weather > div + div {
  margin-left: 15px;
}
header#main-header div.weather > div span {
  color: #395393;
  font-size: 22.65px;
  font-family: 'open_sansbold';
  position: relative;
  top: -4px;
}
header#main-header nav {
  width: calc(100% - 20px);
  display: block;
  margin: 10px 0 0 10px;
  padding: 0px 10px;
  border-top: 1px solid #f6f6f6;
}
header#main-header nav a {
  color: #676767;
  font-size: 11px;
  font-family: 'open_sanssemibold';
  display: inline-block;
  padding: 12px 20px;
}

header#main-header nav a::after {
  content: "|";
  position: relative;
  left: 25px;
  display: inline-block;
}
header#main-header nav a:last-child::after {
  content: "";
}

header#main-header nav a:hover, header#main-header nav a.active {
  text-decoration: underline;
}
header#main-header nav a.active {
    font-family: 'open_sansbold';
}
header#main-header nav a:first-child {
  padding-left: 0;
}
header#main-header nav a:last-child {
  padding-right: 0;
  border-right: 0;
}

/*MENU ON SUBPAGES*/

.subpage header#main-header nav {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 4px solid #0e3187;
}
.subpage header#main-header nav a:first-child {
  padding-left: 20px;
}
.subpage header#main-header nav a:last-child {
  padding-right: 20px;
}
.subpage header#main-header nav a:hover,
.subpage header#main-header nav a.active {
  border-bottom: 4px solid #3a85d7;
  margin-bottom: -4px;
}

div#slider {
  border-top: 1px solid #caccd4;
    margin-bottom: 30px;
}
div#slider:after {
  clear: both;
  display: block;
  content: '';
}
div#slider div.big {
  float: left;
  max-width: 800px;
}
div#slider div.big a {
  display: block;
  position: relative;
}
div#slider div.big a div.data {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  padding-bottom: 15px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
}
div#slider div.big a div.data span.category {
  background: #f69d10;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 10px;
  font-family: 'open_sanssemibold';
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  position: relative;
}
div#slider div.big a div.data span.category:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #f69d10 transparent transparent transparent;
  content: '';
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
}
div#slider div.big a div.data span.title {
  margin-top: 6px;
  font-size: 38px;
  color: white;
  font-family: 'open_sansbold';
  text-transform: uppercase;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.44);
  display: block;
}
div#slider div.big:hover a div.data span.title {text-decoration: underline;}
div#slider div.big a div.data span.more {
  color: #f69d10;
  font-size: 13px;
  font-family: 'open_sanssemibold';
  float: right;
}
div#slider div.big a div.data p {
  color: white;
  font-size: 15px;
  line-height: 22px;
}
div#slider div.big a div.data hr {
  height: 1px;
  border: 0;
  background: rgba(255, 255, 255, 0.25);
  margin: 16px 0 8px;
}
div#slider ul {
  float: right;
  max-width: 345px;
}
div#slider ul li {
  background: #f7f7f7;
  padding: 8px 14px;
  color: black;
  font-size: 13px;
  font-family: 'open_sanssemibold';
  line-height: 18px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
div#slider ul li:after {
  clear: both;
  display: block;
  content: '';
}
div#slider ul li:first-child {
  padding-top: 7px;
}
div#slider ul li + li {
  margin-top: 1px;
}
div#slider ul li.active {
  background: #3c80cb;
  color: white;
  border: 1px solid #3c80cb;
  position: relative;
  padding-bottom: 9px;
}
div#slider ul li.active img {
  border: 1px solid #3776bb;
}
div#slider ul li.active:before {
  content: '';
  top: 50%;
  left: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22.5px 18px 22.5px 0;
  border-color: transparent #3c80cb transparent transparent;
  position: absolute;
  margin-top: -22px;
}
div#slider ul li img {
  border: 1px solid #e4e4e4;
  vertical-align: top;
  margin-right: 15px;
  float: left;
}
div.rek {
  color: #cccccc;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'open_sansregular';
  text-align: center;
  line-height: 20px;
}
div.rek.rek1 {
  margin: 15px 0 20px;
}
section.block-1:after {
  clear: both;
  display: block;
  content: '';
}
section.block-1 div.category {
  float: left;
  background: white;
  max-width: 350px;
  width: 100%;
  padding: 15px 15px 25px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
}
section.block-1 div.category ul li img {
  border: 1px solid #eaeaea;
  float: left;
  margin-right: 10px;
}
section.block-1 div.category ul li a {
  color: #161616;
  font-size: 13px;
}
section.block-1 div.category ul li a:hover {
  text-decoration: underline;
}
section.block-1 div.category ul li:first-child:after {
  clear: both;
  display: block;
  content: '';
}
section.block-1 div.category ul li:first-child a {
  font-size: 15px;
  line-height: 21px;
  font-family: 'open_sansbold';
}
section.block-1 div.category ul li + li {
  margin-top: 6px;
}
section.block-1 div.category ul li + li:before {
  content: '•';
  font-size: 18px;
  color: #005fba;
  margin-right: 12px;
  position: relative;
  top: 1px;
}
section.block-1 div.articles {
  float: left;
  margin-left: 25px;
}
section.block-1 div.articles:after {
  clear: both;
  display: block;
  content: '';
}
section.block-1 div.articles div.block {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  float: left;
  font-family: 'open_sanssemibold';
  max-width: 254px;
  padding-bottom: 10px;
  position: relative;
  transition: all .5s;
  -webkit-transition: all .5s;
}
section.block-1 div.articles div.block:hover {
    background: #3c80cb;
    transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    -o-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    z-index: 10;
}
section.block-1 div.articles div.block:hover a {color: #f69d10; text-decoration: none;}
section.block-1 div.articles div.block:hover a.title {color: white;}
section.block-1 div.articles div.block:hover div, section.block-1 div.articles div.block:hover div span {color: white;}
section.block-1 div.articles div.block span.new {
  background: #f69d10;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-family: 'open_sanssemibold';
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  position: absolute;
  left: 20px;
  top: 209px;
}
section.block-1 div.articles div.block span.new:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #f69d10 transparent transparent transparent;
  content: '';
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
}
section.block-1 div.articles div.block div a {
  color: #3c80cb;
  font-size: 12px;
  float: right;
  position: relative;
  top: 3px;
}
section.block-1 div.articles div.block a.title {
  float: none;
  font-size: 22px;
  line-height: 29px;
  color: #161616;
  display: block;
  margin: 7px 0 10px;
  top: 0;
  height: 86px;
  overflow: hidden;
}
section.block-1 div.articles div.block div {
  padding: 0 20px;
}
section.block-1 div.articles div.block div span {
  color: #b4b4b4;
  font-size: 11px;
}
section.block-1 div.articles div.block:nth-child(3n + 2) {
  margin: 0px;
  margin-left: 2px;
}
section.block-2 {
  margin-top: 30px;
}
section.block-2:after {
  clear: both;
  display: block;
  content: '';
}
section.block-2 div.rek {
  float: right;
}
section.block-2 div.block {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  padding: 10px 20px;
  float: left;
  max-width: 800px;
  width: 100%;
  position: relative;
}
section.block-2 div.block span.slider-arrow {
  position: absolute;
  width: 17px;
  height: 27px;
  background: url(../../build/images/frontend/medicreporter/slider-arrow.png) no-repeat;
  display: inline-block;
  top: 120px;
  left: 10px;
  cursor: pointer;
}
section.block-2 div.block span.slider-arrow.prev {
  right: 10px;
  left: auto;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
section.block-2 div.block a {
  vertical-align: top;
  display: inline-block;
  max-width: 221px;
  color: #060101;
  line-height: 22px;
  font-family: 'open_sanssemibold';
    transition: all 1s;
  -webkit-transition: all .5s;
}
section.block-2 div.block a:hover {
    transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    -o-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.01, 1.01);
}
section.block-2 div.block a img {
  display: block;
  margin-bottom: 5px;
}
section.block-2 div.block a + a {
  margin-left: 27px;
}
section.block-2 div.block div.container {
  max-width: 731px;
  width: 100%;
  overflow: hidden;
  margin: 12px auto;
}
section.block-2 div.block div.container div.articles-container {
  width: 500%;
  height: 197px;
  padding-left: 4px;
}
footer#main-footer {
  background: #f5f5f5;
  padding: 10px 0;
  position: relative;
  margin-top: 30px;
}

footer#main-footer div.page-container > a {vertical-align: top;}
footer#main-footer div.page-container > a:first-child {margin-right: 3px;}
footer#main-footer div.page-container > a:nth-child(2) {position: relative; top: 11px;}
footer#main-footer div.page-container > a:nth-child(3) {left: 3px; position: relative; top: 12px;}

footer#main-footer:after {
  clear: both;
  display: block;
  content: '';
}
footer#main-footer:before {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  display: block;
  content: '';
  height: 1px;
  background: rgba(136, 136, 136, 0.1);
}
footer#main-footer a {
  display: inline-block;
}
footer#main-footer nav {
  float: right;
  padding-top: 9px;
}
footer#main-footer nav a {
  font-family: 'denseregular';
  color: #bebebe;
  font-size: 24px;
  padding: 0 20px;
  border-right: 1px solid #bebebe;
}
footer#main-footer nav a:last-child {
  padding-right: 0;
  border-right: 0;
}
footer#main-footer hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #d9d9d9;
}
footer#main-footer div.copy {
  color: #cdcdcd;
  text-transform: uppercase;
  font-size: 11px;
}
footer#main-footer div.copy ul {
  float: right;
}
footer#main-footer div.copy ul a {
  color: #cdcdcd;
}
footer#main-footer div.copy ul li {
  display: inline;
  padding-left: 20px;
}
div.page-view:after {
  clear: both;
  display: block;
  content: '';
}
div.page-view div.left-side {
  float: left;
  max-width: 800px;
}
div.page-view div.left-side div.slider {
  margin-bottom: 30px;
}
div.page-view div.left-side div#slider div.big a div.data {
  padding: 0 23px 0px;
}
div.page-view div.left-side div#slider div.big a div.data span.more {
  position: relative;
  top: -12px;
}
div.page-view div.left-side section.block-1 div.articles {
  margin-left: 0;
  width: 100%;
  max-width: 100%;
}
div.page-view div.left-side section.block-1 div.articles div.block {
  max-width: 265px;
  margin-bottom: 20px;
}
div.page-view aside {
  float: right;
  max-width: 300px;
  width: 100%;
}
div.page-view aside div.block {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  padding: 10px 20px;
  margin: 25px 0;
}
div.page-view aside div.block:first-child {margin-top: 0;}
div.page-view aside div.block ul li {
  position: relative;
  padding-left: 50px;
  display: block;
  min-height: 38px;
}
div.page-view aside div.block ul li a {
  font-size: 13px;
  line-height: 20px;
  color: #161616;
}
div.page-view aside div.block ul li + li {
  margin-top: 20px;
}
div.page-view aside div.block ul li span {
  background: #dddddd;
  color: white;
  font-size: 12px;
  font-family: 'open_sanssemibold';
  padding: 13px 4px;
  position: absolute;
  top: 0;
  left: 0;
}
article.main {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
}
article.main header figure {
  position: relative;
}
article.main header figure figcaption {
  position: absolute;
  bottom: 2px;
  right: 0;
  background: #e5e5e5;
  padding: 8px 10px;
  font-size: 11px;
  color: #777777;
}
article.main header h1 {
  font-size: 38px;
  line-height: 44px;
  font-family: 'open_sansbold';
  padding: 10px 20px;
}
article.main .meta {
  padding: 0 20px;
  font-size: 12px;
  color: #b9b9bb;
}
article.main .meta div {
  margin-right: 5px;
  display: inline-block;
}
article.main .meta div.fb-like,
article.main .meta div.social-button {
  position: relative;
  top: 5px;
}
article.main header p {
  padding: 0 20px;
  font-size: 14px;
  line-height: 26px;
  font-family: 'open_sansbold';
  margin: 20px 0 15px;
}
article.main div.body {
  padding: 0 20px;
}
article.main div.body b {
  font-family: 'open_sansbold';
}
article.main div.body p, article.main div.body {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 24px;
}
article.main div.body h2 {
  font-size: 18px;
  text-transform: none;
  margin-bottom: 15px;
    margin-top: 20px;
}
article.main div.body span.author {
  font-size: 13px;
  font-style: italic;
  color: #b9b9bb;
}
h3 {
  font-size: 20px;
  font-family: 'open_sansbold';
  margin-bottom: 20px;
}
section.more {
  border-bottom: 1px solid #e2e2e2;
  padding: 15px 0 25px;
  margin: 30px 20px 15px;
}
section.more:after {
  clear: both;
  display: block;
  content: '';
}
section.more a {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
section.more a figure:after {
  clear: both;
  display: block;
  content: '';
}
section.more a figure img {
  float: left;
  margin-right: 15px;
  display: block;
  margin-bottom: 5px;
}
section.more a figure figcaption {
  font-size: 13px;
  font-family: 'open_sansregular';
  color: black;
  line-height: 17px;
}
section.more a + a {
  margin-left: 20px;
}
section.comments {
  padding: 0 20px 20px;
}
section.comments input {
  height: 33px;
  padding: 0 5px;
  width: 30%;
  margin-bottom: 30px;
}
section.comments input[type=submit] {
  float: right;
  color: white;
  background: #3fe4ba;
  width: auto;
  padding: 0 20px;
  cursor: pointer;
}
section.comments textarea {
  padding: 5px;
  min-height: 142px;
  margin-bottom: 15px;
  width: 100%;
}
section.comments textarea,
section.comments input {
  font-family: 'open_sansregular';
  font-size: 12px;
  border: 1px solid #dedede;
}
section.comments div.comment {
  margin-bottom: 20px;
}
section.comments div.comment div.title {
  font-size: 12px;
  color: #90edd0;
  font-family: 'open_sansregular';
  margin-bottom: 5px;
}
section.comments div.comment div.title span {
  color: #90edd0;
  font-style: italic;
}
section.comments div.comment p {
  font-size: 12px;
  line-height: 20px;
}
section.comments div.comment div.bottom {
  margin-top: 5px;
  font-size: 12px;
  color: #4d4d4d;
  font-style: italic;
}
section.comments div.comment div.bottom a {
  font-style: normal;
  font-family: 'open_sansbold';
}
section.comments div.comment div.bottom a i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
section.comments div.comment div.bottom a.add-plus {
  color: #00a651;
  margin-left: 20px;
  margin-right: 10px;
}
section.comments div.comment div.bottom a.add-minus {
  color: #d8011a;
}

div.pagination {
    text-align: center;
}
div.pagination strong, div.pagination a {
    background: white;
    border: 1px solid #ddd;
    padding: 7px;
    margin: 0 2px;
    font-size: 13px;
    color: black;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    display: inline-block;
}

ul.pagination li {
    display: inline;
}
div.pagination strong {
    background: #eee;
}

p.info_message {
    background: #004385 none repeat scroll 0 0;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
}

div.page-view.static div.left-side {
    max-width: 100%;
    width: 100%;
}
div.page-view.static div.left-side .block:nth-last-child(2) {
    border-bottom: 0px;
}
div.page-view.static div.left-side article.main {
  padding: 30px;    
}
div.page-view.static div.left-side article.main p, div.page-view.static div.left-side article.main ul li {
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
}
div.page-view.static div.left-side article.main b {
    display: block;
    font-family: open_sansbold;
    margin-top: 20px;
}
div.page-view.static div.left-side article.main ul li {margin-top: 13px;}
div.page-view.static div.left-side article.main ul {
  margin-left: 25px;
}
div.page-view.static div.left-side article.main h1 {
  font-family: "open_sansbold";
    font-size: 38px;
}

div.page-view.static form {
  margin-top: 25px;
  max-width: 462px;
}
div.page-view.static form p.validation_error {
  margin-top: 0 !important;
  margin-bottom: 5px;
  font-size: 12px;
  color: red;
}
div.page-view.static form::after {
  clear: both;
  content: "";
  display: block;
}
div.page-view.static form label {
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
}
div.page-view.static form input,
div.page-view.static form select {
  height: 33px;
  padding: 0 5px;
}
div.page-view.static form textarea {
  min-height: 150px;
  padding: 5px;
}
div.page-view.static form input,
div.page-view.static form textarea,
div.page-view.static form select {
  margin-bottom: 15px;
  border: 1px solid #b3b3b3;
  width: 100%;
  font-family: 'open_sansregular';
  font-size: 13px;
}
div.page-view.static form input[type=submit] {
  background: #004385;
  color: white;
  font-size: 13px;
  padding: 4px 20px;
  float: right;
  width: auto;
  cursor: pointer;
}

div.search {
    padding: 30px;
    background: white none repeat scroll 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
}
div.search div.block {
    
}
div.search div.block a.title {
    color: black;
    font-family: "open_sansbold";
    font-size: 16px;
    line-height: 26px;
    display: block;
}
div.search div.block p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
}
div.search div.block div {
    font-size: 11px;
    color: #b4b4b4;
}
div.search div.big {
    font-family: "open_sansbold";
    font-size: 26px;
    line-height: 38px;
}
div.search div.block div a {color: #3c80cb; margin-left: 10px;}
div.search div.block {
    margin-top: 25px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 25px;
}
div.cookie_bar {
    background: white none repeat scroll 0 0;
    border-top: 1px solid silver;
    bottom: 0;
    font-size: 11px;
    left: 0;
    line-height: 15px;
    padding: 11px 0;
    position: fixed;
    right: 0;
    width: 100%;
}
div.cookie_bar a {color: #3c80cb;}
div.cookie_bar div.page-container {position: relative;}
div.cookie_bar span {
    position: absolute;
    right: 0;
    top: -11px;
    cursor: pointer;
    background: #bebebe url("../../images/close-icon.png") no-repeat scroll center center;
    float: right;
    height: 19px;
    width: 19px;
}

ol.breadcrumb {
    display: block;
    margin: 0px 0 0px;
    padding: 0 15px;
    background: white;
    border-top: 5px solid #00deab;
}
ol.breadcrumb li {
    display: inline;
    font-size: 11px;
    color: #777777;
}
ol.breadcrumb li::after {
    content: ">";
    padding: 0 6px;
}
ol.breadcrumb li:last-child a {color: #a8a8a8}
ol.breadcrumb li:last-child:after {display: none;}
ol.breadcrumb li a {color: #676767;}
ol.breadcrumb li span{font-weight: bold; color: #252525;}
ol.breadcrumb li a span{font-weight: bold; color: #252525;}

p.error {
    background: darkred none repeat scroll 0 0;
    color: white;
    padding: 5px;
}
p.success {
    background: green none repeat scroll 0 0;
    color: white;
    padding: 5px;
}

span#top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 0;
    height: 0;
    width: 38px;
    height: 38px;
    background: url(../../images/top.png) no-repeat;
    float: right;
    cursor: pointer;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(206,206,206,0.8);
}

#popup .window {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 360px;
  padding: 20px;

  text-align: center;

  border: 1px solid rgba(255,255,255,0.7);
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

#popup .window h1 {
  font-family: 'open_sansbold';
  font-size: 20px;
  color: #003366;
}

#popup .window p {
    font-family: 'open_sansregular';
    font-size: 14px;
    line-height: 1.3em;
    color: #3a85d7;
    margin: 15px 0;
}

#popup .window .close {
  background: #004385;
  border: none;
    padding: 8px 18px;
    color: white;
}

body.sitemap {
    background: url(../../images/frontend/medicreporter/bg2.jpg);
    padding: 50px;
}
body.sitemap h1 {
    font-family: open_sansbold;
    font-size: 40px;
    margin-bottom: 37px;
}
body.sitemap ul li {
    padding: 10px 0;
}
body.sitemap ul li ul {margin-left: 25px;}
body.sitemap ul li a {color: black;}
body.sitemap ul li a:hover {text-decoration: underline;}

div.error_404 {padding: 45px 0 0}
div.error_404 h2 {margin: 35px 0 12px}
div.error_404 a {margin-top: 46px; display: inline-block; text-transform: uppercase; color: #0048ff; font-size: 20px; font-family: 'open_sansbold'}

button#toggle-menu {display: none;}

@media all and (max-width: 800px) {
	.page-container {padding: 0 15px;}
	
	/*
	 * HEADER
	 */
	header#main-header::after, div#slider ul::after, section.block-1 div.category ul::after {clear: both; display: block; content: ''}
	header#main-header {padding: 14px 0;}
	header#main-header form {display: none;}
	header#main-header .button {display: none;}
	header#main-header div.data {float: left;}
	header#main-header div.data h1 {margin: 0;}
	header#main-header nav {
		float: right;
		position: absolute;
		right: 0;
		background: white;
		padding: 15px;
		z-index: 9999;
		width: 21%;
		display: none;
		top: 90px;
	}
	header#main-header nav.active {display: block !important; width: 120px;}
	header#main-header nav a::after {display: none;}
	header#main-header nav a {display: block; padding: 12px 0}
	
	button#toggle-menu {display: inline-block; position: relative; float: right; width: 40px; height: 33px; background: 0; padding: 0; border: 0; cursor: pointer; margin-top: 19px; margin-right: 18px;}
	button#toggle-menu span {position: absolute; display: block; height: 7px; width: 100%; background: #dadada; left: 0; right: 0; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s}
	button#toggle-menu span:first-child {top: 0;}
	button#toggle-menu span:nth-child(2) {top: 13px;}
	button#toggle-menu span:last-child {bottom: 0;}
	
	button#toggle-menu.active span:first-child {
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		top: 13px;
	}
	button#toggle-menu.active span:nth-child(2) {opacity: 0;}
	button#toggle-menu.active span:last-child {
		transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		bottom: 13px;
	}
	
	/*
	 * SLIDER
	 */
	div#slider div.big {max-width: 100%; float: none; display: block;}
	div#slider div.big a div.data {bottom: 5px;}
	div#slider ul {max-width: 100%; float: none; display: block; margin-top: 3px;}
	div#slider ul li {float: left; width: 50%;}
	div#slider ul li:first-child {padding-top: 8px;}
	div#slider ul li:first-child.active {padding-top: 7px;}
	div#slider ul li + li {margin-top: 0;}
	div#slider ul li.active::before {display: none;}
	section.block-2 div.block a + a {margin-left: 11px;}
	section.block-2 div.block span.slider-arrow.prev {
		right: 0;
		-webkit-border-top-right-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		-moz-border-radius-topright: 8px;
		-moz-border-radius-bottomright: 8px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	section.block-2 div.block span.slider-arrow {
		background: white url("../../build/images/frontend/medicreporter/slider-arrow.png") no-repeat scroll center center;
		height: 45px;
		width: 30px;
		border: 1px solid #e8e8e8;
		z-index: 9999;
		left: 0;
		-webkit-border-top-right-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		-moz-border-radius-topright: 8px;
		-moz-border-radius-bottomright: 8px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	
	section.block-1 div.category {float: none; display: block; max-width: 100%; width: auto; padding: 15px;}
	section.block-1 div.category ul li:first-child {float: left; max-width: 335px}
	section.block-1 div.category ul li:first-child a img {width: 100%; margin-right: 0; margin-bottom: 5px;}
	section.block-1 div.category ul li:nth-child(2) {margin-top: 0;}
	section.block-1 div.category ul li + li {float: right; max-width: 48%; text-align: left; width: 100%;}
	
	section.block-1 div.articles {margin-left: 0; float: none; width: auto; max-width: 100%; margin-top: 25px;}
	section.block-1 div.articles div.block {max-width: 33.154% !important;}
	
	section.block-2 div.block {width: auto; max-width: 100%}
	
	footer#main-footer nav {display: none;}
	
	/*
	 * CATEGORY
	 */
	div.page-view div.left-side {float: none; max-width: none; width: 100%;}
	div#slider div.big a div.data {bottom: 0;}
	div.page-view aside {float: none; max-width: none; width: 100%;}
	div.page-view div.left-side section.block-1 div.articles div.block {max-width: none;}
	div.pagination {margin-bottom: 25px;}
	ol.breadcrumb {padding: 0px;}
	div.page-view aside div.block ul li {display: inline-block; vertical-align: top; width: 42%; margin-bottom: 20px;}
	div.page-view aside div.block ul li + li {margin-top: 0;}
	
	.subpage header#main-header nav a:first-child {padding-left: 0;}
	
} 

@media all and (max-width: 640px) {
	div#slider div.big a div.data span.title {font-size: 29px;}
	div#slider div.big a div.data p {font-size: 13px; line-height: 18px;}
	div#slider ul li {width: 50%}
	
	section.block-1 div.category ul li:first-child {max-width: 49%;}
	section.block-1 div.articles div.block div {padding: 0 10px;}
	section.block-1 div.articles div.block a.title {font-size: 18px; line-height: 26px;}
	section.block-1 div.articles div.block {max-width: 33.11% !important;}
	
	section.block-2 div.block a {max-width: 179px;}
	section.block-2 div.block div.container div.articles-container {height: 170px;}
	
	/*
	 * CATEGORY
	 */
	div.page-view aside div.block ul li {width: 40%;}
}

@media all and (max-width: 600px) {
	div#slider ul li {width: 50%; overflow: hidden;}
	
	section.block-1 div.category ul li:first-child {max-width: 40%;}
	section.block-1 div.category ul li + li {max-width: 56%;}
	
	section.block-1 div.articles div.block {max-width: 33.1% !important;}
	
	section.block-2 div.block a {max-width: 165px;}
	section.block-2 div.block div.container div.articles-container {height: 180px;}
	
	footer#main-footer div.copy ul {float: none; width: 100%; display: block; margin-top: 10px;}
	footer#main-footer div.copy ul li:first-child {padding-left: 0;}
}

@media all and (max-width: 480px) {
	
	header#main-header div.data {max-width: 45%;}
	header#main-header h1 {width: 100%;}
	button#toggle-menu {margin-top: 11px;}
	header#main-header nav {top: 63px; padding: 0 15px;}
	header#main-header nav a {padding: 9px 0;}
	
	div#slider div.big a div.data span.title {font-size: 16px;}
	div#slider div.big a div.data p {font-size: 10px; line-height: 13px;}
	div#slider div.big a div.data hr {margin: 9px 0 2px;}
	div#slider div.big a div.data span.more {font-size: 10px;}
	div#slider div.big a div.data {padding: 0 17px 2px;}
	div#slider div.big a div.data span.category {font-size: 9px;}
	div#slider ul li {width: 50%; padding: 8px 6px; font-size: 12px; line-height: 15px;}
	div#slider ul li img {margin-right: 7px;}
	
	section.block-1 div.articles div.block:last-child {display: none;}
	section.block-1 div.articles div.block {max-width: 49.5% !important;}
	
	section.block-2 div.block a {max-width: 187px;}
	section.block-2 div.block a + a {margin-left: 28px;}
	
	/*
	 * CATEGORY
	 */
	div.page-view aside div.block ul li {width: auto; }
	section.more a {width: 44%;}
	section.more a:nth-child(n + 4) {display: none;}
	
	article.main div.body {padding: 0 10px;}
	article.main header p {padding: 0 10px;}
	article.main .meta {padding: 0 10px;}
	article.main header h1 {padding: 10px;}
	section.more {margin: 30px 10px 15px;}
	section.more a {width: 40%;}
	section.comments {padding: 0 10px 20px;}
}

@media all and (max-width: 360px) {
	
	header#main-header div.data {max-width: 59%;}
	header#main-header nav {top: 70px; width: 35%;}
	
	button#toggle-menu {width: 32px; height: 22px; margin-top: 15px;}
	button#toggle-menu span {height: 4px;}
	button#toggle-menu span:nth-child(2) {top: 9px;}
	button#toggle-menu.active span:last-child {bottom: 8px;}
	button#toggle-menu.active span:first-child {top: 10px;}
	
	div#slider ul li {max-width: 100%; display: block; width: auto;}
	div#slider div.big a div.data p {display: none;}
	
	div#slider ul li img {max-width: 55px;}
	div#slider ul li {height: auto;}
	
	section.block-1 div.category ul li:nth-child(n + 6) {display: none;}
	section.block-1 div.articles div.block {max-width: 49.3% !important;}
	
	section.block-2 div.block a {max-width: 136px; font-size: 14px; line-height: 17px;}
	section.block-2 div.block div.container div.articles-container {height: 126px;}
	section.block-2 div.block span.slider-arrow {top: 86px;}
	section.block-2 div.block a + a {margin-left: 10px;}
	
	article.main header h1 {font-size: 27px; line-height: 30px;}
	section.more a {width: 45%;}
	section.comments textarea {height: 100px;}
}

@media all and (max-width: 320px) {
	section.block-2 div.block a {max-width: 128px;}
	section.block-2 div.block a + a {margin-left: 5px;}
	section.block-2 div.block {padding: 10px 11px;}
	section.block-2 div.block span.slider-arrow {left: 0px; top: 99px;}
	section.block-2 div.block span.slider-arrow.prev {left: auto; right: 0px;}
	header#main-header nav {top: 64px;}
}

.promo-text {
    display: inline-block;
    float: right;
    border: 1px solid #CBCBCB;
    color: #CBCBCB;
    font-size: 11px !important;
    padding: 0px 5px;
    line-height: 21px !important;
}
.footer-logo {
    height: 43px;
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
body.hallu div.page-container #main-header div.data div
{
padding-top: 20px;
}
body.hallu div.page-container #main-header div.data div p.facebook-like-box
{
background: transparent url(../../images/face-icon.png) no-repeat scroll 0px center;
 float: right;
 font-family: Tahoma,sans-serif;
 font-size: 11px;height: 26px;
 line-height: 26px;
 margin-left: 10px;
 padding-left: 17px;
 margin-bottom: 25px;
 padding-bottom: 0px;
 margin-right: 20px;
}
body.hallu div.page-container #main-header div.data div span.facebook-like-box
{
background-color: #EEF1FA; 
border: 1px solid #D0D1E3; 
border-radius: 3px; 
float: right; 
height: 24px; 
padding-right: 3px;
}
body.hallu div.page-container #main-header div.data div span.facebook-like-box a
{
color: #5A6BBB; 
display: block; 
font-family: Tahoma,sans-serif; 
font-size: 11px; 
height: 24px; 
padding-left: 23px; 
line-height: 24px; 
background: transparent url(../../images/like.png) no-repeat scroll 6px center;
}
body.hallu div.page-container #main-header div.data h1.logo img
{
height: 69px;
}
body.hallu div.page-view h1
{
margin-top: 20px;
 margin-bottom: 10px;
font-size: 40.35px;
color: #333; 
font-family: open_sanssemibold; 
line-height: 50px;
}
body.hallu div.page-view div.left-side article.main header figure
{
margin-right:20px;
}
body.hallu div.page-view div.left-side article.main header figure img
{
width: 100%;
}
body.hallu div.page-view div.left-side article.main header figure figcaption
{
font-size: 12px; 
line-height: 18px; 
width: 100%; 
color: #777; 
padding: 10px 20px;
}
body.hallu div.page-view div.left-side article.main div.body p b.b-lead
{
color: #000;
font-family: open_sansbold;
font-size: 18px;
line-height: 25px;
}
body.hallu div.page-view div.left-side article.main div.body p.quotation
{
border-left: 10px solid #f5f5f5;
padding-left:20px;
font-style: italic;
}
body.hallu div.page-view div.left-side article.main div.body a
{
font-family: open_sanssemibold;
font-size: 18px;
text-decoration: underline;
line-height: 43px;

}
body.hallu div.page-view div.left-side article.main div.body p.red
{
color: #ff0000;
border-bottom: 1px solid #DEDEDE;
padding-bottom: 25px;
}
body.hallu section.comments
{
padding: 20px 0;
}
body.hallu p.data-publish
{
color: #c7c7c7;
font-size: 12px;
margin-bottom: 20px;
}
body.hallu
{
  background: url(../../build/images/frontend/medicreporter/bg3.jpg) repeat-x, url(../../images/frontend/medicreporter/bg2.jpg);
}





body.hallu-pro-v2 .banner {
    margin-bottom: 35px;
}
body.hallu-pro-v2 .banner figure {
    position: relative;
}
body.hallu-pro-v2 .banner figure img {
    width: 100%;
}
body.hallu-pro-v2 .banner figure figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #777777;
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: rgba(229,229,229,0.9);
    padding: 10px 30px; 
}
body.hallu-pro-v2 aside #facebook-box{
	width: 300px;
	height: 265px;
	border: 1px solid #ababab;
	border-top: 1px solid #345e9a;
	margin: 25px auto 25px;
	position: relative;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-1{
	position: absolute;
	width: 56px;
	height: 56px;
	background: url(../../images/facebook-icon.png) no-repeat  0 0 scroll transparent;
	z-index: 10;
	left: 4px;
	top: 4px;
}
body.hallu-pro-v2 aside img.img{
	display: block;
	margin-bottom: 25px;
	display: block;
}
body.hallu-pro-v2 aside a.img{
	display: block;
	margin-bottom: 20px;
}
body.hallu-pro-v2 aside #inpl-weather-main{
	border: 1px solid #d4d4d4;
	margin-bottom: 20px;
}
body.hallu-pro-v2 aside #facebook-box{
	width: 300px;
	height: 265px;
	border: 1px solid #ababab;
	border-top: 1px solid #345e9a;
	margin: 0px 0 25px;
	position: relative;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-2{
	width: 190px;
	height: 60px;
	position: absolute;
	left: 65px;
	top: 13px;
	z-index: 20;
	background: #ffffff;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-2 a{
	color: #3d58a7;
	font-size: 12px;
	font-family: Tahoma, sans-serif;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 10px;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-2 a:hover{
	color: #3d58a7;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-1 a{
	display: block;
	height: 56px;
	width: 56px;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-3{
	height: 22px;
	position: absolute;
	left: 67px;
	top: 35px;
	z-index: 30;
	background: #3e59a6;
	border: 1px solid #7786bd;
	border-radius: 3px;
	padding-right: 5px;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-3:hover{
	background: #4b68b7;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-4{
	width: 280px;
	height: 30px;
	position: absolute;
	left: 10px;
	top: 75px;
	z-index: 40;
	background: #ffffff;
		border-top: 1px solid #ABABAB;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-4 p{
	float: left;
	font-family: Tahoma, sans-serif;
	line-height: 30px;
	padding-left: 0px;
	font-size: 11px;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-4 p a{
	color: #3d58a7;
	font-family: Tahoma, sans-serif;
	text-decoration: none;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-4 p a:hover{
	color: #3d58a7;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-3 a{
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 22px;
	background: url(../../images/facebook-icon-1.png) no-repeat 5px center scroll transparent;
	padding-left: 24px;
	height: 22px;
	display: block;
	text-decoration: none;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-5{
	width: 262px;
	height: 103px;
	background: url(../../images/face-bg.jpg) no-repeat 0 0 scroll transparent;
	position: absolute;
	top: 115px;
	left: 10px;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-6{
	position: absolute;
	top: 240px;
	left: 10px;
	border-top: 1px solid #ABABAB;
	padding-top: 5px;
	width: 280px;
}
body.hallu-pro-v2 aside #facebook-box .ribbon-6 a{
		font-family: Tahoma, sans-serif;
		font-size: 11px;
		color: #777;
		background: url(../../images/like-2.png) no-repeat 0 center scroll transparent;
		height: 12px;
		line-height: 12px;
		padding-left: 20px;
		text-decoration: none;
		display: block;
		
}
.yellowbg{
  background: yellow;
}
body.hallu-pro-v2 article h3 {
	margin-bottom: 12px;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	line-height: 1.2;
	text-decoration: underline;
}
body.hallu-pro-v2 .yellow-span {
    background-color: yellow;
}
body.hallu-pro-v2 div.page-view div.left-side article.main div.body p b {
    font-size: 14px;
    line-height: normal;
}
body.hallu-pro-v2 .box-2{
	width: 664px;
	height: 273px;
	margin-bottom: 25px;
}
body.hallu-pro-v2 .box-2.box-2-pl {
	background: url(../../images/box-2.jpg) no-repeat 0 0 scroll transparent !important;
}
body.hallu-pro-v2 .box-2.box-2-2 {
	background: url(../../images/box-2-2.jpg) no-repeat 0 0 scroll transparent !important;
}
body.hallu-pro-v2 .box-2 p{
	padding: 0;
	margin: 0;
	width: 450px;
	line-height: 1.5;
	font-size: 13px;
	color: #555555;
	font-family: Tahoma, sans-serif;
	padding-top: 20px;
	margin-left: 20px;
	font-style: italic;
}
body.hallu-pro-v2 .box-2 span{
	font-size: 11px;
	color: #333333;
	font-family: Tahoma, sans-serif;
	width: 137px;
	display: block;
	line-height: 1.2;
	margin-left: 507px;
	margin-top: 38px;
	font-style: italic;
	text-align: center;
}
body.hallu-pro-v2 .box-2-1 {
}
body.hallu-pro-v2 .box-2-1 p{
	margin-left: 182px;

}
body.hallu-pro-v2 .box-2-1 span{
	margin-left: 15px;
}
body.hallu-pro-v2 div.page-view div.left-side aside {
    padding-left: 0px;
    margin-right: 20px;
    float: left;
}
body.hallu-pro-v2 article.main {
    max-width: 650px;
}
body.hallu-pro-v2 article.main div.body {
    padding-right: 62px;
}
body.hallu-pro-v2 div.link-box {
	margin-bottom: 50px;
	border: 2px dashed #5893d2;
	padding: 15px;
	text-align: center;
	cursor: auto;
	width: 664px;
}
body.hallu-pro-v2 div.link-box p:first-child {
	background-color: yellow;
	padding: 5px 0px;
	font-size: 18.61px !important;
}
body.hallu-pro-v2 div.link-box p:nth-child(2) {
	padding: 8px 10px;
	margin-bottom: 0px;
}
body.hallu-pro-v2 div.link-box p:nth-child(3) {
	margin-bottom: 0px;
}
body.hallu-pro-v2 section.comments {
    width: 664px;
}
body.hallu-pro-v2 .comment-reply {
    margin-left: 60px;
}
@media (min-width: 990px) {
    body.hallu-pro-v2 article.main {
    max-width: 746px;
}
}
/*-----------PAGE CONTAINER---------------------*/
@media (max-width: 1161px){
    .page-container {
        max-width: 800px;
    }
}
/*----------------HEADER - LOGO - FB - SEARCH---------------------*/
@media (min-width: 801px) and (max-width: 1161px ){
    header#main-header h1{
        margin-right: 10px;
    }
    header#main-header form {
        margin-left: 55px;
    }
}
/*----------------BANER-SLIDER---------------------*/
@media (min-width: 481px) and (max-width: 575px){
    div#slider div.big a div.data span.title {
        font-size: 18px;
    }
    div#slider div.big a div.data p {
        line-height: 16px;
    }
    div#slider div.big a div.data hr {
        margin-top: 11px;
    }
    div#slider div.big a div.data span.more {
        margin-top: 3px;
    }
}
/*----------------SLIDER-THUMBNAILS---------------------*/
@media (min-width: 361px) and (max-width: 400px){
    div#slider ul li {height: 145px;}
}
@media (min-width: 401px) and (max-width: 450px ){
    div#slider ul li {height: 115px;}
}
@media (min-width: 451px) and (max-width: 480px ){
    div#slider ul li {height: 125px;}
}
@media (min-width: 481px) and (max-width: 520px ){
    div#slider ul li {height: 130px;}
}
@media (min-width: 521px) and (max-width: 640px ){
    div#slider ul li {height: 108px;}
}
@media (min-width: 801px) and (max-width: 1161px){
    div#slider ul {
        max-width: 100%;
        float: none;
        display: block;
        margin-top: 3px;
    }
    div#slider ul li {
        float: left;
        min-width: 50%;
        width: 50%;
    }
}
/*----------------CATEGORY---------------------*/
@media (min-width: 801px) and (max-width: 1161px){
    section.block-1 div.category {
        float: none;
        display: block;
        max-width: 100%;
        width: auto;
        padding: 15px;
        margin-bottom: 30px;
    }
    
    section.block-1 div.category ul li:first-child {
        float: left;
        max-width: 335px;
    }
    
    section.block-1 div.category ul li:first-child a img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;

    }
    
    section.block-1 div.category ul li:nth-child(2) {
        margin-top: 0;
    }
    section.block-1 div.category ul li + li {
        max-width: 48%;
        text-align: left;
        width: 100%;
        float: right;
    }
    header#main-header::after, div#slider ul::after, section.block-1 div.category ul::after {
        clear: both;
        display: block;
        content: '';
    }
    section.block-1 div.articles {
        margin-left: 0px;
    }
    section.block-1 div.articles div.block:nth-child(3n + 2){
        margin-left: 19px;
    }
    section.block-1 div.articles div.block:nth-child(3n + 3){
        margin-left: 19px;
    }
}
@media (min-width: 801px) and (max-width: 835px){
    section.block-1 div.articles div.block:nth-child(3n + 2){
        margin-left: 8px;
    }
    section.block-1 div.articles div.block:nth-child(3n + 3){
        margin-left: 10px;
    }
}
@media (min-width: 1162px){
    section.block-1 div.category {
        min-height: 352px;
    }
}


/*---------------------------PODSTRONA---------------------------*/
@media (min-width: 801px) and (max-width: 1161px){
    div.page-view div.left-side section.block-1 div.articles div.block:nth-child(3n + 2),
    div.page-view div.left-side section.block-1 div.articles div.block:nth-child(3n + 3) {
        margin-left: 2px;
    }
}
@media (min-width: 801px) and (max-width: 823px){
    div.page-view div.left-side section.block-1 div.articles div.block{
        max-width: 260px;
    }
    div.page-view div.left-side section.block-1 div.articles div.block:nth-child(3n + 2),
    div.page-view div.left-side section.block-1 div.articles div.block:nth-child(3n + 3) {
        margin-left: 2px;
    }
}
/*---------------------------PODSTRONA - POPULARNE---------------------------*/
@media (min-width: 801px) and (max-width: 1161px){
    div.page-view aside {
        float: none;
        max-width: none;
        width: 100%;
    }
    div.page-view aside div.block ul li {
        display: inline-block;
        vertical-align: top;
        width: 42%;
        margin-bottom: 20px;
    }
    div.page-view div.left-side {
        float: none;
        max-width: none;
        width: 100%;
    }
    div.pagination {
        margin-bottom: 25px;
    }
}
/*---------------------------PODSTRONA - KONTAKT---------------------------*/

div.page-view.static form {
    width: 100% !important;
}
@media (max-width: 310px){
    article.main.contact iframe{
        transform: scale(0.6);
        margin-left: -61px;
    }
}
@media (min-width: 311px) and (max-width: 410px){
    article.main.contact iframe{
        transform: scale(0.75);
        margin-left: -39px;
    }
}
article.main.contact .contact-info-wrapper img{
    margin-top: 40px;
    margin-left: 40px;
}
@media (max-width: 1161px){
    article.main.contact .contact-info-wrapper {
        width: 250px;
        overflow: hidden;
    }
    article.main.contact .contact-info-wrapper img{
        width: 250px;
        margin-left: -5px;
    }
}
/*---------------------------NEWSLETTER - SECTION---------------------------*/
.newsletter-page-container {
    min-height: 73px;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
    padding: 10px 20px;
    max-width: 1145px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.newsletter-page-container::after{
    clear: both;
    display: block;
    content: '';
}
.newsletter-page-container .newsletter-image-wrapper {
    float: left;
    margin-top: 8px;
    margin-right: 38px;
}
.newsletter-page-container .newsletter-text-wrapper {
    float: left;
    max-width: 355px;
    margin-top: 11px;
}
.newsletter-page-container .newsletter-text-wrapper p {
    font-weight: bold;
}
.newsletter-page-container .newsletter-form-wrapper {
    float: left;
    margin-top: 10px;
}
.newsletter-page-container .newsletter-form-wrapper .form-group input{
    width: 430px;
    font-size: 15px;
    box-sizing: border-box;
    height: 32px;
    border: 1px solid #dedede;
    color: #dedede;
    padding-left: 30px;
    font-family: 'open_sansregular';
    margin-right: 30px;
}
.newsletter-page-container .newsletter-form-wrapper .form-group button {
    box-sizing: border-box;
    width: 156px;
    height: 32px;
    color: white;
    background-color: #3c80cb;
    font-weight: bold;
    font-family: 'open_sansregular';
    font-size: 14px;
    cursor: pointer;
    border: 0px;
}
@media (max-width: 450px){
    .newsletter-page-container .newsletter-image-wrapper {
        float: left;
        margin-top: 8px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }
    .newsletter-page-container .newsletter-text-wrapper {
        float: left;
        width: 100%;
        max-width: 100%;
        margin-top: 11px;
        text-align: center;
    }
    .newsletter-page-container .newsletter-form-wrapper {
        width: 100%;
    }
    .newsletter-page-container .newsletter-form-wrapper .form-group input{
        width: 100%;
        font-size: 12px;
        box-sizing: border-box;
        height: 32px;
        border: 1px solid #dedede;
        color: #dedede;
        padding-left: 5px;
        font-family: 'open_sansregular';
        margin-right: 0px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .newsletter-page-container .newsletter-form-wrapper .form-group input::-webkit-input-placeholder {
       color: #dedede;
       font-size: 12px;
    }
    
    .newsletter-page-container .newsletter-form-wrapper .form-group input:-moz-placeholder { /* Firefox 18- */
       color: #dedede;
       font-size: 12px;
    }
    
    .newsletter-page-container .newsletter-form-wrapper .form-group input::-moz-placeholder {  /* Firefox 19+ */
       color: #dedede;
       font-size: 12px;
    }
    
    .newsletter-page-container .newsletter-form-wrapper .form-group input:-ms-input-placeholder {  
       color: #dedede;
       font-size: 12px;
    }
    .newsletter-page-container .newsletter-form-wrapper .form-group {
        text-align: center;
    }
}
@media (min-width: 451px) and (max-width: 553px){
    .newsletter-page-container .newsletter-image-wrapper {
        float: left;
        margin-top: 8px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }
    .newsletter-page-container .newsletter-text-wrapper {
        float: left;
        width: 100%;
        max-width: 100%;
        margin-top: 11px;
        text-align: center;
    }
    .newsletter-page-container .newsletter-form-wrapper {
        width: 100%;
    }
    .newsletter-page-container .newsletter-form-wrapper .form-group input{
        width: 60%;
        font-size: 12px;
        box-sizing: border-box;
        height: 32px;
        border: 1px solid #dedede;
        color: #dedede;
        padding-left: 5px;
        font-family: 'open_sansregular';
        margin-right: 0px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .newsletter-page-container .newsletter-form-wrapper .form-group {
        text-align: center;
    }
}
@media (min-width: 554px) and (max-width: 1161px){
    .newsletter-page-container .newsletter-image-wrapper {
        margin-top: 8px;
        margin-right: 0px;
        width: 25%;
        text-align: center;
    }
    .newsletter-page-container .newsletter-text-wrapper {
        width: 75%;
        max-width: 75%;
        margin-top: 11px;
        text-align: center;
    }
    .newsletter-page-container .newsletter-form-wrapper {
        width: 100%;
    }
    .newsletter-page-container .newsletter-form-wrapper .form-group {
        text-align: center;
    }
    .newsletter-page-container .newsletter-form-wrapper .form-group input {
        width: 60%;
    }
}
@media (max-width: 800px){
    .newsletter-page-container {
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px 15px;
        width: auto;
    }
}
@media (max-width: 1161px){
    .newsletter-page-container {
        max-width: 800px;
    }
}
/*---------------------------NEWSLETTER - THANKS---------------------------*/
.newsletter-thanks {
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
    padding: 10px 20px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 280px;
    text-align: center;
}
.newsletter-thanks::after {
    clear: both;
    display: block;
    content: '';
}
.newsletter-thanks h1 {
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}
.newsletter-thanks p {
    font-size: 15px;
    padding: 0 230px;
    line-height: 23px;
}
.newsletter-thanks p:nth-of-type(1){
    margin-bottom: 30px;
}
.newsletter-thanks a {
    border: 1px solid #b3b3b3;
    color: white;
    font-weight: bold;
    font-size: 12px;
    background-color: #004385;
    padding: 10px 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}
.newsletter-thanks a:hover {
    text-decoration: none;
}
.newsletter-thanks-ok {
    margin-bottom: 402px;
}
@media (max-width: 350px) {
    .newsletter-thanks h1 {
        font-size: 20px;
    }
    .newsletter-thanks a {
        font-size: 9px;
    }
}
@media (max-width: 550px) {
    .newsletter-thanks p {
        font-size: 15px;
        padding: 0 5px;
        line-height: 23px;
    }
}
@media (min-width: 551px) and (max-width: 1161px) {
    .newsletter-thanks p {
        font-size: 15px;
        padding: 0 60px;
        line-height: 23px;
    }
}

aside::before{
  content: "";
  clear: both;
}
aside .facebook-box {
  max-width:280px;
  height: 265px;
  border: 1px solid #ababab;
  border-top: 1px solid #345e9a;
  margin: 0px 0 25px;
  position: relative;
}
aside .facebook-box .ribbon-1 {
  position: absolute;
  width: 56px;
  height: 56px;
  background: url(../../images/frontend/facebook-icon.png) no-repeat 0 0 scroll transparent;
  z-index: 10;
  left: 4px;
  top: 4px;
}
aside .facebook-box .ribbon-1 a {
  display: block;
  height: 56px;
  width: 56px;
}
aside .facebook-box .ribbon-2 {
  width: 190px;
  height: 60px;
  position: absolute;
  left: 65px;
  top: 13px;
  z-index: 20;
  background: #ffffff;
}
aside .facebook-box .ribbon-3 {
  position: absolute;
  left: 67px;
  top: 35px;
  z-index: 30;
  background: #3e59a6;
  border: 1px solid #7786bd;
  border-radius: 3px;
  padding-right: 5px;
}
aside .facebook-box .ribbon-3 a {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color: #ffffff;
  line-height: 22px;
  background: url(../../images/frontend/facebook-icon-1.png) no-repeat 5px center scroll transparent;
  padding-left: 24px;
  height: 22px;
  display: block;
  text-decoration: none;
}
aside .facebook-box .ribbon-4 {
  width:90%;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 75px;
  z-index: 40;
  background: #ffffff;
  border-top: 1px solid #ABABAB;
}
aside .facebook-box .ribbon-4 p {
  float: left;
  font-family: Tahoma, sans-serif;
  line-height: 30px;
  padding-left: 0px;
  font-size: 11px;
}
aside .facebook-box.ribbon-4 p a {
  color: #3d58a7;
  font-family: Tahoma, sans-serif;
  text-decoration: none;
}
aside .facebook-box .ribbon-5 {
  width: 262px;
  height: 103px;
  background: url(../../images/frontend/face-bg.jpg) no-repeat 0 0 scroll transparent;
  position: absolute;
  top: 115px;
  left: 10px;
}
aside .facebook-box .ribbon-6 {
  position: absolute;
  top: 240px;
  left: 10px;
  border-top: 1px solid #ABABAB;
  padding-top: 5px;
  width:90%;
}
aside .facebook-box .ribbon-6 a {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  color: #777;
  background: url(../../images/frontend/like-2.png) no-repeat 0 center scroll transparent;
  height: 12px;
  line-height: 12px;
  padding-left: 20px;
  text-decoration: none;
  display: block;
}
aside .facebook-box .ribbon-2 a {
  color: #3d58a7;
  font-size: 12px;
  font-family: Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.facebook-box .ribbon-3 {
  z-index: 30;
  background: #3e59a6;
  border: 1px solid #7786bd;
  border-radius: 3px;
  padding-right: 5px;
}
.facebook-box .ribbon-3 a {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color: #ffffff;
  line-height: 22px;
  background: url(../../images/frontend/facebook-icon-1.png) no-repeat 5px center scroll transparent;
  padding-left: 24px;
  height: 22px;
  display: block;
  text-decoration: none;
}

@media all and (max-width: 568px) {
  #garciniaPopup{
    max-width: none!important;
  }
  .garciniaInputs{
    padding: 1%!important;
  }
  #garciniaInputsSubmitButton{
    top: 78%!important;
  }
}

@media all and (max-width: 600px) {
  #garciniaPopup{
    min-width: 0px!important;
    max-width: 320px!important;
    min-height: 280px!important;
  }
  #garciniaContainer{
    top: 0%!important;
    left: 0%!important;
    width: 100%!important;
    height: 100%!important;
  }
  #garciniaInputsSubmitButton {
    font-size: 11px!important;
  }
}

#garciniaPopup{
  background: url("../../images/frontend/bg-popup-medical-jurnal.jpg") no-repeat;
  min-width: 600px;
  min-height: 350px;
}

#garciniaContainer{
  text-align: center;
  border: 5px solid rgba(215, 230, 237, 0.6);
  border-radius: 10px;
  box-shadow: 2px 3px 3px #888888;
  background: rgba(255, 255, 255, 0.7);
  width: 410px;
  height: 300px;
  position: absolute;
  left: 20px;
  top: 20px;
}

#garciniaHeader{
  font-weight: bold;
}

#garciniaHeader h1{
  margin-top: 10px;
  color: #2975c9;
  font-size: 22px;
}

#garciniaHeader p{
  margin-top: 5px;
  margin-bottom: 6px;
  line-height: 100%;
}

#garciniaBelt{
  background-color: #2b74d0;
  height: 40px;
  width: 402px;
  color: white;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
}

.garciniaInputs{
  color:#414141;
  border: 1px solid #d6d6de;
  padding: 2%;
  margin-top: 2%;
  width: 90%;
}

.garciniaInputs:first-of-type{
  margin-top: 2%;
}

#garciniaInputsSubmitButton{
  position: absolute;
  color:white;
  top: 86%;
  left: 2%;
  background: linear-gradient(#4dab00, #469000);
  border-radius: 6px;
  border: 0px;
  font-weight: bold;
  font-size: 14px;
  width: 96%;
  height: 12%;
}

#garciniaFooter{
  position: absolute;
  top: 86%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}
