@media screen and (max-width: 989px) and (min-width: 640px) {
    #description .left-block,
    #description .right-block {
        width: 50%!important;
        padding: 0 15px;
    }
    #info-block {
        height: auto;
        background-size: cover;
    }
    #info-block .info,
    #info-block p {
        width: 50%;
    }
    #info-block .width {
        padding-bottom: 50px;
    }
    #info-block .title.white{
        width: 50%;
    }
    #footer #order {
        margin-left: 0;
        margin-left: 0;
    }
    #footer #order input {
        width: 100%;
    }
    #order .button {
        margin: auto;
    }
}
