div.fade
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  	z-index: 9999;
}
.exitpopup
{
margin: 0;  
padding: 0;
border: 0;
line-height: 1.4em;
vertical-align: baseline;
text-decoration: none;
outline: 0;
position: relative;
top: 131px;
width: 729px;
min-height: 393px;
border: 1px solid #dedede;
background-color: #FFF;
text-align: center;
font-size: 16px;
margin: 0 auto;
box-sizing: border-box;
background-image: url("/layout/1/images/medicreporters-exit-popup.jpg");
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
}
.exitpopup *
{
line-height: 1.4em;
}
.exitpopup h1
{
font-weight: 900;
font-size: 27px;
text-align: center;
color: #547db5;
font-family: 'open_sansbold';
padding-top: 0px;
margin-top: 17px;
}
.exitpopup h1 span
{
display: block;
font-size: 17.74px;
}
.exitpopup h2
{
font-size: 25px;
font-weight: bold;
color: #383838;
font-family: 'open_sansregular';
margin-bottom: 16px;
padding-bottom: 16px;
border-bottom: 1px solid #dedede;
}
.exitpopup p {
color: black;
font-size: 16px;
line-height: 26px;
font-family: 'open_sansregular';
}
.exitpopup p:nth-of-type(1) {
    padding: 0px 70px;
    margin-bottom: 7px;
}
.exitpopup p:nth-of-type(2) {
    font-weight:  bold;
    padding: 0px 140px;
}
.exitpopup input[type="email"]
{
font-size: 15px;
box-sizing: border-box;
width: 373px;
height: 38px;
border: 1px solid #dedede;
text-align: center; 
margin-top: 20px;
margin-bottom: 20px;
color: #dedede;

}
::-webkit-input-placeholder {
   color: #dedede;
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #dedede;
   font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #dedede;
   font-size: 14px;
}

:-ms-input-placeholder {  
   color: #dedede;
   font-size: 14px;
}
.exitpopup button {
    width: 373px;
    height: 48px;
    color: white;
    border: 0px;
    background-color: #ff9500;
    font-weight: 900;
    font-family: 'open_sansregular';
    font-size: 17px;
    cursor: pointer;
   
}
#nothanks, .closepopup {
cursor: pointer;
background-image: url("/layout/1/images/close.png");
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
height: 40px;
width: 40px;
position: absolute;
top: -20px;
right: -20px;

}

#phonesend
{
position: absolute;
left: 50%;
top: 50%;
width: 630px;
height: 630px;
border: 1px solid #385597;
border-radius: 10px;
background-color: #FFF;
    margin-left: -315px;
    margin-top: -315px;
  box-sizing: border-box;

}

#phonesend h1
{
font-size: 29.48px;
height: 90px;
width: 100%;
position: relative;
margin-top: -45px;
top: 50%;
line-height: 90px;
padding: 0;
border-radius: 0;
}

#phonesend span
{
    top: 550px;
    position: relative;  
}

/*------------------MOBILE POPUP------------------------*/
@media (max-width: 430px){
    .exitpopup {
        margin-top: -50px;
        width: 250px;
    }
    .exitpopup h1 {
        font-size: 14px;
    }
    .exitpopup h2 {
        font-size: 13px;
    }
    .exitpopup p {
        font-size: 11px;
        line-height: 18px;
    }
    .exitpopup p:nth-of-type(1) {
        padding: 0px 15px;
    }
    .exitpopup p:nth-of-type(2) {
        padding: 0px 10px;
    }
    .exitpopup input[type="email"] {
        width: 220px;
    }
    .exitpopup button {
        width: 220px;
        font-size: 14px;
    }
}
@media (min-width: 431px) and (max-width: 570px){
    .exitpopup {
        width: 350px;
    }
    .exitpopup h1 {
        font-size: 17px;
    }
    .exitpopup h2 {
        font-size: 16px;
    }
    .exitpopup p {
        font-size: 12px;
        line-height: 20px;
    }
    .exitpopup p:nth-of-type(1) {
        padding: 0px 15px;
    }
    .exitpopup p:nth-of-type(2) {
        padding: 0px 30px;
    }
    .exitpopup input[type="email"] {
        width: 275px;
    }
    .exitpopup button {
        width: 275px;
        font-size: 16px;
    }
    
}
@media (min-width: 571px) and (max-width: 800px){
   .exitpopup {
        width: 500px;
    }
    .exitpopup h1 {
        font-size: 20px;
    }
    .exitpopup h2 {
        font-size: 19px;
    }
    .exitpopup p {
        font-size: 14px;
        line-height: 22px;
    }
    .exitpopup p:nth-of-type(1) {
        padding: 0px 15px;
    }
}