@font-face {
    font-family: 'denseregular';
    src: url('../../../fonts/dense-regular.eot');
    src: url('../../../fonts/dense-regular.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/dense-regular.woff2') format('woff2'),
         url('../../../fonts/dense-regular.woff') format('woff'),
         url('../../../fonts/dense-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'open_sansbold';
    src: url('../../../fonts/opensans-bold.eot');
    src: url('../../../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/opensans-bold.woff2') format('woff2'),
         url('../../../fonts/opensans-bold.woff') format('woff'),
         url('../../../fonts/opensans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../../../fonts/opensans-regular.eot');
    src: url('../../../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/opensans-regular.woff2') format('woff2'),
         url('../../../fonts/opensans-regular.woff') format('woff'),
         url('../../../fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../../fonts/opensans-semibold.eot');
    src: url('../../../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/opensans-semibold.woff2') format('woff2'),
         url('../../../fonts/opensans-semibold.woff') format('woff'),
         url('../../../fonts/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}