div.row::after {clear: both;display: block;content: '';}
article header {margin-bottom: 20px;}
article header div.row {padding: 0 20px;}
span.yellow {background: yellow;}

article header div.row figure { 
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-right: 25px;
}
article header div.row figure figcaption {
    background: #e3e3e3 none repeat scroll 0 0;
    border: 0 none;
    color: black;
    display: block;
    margin-top: -2px;
    top: 0;
    width: 218px;
    font-size: 12px;
    line-height: 15px;
    padding: 5px;
    position: relative;
    text-align: left;
}
article header div.row p {
	color: black;
    font-family: "open_sansbold";
    font-size: 18px;
    line-height: 25px;
}

div.quote-box {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #cbcbcb;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 13px 17px;
}
div.quote-box div.row div.txt {
    float: left;
    width: 70%;
    position: relative;
}
div.quote-box div.txt h3 {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-family: "open_sansbold";
}
div.quote-box div.txt p {
    font-size: 13px !important;
    line-height: 20px !important;
    font-style: italic;
}
div.quote-box div.txt img {
    bottom: -55px;
    position: absolute;
    right: 50px;
}
div.quote-box div.row div.image {
    float: left;
    font-size: 11px;
    line-height: 14px;
    width: 30%;
    text-align: center;
}
div.quote-box.quote-2 div.image {margin-right: 20px;width: 26% !important;}
div.quote-box.quote-2 div.txt img {bottom: -30px;}
div.quote-box.quote-3 div.txt p {margin-bottom: 15px;}
div.quote-box.quote-3 div.txt div {
    font-size: 11px;
    margin-bottom: 5px;
    text-align: right;
}

div.link-box {
    border: 1px solid #a1a1a1;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
}
div.link-box p {padding-bottom: 10px;}
div.link-box p:nth-of-type(1) {
    font-size: 20.61px !important;
    font-weight: bold;
    margin-bottom: 5px !important;
    text-transform: uppercase;
}
div.link-box p:nth-of-type(1) span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: red;
}
div.link-box p.yellow {
    background: yellow none repeat scroll 0 0;
    display: inline-block;
    font-size: 14px !important;
    margin: 0 0 10px !important;
    padding: 3px 7px;
}
div.link-box p:nth-child(3) {
    font-size: 14px !important;
    margin: 0 0 10px;
    padding-bottom: 0;
}
div.link-box p:nth-child(4) {
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
div.link-box p:nth-child(4) a {
    font-family: 'open_sansbold';
    font-size: 17.31px;
    font-weight: normal;
    color: #001d96;
    text-decoration: underline;
}
article div.footer::after {clear: both; display: block; content: '';}
article div.footer {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    margin-top: 40px;
    padding: 11px;
    margin-bottom: 50px;
}
article div.footer img {
    float: left;
    margin-right: 25px;
}
article div.footer p {
    color: black;
    font-size: 17px;
    font-weight: 900;
    line-height: 23px;
    margin-bottom: 27px;
}
article div.footer a {
    color: #002fde;
    font-size: 17px;
    font-family: 'open_sansbold';
    text-decoration: none;
}

div.page-view div.left-side {
    max-width: 100%; 
    float: none;
    background: white none repeat scroll 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
}
div.page-view div.left-side aside {padding-left: 42px;}
div.page-view div.left-side::after {clear: both;display: block;content: '';}
article.main {float: left; max-width: 840px; background: none; box-shadow: none}

aside div.question {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #26a8d4 #d5d5d5 #d5d5d5;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px 1px;
    color: #26a8d4;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    width: 201px;
}
aside div.question div.question-text {
    border-bottom: 1px solid #aaaaaa;
    color: #161616;
    font-size: 15px;
    font-weight: bold;
    line-height: 18.65px;
    margin: 10px 8px;
    padding: 0 0 10px;
}
aside div.question div#questionchoose, aside div.question div#questionResults {padding-left: 20px;}
aside div.question p {
    color: black;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 8px;
    margin-left: 26px;
    margin-top: 2px;
}
aside div.question input[type="submit"] {
    background: #26a8d4 none repeat scroll 0 0;
    border: 0 none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'open_sansbold';
    font-size: 21px;
    margin: 20px auto 10px;
    padding: 5px 0;
    width: 90%;
}

aside div.question span.q-1, aside div.question span.q-2, aside div.question span.q-3, aside div.question span.q-4 {
    display: block;
    height: 8px;
    margin: 6px 25px 15px;
}
aside div.question span.q-1 {
    background: #58da55 none repeat scroll 0 0;
    width: 18%;
}
aside div.question span.q-2 {
    background: #dad555 none repeat scroll 0 0;
    width: 12%;
}
aside div.question span.q-3 {
    background: #daa655 none repeat scroll 0 0;
    width: 70%;
}
aside div.question span.q-4 {
    background: #da5555 none repeat scroll 0 0;
    width: 29%;
}