#popup_v1{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(29, 29, 29, 0.9);
	font-family: Arial, sans-serif;
	z-index: 100000;
}

.popup_v1_content{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
	max-width:600px;
	background:#fff;
	text-align:center;
	min-height: 618px;
}
.popup_v1_padding{
	padding:0 50px;
	margin-top: 15px;
}
.popup_v1_counter{
	line-height: 1em;
	padding: 0;
	margin: 0 auto 15px auto;
	font-size: 40px;
	font-weight: bold;
	color: #e34545;
}
#popup_v1 h4{
	margin:0;
	width:100%;
	font-size:18px;
	font-weight:bold;
	color:#3c80cb;
	background:#f5f5f5;
	padding:10px 0;
}
#popup_v1 h5{
	font-size:15px;
	font-weight:bold;
	color:#000001;
	margin:15px auto;
}

#popup_v1 h6 {
    font-size: 27px;
    font-weight: bold;
    display: inline-block;
    margin-top: 281px;
}


#popup_v1 p{
	font-size:15px;
	font-weight:normal;
	color:#000000;
	line-height:1.6em;
	margin:0 auto 15px auto;
}
#popup_v1 p span{
	color:#e34545;
	font-weight:bold;
}
#popup_v1 input[type="text"]{
	display:block;
	width:100%;
	max-width:330px;
	border: 2px solid #dedede;
	text-align:center;
	padding:15px 10px;
	margin:15px auto;
	font-size:15px;
	margin-bottom: 47px;
}
#popup_v1 input[type="submit"]{
	display:block;
	width:100%;
	border: 2px solid #34a447;
	background:#34a447;
	text-align:center;
	padding:15px 10px;
	margin:0 auto 15px auto;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
}
#popup_v1 button{
	border: 0px;
	border-bottom:1px solid #000001;
	background:transparent;
	text-align:center;
	margin:0 auto 15px auto;
	padding:5px 0;
	font-size:15px;
	font-weight:normal;
	color:#000001;
	cursor:pointer;
}
.fade.pl#popup_v1 button {
    font-size: 13px;
}

.fade.pl#popup_v1 .third_p_popup {
    display: none;
}
.fade.pl#popup_v1 .first_h5_popup {
    display: none;
}
.fade{
    opacity:1!important;
    
}
.validetta-bubble {
    top: 398px !important;
    left: 123px !important;
}
.validetta-bubble--bottom:before {
        left: 10px !important;
}
.popup_success_massage {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 999;
    background-color: white;
    padding-top: 150px;
}
.popup_success_massage p {
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.show_me_now_1 {display: none;}
.show_me_now {display: block !important;}

.succes_send {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    display: none;
    padding-top: 0px;
}
.succes_send p {
    font-size: 35px !important;
    font-weight: bold !important;
    color: green !important;
}
.suc_head {
    height: 155px;
    width: 100;
    background-color: #599e59;
    background-image: url('/layout/1/images/pop_up.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.suc_content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 116px;
    padding-bottom: 110px;
}
.suc_content h3 {
    font-size: 33px;
    font-weight: bold;
    color: #599e59;
}
.suc_content p {
    font-size: 17px !important;
    display: inline-block !important;
    margin-top: 35px !important;
    color: #c4c4c4 !important;
}
.suc_button {
    margin: 0px 50px 0px 50px;
    border-top: 1px solid #d7d7d7;
    padding-top: 39px;
}
.suc_button button {
    text-decoration: none !important;
    font-size: 31px !important;
    font-weight: bold !important;
    color: #5178b9 !important;
    border: none !important;
}
/*.close_pupup_click {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    z-index: 999999;
}*/

.fade.pl .popup_v1_padding {
    margin-top: 40px;
}
.fade.pl #popup_v1 h5 {
    margin-top: 45px;
}
.fade.pl .validetta-bubble {
    top: 447px !important;
    left: 123px !important;
}