/*!
 * Validetta (http://lab.hasanaydogdu.com/validetta/)
 * Version 1.0.1 ( 16-08-2015 )
 * Licensed under MIT (https://github.com/hsnayd/validetta/blob/master/LICENCE)
 * Copyright 2013-2015 Hasan Aydoğdu - http://www.hasanaydogdu.com 
 */

.validetta-bubble {
  position: absolute;
  background-color: #cd2e26;
  max-width: 325px;
  border-radius: 5px;
  color: white;
  padding: 5px 12px;
  z-index: 9; }
  .validetta-bubble:before {
    content: '';
    position: absolute;
    display: block;
    height: 0; 
    width: 0;
    border-width: 5px;
    border-style: solid; }
  .validetta-bubble--right:before {
    top: 7px;
    left: -10px;
    border-color: transparent #cd2e26 transparent transparent; }
  .validetta-bubble--bottom:before {
    top: -10px;
    left: 10px;
    border-color: transparent transparent #cd2e26 transparent; }

.validetta-inline,
.validetta-bubble {
  display: block;
  font: 12px/14px Arial, Helvetica, sans-serif; }

.validetta-inline {
  color: #cd2e26; }

/*# sourceMappingURL=validetta.css.map */