.gce3f3fda { width:1px !important; height:1px !important; border:0 !important; background:none !important; border-style:none !important; position:absolute; }

.g950a1f40 { width:2px !important; height:2px !important; border:0 !important; background:none !important; border-style:none !important; position:absolute; }

@media all and (max-width:676px){
    #tocart{width:auto;height:auto;line-height:1.2em;display:inline-block;background-size:100% 100%;padding:15px 20px;}
}