@charset "UTF-8";

/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #EBEBEB;
}
p {
    margin: 10px 0;
}
h1, h2 {
    margin: 1em 0;
    color: #820000;
    text-align: center;
    font-weight: normal;
}
h1 + h2 {
    margin-top: 0;
}
h3 {
    margin: 1em 0;
    color: black;
    text-align: center;
    font-weight: bolder;
}
h1 {
    font-size: 40px;
    line-height: 1em;
}
h2 {
    margin-right: 150px;
    margin-left: 150px;
    font-size: 28px;
    line-height: 140%;
}
#wrapper {
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 10px;
    min-height: 500px;
    max-width: 960px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    font-family: georgia;
    line-height: 25px;
}
ol {
    margin-left: 60px;
}
.red {
    color: #ed1c24;
}
#footer {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
#footer a {
    color: #666;
}
#bottle {
    margin: 20px auto;
    max-width: 310px;
    text-align: center;
    position: relative;
}
#bottle_g {
    position: absolute;
    top: -10px;
    right: 35px;
    width: 85px;
}
#bottle img {
    width: auto;
	max-width:100%;
    display: block;
    margin: 0px auto 20px auto;
}
#bottle_g img {
    margin: 0;width:100%;
}
#counter {
    margin: 10px auto;
}
#counter_end {
    display: none;
    margin: 10px auto;
}
#tocart {
    background: url('../../images/tocart.jpg') no-repeat center top;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em
}