body {
  width: 100%;
  height: 100%;
  background: #b6b6c2;
  padding: 0px;
  margin: 0px;
  font-family: $font;
  padding-top: 100px;
  color:$color;

  &.krebs, &.penirum {
    background: #000;
  }

}