$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$color:#4a4a4a;

$garcinia-button-1-start-color: #ade74e;
$garcinia-button-1-end-color: #439421;

$garcinia-button-2-start-color: #fad35d;
$garcinia-button-2-end-color: #f76f1e;

$krebs-button-1-start-color: #5f68f6;
$krebs-button-1-end-color: #3849a6;

$krebs-button-2-start-color: #b0e94f;
$krebs-button-2-end-color: #439422;

$penirum-button-1-start-color: #7ed321;
$penirum-button-1-end-color: #7ed321;

$penirum-button-2-start-color: #f5a623;
$penirum-button-2-end-color: #f5a623;