* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 300 14px/1.2 Lato;
  color: #464646;
}

.container-fluid {
  max-width: 1215px;
}

.btn,
a {
  webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn {
  background-color: #959595;
  height: 25px;
  padding: 0 16px;
  border-radius: 13px;
  line-height: 21px;
  display: inline-block;
  color: #ffffff;
  font-size: 11.25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background: #000;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  padding: 25px 0 24px;
  width: 100%;
  border-bottom: 5px solid #00bdb7;
}

header .navbar {
  min-height: 0;
  border-radius: 0;
  bordeR: 0;
  margin: 0;
}

header .navbar-brand {
  height: auto;
  padding: 0 15px;
  font-family: Arial;
  color: #101010;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 768px) {
  header .navbar-brand {
    text-align: center;
    float: none;
    display: block;
    width: 100%;
  }
}

header .links {
  padding-top: 13px;
  float: right;
}

@media (max-width: 768px) {
  header .links {
    width: 100%;
    margin: 10px 0 0;
    text-align: center;
  }
}

header .links p {
  color: #464646;
  font-weight: 300;
  display: inline-block;
  text-align: right;
  padding-left: 30px;
  margin: 0;
}

@media (max-width: 768px) {
  header .links p {
    text-align: center;
  }
}

header .lock {
  background: url(../../images/hallupro-checkout/lock.png) 10px 0 no-repeat;
}

main .col-md-9 {
  padding: 0 1px;
}

@media (max-width: 991px) {
  main .col-md-9 {
    padding: 0 15px;
  }
}

main .usps {
  overflow: hidden;
  margin: 33px 0 40px;
}

@media (max-width: 768px) {
  main .usps {
    margin: 10px 0;
  }
}

main .usps p {
  width: 50%;
  min-height: 30px;
  line-height: 15px;
  float: left;
  margin-bottom: 0;
  padding-left: 60px;
  color: #464646;
  font-weight: 300;
  text-align: left;
  webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url(../../images/hallupro-checkout/checkbox.png) 0 0 no-repeat;
}

@media (max-width: 768px) {
  main .usps p {
    width: 100%;
    margin-bottom: 10px;
  }
}

main .usps p:hover {
  background-image: url(../../images/hallupro-checkout/checkbox-hover.png);
}

main .info {
  margin-bottom: 20px;
  background-color: #00bdb7;
  font-size: 20px;
  text-align: center;
  padding: 15px 95px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 768px) {
  main .info {
    font-size: 16px;
    padding: 15px;
  }
}

main .checkout-steps .step {
  padding: 20px 25px 30px;
  margin-bottom: 48px;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  main .checkout-steps .step {
    padding: 15px;
  }
}

main .checkout-steps .step .steps-list {
  float: left;
  margin-bottom: 40px;
  width: 100%;
  counter-reset: section;
  overflow: hidden;
}

main .checkout-steps .step .steps-list li {
  color: #898989;
  width: 25%;
  font-weight: 400;
  text-align: left;
  float: left;
  line-height: 36px;
  padding: 0 0 0 45px;
  position: relative;
  background: #fff url(../../images/hallupro-checkout/checkbox.png) 20px center no-repeat;
  background-size: 20px 20px;
}

@media (max-width: 768px) {
  main .checkout-steps .step .steps-list li {
    width: 50%;
  }
}

@media (max-width: 560px) {
  main .checkout-steps .step .steps-list li {
    width: 100%;
  }
}

main .checkout-steps .step .steps-list li:after,
main .checkout-steps .step .steps-list li:before {
  position: absolute;
  top: -2px;
  content: '';
  border-width: 20px 10px;
  border-style: solid;
  z-index: 99;
}

main .checkout-steps .step .steps-list li:after {
  right: -18px;
  border-color: transparent transparent transparent #fff;
}

main .checkout-steps .step .steps-list li:before {
  font-size: 0;
  right: -20px;
  width: 0;
  height: 0;
  counter-increment: section;
  content: counter(section);
  border-color: transparent transparent transparent #f4f4f4;
}

main .checkout-steps .step .steps-list li.current {
  background: #00bdb7;
  color: #fff;
}

main .checkout-steps .step .steps-list li.current:after {
  right: -20px;
  border-color: transparent transparent transparent #00bdb7;
}

main .checkout-steps .step .steps-list li.current:before {
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  background: none;
  border-radius: 50%;
  left: 20px;
  top: 8px;
  color: #f4f4f4;
  line-height: 18px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

main .checkout-steps .options {
  margin-top: 64px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

main .checkout-steps .options li {
  overflow: hidden;
  width: 100%;
  position: relative;
}

main .checkout-steps .options li:last-child label {
  margin-bottom: 0;
}

main .checkout-steps .options li+li {
  border-top: 1px solid #a1a1a1;
}

main .checkout-steps .options li label {
  width: 100%;
  padding: 25px 22px;
  margin-bottom: -5px;
}

main .checkout-steps .options li input[type=radio] {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -9px;
  width: 18px;
  height: 18px;
}

main .checkout-steps .options li input[type=radio]:checked+label {
  box-shadow: inset 0 0 0 1px #acacac;
  background: rgba(255,255,255,0.76);
}

main .checkout-steps .options li .photo {
  width: 50%;
  float: left;
  text-align: center;
}

@media (max-width: 768px) {
  main .checkout-steps .options li .photo {
    width: 100%;
  }
}

main .checkout-steps .options li .photo img {
  padding-top: 10px;
  max-width: 100%;
}

@media (max-width: 768px) {
  main .checkout-steps .options li .photo img {
    padding-top: 0;
  }
}

main .checkout-steps .options li .photo strong {
  margin-top: 5px;
  display: block;
  color: #000;
  font-weight: 700;
}

@media (max-width: 768px) {
  main .checkout-steps .options li .photo strong {
    margin-bottom: 15px;
  }
}

main .checkout-steps .options li .desc {
  padding: 0 40px;
  border-left: 1px solid #e1e1e1;
  width: 50%;
  float: left;
}

@media (max-width: 768px) {
  main .checkout-steps .options li .desc {
    width: 100%;
    bordeR: 0;
  }
}

main .checkout-steps .options li .desc h3 {
  color: #101010;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
}

main .checkout-steps .options li .desc p {
  color: #898989;
  font-weight: 400;
}

main .checkout-steps .options li .desc p strong {
  color: #000;
  font-weight: 400;
}

main .checkout-steps .options li .desc p.notice {
  margin: 10px 0;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 10px;
  background: rgba(70,70,70,0.47);
}

main .checkout-steps form {
  width: 100%;
}

main .checkout-steps form::after {
  display: block;
  content: "";
  clear: both;
}

main .checkout-steps ul {
  width: 100%;
  margin-bottom: -15px;
}

main .checkout-steps ul::after {
  display: block;
  content: "";
  clear: both;
}

main .checkout-steps ul li {
  width: 100%;
  margin-bottom: 15px;
}

main .checkout-steps ul li::after {
  display: block;
  content: "";
  clear: both;
}

main .checkout-steps ul li.half {
  width: 50%;
  float: left;
  padding-right: 15px;
}

main .checkout-steps ul li.half+.half {
  padding: 0 0 0 15px;
}

main .checkout-steps ul li.half+.half+.half {
  padding: 0 15px 0 0;
}

main .checkout-steps ul li input {
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 0 15px;
}

main .checkout-steps ul li select {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #ffffff;
  height: 40px;
  padding: 0 15px;
}

main .checkout-steps .col {
  width: 50%;
  float: left;
}

@media (max-width: 768px) {
  main .checkout-steps .col {
    width: 100%;
  }
}

main .checkout-steps #shipping {
  background-color: #ffffff;
  padding: 35px;
  overflow: hidden;
}

main .checkout-steps #shipping::after {
  display: block;
  content: "";
  clear: both;
}

main .checkout-steps #shipping .wrapper {
  margin-bottom: 30px;
  border-bottom: 1px solid  #d7d7d7;
}

main .checkout-steps #shipping .wrapper::after {
  display: block;
  content: "";
  clear: both;
}

main .checkout-steps #shipping h2 {
  padding: 0 0 20px;
  border-bottom: 1px solid  #d7d7d7;
  margin: 0 0 30px;
  color: #101010;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

main .checkout-steps #shipping .col {
  margin-bottom: 105px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  main .checkout-steps #shipping .col {
    margin-bottom: 0;
  }
}

main .checkout-steps #shipping .col+.col {
  border-left: 1px solid #acacac;
}

@media (max-width: 768px) {
  main .checkout-steps #shipping .col+.col {
    margin-top: 30px;
    border: 0;
  }
}

main .checkout-steps #shipping .col h3 {
  margin: 0;
  color: #242424;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}

main .checkout-steps #shipping .col ul {
  margin-top: 70px;
}

@media (max-width: 768px) {
  main .checkout-steps #shipping .col ul {
    margin-top: 10px;
  }
}

main .checkout-steps #shipping .col ul li {
  margin-bottom: 10px;
}

main .checkout-steps #shipping .col ul li label {
  color: #242424;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

main .checkout-steps #shipping .col ul li input {
  margin: 1px 5px 0 0;
  float: left;
}

main .checkout-steps #shipping .col .product-block {
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(225,225,225,0.44);
}

main .checkout-steps #shipping .col .product-block .photo {
  float: left;
  margin-right: 10px;
}

main .checkout-steps #shipping .col .product-block .photo img {
  max-width: 40px;
}

main .checkout-steps #shipping .col .product-block .desc small {
  margin-bottom: 10px;
  text-transform: none;
  display: block;
}

main .checkout-steps #shipping .col .product-block .desc input {
  width: 20px;
  margin-right: 10px;
}

main .checkout-steps #shipping .col .btn {
  margin: 25px 0 50px;
}

main .checkout-steps #shipping .col p {
  color: #242424;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

main .checkout-steps #confirmation {
  clear: both;
  overflow: hidden;
  background: #fff;
  padding: 40px 30px 30px;
}

main .checkout-steps #confirmation::after {
  display: block;
  content: "";
  clear: both;
}

main .checkout-steps #confirmation .col {
  text-align: center;
}

main .checkout-steps #confirmation .col .check {
  margin-top: 17px;
  display: inline-block;
  width: 121px;
  height: 121px;
  background: url(../../images/hallupro-checkout/check.png) 0 0 no-repeat;
}

@media (max-width: 768px) {
  main .checkout-steps #confirmation .col .check {
    margin: 0 0 30px;
  }
}

main .checkout-steps #confirmation .col .btn {
  float: left;
  margin-top: 10px;
}

main .checkout-steps #confirmation .col p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #898989;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
}

main .checkout-steps #confirmation .col p span {
  color: #242424;
}

main .checkout-steps #confirmation .col p.lock {
  text-transform: none;
  padding-left: 20px;
  color: #242424;
  background: url(../../images/hallupro-checkout/lock-dark.png) 0 0 no-repeat;
}

main .checkout-steps #confirmation .col img {
  margin: 25px 0;
}

aside {
  margin-top: 40px;
  background: #f8f7f7;
  padding: 25px 40px 175px 80px !important;
}

@media (max-width: 991px) {
  aside {
    padding: 25px 40px 0 80px !important;
  }
}

aside .box {
  margin-bottom: 40px;
  position: relative;
}

aside .box:before {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background: #d5d5d5;
  left: -50px;
  top: 0;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
}

aside .box.man:before {
  background-image: url(../../images/hallupro-checkout/man.png);
}

aside .box.lock:before {
  background-image: url(../../images/hallupro-checkout/lock.png);
}

aside .box.hammer:before {
  background-image: url(../../images/hallupro-checkout/hammer.jpg);
}

aside .box.smile:before {
  background-image: url(../../images/hallupro-checkout/smile.png);
}

aside .box h3 {
  margin-top: 0;
  color: #494949;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

aside .box p {
  color: #494949;
}