.typ-container {
  max-width: 522px;
  margin: 0px auto;
  background: #fff;
  padding: 35px;
  padding-top: 80px !important;

  @media (max-width: 414px) {
    max-width: 562px;
    padding: 15px;
  }

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  font-size: 16px;
  line-height: 1.4em;

  > .thumb {
    position: absolute;
    left: 50%;
    top: -80px;
    margin-left: -81px;
    z-index: 10;
  }

  > h1 {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  p {
    margin: 25px 0px;
    text-align: center;

    &.grey {
      background: #b6b6c2;
      padding: 15px 35px;
      color: #fff;
      font-weight: bold;
    }

    &.short {
      width: 50%;
      margin: 0px auto;
    }

  }

  .triggers {
    margin: 40px 0px;
    font-size: 15px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    a {
      float: left;
      display: block;
      width: calc(50% - 60px);
      padding: 10px 25px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      &:first-of-type {
        margin-right: 5px;
      }
      &:last-of-type {
        margin-left: 10px;
      }
      &.accept {
        @include linear-gradient($garcinia-button-1-start-color, $garcinia-button-1-end-color);
      }
      &.address {
        @include linear-gradient($garcinia-button-2-start-color, $garcinia-button-2-end-color);
      }

      @media (max-width: 414px) {
        float: none;
        width: auto;
        margin: 0px !important;
        margin-bottom: 10px !important;
      }

    }

  }

  .typ-form {
    margin: 40px 0px;
    display:none;
    .form-row {
      margin-bottom: 10px;

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      label {
        width: 100px;
        float: left;
        margin-right: 10px;
        text-align: right;
        position: relative;
        top: 10px;
        &:after {
          content: ':';
        }
      }

      input[type="text"], input[type="email"] {
        width: calc(100% - 130px);
        display: block;
        padding: 10px 5px;
        border: 1px solid #efefef;
        font-family: $font;
        color: $color;
        font-size: 1em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }

      button[type="submit"] {
        @include linear-gradient($garcinia-button-1-start-color, $garcinia-button-1-end-color);
        padding: 10px 25px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display:block;
        color: #fff;
        font-weight: bold;
        text-align:center;
        border:0px;
        width:calc(100% - 118px);
        margin-left:110px;
        cursor: pointer;
      }

    }
  }

  &.krebs {
    padding-top: 150px !important;
    > .thumb {
      top: -20px;
    }

    p {

      &.grey {
        color: $color;
        border: 1px solid #c9c9c9;
        background: #efefef;
      }
    }

    .triggers {
      a {
        &.accept {
          @include linear-gradient($krebs-button-1-start-color, $krebs-button-1-end-color);
        }
        &.address {
          @include linear-gradient($krebs-button-2-start-color, $krebs-button-2-end-color);
        }
      }
    }

  }

  &.penirum {
    padding-top: 35px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top: 14px solid #0074bf;
    > .thumb {
      position: relative;
      top: 0px;
      margin: 0px auto;
      left: 0px;
      text-align: center;
    }

    p {

      &.grey {
        color: $color;
        border: 1px solid #c9c9c9;
        background: #efefef;
      }
    }

    .triggers {
      a {
        &.accept {
          @include linear-gradient($penirum-button-1-start-color, $penirum-button-1-end-color);
        }
        &.address {
          @include linear-gradient($penirum-button-2-start-color, $penirum-button-2-end-color);
        }
      }
    }

  }

}
