.content .quote h2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.content .end h2 {
    padding-left: 0;
}

@media (max-width:890px) {
    .quote.margin-top-30 {
        text-align: center;
        max-width: 550px;
        margin: 20px auto;
    }
    .content .quote.margin-top-30 h2 {
        max-width: 485px;
    }
    div.quote div.row div.left-side {
        width: auto;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%!important;
        max-width: 750px;
    }
    #orderSubmit {
        font-size: 14px!important;
    }
}
@media (max-width: 359px) {
    #orderSubmit {
        font-size: 11px!important;
    }
}
