.main-banner {
  background-image: -webkit-linear-gradient(#F8FBF8 0%, #EFF6EE 100%);
  background-image: -o-linear-gradient(#F8FBF8 0%, #EFF6EE 100%);
  background-image: linear-gradient(#F8FBF8 0%, #EFF6EE 100%);
  height:457px;
}

.main-banner .container {
  position: relative;
}

.consultant {
  position: absolute;
  left:-60px;
}

.main-banner h1 {
  font-family: Lato;
  font-weight: bold;
  font-size: 42px;
  color: #000;
  line-height: 41px;
}

.main-banner p {
  font-family: Roboto-Italic;
  font-size: 20px;
  color: #000;
}

.main-banner p span {
  color:#FA6900;
  text-decoration: underline;
}

.banner-text {
  margin-top:60px;
}

.social {
  margin-top:20px;
}

.footer {
  text-align: center;
}

.footer p {
  font-family: Lato;
  font-size: 15px;
  color: #9B9B9B;
  letter-spacing: -0.03px;
}

.footer h3 {
  font-family: Lato;
  font-weight: bold;
  font-size: 15px;
  color: #4A4A4A;
  letter-spacing: -0.03px;
}

@media only screen and (max-width: 800px) {
  .main-banner {
    height:317px;
    background:none;
  }

  .consultant {
    position: static;
    margin-left:-20px;
  }

  .main-banner h1 {
    font-size: 32px;
    color:#515151;
  }

  .main-banner p {
    color:#515151;
  }

  .footer {
    background:#efefef;
    margin-top:40px;
  }

  .main-banner p span {
    color:#FA6900;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 320px) {
  .main-banner {
    height:269px;;
  }
}
