body {
  background:#7b562d;
}

.container {
  background:#ffffff;
}

.date-tag {
  margin-left:25px;
  background:#7b562d;
  padding:5px 10px;
  font-size: 14px;
  display: inline-block;
  color:#ffffff;
}

h1 {
  font-family: Georgia;
  font-size:35px;
  padding:15px 20px;
}

.caption {
  background:#efefef;
  padding:15px 0;
  font-size: 18px;
  font-style: italic;
}

.top {
  font-family: Georgia;
  font-size:23px;
  line-height: 140%;
}

#right-side h3 {
  margin-top:0;
  padding-top:0;
  border-left:5px solid #7b562d;
  padding-left:10px;
}

#right-side h4 {
  font-size: 14px;
}

#right-side ul {
  margin:0;
  padding:0;
  list-style: none;
}

#right-side ul li  a {
  color:#7b562d;
  display: inline-block;
  padding:4px 0;
}

.yellowbg {
  background: yellow;
}

@media screen and (max-width: 400px) and (min-width: 200px) {
  .mobilebutton {
    font-size:9px!important;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
    .mobilebutton {
        font-size:12px!important;
    }
}
