@font-face {
	font-family: 'Gloucester';
	src: url('gloucester-mt-extra-condensed.eot');
	src: local('☺'), url('gloucester-mt-extra-condensed.eot') format('embedded-opentype'), url('gloucester-mt-extra-condensed.woff') format('woff'), url('gloucester-mt-extra-condensed.ttf') format('truetype'), url('gloucester-mt-extra-condensed.svg#Gloucester') format('svg');
}