@font-face {
	font-family: 'Rage Italic';
	src: url('rage_italic.eot');
	src: local('☺'), url('rage_italic.eot') format('embedded-opentype'), url('rage_italic.woff') format('woff'), url('rage_italic.ttf') format('truetype'), url('rage_italic.svg#Rage Italic') format('svg');
}