@charset "utf-8";

/****** Reset CSS ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, main, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, .section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, .section {
	display: block;
}
body {
	line-height: 1;
}
b, strong {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FONTS */


body {
	font-family: 'Open Sans', Arial,Helvetica,sans-serif;
	font-weight: 400;
	font-size: 12px;
}

/* LAYOUT */
::selection { background: #98296B; color: #fff; }
::-moz-selection { background: #98296B; color: #fff; }
::-webkit-selection { background: #98296B; color: #fff; }

body {
	color: #000;
}
.tx-container {
	margin: 0 auto;text-align:left;
	max-width: 1000px;width:100%;*width:1000px;
}
.header {
	margin: 0 0 20px 0;
}
.nav {border-top:5px solid #000;border-bottom:4px solid #000;margin:15px 0 30px;}
.nav ul {
    margin: 3px 0;
    text-align: justify;
    font-size: 1px;
    padding: 0 10px;
}
.nav li, .category, .headline {
    font-family: 'Gloucester';
}
.nav li{
    font-size: 37px;
    line-height: 45px;
display:inline;}
.nav .fix {
    display: inline-block;
    width: 100%;
	*display:inline;
	*font-size:0;
    zoom: 1;
}
.nav a {    white-space: nowrap;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.nav a:hover{color:#888;}
.category {
    margin-left: 10px;
    font-size: 28px;
}
.headline {
    margin: 0px 0px 15px 2%;
    font-size: 64px;
}
.logo {
    font-family: 'Rage Italic';
    text-align: center;
    font-size: 80px;
        margin: 20px auto 30px;color:#000;
}
.tx-social {
	height: 22px;
	text-align: right;
	margin:5px 10px 10px 0px;
}
.category a {text-decoration:none;color:#000;}
#tx-logo {
	margin: 0 auto;
	display: block;
}
#tx-main h1 i{

}
#tx-main {
	height: auto;
	margin: 0 0 20px 0;
	padding: 0;
}
#tx-comments {
	height: auto;
	margin: 0 0 20px 0;
	background: #f8f7fd;
	-webkit-box-shadow: #000 1px 1px 7px;
	-moz-box-shadow: #000 1px 1px 7px;
	-ms-box-shadow: #000 1px 1px 7px;
	-o-box-shadow: #000 1px 1px 7px;
	box-shadow: #000 1px 1px 7px;
	border: 1px solid #DDD;
    border-radius: 3px;
}

.tx-content {
	padding: 0 2.455% 2.455%;
	   width: 90.8%;
	margin: 0 30px 0 5px;
		background: #f8f7fd;
border: 1px solid #DDD;
    border-radius: 3px;	
	-webkit-box-shadow: #E8E8E8 0px 0px 5px;
	-moz-box-shadow: #E8E8E8 0px 0px 5px;
	-ms-box-shadow: #E8E8E8 0px 0px 5px;
	-o-box-shadow: #E8E8E8 0px 0px 5px;
	    box-shadow: #E8E8E8 0px 0px 5px;
}
.main{margin:0 0 20px 0;}
.tx-content .section {
	height: auto;
}
.tx-content .section u {
	text-decoration: none;
	font-weight: bold;
}

.tx-content strong {
	font-weight: 600;
}
.tx-content .section p {
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 22px;
}
.tx-content .section ol {
	margin: 0 0 20px 40px;
	font-size: 16px;
	line-height: 22px;
	list-style-type: decimal;
}
 #tx-comments h1 {
font-weight: 600;
font-size: 30px;
margin: 0;
color: #fff;
background: #98296B;
display: block;
position: relative;
bottom: 30px;
padding: 10px 1.1%;
right: 3%;
}
.entry-meta {
	text-align: right;
	padding-bottom: 2px;
	padding-top:10px;
	margin-bottom:20px;
	font-weight: 600;
	color: #98296B;
	font-size: 15px;
	border-bottom: 1px solid #333;
}
.content{width:80%;}
#ba-image {
	margin-top: 2em;
	width: 90%;max-width:520px;
	height: auto;
	border: 5px solid #fff;
	
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	-o-box-shadow: 0px 0px 10px #000;
	-ms-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}
.ba-desc{width: 90%; max-width:370px; margin: 0 auto 32px;}
#fb-image {
	margin: 0 auto;
	display: block;
	border: 5px solid #98296B;
	
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	-o-box-shadow: 0px 0px 10px #000;
	-ms-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}
.tx-content .notice {
	border: 5px solid #98296B;
	font-size: 18px;
	margin: 0 0 20px 0;
	padding: 20px;
	background: #98296B;
	color: #fff;
	line-height: 22px;
}
.tx-content a:link, .tx-content a:visited {
	color: #98296B;
	display: inline-block;
	background: #fff;
	padding: 5px;
	line-height: 16px;
	text-decoration: underline;
}
.tx-content a:hover {
	color: #fff;
}

.tx-sidebar {
	width: 17%;
	font-size: 13px;
	color: #fff;
	padding: 10px;
	height: auto;
	border: 0;margin-right:10px;
	    border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 20px #eee;
	-moz-box-shadow: inset 0px 0px 20px #eee;
	-o-box-shadow: inset 0px 0px 20px #eee;
	-ms-box-shadow: inset 0px 0px 20px #eee;
	box-shadow: inset 0px 0px 20px #eee;
	
	background: #000;
}
.tx-sidebar h2 {
	font-weight: 600;
	display: block;
	background: #98296B;
	position: relative;
	font-size: 16px;
	padding: 5px;
	bottom: 15px;
	right: 15px;
}
.tx-sidebar li {
	line-height: 18px;
	margin: 0 0 25px 0;
}
.tx-sidebar a:link, .tx-sidebar a:visited {
	color: #98296B;
	display: inline-block;
	background: #fff;
	padding: 5px;
	line-height: 14px;
	text-decoration: underline;
	font-weight: 600;
	font-size: 20px;
}
.tx-sidebar a:hover, .tx-sidebar a.hover {
	color: #fff;
	background: #98296B;
}

#tx-comments {
	padding: 2%;
	margin: 40px 1% 20px 1%;
	font-size: 17px;
	line-height: 20px;
}
#tx-comments .descrip {
	font-style: italic;
	margin: 0 0 20px 0;
}
#tx-comments .comment {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
#tx-comments .text1 {
	font-weight: 600;
	color: #98296B;
	padding-right: 10px;
}
#tx-comments .text3 {
	padding: 10px 10px 0 10px;
	font-size: 15px;
}
#tx-comments h2 {
	font-weight: 600;
	font-size: 30px;
	margin: 0 0 20px 0;
	color: #fff;
	background: #98296B;
	display: block;
	position: relative;
padding: 10px 1.1%;
right: 3%;
}
.docs, .slim{width:150px;height:auto;}
.slim{padding-bottom: 10px;}

#tx-comments textarea {
	width: 99%;margin-top:5px
}
#author, #email {
	width: 200px;
	padding: 3px;
margin: 4px 0;
}
#submit {
	border: 1px solid #98296B;
	background: #98296B;
	color: #fff;
	padding: 10px;
	font-weight: 600;
	float: right;
	margin: 5px 0;
	cursor: pointer;
}

#tx-footer {
	clear: both;
	padding: 40px 0 20px;
	width: 100%;
	height: 30px;
	font-size: 9px;
	position: relative;
	top: 20px;
}


ol.num {
	list-style-type: decimal;
	padding: 0 20px;
}
ol.num strong {
	font-weight: 600;
	display: block;
	margin: 0 0 10px 0;
	font-size: 17px;
}

#tx-adds {
	border: 5px solid #98296B; 
	padding: 20px; 
	margin: 0 0 20px 0; 
	text-align: center;
    background-color: #4aad47;
    line-height:normal;
	clear: both;
}
#tx-adds .add-label {
	letter-spacing: 6px; 
	color: gray; 
	font-size: 14px;
}
#tx-adds h3 {
	text-align: center; 
	text-decoration: underline; 
	color: #98296B;
}
#tx-adds a:link, #tx-adds a:visited, #tx-adds a:hover, #tx-adds a:active{
	text-decoration: underline; 
	color: #fff; 
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
	
}
#tx-adds .add-label-v {
	font-size: 15px; 
	font-weight:normal;
	margin:20px auto; 
	background: #98296B; 
	color:#fff; 
	padding: 10px; 
	display:inline-block;
	width:90%;
	max-width: 600px;
}
.right {
	float: right;
}

.clearfix {
	clear: both;
}

#fatburn_img
{
	display: block;
	max-width: 510px;
	width:100%;
	background: url(../../images/frontend/fat-burn2.png) no-repeat center 25%;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: black;
	text-align: center;
	
}

#fatburn_img .blue
{
	color: #1449A3;
}

.fatburn-wrapper {
	margin: 1em auto 2em auto;
	padding: 1em 3% 1em 3%;
	background-color: #fff;
	width:90%;
	    max-width: 536px;
	border: 5px solid #98296B;
	box-shadow: 0px 0px 10px #000;
}
.doc{width:25%;float:right;max-width:185px;min-width:140px;margin: 2% 0 2% 2%;}
.table{display:table;width: 99%;}
.cell{display:table-cell;}
.top{vertical-align:top;}
.fatburn-wrapper td{text-align:center;}
.tx-content a.rek img{width:100%;}
.tx-content a.rek{float: right;width:50%;max-width:193px;*width:193px;
    text-decoration: none;
    padding: 0;
        margin: 0 0 2% 2%;
    border: 1px solid #000;
    font-size: 0;
    line-height: 0;}
#fatburn_img td.padright {
	padding-right: 5%;
}
#fatburn_img td.padleft {
	padding-left: 5%;
}
#fatburn_img td.middle {
	padding: 90px 42%;
}
#fatburn_img td {
    width: 45%;
}
	
	
	
	
	
	
	
	
	
@media all and (max-width:750px){
.fatburn-wrapper td.padleft{text-align:right}
.fatburn-wrapper td.padright{text-align:left}
.logo{font-size:70px;}

}
@media all and (max-width:600px){
	.cell {display: block;}
	.docs{float:left;margin:0 2% 1% 0;}
	.slim{width:90%;max-width:300px;    margin: 0 6% 0 4%;}
	.tx-sidebar {width: 90%;margin: 20px auto 0;}
	.content{width:auto;}
	.table{width:100%;}
	.tx-content{width:92%;}
	.right600{float:right;}
	.logo{font-size:60px;}
	#fatburn_img td.middle {padding: 90px 35%;}
}
@media all and (max-width:500px){
	.headline{font-size: 47px;max-width: 96%;}
	#tx-comments h2{line-height:normal;}
	.nav li {font-size: 26px;line-height: 36px;}
}
@media all and (max-width:400px){
	.right600{float:none;text-align:center;}
}
