@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(open_sans.eot);
  src: local('Open Sans'), local('OpenSans'), url(open_sans.eot) format('embedded-opentype'), url(open_sans.woff) format('woff');
}

@font-face {
  font-family: 'open sans';
  font-style: normal;
  font-weight: 400;
  src: url(opensans.eot);
  src: local('open sans'), local('open sans'), url(opensans.eot) format('embedded-opentype'), url(opensans.woff) format('woff');
}

@font-face {	
  font-family: 'open sans light';
  font-style: normal;
  font-weight: normal;
  src: url(opensans-light.eot);
  src: local('open sans light'), local('open sans light'), url(opensans-light.eot) format('embedded-opentype'), url(opensans-light.woff) format('woff');
}