/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'latoregular';
  src: url(../../../fonts/lato-reg-webfont.eot);
  src: url(../../../fonts/lato-reg-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-reg-webfont.woff2) format('woff2'), url(../../../fonts/lato-reg-webfont.woff) format('woff'), url(../../../fonts/lato-reg-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url(../../../fonts/lato-bol-webfont.eot);
  src: url(../../../fonts/lato-bol-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bol-webfont.woff2) format('woff2'), url(../../../fonts/lato-bol-webfont.woff) format('woff'), url(../../../fonts/lato-bol-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack';
  src: url(../../../fonts/lato-bla-webfont.eot);
  src: url(../../../fonts/lato-bla-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bla-webfont.woff2) format('woff2'), url(../../../fonts/lato-bla-webfont.woff) format('woff'), url(../../../fonts/lato-bla-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neueregular';
  src: url(../../../fonts/bebasneue-webfont.eot);
  src: url(../../../fonts/bebasneue-webfont.eot?#iefix) format('embedded-opentype'),         url(../../../fonts/bebasneue-webfont.woff2) format('woff2'),         url(../../../fonts/bebasneue-webfont.woff) format('woff'),         url(../../../fonts/bebasneue-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url(../../../fonts/lato-regita-webfont.eot);
  src: url(../../../fonts/lato-regita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-regita-webfont.woff2) format('woff2'), url(../../../fonts/lato-regita-webfont.woff) format('woff'), url(../../../fonts/lato-regita-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack_italic';
  src: url(../../../fonts/lato-blaita-webfont.eot);
  src: url(../../../fonts/lato-blaita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-blaita-webfont.woff2) format('woff2'), url(../../../fonts/lato-blaita-webfont.woff) format('woff'), url(../../../fonts/lato-blaita-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold_italic';
  src: url(../../../fonts/lato-bolita-webfont.eot);
  src: url(../../../fonts/lato-bolita-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-bolita-webfont.woff2) format('woff2'), url(../../../fonts/lato-bolita-webfont.woff) format('woff'), url(../../../fonts/lato-bolita-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url(../../../fonts/lato-lig-webfont.eot);
  src: url(../../../fonts/lato-lig-webfont.eot?#iefix) format('embedded-opentype'), url(../../../fonts/lato-lig-webfont.woff2) format('woff2'), url(../../../fonts/lato-lig-webfont.woff) format('woff'), url(../../../fonts/lato-lig-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Magia */

.validation_error {
  padding-left: 21.5% !important;
  padding-top: 5px;
}

input[type=submit],
button {
  -webkit-appearance: none !important;
}

@media all and (max-width: 768px) {
  div.wrapper.order {
    margin-top: 0 !important;
  }
}

@media all and (max-width: 555px) {
  div.wrapper.order div.form-element label br {
    display: none !important;
  }

  .validation_error {
    padding-left: 0 !important;
    margin-top: 5px;
  }
}

div.wrapper.order div.form-element div.row p {
  line-height: 16px !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix {
  clear: both;
  display: block;
  content: '';
}

b {
  font-weight: bold;
}

strong {
  font-weight: 900;
}

img {
  max-height: 40%;
  max-width: 100%;
}

.font-black {
  font-weight: 900;
}

div.row:after {
  clear: both;
  display: block;
  content: '';
}

div.row div.left-side {
  float: left;
}

div.row div.right-side {
  float: right;
}

div.row img.right {
  float: right;
}

@media all and (max-width: 440px) {
  div.row img.right {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

div.row img.left {
  float: left;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

body {
  background: linear-gradient(to right, #808195 , #b6b6c2, #b6b6c2, #b6b6c2, #808195);
  font-family: Arial;
}

div.wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 13px 0px rgba(0, 1, 1, 0.3);
  background: white;
  padding-top: 32px;
}

ul li {
  line-height: 20px;
  font-size: 15px;
  color: #3d3d3d;
  position: relative;
}

ul li:before {
  position: absolute;
  content: '•';
  top: 0;
  left: -17px;
  color: #00b02a;
  font-size: 17px;
}

p {
  font-size: 15px;
  line-height: 20px;
  color: #3d3d3d;
}

div.row div.content {
  width: 72.16494845%;
  float: left;
  vertical-align: top;
  position: relative;
}

div.row aside {
  float: right;
  vertical-align: top;
  width: 27.83505155%;
}

div.content {
  padding: 0 57px 0 38px;
}

div.content h1 {
  color: #7a20b5;
  font-size: 52px;
  text-align: center;
  font-weight: 900;
}

.fronth1 {
  background: url(../../images/frontend/h1.jpg) no-repeat left center;
}

.fronth2 {
  background: url(../../images/frontend/h2.jpg) no-repeat left center;
}

div.content h2 {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  padding-left: 53px;
  min-height: 39px;
  margin-bottom: 25px;
  font-weight: 900;
}

div.content h2.one-line {
  padding-top: 8px;
  margin-bottom: 15px;
}

div.content h3 {
  color: #3d3d3d;
  font-size: 15px;
  margin-bottom: 3px;
  line-height: 20px;
  font-weight: 900;
}

div.content section {
  margin-bottom: 30px;
}

div.content div.product-desc {
  font-weight: 900;
  text-align: center;
  margin: 35px auto;
  width: 81%;
}

div.content div.product-desc p {
  font-size: 20px;
  margin-bottom: 5px;
}

div.content div.product-desc ul {
  margin-left: 13.13131313%;
}

div.content div.product-desc ul li {
  font-size: 15px;
  text-align: left;
  line-height: 22px;
  color: black;
}

div.content blockquote {
  background: #ebf9da;
  border: 2px solid #498600;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  line-height: 18px;
  padding: 16px 20px;
  margin: 20px 0;
  width: 92%;
}

div.content footer {
  margin-top: 100px;
  text-align: center;
}

div.content footer {
  margin-top: 100px;
  text-align: center;
}

.disclaimer {
  padding: 0 20px 20px;
  width: 70%;
}

.disclaimer p {
  font-size: 10px;
  margin-top: 70px;
  text-align: center;
}

.disclaimer p + p {
  margin-top: 10px;
}

div.content footer a {
  text-decoration: none;
  color: #3d3d3d;
  display: inline-block;
  padding: 0 15px;
  font-size: 11px;
  border-left: 1px solid #3d3d3d;
}

div.content footer a:first-child {
  border-left: 0;
}

section.block-3 div.row div.left-side {
  width: 51%;
}

section.block-4 div.row {
  margin: 25px 0;
}

section.block-4 div.row div.left-side {
  width: 62%;
}

section.block-4 div.row div.left-side ul li + li {
  margin-top: 15px;
}

section.block-4 div.row div.left-side ul li:before {
  left: 0;
  font-size: 23px;
}

section.block-4 div.row div.left-side ul li {
  padding-left: 17px;
}

section.block-6 div.media {
  margin-top: 25px;
}

section.block-6 div.media div.right-side {
  width: 69%;
}

section.block-6 div.media div.right-side p {
  margin: 5px 0;
}

section.block-6 div.media div.right-side a {
  font-size: 13px;
  color: blue;
  text-decoration: none;
}

section.block-6 div.media div.row + div.row {
  margin-top: 35px;
}

div.specialist {
  background: #eef6e9;
  padding: 22px 29px 22px 9px;
  margin-top: 15px;
  font-style: italic;
}

div.specialist:after {
  clear: both;
  display: block;
  content: '';
}

div.specialist img {
  float: left;
  margin-right: 20px;
}

div.specialist h3 {
  color: #0e0e0e;
  font-style: normal;
  margin-bottom: 15px;
}

div.product-order {
  text-align: center;
  margin: 30px 0;
}

div.product-order img {
  margin: 30px 0;
}

.greenBtn,
.redBtn {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 18px 40px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  background: #00b02a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#437b00', endColorstr='#578f14', GradientType=0);
  font-weight: 900;
  cursor: pointer;
  border: none;
}

.greenBtn {
  background: #794293;
}

.redBtn {
  margin-top: 0;
}

.grayBtn {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: #969696;
  background: -moz-linear-gradient(top, #969696 0%, #aaaaaa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #969696), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(top, #969696 0%, #aaaaaa 100%);
  background: -o-linear-gradient(top, #969696 0%, #aaaaaa 100%);
  background: -ms-linear-gradient(top, #969696 0%, #aaaaaa 100%);
  background: linear-gradient(to bottom, #969696 0%, #aaaaaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#aaaaaa', GradientType=0);
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 14px 40px;
  text-transform: uppercase;
  text-decoration: none;
}

aside {
  padding-left: 20px;
  padding-right: 20px;
}

aside div.effect {
  border: 1px solid #e8e8e8;
  padding: 8px;
  padding-bottom: 20px;
}

aside div.effect h4 {
  color: #3d3d3d;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 900;
}

aside div.effect div.txt {
  padding: 0 4px 0 5px;
}

aside div.effect p.end {
  font-weight: bold;
  margin-top: 15px;
  font-weight: 900;
}

aside div.effect + div.effect {
  margin-top: 25px;
}

h1.line {
  text-align: center;
  padding-top: 12px;
  margin-bottom: 35px;
}

h1.line span {
  float: left;
  background: white;
  padding-right: 20px;
  margin-top: -12px;
}

div.wrapper.order {
  margin-top: 30px;
  padding-top: 15px;
  max-width: 820px;
}

div.wrapper.order form:before {
  clear: both;
  display: block;
  content: '';
}

div.wrapper.order h1 {
  font-size: 25px;
}

div.wrapper.order p.green {
  color: #00b02a;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'latobold';
}

div.wrapper.order div.form-element:after {
  clear: both;
  display: block;
  content: '';
}

div.wrapper.order div.form-element label {
  display: inline-block;
  width: 19.4%;
  text-align: right;
  color: #363636;
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
  font-family: 'latobold';
}

div.wrapper.order div.form-element span.help {
  color: #acacac;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

div.wrapper.order div.form-element input[type=text],
div.wrapper.order div.form-element select {
  border: 1px solid #c2c2c2;
  height: 29px;
  max-width: 305px;
  width: 100%;
  font-size: 12px;
  padding: 0 10px;
  font-family: 'latoregular';
}

div.wrapper.order div.form-element input[type=text].phone,
div.wrapper.order div.form-element select.phone {
  max-width: 218px;
}

div.wrapper.order div.form-element input[type=text].name,
div.wrapper.order div.form-element select.name {
  max-width: 257px;
}

div.wrapper.order div.form-element div.row {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

div.wrapper.order div.form-element div.row input {
  float: left;
  margin-right: 15px;
}

div.wrapper.order div.form-element div.row p {
  width: 55%;
  float: left;
  color: #222222;
  font-size: 12px;
  line-height: 16px;
}

div.wrapper.order div.form-element div.row p span {
  color: #919191;
  display: block;
}

div.wrapper.order div.form-actions {
  text-align: center;
  margin-bottom: 35px;
}

div.wrapper.order div.form-actions input[type=submit] {
  border: 0;
  cursor: pointer;
  padding: 14px 32px 12px;
}

div.wrapper.no-aside.order2 div.content {
  padding: 0 59px 50px;
}

div.wrapper.no-aside.order2 h1 {
  color: #00b02a;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}

div.wrapper.no-aside.order2 h1 span {
  color: #cb053d;
  font-size: 39px;
  font-weight: 900;
}

div.wrapper.no-aside.order2 p {
  color: black;
  width: 93%;
}

div.wrapper.no-aside.order2 p.h1-next {
  font-size: 20px;
  text-align: center;
  color: #010101;
  width: 100%;
}

div.wrapper.no-aside.order2 p.lead {
  text-align: center;
  color: #010101;
  font-size: 22px;
  line-height: 35px;
  font-weight: bold;
  margin: 38px 0;
  width: 100%;
}

div.wrapper.no-aside.order2 p.lead-2 {
  width: 100%;
  color: #010101;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}

div.wrapper.no-aside.order2 h2 {
  color: #00b02a;
  font-size: 24px;
  background: none;
  min-height: auto;
  padding: 0;
  margin: 40px 0 25px;
  text-align: center;
  text-transform: none;
  font-weight: 900;
}

div.wrapper.no-aside.order2 table {
  width: 74.82598608%;
  margin: 0 auto 30px;
  border: 1px solid #c1c1c1;
}

div.wrapper.no-aside.order2 table thead th {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background: #00b02a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a8009', endColorstr='#72a932', GradientType=0);
  padding: 15px 0;
  border-left: 1px solid #466f14;
  text-align: center;
}

div.wrapper.no-aside.order2 table td {
  text-align: center;
  border: 1px solid #c1c1c1;
  font-size: 14px;
  padding: 10px 10px;
  vertical-align: middle;
}

div.wrapper.no-aside.order2 table td:first-child {
  text-align: right;
}

div.wrapper.no-aside.order2 table td.red,
div.wrapper.no-aside.order2 table td.green {
  color: #e70606;
  font-size: 16px;
  font-weight: 900;
}

div.wrapper.no-aside.order2 table td.green {
  color: #00B02A;
}

div.wrapper.no-aside.order2 div.btn {
  text-align: center;
}

div.wrapper.no-aside.order2 div.btn a.grayBtn {
  margin-top: 20px;
  padding: 18px 40px 16px;
}

div.wrapper.no-aside.order2 div.btn a.greenBtn {
  padding: 18px 40px 16px;
}

div.wrapper.no-aside.order2 div.thanks {
  border: 4px solid #e8e8e8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
}

div.wrapper.no-aside.order2 div.thanks div.ng {
  color: white;
  background: #00b02a;
  padding: 20px 0;
  font-weight: 900;
  font-size: 32.43px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.wrapper.no-aside.order2 div.thanks p {
  width: 100%;
  font-size: 17px;
  line-height: 22px;
}

div.wrapper.no-aside.order2 div.thanks a {
  background: #f68900;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 900;
  padding: 12px 30px;
  display: inline-block;
  margin: 25px 0 30px;
}

div.wrapper.no-aside div.content {
  width: 100%;
  padding: 0 15px;
}

div.fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

div.fade div.superpromo {
  background: url(../../images/frontend/piperine-superpromo.jpg) no-repeat top center;
  width: 724px;
  height: 362px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  -moz-transform: translate(-50%, -70%);
  -webkit-transform: translate(-50%, -70%);
  -o-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 26px 205px 15px 0px;
}

div.fade div.superpromo span.circle-percent {
  background: #ffc000 none repeat scroll 0 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: white;
  font-size: 29px;
  font-weight: 900;
  height: 100px;
  padding-top: 35px;
  position: absolute;
  right: 110px;
  text-align: center;
  top: 37px;
  transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  width: 100px;
}

div.fade div.superpromo h1 {
  color: black;
  font-size: 33.4px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 16px;
  text-align: center;
}

div.fade div.superpromo h1 span {
  color: #00ba2c;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 6px;
  text-transform: uppercase;
}

div.fade div.superpromo h1 strong {
  color: #b90808;
  font-size: 53px;
}

div.fade div.superpromo p {
  color: black;
  font-size: 22.51px;
  line-height: 30.76px;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

div.fade div.superpromo p.margin-top-20 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}

div.fade div.superpromo div.actions {
  width: 68%;
  text-align: center;
  margin: 0 auto;
}

div.fade div.superpromo div.actions a.greenBtn {
  padding: 16px 30px;
  margin-bottom: 5px;
  margin-top: 20px;
}

div.fade div.superpromo div.actions span {
  font-size: 13px;
}

div.wrapper.no-aside.promo {
  padding-top: 20px;
}

div.wrapper.no-aside.promo div.content {
  padding: 0px 59px 100px;
}

div.wrapper.no-aside.promo h1 {
  font-size: 46px;
  color: #00b02a;
  margin-bottom: 20px;
  font-weight: 900;
}

div.wrapper.no-aside.promo p.h1-next {
  font-size: 22px;
  text-align: center;
  font-weight: 900;
}

div.wrapper.no-aside.promo div#counter {
  text-align: center;
  color: #b90808;
  font-size: 52px;
  margin: 29px 0 15px;
}

div.wrapper.no-aside.promo div.row {
  width: 52%;
  margin: 30px auto;
}

div.wrapper.no-aside.promo div.row div.left-side {
  text-align: center;
  padding-top: 68px;
}

div.wrapper.no-aside.promo div.row div.left-side p {
  color: black;
  font-weight: bold;
}

div.wrapper.no-aside.promo div.row div.left-side p.old {
  font-size: 18.23px;
  text-decoration: line-through;
}

div.wrapper.no-aside.promo div.row div.left-side p.new {
  font-size: 23.59px;
  line-height: 32.17px;
  margin-top: 15px;
}

div.wrapper.no-aside.promo div.row div.left-side p.new span {
  font-weight: 900;
}

div.wrapper.no-aside.promo p.bold:first-line {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

div.wrapper.no-aside.promo div.action {
  text-align: center;
}

div.wrapper.index2 div.content {
  padding: 0 25px;
}

div.wrapper.index2 div.content h1 {
  font-size: 37.8px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 30px;
}

div.wrapper.index2 div.content div.metamorphosis {
  background: #e1e1e1;
  border: 1px solid #a7a7b3;
  padding: 22px 22px;
}

div.wrapper.index2 div.content div.metamorphosis span.title {
  font-size: 22.2px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

div.wrapper.index2 div.content div.metamorphosis p {
  color: black;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.left-side,
div.wrapper.index2 div.content div.metamorphosis div.row div.right-side {
  width: 52%;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.left-side p,
div.wrapper.index2 div.content div.metamorphosis div.row div.right-side p {
  line-height: 23px;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.left-side span,
div.wrapper.index2 div.content div.metamorphosis div.row div.right-side span {
  font-weight: bold;
  font-style: italic;
  display: block;
  text-align: right;
  font-size: 15px;
  margin-top: 10px;
}

div.wrapper.index2 div.content div.metamorphosis div.row div.right-side {
  float: right;
}

div.wrapper.index2 div.content div.metamorphosis div.sign {
  line-height: 23px;
  font-size: 15px;
  margin-top: 5px;
}

div.wrapper.index2 div.content div.metamorphosis div.sign:first-line {
  font-weight: bold;
}

div.wrapper.index2 div.content section.block-1:after {
  clear: both;
  display: block;
  content: '';
}

div.wrapper.index2 div.content section.block-1 > img {
  float: right;
  border: 1px solid #a8a8a8;
  margin-left: 15px;
}

div.wrapper.index2 div.content section.block-1 ul {
  margin-top: 15px;
  margin-left: 10%;
}

div.wrapper.index2 div.content section.block-1 ul li {
  margin: 5px 0;
}

div.wrapper.index2 div.content section.block-1 ul li:before {
  font-size: 22px;
}

div.wrapper.index2 div.content section.block-1 p.bordered {
  border-bottom: 3px solid #727489;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 10px;
}

div.wrapper.index2 div.content h3 {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: black;
  margin: 25px 0 15px;
}

div.wrapper.index2 div.content p.center {
  text-align: center;
}

div.wrapper.index2 div.content div.info {
  background: #ebf9da;
  border: 2px solid #498600;
  margin: 25px auto;
  text-align: center;
  padding: 21px 25px;
  width: 59%;
}

div.wrapper.index2 div.content div.info h4 {
  color: #df0000;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 8px;
}

div.wrapper.index2 div.content div.info p {
  font-weight: bold;
}

h1.static-line {
  border-bottom: 10px solid #d5e9f5;
  color: #212020 !important;
  font-size: 40.87px !important;
  font-weight: bold !important;
  line-height: 0;
  margin-bottom: 31px;
  text-align: left !important;
  text-transform: uppercase;
  width: 100%;
}

h1.static-line span {
  background: white none repeat scroll 0 0;
  padding: 0 20px 0 0;
  position: relative;
  top: 5px;
}

div.row div.content.full {
  width: 100%;
  padding-bottom: 50px;
}

form.static-form {
  padding-bottom: 50px;
}

form.static-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
}

form.static-form input,
form.static-form select,
form.static-form textarea {
  border: 1px solid #b3b3b3;
  height: 33px;
  width: 100%;
  max-width: 462px;
  font-family: Arial;
  font-size: 14px;
}

form.static-form textarea {
  height: auto;
}

form.static-form input[type=submit] {
  width: auto;
  height: auto;
  background: #a80067;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  padding: 7px 20px 5px !important;
  border-radius: 0;
}

div.content.full h2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  font-size: 21px;
  margin: 20px 0 5px;
  min-height: auto;
  padding: 0;
  text-transform: none;
}

div.content.full h3 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
}

.product-image {
  display: inline-block;
  position: relative;
}

div.product-image .price {
  margin-bottom: 20px;
  font-weight: bold;
}

div.product-image .price span {
  text-decoration: line-through;
  font-weight: normal;
}

.product-image .badge {
  background: rgba(0, 0, 0, 0) url("../../images/frontend/piperine-badge.png") repeat scroll 0 0;
  height: 170px;
  width: 150px;
  color: #803a11;
  font-size: 15.99px;
  text-transform: uppercase;
  font-family: 'bebas_neueregular';
  position: absolute;
  text-decoration: line-through;
  top: 69px;
  left: 159px;
}

.product-image .badge div {
  left: -2px;
  position: absolute;
  top: 55px;
  transform: rotate(45.5deg);
}

.product-image .badge span {
  text-decoration: none;
  color: white;
  font-size: 30.91px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

.product-image .badge span:first-line {
  font-size: 21.96px;
}

.form-actions.margin-top-20.order-form-end {
  padding-left: 147px;
  text-align: left !important;
}

.form-actions.margin-top-20.order-form-end .order-summation {
  background: rgba(0, 0, 0, 0) url("../../images/frontend/order-summation.jpg") repeat scroll 0 0;
  height: 170px;
  margin-top: 20px;
  width: 320px;
  padding-top: 66px;
}

.form-actions.margin-top-20.order-form-end .order-summation table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 13px;
  width: 100%;
}

.form-actions.margin-top-20.order-form-end .order-summation table td {
  padding: 7px 35px;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr td:first-child {
  text-align: right;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr td:last-child {
  color: #00b02a;
  font-family: 'latoblack';
}

.form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td:first-child {
  color: #00b02a;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td:last-child {
  color: #b80e51;
}

.form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td {
  padding-top: 20px;
  font-family: 'latoblack';
  text-transform: uppercase;
}

.metamorphosis-alt {
  background: linear-gradient(to right, #b6b6c0 , #fbfbfb, #b6b6c0);
  max-width: 641px;
  background-size: 100%;
  padding: 26px 42px;
  border: 1px solid #9091a3;
}

.metamorphosis-alt span.title {
  display: block;
  font-size: 23.22px;
  font-weight: bold;
  margin-bottom: 13px;
}

.metamorphosis-alt p {
  color: black;
  width: 65%;
  float: left;
}

.metamorphosis-alt #photo {
  float: right;
  width: 35%;
  position: relative;
  left: 10px;
}

@media all and (max-width: 440px) {
  .metamorphosis-alt span.title {
    text-align: center;
  }

  .metamorphosis-alt p {
    width: 100%;
    float: none;
    margin-top: 10px;
  }

  .metamorphosis-alt #photo {
    float: none;
    width: 75%;
    position: static;
    left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.metamorphosis-alt .sign::first-line {
  font-weight: bold;
}

.metamorphosis-alt .sign {
  font-size: 13px;
  line-height: 19px;
  margin-left: 25px;
  margin-top: -4px;
  padding-bottom: 10px;
  text-align: right;
}

.clear-both {
  clear: both;
}

div.error_message {
  background: red;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.validation_error {
  color: red;
  font-size: 12px;
  padding-left: 143px;
}

body.pl .form-actions.margin-top-20.order-form-end .order-summation {
  background: url("../../images/frontend/order-summation.jpg");
}

body.es .metamorphosis-alt p {
  line-height: 20px;
}

body.es .metamorphosis-alt .sign {
  margin-left: 330px;
  margin-top: -40px;
}

body.es .form-actions.margin-top-20.order-form-end .order-summation {
  background: url("../../images/frontend/order-summation.jpg");
}

@media all and (max-width: 890px) {
  div.wrapper div.row div.content div.row img.right {
    width: 43%;
  }
}

@media all and (max-width: 768px) {
  div.wrapper div.row {
    display: block !important;
  }

  div.wrapper div.row div.content {
    float: none !important;
    display: block !important;
    width: 100% !important;
  }

  div.wrapper div.row aside {
    float: none !important;
    display: block !important;
    width: 100% !important;
    margin-top: 50px;
    text-align: center;
  }

  div.wrapper div.row aside div.effect {
    display: inline-block;
    text-align: left;
    max-width: 250px;
    width: 100%;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 20px;
  }

  div.wrapper.no-aside div.content {
    width: 100% !important;
    max-width: 100% !important;
    float: none !important;
  }

  div.wrapper.order div.form-element span.help {
    display: block;
    margin: 0 0 0 14px;
    padding-left: 19.4%;
  }

  div.wrapper.no-aside.order2 div.thanks div.ng {
    font-size: 22.43px;
    padding: 15px 0;
  }

  div.wrapper.no-aside.order2 div.thanks p {
    font-size: 15px;
  }

  div.wrapper.no-aside.order2 div.thanks p.margin-top-20 {
    margin-top: 12px;
  }
}

@media all and (max-width: 670px) {
  div.wrapper div.row div.content div.row img.right {
    width: 39%;
  }
}

@media all and (max-width: 555px) {
  p {
    font-size: 14px;
    line-height: 22px !important;
  }

  div.wrapper.index2 div.content h1 {
    font-size: 31.8px;
    line-height: 40px;
  }

  div.wrapper.index2 div.content div.metamorphosis {
    padding: 15px;
  }

  div.wrapper.index2 div.content div.metamorphosis div.row div.left-side {
    width: 100%;
  }

  div.wrapper.index2 div.content div.metamorphosis span.title {
    font-size: 19.2px;
  }

  img.block-1-img {
    width: 28%;
  }

  div.content h2 {
    font-size: 15px;
    line-height: 19px;
  }

  div.wrapper.index2 div.content div.info {
    width: 100%;
  }

  div.wrapper.index2 div.content {
    padding: 0 10px;
  }

  div.wrapper.order div.form-element label {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 3px;
  }

  div.wrapper.order div.form-element span.help {
    margin: 0;
    padding: 0;
  }

  div.wrapper.order div.form-element div.row p {
    width: 88%;
  }

  .form-actions.margin-top-20.order-form-end {
    padding-left: 0;
  }

  div.wrapper.order div.form-element input[type="text"],
  div.wrapper.order div.form-element select {
    max-width: 100% !important;
    width: 100%;
    margin-bottom: 3px;
  }

  div.wrapper.order div.form-element input#post {
    max-width: 35% !important;
  }

  div.wrapper.order div.form-element input#city {
    max-width: 63% !important;
  }

  div.wrapper.order div.form-actions {
    padding-bottom: 35px;
  }

  div.wrapper.order div.form-element div.row {
    width: 100%;
  }

  div.wrapper.no-aside.order2 div.content {
    padding: 0 15px 50px;
  }

  div.wrapper.no-aside.order2 table {
    width: 100%;
  }

  div.wrapper.no-aside.order2 p {
    width: 100%;
  }

  div.wrapper.no-aside.order2 div.thanks p {
    padding: 0 20px;
  }
}

@media all and (max-width: 350px) {
  .form-actions.margin-top-20.order-form-end .order-summation {
    background-size: 100% 100%;
    width: 100%;
  }

  .form-actions.margin-top-20.order-form-end .order-summation table td {
    padding: 7px 10px;
  }

  .form-actions.margin-top-20.order-form-end .order-summation table tr:last-child td {
    padding-top: 16px;
  }
}

@media all and (max-width: 455px) {
  div.wrapper.index2 div.content h1 {
    font-size: 24.8px;
    line-height: 32px;
  }

  div.wrapper.index2 div.content div.metamorphosis span.title {
    font-size: 17.2px;
    text-align: center;
  }

  div.wrapper.no-aside.order2 table img {
    width: 50%;
  }

  div.wrapper.no-aside.order2 h1 span {
    font-size: 34px;
  }

  div.wrapper.no-aside.order2 h1 {
    font-size: 26px;
  }

  div.wrapper.no-aside.order2 p.lead {
    font-size: 19px;
  }

  div.wrapper.no-aside.order2 .greenBtn {
    font-size: 17px;
    padding: 18px 34px;
  }

  div.wrapper.no-aside.order2 div.btn a.grayBtn {
    font-size: 13px;
  }

  div.wrapper.no-aside.order2 div.thanks div.ng {
    font-size: 18.43px;
  }

  div.wrapper.no-aside.order2 div.thanks p {
    font-size: 14px;
  }

  div.wrapper.no-aside.order2 div.thanks a {
    font-size: 14px;
    padding: 13px 20px;
  }
}

@media all and (max-width: 355px) {
  div.wrapper.index2 div.content h1 {
    font-size: 21.8px;
    line-height: 28px;
  }

  .greenBtn,
  .redBtn {
    font-size: 19px;
    padding: 18px 32px;
  }
}

.thanks-box img {
  float: left;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}

.thanks-box p {
  font-size: 14px;
  color: #FFF !important;
  padding: 11px;
  width: 100% !important;
  line-height: 22px;
}

.thanks-box p span {
  color: #FF0;
}

div.wrapper.no-aside.order2 {
  padding-top: 14px;
}

.thanks_wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}

.thanks_box {
  height: 100%;
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 35%;
  right: 35%;
  font-weight: bold;
}

.thanks_box h1 {
  font-size: 170%;
}

#thanks_content {
  margin-top: 20px;
}

#thanks_content p {
  font-size: 120%;
}

#mobile-footer {
  display: none;
}

@media all and (max-width: 440px) {
  .thanks_wrapper {
    max-height: 100%;
    max-width: 100%;
  }

  .thanks_box {
    max-height: 100%;
    position: static;
  }

  .disclaimer {
    width: 100%;
  }

  #footer {
    display: none;
  }

  #mobile-footer {
    display: block;
    margin-top: 100px;
    text-align: center;
  }

  #mobile-footer a {
    text-decoration: none;
    color: #3d3d3d;
    display: inline-block;
    padding: 0 15px;
    font-size: 11px;
  }

  #mobile-footer a:nth-child(2),
  a:nth-child(3) {
    border-left: 1px solid #3d3d3d;
  }
}

@media all and (max-width: 568px) {
  #garciniaPopup {
    max-width: none!important;
  }

  .garciniaInputs {
    padding: 1%!important;
  }

  #garciniaInputsSubmitButton {
    top: 78%!important;
  }
}

@media all and (max-width: 600px) {
  #garciniaPopup {
    min-width: 0px!important;
    max-width: 320px!important;
    min-height: 295px!important;
  }

  #garciniaContainer {
    top: 0%!important;
    left: 0%!important;
    width: 100%!important;
    height: 100%!important;
  }

  #garciniaInputsSubmitButton {
    font-size: 11px!important;
  }
}

#garciniaPopup {
  background: url("../../images/frontend/bg-popup-garcinia.jpg") no-repeat;
  min-width: 600px;
  min-height: 350px;
}

#garciniaContainer {
  text-align: center;
  border: 5px solid rgba(130, 126, 159, 0.6);
  border-radius: 10px;
  box-shadow: 2px 3px 3px #888888;
  background: rgba(255, 255, 255, 0.7);
  width: 410px;
  height: 300px;
  position: absolute;
  left: 165px;
  top: 30px;
}

#garciniaHeader {
  font-weight: bold;
}

#garciniaHeader h1 {
  margin-top: 10px;
  color: #6a4c72;
  font-size: 22px;
}

#garciniaHeader p {
  margin-top: 5px;
  margin-bottom: 6px;
  line-height: 100%;
}

#garciniaBelt {
  background-color: #694877;
  height: 40px;
  width: 402px;
  color: white;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
}

.garciniaInputs {
  color: #414141;
  border: 1px solid #d6d6de;
  padding: 2%;
  margin-top: 2%;
  width: 90%;
}

.garciniaInputs:first-of-type {
  margin-top: 2%;
}

#garciniaInputsSubmitButton {
  position: absolute;
  color: white;
  top: 83%;
  left: 2%;
  background: linear-gradient(#4dab00, #469000);
  border-radius: 6px;
  border: 0px;
  font-weight: bold;
  font-size: 14px;
  width: 96%;
  height: 12%;
}

#garciniaFooter {
  position: absolute;
  top: 86%;
  left: 10%;
  font-weight: bold;
  font-size: 14px;
}

div.content footer {
  margin-top: 0px!important;
}

#addressOrder :nth-child(2) {
  margin-top: 18px;
}

#addressOrder :nth-child(3) {
  margin-top: 18px;
}

#addressOrder :nth-child(4) {
  margin-top: 18px;
}

@media all and (width: 320px) {
  #orderSubmit {
    font-size: 10px;
  }
}

@media all and (min-width: 360px) and (max-width: 376px) {
  #orderSubmit {
    font-size: 12px;
  }
}

#orderFormBorder {
  border: 3px solid #794293;
}
div.wrapper.order div.form-element label.input-label {
  display: inline;
  font-family: latoregular;
  margin-right: 0;
  text-align: left;
  vertical-align: top;
  width: auto;
}

.form-actions.margin-top-20.order-form-end {
  padding-left: 21.4%;
}

.validation_error {
  color: red;
  font-size: 12px;
  padding-left: 21%;
}

#address select {
  display: block;
}

.margin-left {
  margin-left: 21%;
}

.rad {
  border: 2px solid #a1a1a1 !important;
  border-radius: 25px !important;
}

#form {
  position: relative;
  left: 10%;
  right: 10%;
}

@media all and (max-width: 440px) {
  #form {
    position: static;
    left: auto;
    right: auto;
  }

  .margin-left {
    margin-left: auto;
  }

  .form-actions.margin-top-20.order-form-end {
    padding-left: 1%;
    max-width: 300px;
  }
}