* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.2; }

header {
  background: #0098db;
  text-align: center;
  padding: 20px 35px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  header .logo {
    display: block; }
    header .logo img {
      max-width: 100%;
      height: auto; }

main .top {
  padding: 0 35px 45px;
  background: #0098db url("img/bg.png") no-repeat center bottom;
  background-size: 100% auto; }
  main .top h1 {
    padding: 40px 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center; }
  main .top p {
    margin: 0 auto;
    max-width: 310px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: center; }
main .trial {
  padding: 35px;
  background: #153544; }
  main .trial form {
    margin: 0 auto;
    max-width: 310px; }
    main .trial form ul {
      list-style: none;
      padding: 0; }
    main .trial form li {
      margin-bottom: 15px; }
      main .trial form li label {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        display: block;
        padding-bottom: 7px; }
      main .trial form li input {
        width: 100%;
        border-radius: 5px;
        border: 3px solid #f7941d;
        background-color: #ffffff;
        height: 58px; }
      main .trial form li .btn {
        border-radius: 5px;
        background-color: #f7941d;
        height: 64px;
        width: 100%;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        border: 0;
        border-bottom: 5px solid #e17f26; }
        main .trial form li .btn:hover {
        cursor:pointer;}
main .boxes {
  padding: 30px 35px;
  text-align: center;
  background: #f1f6f8; }
  main .boxes h2 {
    color: #0098db;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px; }
  main .boxes .box {
    margin: 0 auto;
    max-width: 410px;
    border-radius: 7px;
    border: 1px solid #bcc6dd;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 24px; }
    main .boxes .box .ico {
      margin-top: 5px; }
    main .boxes .box h4 {
      color: #f7941d;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      margin: 25px 0; }
    main .boxes .box p {
      text-align: left;
      color: #979fc3;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
    main .boxes .box ul {
      list-style: none;
      padding: 0; }
      main .boxes .box ul li {
        color: #979fc3;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left; }
main .about {
  padding: 35px;
  background: #67bfe7 url("img/bg_trans.png") no-repeat center;
  background-size: cover;
  text-align: center; }
  main .about h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 35px; }
  main .about .face {
    margin: 0 0 30px; }
  main .about p {
    display: block;
    margin: 0 auto;
    max-width: 310px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: center; }

footer {
  background-color: #153544;
  padding: 30px 35px; }
  footer .copyright {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }

.back-to-top a {
  position: fixed;
  bottom: 20px;
  right: 23px;
  z-index: 9;
  width: 33px;
  height: 33px;
  background: url(img/arrow_top.png) 0 0 no-repeat;
  font-size: 24px;
  line-height: 1;
  outline: 0; }

/*# sourceMappingURL=style.css.map */
