#ExitDiv {
    display: none;
    position: absolute;
    top: 10px;
    left: 15px;
    margin: auto;
    width: 700px;
    height: 154px;
    z-index: 1000;
    cursor: default;
    pointer-events: none;
}

#exitdiv_text1 {
    position: relative;
    top: 5px; left: 5px;
    width: 400px;
    height: 93px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: #6E0606;
    font-weight: bold;
    font-stretch: condensed;
}

#exitdiv_text2 {
    position: absolute;
    top: 0;
    left: 400px;
    width: 300px;
    height:93px;
    font-family: arial;
    font-size: 56px;
    color: #6E0606;
    font-weight: bold;
}

#exitdiv_text3 {
    position: absolute;
    left: 225px;
    top: 100px;
    width: 230px;
    height:100px;
    font-family: arial; font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #04447C;
}

#left-wrapper {
    position: relative;
    width: 475px;
    height: 100px;
    float: left;
}
#left-wrapper #popup-1-top {
    position: relative;
    padding: 25px 0 0 35px;
    width: 217px;
    height: 61px;
}
#left-wrapper #popup-1-top #popup1-header-1 {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size:8px;
    color: #6F77C6;
}
#left-wrapper #popup-1-top #popup1-header-2 {
    margin-top: 5px;
    font-family: arial;
    font-size:7px;
    color: #353234;
}
#left-wrapper #exit_div_alert1 {
    width: 147px;
    margin-top: -25px;
    padding: 0 35px 5px 35px;
    background: url('//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_1_middle.gif') repeat-y  0% 0%;

    font-family: arial;
    font-size: 8px;
    color: #353234;
}
#left-wrapper #popup-1-bottom {
    width: 217px;
    height: 55px;
    background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_1_bottom.gif) no-repeat;
}

#left-wrapper #popup-1-bottom .texts {
    margin-left: 50px;
    font-family: arial;
    font-size: 9px;
    color: #151C55;
}
#left-wrapper #popup-1-bottom .text-1 {
    padding-top: 4px;
}
#left-wrapper #popup-1-bottom .text-2 {
    position: relative;
    padding-top: 8px;
}
#left-wrapper #popup-1-bottom .text-2 .arrow {
    position: absolute;
    bottom: -12px;
    right: -49px;
    width: 247px;
    height: 64px;
    background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/arrow_1.png) no-repeat 0% 0%;

}
#left-wrapper #popup-3 {
    position: relative;
    width: 418px;
    height: 96px;

    float: right;

    background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_3.gif) no-repeat;

    font-family: arial;
}
#left-wrapper #popup-3 .texts {
    font-size: 9px;
    color: #000;
}
#left-wrapper #popup-3 .text-1 {
    padding: 33px 15px 0px 42px;
}
#left-wrapper #popup-3 .text-2, #left-wrapper #popup-3 .text-3 {
    position: absolute;
    bottom: 19px; left: 124px;
    width: 76px;
    height: 15px;

    font-size: 9px;
    text-align: center;
    color: #151C55;
}

#left-wrapper #popup-3 .text-3 {
    left: 208px;
}

#left-wrapper #popup-3 .text-3 .arrow {
    position: absolute;
    bottom: -7px;
    right: -14px;
    width: 101px;
    height: 137px;
    background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/arrow_2.png) no-repeat 0% 0%;

}
#right-wrapper {
    position: relative;
    width: 225px;
    margin-top: 36px;
    float: right;
}
#right-wrapper #popup-2-top {
    width: 227px;
    height: 27px;
    background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_2_top.gif) no-repeat;
}
#right-wrapper #exit_div_alert3 {
    width: calc(227px - 36px);
    padding: 10px 18px;
    background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_2_middle.gif) repeat-y;
    font-family: arial;
    font-size:10px;
    color: #353234;
}
#right-wrapper #popup-2-bottom {
    width: 227px;
    height: 42px;
    background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_2_bottom.gif) no-repeat;
}
#right-wrapper #popup-2-bottom .texts {
    position: absolute;
    font-family: arial;
    font-size: 9px;
    text-align: center;
    color: #151C55;
}
#right-wrapper #popup-2-bottom .text-1, #right-wrapper #popup-2-bottom .text-2 {
    bottom: 21px;
    left: 27px;
    width: 74px;
    height: 15px;
}
#right-wrapper #popup-2-bottom .text-2 {
    bottom: 21px;
    left: 105px;
    width: 100px;
}
#right-wrapper #popup-2-bottom .text-2 .popup {
    position: absolute;
    bottom: -10px;
    right: -7px;
    width: 280px;
    height: 133px;
    background: transparent url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/arrow_3.png) no-repeat 0% 0%;
}
iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}
.d38f0e547e2d { width:2px !important; height:2px !important; border:0 !important; background:none !important; border-style:none !important; position:absolute; }
.e451f6a00d29 { width:1px !important; height:1px !important; border:0 !important; background:none !important; border-style:none !important; position:absolute; }
