#wrapper {max-width:960px;width:auto;padding:20px 0.5%;}
#sidebar {max-width:252px;width:27%;margin:44px 0 0 2%;}
#post{max-width:630px;margin:0 2%;width:66%;float: left;}
ul.testimonials li.opinion img{width:100%;height:auto;max-width:165px;}
.box_1{padding: 3%;  width: 98%;}
#tocart{width:auto;}
.box_achtung{max-width:400px;width:96%;padding:2%;}
#bottle {max-width:310px;width:100%;}
#bottle_g {right: 22%;}
#bottle img {
    margin: 10px auto;
    max-height: 400px!important;
    width: auto;
}
@media all and (max-width:1000px){
	#wrapper{border:0;}
}
@media all and (max-width:1000px){
	#sidebar, #post{width:auto;float:none;border:0;max-width:none;margin: 20px 2%;}
	ul.testimonials li.opinion{width:40%;display:inline-block;vertical-align:top;margin:2% !important;padding:0 2% 2%;}
	.box_1{width:auto;}
	.ui-pnotify{right:0;bottom:0!important;}
}
@media all and (max-width:500px){
	.box_1 img{float: none;max-width:280px;width:100%;margin:0 auto 20px;}
}
@media all and (max-width:450px){
	ul.testimonials li.opinion{display:block;width:92%;}
}
/*order*/
#content, #footer-nav{max-width:740px;width:96%;    margin: auto;}
.container{overflow: visible;}
form .info {font-size:12px;}
#footer-nav{line-height:normal;}
@media all and (max-width:750px){
	form .info {display:block;}
}
@media all and (max-width:450px){
#post h1.a1{font-size:30px;}
	#bubWrapper #logo{height:0px;}
	.address-pane-table table td input{width:95% !important;padding:2%;}
	.address-pane-table table td input#codinp{width:auto !important;padding:0;}
	.address-pane-table table td select {width:100% !important;padding:2%;}
	.address-pane-table table td {display:block;text-align:left;}
	.address-pane-table {width:96%;max-width:300px;margin-bottom:10px;}
}
/*enlarge*/
.buttons{margin-bottom:24px;}
.buttons .thumb{width:15%}
.buttons .btns{width:85%}
.buttons .thumb img{width:100%}
#orbb, #orsb{max-width:350px;width:auto;background-size:100% 100%;padding:20px 5%;height:auto;line-height:normal;}
.wrapper{width:100%!important;margin:auto;}
.wrapper table{width:auto!important;margin: auto;}
.wrapper table.table_diff{max-width:490px;}
.diffrwd{padding:0!important;margin: auto;max-width: 700px;}
table.table_diff td img{max-width:150px;width:100%!important;margin:auto!important;}
@media screen and (max-width: 700px) {

  .ui-pnotify
  {
    display:none !important;
  }
}

@media (max-width: 890px) {
    .box_1 {
        max-width: 650px;
        margin: 20px auto;
    }
    .box_1 img{
        margin: 0 auto 20px;
    }
    .box_1 h3 {
        text-align: center;
    }
}
