@charset "UTF-8";
/* CSS Document */

*{margin:0px; padding:0px;}

body {background:#EBEBEB;}

p {margin: 10px 0;}

a img {border: none;}
.clear {clear: both;}

h1,h2 {margin:1em 0;color:#820000; text-align: center;font-weight:normal;}

h1 + h2 {margin-top: 0;}
h3 { margin:1em 0;color:black; text-align: center;font-weight: bolder;}
h3.newfont {font-size:26px;}
h3.h_benefit
{
	text-align:left;
	background: left 50% url('../../images/frontend/shield_green.png') no-repeat;
	line-height:44px;
	padding-left:50px;
}

h1 {font-size:40px;line-height:1em;}
h2 { margin-right: 150px; margin-left: 150px;font-size:28px; line-height: 140%;}

#wrapper{
    overflow:hidden;
    margin:0 auto;
    padding:20px 10px;
    min-height:500px;
    width:960px;
    border-left: 1px solid black;
	border-right: 1px solid black;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    font-family: georgia;
    line-height:25px;
}

#post
{
    margin:20px;
    width:630px;    float: left;
}

#sidebar
{
    float:right;
    margin-left:20px;
    width: 252px;
	border-left: none;
	margin-top:44px;
}

h1.a1 {
    margin-bottom:30px;
}

.p_benefit
{
	font-size: 14px;
}

.box_1
{
    overflow:auto;
    margin:20px 0;
    padding:15px;
    width: 100%;
	border:2px solid #F7F9B6;
    background-color: #FFFFEC;
}

.box_1 img
{
    float:left;
    margin-right: 10px;
    max-width: 40%;
}

.box_1 h3
{
    margin:-6px 0 10px 0;
    text-align: left;
}

.box_1 p
{
    margin-top: 0;
}

.box_1 .author
{
    text-align:right;
}

.box_achtung
{
    margin:30px auto;
    padding:10px;
    width:400px;
    border: 1px double;
    text-align: center;
    font-weight: bolder;
}

.box_achtung h3
{
    margin-top:0;
    font-weight: bolder;
}

ul li {
    position: initial!important;
}

ul.disc{
    margin-left: 60px;
    list-style-image: url("bulb.jpg");
}

ul.stop{
    margin-left: 60px;
    color: red;
    list-style-image: url("stop.jpg");
}

ul.yes{
    margin-left: 60px;
    color: black;
    list-style-image: url("arrow_right.jpg");
}

ul.redcheck{
    margin-left: 60px;
    color: black;
    list-style-image: url("red_check.jpg");
}

ul.list_belt
{
    margin-top:-5px;
    margin-left: 30px;
    list-style: none;
}

ul.list_belt li
{
    padding-left:50px;
    background: 0 50% url('../../images/frontend/li_belt.png') no-repeat;
}

ol
{
    margin-left:60px;
}

div.myline{
    margin-left: 70px;
    border-left: 3px solid #cdcdcd;
}

.row {
    position:relative;
    clear:both;
}

div.testimonial
{
    float:left;
    margin-bottom:20px;
    margin-left:10px;
    padding: 0 10px 10px 10px;
    width: 690px;
    border: 1px solid #cfcfcf;
    border-radius:5px;
}

div span.h3
{
    width:400px;
}

ul.testimonials
{
    border-radius:5px;
    background: #fff;
    list-style:none;
}

ul.testimonials li.opinion
{
    background-color: #E0F0FA;
	border: 3px inset #05ADEA;
	margin: 20px 20px 20px 25px;
	padding: 0 10px 10px 10px;
	text-align: center;
}

ul.testimonials li.opinion:first-child
{
	margin-top:0;
}

ul.testimonials li.opinion:last-child
{
	margin-bottom:0;
}

ul.testimonials li.opinion h3
{
    color: red;
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
}

ul.testimonials li.opinion img
{
    display: block;
    margin:10px auto 20px auto;
    width:90%;
}

ul.testimonials li.opinion p
{
    font-weight: normal;
	line-height:18px;
}

ul.testimonials li.opinion .author
{
    line-height: 15pt;
	margin: 10px 0px 0px;
}

.summary
{
    margin-bottom: 20px;
    padding:10px;
    width:100%;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
}

.summary tr
{
    margin-bottom: 30px;
}

.summary td
{
    vertical-align: top;
}

.summary td:first-child
{
    margin-right: 10px;
    width:260px;
}

.summary img
{
    width:200px;
}

.summary td p:first-child
{
    margin-top:0;
}

.summary ul
{
    margin-top:-5px;
    margin-left:60px;
}

span.h3 {color:#ff6000;font-size:18px;}

span.t1 {
    font-size:16px;
}
span.t2 {
    padding-left:30px;
    font-size:20px;
}
.green {color:#336600;}
.red {color:#ed1c24;}
.orange {color:#ff6000;}

.order{ margin:0 auto; margin-bottom:20px;width:575px; background: #bdffbd; font-size:14px; line-height:20px;padding-bottom:20px; border:2px solid #009900; }
.order #top{height:14px;}
.order #middle{ padding:0 20px;min-height:500px;}
.order #down{height:11px;}
.order input { width: 250px;height:24px;}

.order ul.ul_points2
{
	list-style:disc;
	margin-left:50px;
}

.order ul.ul_points2 li
{
	line-height: 20px;
}


.order ul.ul_points
{
	list-style:none;
	text-align: left;
	font-size: 14px;
	width:330px;
	margin:15px auto;
}

.order ul.ul_points li
{
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-weight: bolder;
	line-height: 30px;
	margin-bottom: 6px;
	padding-left: 30px;
}

.order ul.ul_points li.first
{
	background-image:url('special_offer.png');
}

.order ul.ul_points li.second
{
	background-image:url('secure_payment.png');
}

#footer{ margin-top:10px;text-align:center; font-size:14px;}
#footer a{color:#666;}

#sbutton
{
    width:375px;
    height:60px;
    outline:none;
    border:0px;
    background: url(przycisk.png) no-repeat center top;
    cursor:pointer;
	margin-top:12px;
}

#orbb {
    display:block;
    padding:0;
    width:350px;
    height:60px;
    background: url(orbb.png) no-repeat center top;
    color:#FFF;
    text-align:center;
    text-decoration:none;
    text-shadow: 1px 1px #333;
    font-weight:bold;
    font-size:19px;
    font-family:"Times New Roman", Times, serif;
    line-height:60px;}

#orsb {
    display:block;
    padding:0;
    width:350px;
    height:60px;
    background: url(orsb.png) no-repeat center top;
    color:#999;
    text-align:center;
    text-decoration:none;
    text-shadow: 2px 2px #111;
    font-weight:bold;
    font-size:14px;
    font-family:"Times New Roman", Times, serif;
    line-height:60px;}

#coddiv
{
    text-align: center;
    width: 100%;
}
#codinp {
    width:20px;
}

#cod_pay_div
{
	margin:0 auto 12px auto;
	text-decoration:underline;
}

#bottle
{
	margin: 20px auto;
	width: 220px;
	text-align: center;
	position: relative;
}
#bottle_g
{
	position: absolute;
	top:0px;
	right:20px;
	width:80px;
}
#bottle img
{
	display: block;
	margin: 0px auto 20px auto;
	/* [disabled]width:140px; */
}

#bottle .prices
{
    font-weight: bolder;
}
#bottle .prices .old
{
    text-decoration: line-through;
    font-size: 26px;
}

#bottle .prices .new
{
    font-size: 22px;
	line-height:32px;
}

table.table_diff
{
    display: block;
    margin:30px auto 0 auto;
    width:440px;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

table.table_diff caption
{
    margin-bottom: 10px;
    font-weight: bolder;
    font-size:26px;
}

table.table_diff thead
{
    border: 1px solid #CCCCCC;
}


table.table_diff th
{
    padding:6px 8px;
    border: 1px solid #CCCCCC;
    border-top: medium none currentColor;
    background-color: #DCE9F9;
    background-image: -o-linear-gradient(top, #EBF3FC, #DCE9F9);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.804) inset;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.506);
    font-weight: bolder;
    font-size: 18px;
	vertical-align:middle;
}

table.table_diff th:first-child {
    -webkit-border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

table.table_diff th:last-child {
    -webkit-border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

table.table_diff th:only-child{
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

table.table_diff td
{
    padding:4px 8px;
    border: 1px solid #CCCCCC;
}

table.table_diff td:first-of-type
{
    text-align: right;
}

div.price_diff .price_old
{
	font-size:30px;
}

div.price_diff .price_new
{
	font-size:26px;
}

#counter
{
    margin:10px auto;
}

#counter_end
{
    display: none;
    margin:10px auto;
}
.price_old
{
    text-decoration: line-through;
    font-size: 24px;
}

.price_new
{
	line-height: 140%;
    font-size: 14px;
}
.grey{
    color: grey;
}

.left {float:left;}
.center {display:block;margin-right: auto;margin-left:auto;}
p.center,span.center,p.center{text-align: center;}
.right {float:right;}

p.table_podpis{
	font-size: 11px;
	line-height: normal;
}

p.table_podnaglowek_yes{
	font-size: 18px;
	color: green;
	font-weight: bold;
}

p.table_podnaglowek_no{
	font-size: 18px;
	color: red;
	font-weight: bold;
}

.custom_table{
	vertical-align: top;
	border-collapse: separate;
	margin-left:auto;
	margin-right:auto;
}

.custom_table td:nth-child(2)
{
	margin-left:20px;
}
#zbutton{
background: url(przycisk.png) no-repeat center top;
width: 300px;
height: 58px;
border: 0px;
outline: none;
cursor: pointer;
}
#zbutton h1 {
	margin:0px;
	font-size:30px;
	color:#00016B;
	text-align:center;
}
#tocart{
	background:url('tocart.jpg') no-repeat center top;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	width:300px;
	height:50px;
	line-height:50px;
	font-size:18px;
	color:#fff;
	text-shadow: black 0.1em 0.1em 0.2em}

@media (max-width: 800px){
    .container {
        width: auto!important;
    }
    #orderSubmit {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50px!important;
        font-size: 15px!important;
    }
}

@media (max-width: 440px){
    #footer {
        display: block!important;
        margin-left: auto;
        margin-right: auto;
    }
}



.widget {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 100;
    border-bottom: 3px solid #794293
}

.widget a {
    border: none;
    display: inline-block;
    color: #fff;
    font-size: 23px;
    margin-top: -28px;
}

a.red, button.red {
    background: #794293 !important;
}

.widgetWrap {
    width: 100%;
    max-width: 980px;
    margin: 0 auto
}

.countdown, .sale-text {
    font-weight: 700;
    display: inline-block
}

.sale-text {
    font-size: 35px;
    margin-right: 30px
}

.countdown, .disclaimer p, .widget, div.content footer, div.content h1, div.product-order {
    text-align: center
}

.countdown {
    font-size: 40px;
    border-radius: 15px;
    padding-top: 5px;
    margin: 0 auto
}

#countdown-text {
    font-size: 16px;
    vertical-align: middle;
    display: block;
}

.countdown span {
    position: relative;
    margin: 0 5px
}

.btn, button {
    cursor: pointer
}

@media all and (max-width: 768px) {

    .sale-text {
        margin-right: 0;
        font-size: 16px;
        margin-bottom: 0;
        vertical-align: middle
    }

    .countdown {
        font-size: 17px;
        padding: 5px 2px
    }

    #countdown-text {
        font-size: 11px;
        margin-bottom: -5px;
        display: none
    }

    .widget a {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}