body {
  width: 100%;
  height: 100%;
  background: #b6b6c2;
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 100px;
  color: #4a4a4a;
}

body.krebs,
body.penirum {
  background: #000;
}

.typ-container {
  max-width: 522px;
  margin: 0px auto;
  background: #fff;
  padding: 35px;
  padding-top: 80px !important;
  border-radius: 15px;
  position: relative;
  font-size: 16px;
  line-height: 1.4em;
}

@media (max-width: 414px) {
  .typ-container {
    max-width: 562px;
    padding: 15px;
  }
}

.typ-container > .thumb {
  position: absolute;
  left: 50%;
  top: -80px;
  margin-left: -81px;
  z-index: 10;
}

.typ-container > h1 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: bold;
  text-align: center;
}

.typ-container p {
  margin: 25px 0px;
  text-align: center;
}

.typ-container p.grey {
  background: #b6b6c2;
  padding: 15px 35px;
  color: #fff;
  font-weight: bold;
}

.typ-container p.short {
  width: 50%;
  margin: 0px auto;
}

.typ-container .triggers {
  margin: 40px 0px;
  font-size: 15px;
}

.typ-container .triggers:after {
  content: '';
  display: block;
  clear: both;
}

.typ-container .triggers a {
  float: left;
  display: block;
  width: calc(50% - 60px);
  padding: 10px 25px;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.typ-container .triggers a:first-of-type {
  margin-right: 5px;
}

.typ-container .triggers a:last-of-type {
  margin-left: 10px;
}

.typ-container .triggers a.accept {
  background: #ade74e;
  background: linear-gradient(180deg, #ade74e, #439421);
}

.typ-container .triggers a.address {
  background: #fad35d;
  background: linear-gradient(180deg, #fad35d, #f76f1e);
}

@media (max-width: 414px) {
  .typ-container .triggers a {
    float: none;
    width: auto;
    margin: 0px !important;
    margin-bottom: 10px !important;
  }
}

.typ-container .typ-form {
  margin: 40px 0px;
  display: none;
}

.typ-container .typ-form .form-row {
  margin-bottom: 10px;
}

.typ-container .typ-form .form-row:after {
  content: '';
  display: block;
  clear: both;
}

.typ-container .typ-form .form-row label {
  width: 100px;
  float: left;
  margin-right: 10px;
  text-align: right;
  position: relative;
  top: 10px;
}

.typ-container .typ-form .form-row label:after {
  content: ':';
}

.typ-container .typ-form .form-row input[type="text"],
.typ-container .typ-form .form-row input[type="email"] {
  width: calc(100% - 130px);
  display: block;
  padding: 10px 5px;
  border: 1px solid #efefef;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4a4a4a;
  font-size: 1em;
  border-radius: 3px;
}

.typ-container .typ-form .form-row button[type="submit"] {
  background: #ade74e;
  background: linear-gradient(180deg, #ade74e, #439421);
  padding: 10px 25px;
  border-radius: 3px;
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 0px;
  width: calc(100% - 118px);
  margin-left: 110px;
  cursor: pointer;
}

.typ-container.krebs {
  padding-top: 150px !important;
}

.typ-container.krebs > .thumb {
  top: -20px;
}

.typ-container.krebs p.grey {
  color: #4a4a4a;
  border: 1px solid #c9c9c9;
  background: #efefef;
}

.typ-container.krebs .triggers a.accept {
  background: #5f68f6;
  background: linear-gradient(180deg, #5f68f6, #3849a6);
}

.typ-container.krebs .triggers a.address {
  background: #b0e94f;
  background: linear-gradient(180deg, #b0e94f, #439422);
}

.typ-container.penirum {
  padding-top: 35px !important;
  border-radius: 0px;
  border-top: 14px solid #0074bf;
}

.typ-container.penirum > .thumb {
  position: relative;
  top: 0px;
  margin: 0px auto;
  left: 0px;
  text-align: center;
}

.typ-container.penirum p.grey {
  color: #4a4a4a;
  border: 1px solid #c9c9c9;
  background: #efefef;
}

.typ-container.penirum .triggers a.accept {
  background: #7ed321;
  background: linear-gradient(180deg, #7ed321, #7ed321);
}

.typ-container.penirum .triggers a.address {
  background: #f5a623;
  background: linear-gradient(180deg, #f5a623, #f5a623);
}