#ExitDiv {
  display: none;
  position: absolute;
  top: 10px;
  left: 15px;
  margin: auto;
  width: 700px;
  height: 154px;
  z-index: 1000;
  cursor: default;
  pointer-events: none;
}

#exitdiv_text1 {
  position: relative;
  top: 5px;
  left: 5px;
  width: 400px;
  height: 93px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  color: #6E0606;
  font-weight: bold;
  font-stretch: condensed;
}

#exitdiv_text2 {
  position: absolute;
  top: 0;
  left: 400px;
  width: 300px;
  height: 93px;
  font-family: arial;
  font-size: 56px;
  color: #6E0606;
  font-weight: bold;
}

#exitdiv_text3 {
  position: absolute;
  left: 225px;
  top: 100px;
  width: 230px;
  height: 100px;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: #04447C;
}

#left-wrapper {
  position: relative;
  width: 475px;
  height: 100px;
  float: left;
}

#left-wrapper #popup-1-top {
  position: relative;
  padding: 25px 0 0 35px;
  width: 217px;
  height: 61px;
}

#left-wrapper #popup-1-top #popup1-header-1 {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 8px;
  color: #6F77C6;
}

#left-wrapper #popup-1-top #popup1-header-2 {
  margin-top: 5px;
  font-family: arial;
  font-size: 7px;
  color: #353234;
}

#left-wrapper #exit_div_alert1 {
  width: 147px;
  margin-top: -25px;
  padding: 0 35px 5px 35px;
  background: url('//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_1_middle.gif') repeat-y  0% 0%;
  font-family: arial;
  font-size: 8px;
  color: #353234;
}

#left-wrapper #popup-1-bottom {
  width: 217px;
  height: 55px;
  background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_1_bottom.gif) no-repeat;
}

#left-wrapper #popup-1-bottom .texts {
  margin-left: 50px;
  font-family: arial;
  font-size: 9px;
  color: #151C55;
}

#left-wrapper #popup-1-bottom .text-1 {
  padding-top: 4px;
}

#left-wrapper #popup-1-bottom .text-2 {
  position: relative;
  padding-top: 8px;
}

#left-wrapper #popup-1-bottom .text-2 .arrow {
  position: absolute;
  bottom: -12px;
  right: -49px;
  width: 247px;
  height: 64px;
  background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/arrow_1.png) no-repeat 0% 0%;
}

#left-wrapper #popup-3 {
  position: relative;
  width: 418px;
  height: 96px;
  float: right;
  background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_3.gif) no-repeat;
  font-family: arial;
}

#left-wrapper #popup-3 .texts {
  font-size: 9px;
  color: #000;
}

#left-wrapper #popup-3 .text-1 {
  padding: 33px 15px 0px 42px;
}

#left-wrapper #popup-3 .text-2,
#left-wrapper #popup-3 .text-3 {
  position: absolute;
  bottom: 19px;
  left: 124px;
  width: 76px;
  height: 15px;
  font-size: 9px;
  text-align: center;
  color: #151C55;
}

#left-wrapper #popup-3 .text-3 {
  left: 208px;
}

#left-wrapper #popup-3 .text-3 .arrow {
  position: absolute;
  bottom: -7px;
  right: -14px;
  width: 101px;
  height: 137px;
  background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/arrow_2.png) no-repeat 0% 0%;
}

#right-wrapper {
  position: relative;
  width: 225px;
  margin-top: 36px;
  float: right;
}

#right-wrapper #popup-2-top {
  width: 227px;
  height: 27px;
  background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_2_top.gif) no-repeat;
}

#right-wrapper #exit_div_alert3 {
  width: calc(227px - 36px);
  padding: 10px 18px;
  background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_2_middle.gif) repeat-y;
  font-family: arial;
  font-size: 10px;
  color: #353234;
}

#right-wrapper #popup-2-bottom {
  width: 227px;
  height: 42px;
  background: url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/popup_2_bottom.gif) no-repeat;
}

#right-wrapper #popup-2-bottom .texts {
  position: absolute;
  font-family: arial;
  font-size: 9px;
  text-align: center;
  color: #151C55;
}

#right-wrapper #popup-2-bottom .text-1,
#right-wrapper #popup-2-bottom .text-2 {
  bottom: 21px;
  left: 27px;
  width: 74px;
  height: 15px;
}

#right-wrapper #popup-2-bottom .text-2 {
  bottom: 21px;
  left: 105px;
  width: 100px;
}

#right-wrapper #popup-2-bottom .text-2 .popup {
  position: absolute;
  bottom: -10px;
  right: -7px;
  width: 280px;
  height: 133px;
  background: transparent url(//st01.ultimateoccasion.com/sd/59/39/60a48e42759074024ea130f3369b/arrow_3.png) no-repeat 0% 0%;
}

iframe#_hjRemoteVarsFrame {
  display: none !important;
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.d38f0e547e2d {
  width: 2px !important;
  height: 2px !important;
  border: 0 !important;
  background: none !important;
  border-style: none !important;
  position: absolute;
}

.e451f6a00d29 {
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  background: none !important;
  border-style: none !important;
  position: absolute;
}
/*
Document   : jquery.pnotify.default.css
Created on : Nov 23, 2009, 3:14:10 PM
Author     : Hunter Perrin
Version    : 1.2.2
Link       : http://pinesframework.org/pnotify/
Description:
	Default styling for Pines Notify jQuery plugin.
*/

/* -- Notice */

.ui-pnotify {
  top: 25px;
  right: 25px;
  position: absolute;
  height: auto;
  /* Ensures notices are above everything */
  z-index: 9999;
  border: 2px solid #F7F9B6;
  background-color: #FFFFEC;
}

/* Hides position: fixed from IE6 */

html > body .ui-pnotify {
  position: fixed;
}

.ui-pnotify .ui-pnotify-shadow {
  -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.ui-pnotify-container {
  background-position: 0 0;
  padding: .8em;
  height: 100%;
  margin: 0;
}

.ui-pnotify-sharp {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ui-pnotify-closer,
.ui-pnotify-sticker {
  float: right;
  margin-left: .2em;
}

.ui-pnotify-title {
  display: block;
  margin-bottom: .4em;
}

.ui-pnotify-text {
  display: block;
}

.ui-pnotify-icon,
.ui-pnotify-icon span {
  display: block;
  float: left;
  margin-right: .2em;
}

/* -- History Pulldown */

.ui-pnotify-history-container {
  position: absolute;
  top: 0;
  right: 18px;
  width: 70px;
  border-top: none;
  padding: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  /* Ensures history container is above notices. */
  z-index: 10000;
}

.ui-pnotify-history-container .ui-pnotify-history-header {
  padding: 2px;
  text-align: center;
}

.ui-pnotify-history-container button {
  cursor: pointer;
  display: block;
  width: 100%;
}

.ui-pnotify-history-container .ui-pnotify-history-pulldown {
  display: block;
  margin: 0 auto;
}

/* Alternate stack initial positioning. */

.ui-pnotify.stack-topleft,
.ui-pnotify.stack-bottomleft {
  left: 25px;
  right: auto;
}

.ui-pnotify.stack-bottomright,
.ui-pnotify.stack-bottomleft {
  bottom: 25px;
  top: auto;
}
@charset "UTF-8";

/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #EBEBEB;
}

p {
  margin: 10px 0;
}

a img {
  border: none;
}

.clear {
  clear: both;
}

h1,
h2 {
  margin: 1em 0;
  color: #820000;
  text-align: center;
  font-weight: normal;
}

h1 + h2 {
  margin-top: 0;
}

h3 {
  margin: 1em 0;
  color: black;
  text-align: center;
  font-weight: bolder;
}

h3.newfont {
  font-size: 26px;
}

h3.h_benefit {
  text-align: left;
  background: left 50% url('../../images/frontend/shield_green.png') no-repeat;
  line-height: 44px;
  padding-left: 50px;
}

h1 {
  font-size: 40px;
  line-height: 1em;
}

h2 {
  margin-right: 150px;
  margin-left: 150px;
  font-size: 28px;
  line-height: 140%;
}

#wrapper {
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 10px;
  min-height: 500px;
  width: 960px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: georgia;
  line-height: 25px;
}

#post {
  margin: 20px;
  width: 630px;
  float: left;
}

#sidebar {
  float: right;
  margin-left: 20px;
  width: 252px;
  border-left: none;
  margin-top: 44px;
}

h1.a1 {
  margin-bottom: 30px;
}

.p_benefit {
  font-size: 14px;
}

.box_1 {
  overflow: auto;
  margin: 20px 0;
  padding: 15px;
  width: 100%;
  border: 2px solid #F7F9B6;
  background-color: #FFFFEC;
}

.box_1 img {
  float: left;
  margin-right: 10px;
  max-width: 40%;
}

.box_1 h3 {
  margin: -6px 0 10px 0;
  text-align: left;
}

.box_1 p {
  margin-top: 0;
}

.box_1 .author {
  text-align: right;
}

.box_achtung {
  margin: 30px auto;
  padding: 10px;
  width: 400px;
  border: 1px double;
  text-align: center;
  font-weight: bolder;
}

.box_achtung h3 {
  margin-top: 0;
  font-weight: bolder;
}

ul li {
  position: initial!important;
}

ul.disc {
  margin-left: 60px;
  list-style-image: url("bulb.jpg");
}

ul.stop {
  margin-left: 60px;
  color: red;
  list-style-image: url("stop.jpg");
}

ul.yes {
  margin-left: 60px;
  color: black;
  list-style-image: url("arrow_right.jpg");
}

ul.redcheck {
  margin-left: 60px;
  color: black;
  list-style-image: url("red_check.jpg");
}

ul.list_belt {
  margin-top: -5px;
  margin-left: 30px;
  list-style: none;
}

ul.list_belt li {
  padding-left: 50px;
  background: 0 50% url('../../images/frontend/li_belt.png') no-repeat;
}

ol {
  margin-left: 60px;
}

div.myline {
  margin-left: 70px;
  border-left: 3px solid #cdcdcd;
}

.row {
  position: relative;
  clear: both;
}

div.testimonial {
  float: left;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 0 10px 10px 10px;
  width: 690px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

div span.h3 {
  width: 400px;
}

ul.testimonials {
  border-radius: 5px;
  background: #fff;
  list-style: none;
}

ul.testimonials li.opinion {
  background-color: #E0F0FA;
  border: 3px inset #05ADEA;
  margin: 20px 20px 20px 25px;
  padding: 0 10px 10px 10px;
  text-align: center;
}

ul.testimonials li.opinion:first-child {
  margin-top: 0;
}

ul.testimonials li.opinion:last-child {
  margin-bottom: 0;
}

ul.testimonials li.opinion h3 {
  color: red;
  font-size: 14pt;
  margin: 0px;
  padding: 0px;
}

ul.testimonials li.opinion img {
  display: block;
  margin: 10px auto 20px auto;
  width: 90%;
}

ul.testimonials li.opinion p {
  font-weight: normal;
  line-height: 18px;
}

ul.testimonials li.opinion .author {
  line-height: 15pt;
  margin: 10px 0px 0px;
}

.summary {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #CFCFCF;
  border-radius: 5px;
}

.summary tr {
  margin-bottom: 30px;
}

.summary td {
  vertical-align: top;
}

.summary td:first-child {
  margin-right: 10px;
  width: 260px;
}

.summary img {
  width: 200px;
}

.summary td p:first-child {
  margin-top: 0;
}

.summary ul {
  margin-top: -5px;
  margin-left: 60px;
}

span.h3 {
  color: #ff6000;
  font-size: 18px;
}

span.t1 {
  font-size: 16px;
}

span.t2 {
  padding-left: 30px;
  font-size: 20px;
}

.green {
  color: #336600;
}

.red {
  color: #ed1c24;
}

.orange {
  color: #ff6000;
}

.order {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 575px;
  background: #bdffbd;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
  border: 2px solid #009900;
}

.order #top {
  height: 14px;
}

.order #middle {
  padding: 0 20px;
  min-height: 500px;
}

.order #down {
  height: 11px;
}

.order input {
  width: 250px;
  height: 24px;
}

.order ul.ul_points2 {
  list-style: disc;
  margin-left: 50px;
}

.order ul.ul_points2 li {
  line-height: 20px;
}

.order ul.ul_points {
  list-style: none;
  text-align: left;
  font-size: 14px;
  width: 330px;
  margin: 15px auto;
}

.order ul.ul_points li {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  font-weight: bolder;
  line-height: 30px;
  margin-bottom: 6px;
  padding-left: 30px;
}

.order ul.ul_points li.first {
  background-image: url('special_offer.png');
}

.order ul.ul_points li.second {
  background-image: url('secure_payment.png');
}

#footer {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

#footer a {
  color: #666;
}

#sbutton {
  width: 375px;
  height: 60px;
  outline: none;
  border: 0px;
  background: url(przycisk.png) no-repeat center top;
  cursor: pointer;
  margin-top: 12px;
}

#orbb {
  display: block;
  padding: 0;
  width: 350px;
  height: 60px;
  background: url(orbb.png) no-repeat center top;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px #333;
  font-weight: bold;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
  line-height: 60px;
}

#orsb {
  display: block;
  padding: 0;
  width: 350px;
  height: 60px;
  background: url(orsb.png) no-repeat center top;
  color: #999;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px #111;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  line-height: 60px;
}

#coddiv {
  text-align: center;
  width: 100%;
}

#codinp {
  width: 20px;
}

#cod_pay_div {
  margin: 0 auto 12px auto;
  text-decoration: underline;
}

#bottle {
  margin: 20px auto;
  width: 220px;
  text-align: center;
  position: relative;
}

#bottle_g {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 80px;
}

#bottle img {
  display: block;
  margin: 0px auto 20px auto;
  /* [disabled]width:140px; */
}

#bottle .prices {
  font-weight: bolder;
}

#bottle .prices .old {
  text-decoration: line-through;
  font-size: 26px;
}

#bottle .prices .new {
  font-size: 22px;
  line-height: 32px;
}

table.table_diff {
  display: block;
  margin: 30px auto 0 auto;
  width: 440px;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}

table.table_diff caption {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 26px;
}

table.table_diff thead {
  border: 1px solid #CCCCCC;
}

table.table_diff th {
  padding: 6px 8px;
  border: 1px solid #CCCCCC;
  border-top: medium none currentColor;
  background-color: #DCE9F9;
  background-image: -o-linear-gradient(top, #EBF3FC, #DCE9F9);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.804) inset;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.506);
  font-weight: bolder;
  font-size: 18px;
  vertical-align: middle;
}

table.table_diff th:first-child {
  -webkit-border-radius: 6px 0 0 0;
  -moz-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

table.table_diff th:last-child {
  -webkit-border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

table.table_diff th:only-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

table.table_diff td {
  padding: 4px 8px;
  border: 1px solid #CCCCCC;
}

table.table_diff td:first-of-type {
  text-align: right;
}

div.price_diff .price_old {
  font-size: 30px;
}

div.price_diff .price_new {
  font-size: 26px;
}

#counter {
  margin: 10px auto;
}

#counter_end {
  display: none;
  margin: 10px auto;
}

.price_old {
  text-decoration: line-through;
  font-size: 24px;
}

.price_new {
  line-height: 140%;
  font-size: 14px;
}

.grey {
  color: grey;
}

.left {
  float: left;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

p.center,
span.center,
p.center {
  text-align: center;
}

.right {
  float: right;
}

p.table_podpis {
  font-size: 11px;
  line-height: normal;
}

p.table_podnaglowek_yes {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

p.table_podnaglowek_no {
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.custom_table {
  vertical-align: top;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

.custom_table td:nth-child(2) {
  margin-left: 20px;
}

#zbutton {
  background: url(przycisk.png) no-repeat center top;
  width: 300px;
  height: 58px;
  border: 0px;
  outline: none;
  cursor: pointer;
}

#zbutton h1 {
  margin: 0px;
  font-size: 30px;
  color: #00016B;
  text-align: center;
}

#tocart {
  background: url('tocart.jpg') no-repeat center top;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media (max-width: 800px) {
  .container {
    width: auto!important;
  }

  #orderSubmit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px!important;
    font-size: 15px!important;
  }
}

@media (max-width: 440px) {
  #footer {
    display: block!important;
    margin-left: auto;
    margin-right: auto;
  }
}

.widget {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .9);
  z-index: 100;
  border-bottom: 3px solid #794293;
}

.widget a {
  border: none;
  display: inline-block;
  color: #fff;
  font-size: 23px;
  margin-top: -28px;
}

a.red,
button.red {
  background: #794293 !important;
}

.widgetWrap {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.countdown,
.sale-text {
  font-weight: 700;
  display: inline-block;
}

.sale-text {
  font-size: 35px;
  margin-right: 30px;
}

.countdown,
.disclaimer p,
.widget,
div.content footer,
div.content h1,
div.product-order {
  text-align: center;
}

.countdown {
  font-size: 40px;
  border-radius: 15px;
  padding-top: 5px;
  margin: 0 auto;
}

#countdown-text {
  font-size: 16px;
  vertical-align: middle;
  display: block;
}

.countdown span {
  position: relative;
  margin: 0 5px;
}

.btn,
button {
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .sale-text {
    margin-right: 0;
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .countdown {
    font-size: 17px;
    padding: 5px 2px;
  }

  #countdown-text {
    font-size: 11px;
    margin-bottom: -5px;
    display: none;
  }

  .widget a {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
#wrapper {
  max-width: 960px;
  width: auto;
  padding: 20px 0.5%;
}

#sidebar {
  max-width: 252px;
  width: 27%;
  margin: 44px 0 0 2%;
}

#post {
  max-width: 630px;
  margin: 0 2%;
  width: 66%;
  float: left;
}

ul.testimonials li.opinion img {
  width: 100%;
  height: auto;
  max-width: 165px;
}

.box_1 {
  padding: 3%;
  width: 98%;
}

#tocart {
  width: auto;
}

.box_achtung {
  max-width: 400px;
  width: 96%;
  padding: 2%;
}

#bottle {
  max-width: 310px;
  width: 100%;
}

#bottle_g {
  right: 22%;
}

#bottle img {
  margin: 10px auto;
  max-height: 400px!important;
  width: auto;
}

@media all and (max-width:1000px) {
  #wrapper {
    border: 0;
  }
}

@media all and (max-width:1000px) {
  #sidebar,
  #post {
    width: auto;
    float: none;
    border: 0;
    max-width: none;
    margin: 20px 2%;
  }

  ul.testimonials li.opinion {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 2% !important;
    padding: 0 2% 2%;
  }

  .box_1 {
    width: auto;
  }

  .ui-pnotify {
    right: 0;
    bottom: 0!important;
  }
}

@media all and (max-width:500px) {
  .box_1 img {
    float: none;
    max-width: 280px;
    width: 100%;
    margin: 0 auto 20px;
  }
}

@media all and (max-width:450px) {
  ul.testimonials li.opinion {
    display: block;
    width: 92%;
  }
}

/*order*/

#content,
#footer-nav {
  max-width: 740px;
  width: 96%;
  margin: auto;
}

.container {
  overflow: visible;
}

form .info {
  font-size: 12px;
}

#footer-nav {
  line-height: normal;
}

@media all and (max-width:750px) {
  form .info {
    display: block;
  }
}

@media all and (max-width:450px) {
  #post h1.a1 {
    font-size: 30px;
  }

  #bubWrapper #logo {
    height: 0px;
  }

  .address-pane-table table td input {
    width: 95% !important;
    padding: 2%;
  }

  .address-pane-table table td input#codinp {
    width: auto !important;
    padding: 0;
  }

  .address-pane-table table td select {
    width: 100% !important;
    padding: 2%;
  }

  .address-pane-table table td {
    display: block;
    text-align: left;
  }

  .address-pane-table {
    width: 96%;
    max-width: 300px;
    margin-bottom: 10px;
  }
}

/*enlarge*/

.buttons {
  margin-bottom: 24px;
}

.buttons .thumb {
  width: 15%;
}

.buttons .btns {
  width: 85%;
}

.buttons .thumb img {
  width: 100%;
}

#orbb,
#orsb {
  max-width: 350px;
  width: auto;
  background-size: 100% 100%;
  padding: 20px 5%;
  height: auto;
  line-height: normal;
}

.wrapper {
  width: 100%!important;
  margin: auto;
}

.wrapper table {
  width: auto!important;
  margin: auto;
}

.wrapper table.table_diff {
  max-width: 490px;
}

.diffrwd {
  padding: 0!important;
  margin: auto;
  max-width: 700px;
}

table.table_diff td img {
  max-width: 150px;
  width: 100%!important;
  margin: auto!important;
}

@media screen and (max-width: 700px) {
  .ui-pnotify {
    display: none !important;
  }
}

@media (max-width: 890px) {
  .box_1 {
    max-width: 650px;
    margin: 20px auto;
  }

  .box_1 img {
    margin: 0 auto 20px;
  }

  .box_1 h3 {
    text-align: center;
  }
}