@charset "UTF-8";
img {
  max-width: 100%;
}

a,
a:link,
a:visited,
a:hover {
  color: #0046af;
}

.clearfix {
  clear: both;
}

@font-face {
  font-family: 'open sans';
  font-style: normal;
  font-weight: 400;
  src: url(opensans.eot);
  src: local("open sans"), local("open sans"), url(opensans.eot) format(embedded-opentype), url(opensans.woff) format(woff);
}
body {
  background: none repeat scroll 0 0 #fff;
  padding-top: 20px;
  padding-top: 1.250rem;
}

.divider2 {
  border-bottom: 1px solid #ebebeb;
}

#navbar {
  background: none repeat scroll 0 0 #326D8A;
  margin: 16px 0;
  margin: 1rem 0;
  line-height: 30px;
  line-height: 1.875rem;
}

#navbar a {
  color: #fff;
}

#navbar ul {
  margin: 0;
  overflow: auto;
}

#navbar ul li {
  float: left;
  list-style-type: none;
  line-height: 30px;
  line-height: 1.875rem;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  padding: 0 0.625rem;
  display: inline-block;
}

#navbar ul li a:hover {
  color: #e2e2e2;
}

#navbar a#pull {
  display: none;
}

h1#main {
  font-weight: bold;
  font-family: Arial,sans-serif;
  font-size: 28px;
  font-size: 1.750rem;
  letter-spacing: -1px;
  line-height: 100%;
}

#socialBar {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  overflow: hidden;
}

#socialBar img {
  float: left;
  display: inline;
}

#socialBar .social-buttons {
  width: 80%;
  max-width: 322px;
  max-width: 20.125rem;
}

#socialBar .print {
  width: 48px;
  width: 3rem;
  margin-top: 2%;
}

.maria {
  width: 70%;
  margin: 0 15%;
}

.maria > p {
  font-style: italic;
  background: #eeeeee;
  padding: 0px 5px;
  padding: 0px 0.313rem;
  font-size: 12px;
  padding: 8px;
}

.first-p {
  font-weight: bold;
  font-size: 18px;
}

.co-mowia-polki {
  background: #eeeeee;
  border: 3px solid #bbb;
  padding: 8px;
  padding: 0.5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.co-mowia-polki .second {
  margin-bottom: 0;
}

.cta-wrapper {
  clear: both;
}

.cta-wrapper > h2 {
  text-decoration: underline;
  font-size: 20px;
  font-size: 1.250rem;
}

.maria-nowacka-wrapper p {
  text-align: left;
  font-style: italic;
  background: #eeeeee;
  padding: 10px;
  padding: 0.625rem;
  font-size: 12px;
  font-size: 0.750rem;
}

#content {
  border-right: 1px solid #d3d3d3;
}

.baner {
  display: block;
  width: 240px;
  width: 15.000rem;
  height: 388px;
  height: 24.250rem;
  background: url("side1.jpg") top center no-repeat;
  margin: 20px auto;
  margin: 1.250em auto;
  text-align: center;
  display: none;
}

.baner a {
  color: #fff;
  display: block;
}

.baner .product-name {
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 16px;
  padding-top: 1rem;
}

.baner .wazna-do {
  font-size: 13px;
  font-size: 0.813rem;
  color: #333;
}

.baner .zamawiam {
  color: #333;
}

.b {
  font-weight: bold;
}

.aw-six-hours, .aw-more-block, .aw-more-sep-2, .aw-more-sep-3, .aw-more-sep-4, .aw-arrow, .aw-get-this-widget, .aw-alert-info {
  display: none;
}

.lt-480 div.aw-widget-36hour-inner div.aw-top-content {
  width: 290px;
  margin-left: 20px;
}

#sidebar .pogoda {
  margin: 0 auto;
  display: none;
  font-family: Verdana !important;
}

#sidebar .pogoda h3 {
  font-family: Verdana;
}

#sidebar .pogoda ul {
  font-size: 10px !important;
}

#aw-search-input {
  margin: 2px 0;
  height: auto;
  box-shadow: none;
}

#comments {
  font-family: Verdana,Arial;
}

#comments h2 {
  padding-top: 32px;
  padding-top: 2rem;
  color: #266ed0;
  border-top: 1px solid #e8e8e8;
  line-height: 150%;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
}

#comments .comment {
  border-top: 1px solid #e8e8e8;
  margin: 12px 0;
  margin: 0.750rem 0;
  padding: 16px 6px 6px 6px;
  padding: 16px 0.375em 0.375em 0.375em;
  line-height: 120%;
}

#comments .text1 {
  color: #266ed0;
  text-transform: lowercase;
  font-style: italic;
  font-size: 12px;
  font-size: 0.750rem;
  font-weight: 700;
  line-height: 25px;
}

#comments .text2 {
  float: right;
  color: #666;
  font-size: 10px;
  font-size: 0.625rem;
}

#comments .text3 {
  clear: both;
  color: #333;
  padding-top: 8px;
  padding-top: 0.5rem;
  font-size: 11px;
  font-size: 0.688rem;
  position: relative;
}

.comimg {
  width: 25px;
  height: 25px;
  background: url(comment_user_img.jpg) no-repeat scroll 0 0 transparent;
  float: left;
}

.tresc {
  margin-top: 16px;
  margin-top: 1em;
  background: none repeat scroll 0 0 #f7f7f7;
  display: block;
  padding: 4px;
  padding: 0.25rem;
}

#comments > h3 {
  color: #b5b5b5;
}

#comments > h3 > em {
  font-size: 12px;
  font-size: 0.750rem;
}

#comments label {
  font-size: 80%;
}

#comments #submit-comment {
  background: none repeat scroll 0 0 #266ed0;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  border: 1px none;
  width: 180px;
  height: 30px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#comments input {
  width: 290px;
}

#comments textarea {
  height: 120px;
}

#footer {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  font-size: 11px;
  font-size: 0.688rem;
  padding-top: 12px;
  padding-top: 0.750rem;
  border-top: 1px solid #ebebeb;
}

#footer .copyright {
  float: left;
  margin-right: 32px;
  margin-right: 2rem;
  line-height: 17px;
  line-height: 1.063rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  margin-left: 8px;
  margin-left: 0.5rem;
}

#footer ul {
  float: left;
  margin: 0;
  font-size: 11px;
  font-size: 0.688rem;
}

#footer a {
  color: #266ed0;
  text-decoration: none;
}

#footer ul li {
  float: left;
  list-style: none outside none;
  margin: 0 8px;
  margin: 0 0.5rem;
}

/**************************************

RESPONSIVE STYLES

***************************************/
/* Mniejsze od 750px */
@media only screen and (max-width: 46.875em) {
  #navbar ul {
    display: none;
    height: auto;
  }

  #navbar ul li {
    display: block;
    float: none;
    width: 100%;
  }

  #navbar a#pull {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 10px;
    padding-left: 0.625rem;
  }

  #navbar a#pull:after {
    content: "";
    background: url("nav-icon.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 5px;
  }
}
/* 480px - 750px */
@media only screen and (min-width: 30.063em) and (max-width: 46.875em) {
  #navbar ul li {
    display: block;
    float: left;
    width: 50%;
  }
}
/*Większe od 480 px*/
@media only screen and (min-width: 30.063em) {
  .first-p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.750rem;
  }

  .maria {
    width: 25%;
    margin: 0 10px 0 0;
    float: left;
  }

  .maria > p {
    padding: 2px;
  }

  .co-mowia-polki {
    float: right;
    width: 220px;
    width: 13.750rem;
    margin: 0 0 10px 10px;
    margin: 0 0 0.625rem 0.625rem;
  }

  .cta-wrapper > h2 {
    text-decoration: underline;
    font-size: 23px;
    font-size: 1.438rem;
    color: #0046af;
    font-weight: bold;
  }

  .maria-nowacka-wrapper {
    margin: 0 auto;
    width: 70%;
  }

  #comments textarea {
    width: 450px;
  }

  h1#main {
    font-size: 38px;
    font-size: 2.375rem;
    margin: 20px 0 32px 0;
    margin: 1.250rem 0 1.250rem 0;
    font-weight: normal;
  }
}
/*Większe od 641 px*/
@media only screen and (min-width: 40.063em) {
  .maria-nowacka-wrapper {
    width: 100%;
  }

  .baner {
    display: block !important;
  }

  h1#main {
    font-size: 48px;
    font-size: 3.000rem;
    margin: 20px 0 32px 0;
    margin: 1.250rem 0 1.250rem 0;
    font-weight: normal;
  }
}
/*Większe od 641 i mniejsze od 800px */
@media only screen and (min-width: 40.063em) and (max-width: 50em) {
  .baner {
    width: 178px;
    width: 11.125rem;
    background: url("side1-small.jpg") top center no-repeat;
  }

  .baner .product-name {
    font-size: 20px;
    padding-top: 0;
    font-weight: bold;
  }

  .baner .gwarantowane {
    margin-bottom: 8px;
    margin-bottom: 0.500rem;
    font-size: 14px;
  }
}
/*Większe od 960px */
@media only screen and (min-width: 60em) {
  #sidebar .pogoda {
    display: block;
  }
}
/* Większe od 1025px */
