body {
  background: none repeat scroll 0 0 #ebebeb;
  font-family: Arial;
}

img {
  max-width: 100%;
}

.szary { color: rgb(153, 153, 153); font: 9px Arial,Helvetica,sans-serif; }

h3 {
  margin: 1em 0;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 1.17em;
}

.content-wrapper{
  padding: 0;
}

.main-wrapper{
 overflow: auto;
 padding: 32px 0;
 padding: 2rem 0;
 box-shadow:  0px 0.438em 0.438em 0.438em #c4c2c2;
 color: #3d3d3d;
 margin: 0 auto;
 border-radius:0.313em; 
 background: none repeat scroll 0 0 #fff;
 -webkit-box-shadow:  0px 0.438em 0.438em 0.438em #c4c2c2;    
}

#sidebar{
 border-left: 1px solid #ccc;
 margin-top: 2rem;
}

ul.testimonials {
  list-style: none outside none;
  margin: 0 auto;
  width: 220px;
}

ul.testimonials li.opinion {
  border: 1px solid #d3d3d3;
  margin: 0 0 2rem 0;
  padding: 0.5rem 0.5rem 0.5rem;
  text-align: center;
}

ul.testimonials li.opinion:first-child {
  margin-top: 0;
}

ul.testimonials li.opinion:last-child {
  margin-bottom: 0;
}

ul.testimonials li.opinion h4 {
  color: #013366;
  font-weight: bold;
}

ul.testimonials li.opinion img {
  display: block;
  margin: 0 auto 1rem;
  width: 100%;
}

ul.testimonials li.opinion p {
  font-weight: 400;
  line-height: 1.2;
}

ul.testimonials li.opinion .author {
  margin: 0;
}

.stars{
	text-align: center;
}

h1.headline{
  font-size: 24px;
  font-size: 1.5rem;
  font-weight:700; 
  letter-spacing: -1px;
  color:#990100;
  text-shadow: 2px 1px 0px #fff, 3px 3px 0px rgba(0,0,0,0.15);
  text-align: center;
}

.box_1 {
  margin: 30px 0 30px 0;
  margin: 1.875rem 0 1.875rem  0;
  padding:8px;
  padding:0.5rem;
  font-weight: bold;
  background: transparent url('../img/box-1.jpg') 0 0 no-repeat;
  -webkit-box-shadow:  2px 2px 2px 2px #c4c2c2;        
  box-shadow:  2px 2px 2px 2px #c4c2c2;
}

.box_1 .info {
  font-family: Courier New, sans-serif;
}

.box_1 h3 {
  text-align: left;
  margin:8px 0 4px 0;
  margin:0.5rem 0 0.25rem 0;
  font-family: Courier New, sans-serif;
}

.box_1 .box_1-img{
  display: none;
}

.box_1 p.t2,
.box_1 p.t1 {
  font-size: 90%;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.box_1 .author {
  text-align: right;
  font-size: 75%;
  margin-right: 5%;
}

.box_1.t2 .author{
  margin-top: -16px;
  margin-top: -1rem;
}


.photo99 {
  width: 35%;
  float: right;
  margin-left:1.5%;
  padding:8px;
  padding:0.5rem;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow:  2px 2px 2px 2px #c4c2c2;        
  box-shadow:  2px 2px 2px 2px #c4c2c2;
}

.photo99 img{
  width: 100%;
  max-width: 100%;
}

p.list-title{
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
}

ul.list_belt {
  margin-left: 4%;
  list-style: none outside none;
}

ul.list_belt li {
  padding-left: 24px;
  padding-left: 1.5rem;
  background: url(../img/pointer.png) no-repeat scroll 0 50% transparent;
  line-height: 2;
}

h3.h_benefit {
  text-align: left;
  background: url(../img/orange_ar.png) no-repeat scroll left 50% transparent;
  padding-left: 50px;
  padding-left: 3.125rem;
  margin-bottom:5px;
  margin-bottom:0.313rem;
  min-height: 44px;
  min-height: 2.750rem;
}

h3.h_benefit.short{
  line-height: 44px;
}


#gwarancja {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  background: url(../img/gwa_bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 290px;
  height: 178px;
  padding-top: 20px;
}


#gwarancja  h1 {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  color: #013366;
  font-family: georgia, serif;
  font-weight: bold;
}
#gwarancja p {
  text-align: center;
  margin: 0 12px;
  font-size: 11px;
}

#gwarancja p.gwar_text{
  text-align: left;
}

#gwarancja p.gwar_p {
  font-family: 'Comic Sans MS'; 
  font-style: italic; 
  color: #335384;
  margin-top: 5px;
  font-weight: bold;
}

.box_achtung {
  margin: 32px auto;
  margin: 2rem auto;
  padding: 12px;
  padding: 0.750em;
  border: 3px dashed #FF8300;
  text-align: center;

}

.box_achtung p{
  font-weight: bold;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.box_achtung h3 {
  color: #3D3D3D;
  margin:8px 0;
  margin:0.5rem 0;
}

#bottle1{
  margin: 20px auto 0 auto;
  margin: 1.250rem auto 0 auto;
  width: 70%;
}

#bottle1 > p{
  margin: 0;
}

.cta{
  text-align: center;
  margin-bottom: 1rem;
}

a.order-button:link,
a.order-button:visited,
a.order-button:hover,
a.order-button:active
{
  padding:3% 15%;
  font-size: 210%;
  font-weight: bold; 
  font-style: italic; 
  color: #fff; 
  text-decoration: none; 
  line-height: 100px; 
  line-height: 4.375rem;
  height: 100px;
  height: 6.250rem;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #fe0000;
  background: -moz-linear-gradient(top,  #fe0000 0%, #bf0101 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0000), color-stop(100%,#bf0101)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fe0000 0%,#bf0101 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fe0000 0%,#bf0101 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fe0000 0%,#bf0101 100%); /* IE10+ */
  background: linear-gradient(bottom,  #fe0000 0%,#bf0101 100%); /* W3C */
}

.cta-order1 > a.order-button{
  padding: 2% 12%;
}

#footer {
  margin-top: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
}

#footer a {
  color:#999
}

.satysfakcja{
  text-align: center;
  width: 35%;
  margin: 0 auto;
}

.center{
  text-align: center;
}

#main-table-order1{
  margin: 0;
}

.style12{
  font-size: 26px;
  font-size: 1.625rem;
}

.a2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: #990100;
  text-shadow: 2px 1px 0px #fff, 3px 3px 0px rgba(0,0,0,0.15);
  text-align: center;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.slogan {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-size: 1.125rem;
}

.slogan-style12{
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 24px;
  font-size: 1.5rem;
}

.u{
  text-decoration: underline;
}

.b{
  font-weight: bold;
}

.duzyzielony {
  font-size: 36px;
  font-size: 2.250rem;
  color: rgb(0, 153, 0);
}

.style11 {
  font-size: 18px;
  font-size: 1.125rem;
}

.style6 {
  color: rgb(204, 0, 0);
  font-size: 24px;
  font-size: 1.500em;
}

.text1 {
  font-family: Arial;
  color: rgb(102, 102, 102);
}

.order1-prod-photo{
  text-align: center;
  width: 70%;
  margin: 2% auto 0 auto;
}

.cta-order1{
  margin: 24px 0;
  margin: 1.5rem 0;
}

.zastrzezone{
  color: rgb(153, 153, 153);
  font-size:9px;
  font-size:0.563rem;
  text-align: center;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.order_form{
  background-color: #fff;
}

.order_form #content{
  padding: 0;
}

.ramkaformularz {
  color: rgb(51, 51, 51);
  background-color: rgb(241, 249, 242);
  border: 1px dotted rgb(51, 51, 51);
}

.naglowki {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 1em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.naglowki .phone{
  font-size: 26px;
  font-size: 1.625rem;
  color: gray;
}

.moje-dane{
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.ewentualna-weryfikacja,
.pola-wymagane,
.moje-dane{
  font-size: 12px;
  font-size: 0.750rem;
  text-align: center;
  color: rgb(102, 102, 102);
}

.ewentualna-weryfikacja{
  font-size: 10px;
  font-size: 0.625rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}



.order-form-list{
  margin-bottom: 32px;
  margin-bottom: 2rem;
  list-style-type: none;
  margin-left: 0;
  overflow: hidden;
}

.order-form-list li{
  display: block;
  float: none;
  width: auto;
  margin: 0;
}

.order-form-list label{
  font-weight: bold;
  text-align: center;
}

.order-form-list .input-wrapper{
  text-align: center;
}

.zielony1 {
  color: rgb(0, 102, 51);
}

.order-form-list input[type="tel"],
.order-form-list select,
.order-form-list input[type="email"],
.order-form-list input[type="text"]{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cod_pay_div{
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.order-form-list .country-text-wrapper{
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  font-size: 0.75rem;
}



.order-form-list .country-text-wrapper label{
  display: inline;
  margin: 0;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
}

.order-form-list select{
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

#phone{
  margin-bottom: 0;
}

.order-form-list #pcode{
  display: inline;
  width: 30%;
  float: left;
}

.order-form-list #city{
  display: inline;
  width: 66%;
  float: left;
  margin-left: 4%;
}

.city-wrapper{
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
}

.pola-wymagane{
  margin: 16px 0;
  margin: 1rem 0;
}

#sbutton{
  font-family: tahoma; 
  text-decoration: none; 
  color: #fff; 
  text-align: center; 
  display: block;
  background-color: #5daa23;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    1px 2px 2px 0px rgba(50, 50, 50, 1);
  box-shadow:         1px 2px 2px 0px rgba(50, 50, 50, 1);
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  padding:8px 0;
  padding:0.5rem 0;
  font-weight: bold;
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
  font-size: 1.250rem;
}

.order-form-wrapper{
  margin-top: 16px;
  margin-top: 1rem;
}

#sbutton .smaller{
  font-weight: normal;
  font-size: 12px;
  font-size: 0.750rem;
}

.sbutton-wrapper{
  text-align: center;
}

/*.krembw{
  width: 160px;
  width: 10.000rem;
}

.krem{
  width: 120px;
  width: 7.500rem;
}*/

ul.lista{
  margin-left: 2%;
}

ul.lista li{  margin: 5px 0;
  margin: 5px 0;
  background: url(../img/bullet.gif) no-repeat left top;
  padding-left: 30px;
  padding-left: 1.875rem;
  list-style: none;
}

.lower-margin-bottom{
}

.bigger{
  font-size: 18px;
  font-size: 1.125rem;
}

.button1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px #000000;
  -moz-box-shadow: 0px 1px 2px #000000;
  box-shadow: 0px 1px 2px #000000;
  color: #ffffff;
  font-size: 15px;
  font-size: 0.938rem;
  background: #5daa23;
  padding: 10px 0;
  padding: 0.625rem 0;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #333;
  display: block;
  width: 100%;
  margin: 0 auto;
  /*width: 440px;*/
  line-height: 1.2;
}

.button1:hover {
  text-decoration: none;
  color: #ffffff;
}

.button2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px #000000;
  -moz-box-shadow: 0px 1px 2px #000000;
  box-shadow: 0px 1px 2px #000000;
  color: #000;
  font-size: 12px;
  font-size: 0.750rem;
  background: #727171;
  padding: 10px 0;
  padding: 0.625rem 0;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #333;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.button2:hover {
  text-decoration: none;
  color: #000;
}

.krem-double{
  width: 250px;
  width: 15.625rem;
}


.arrow{
  position: absolute;
  background: transparent url('../img/arrow.jpg') 0 0 no-repeat;
  width: 187px;
  height: 106px;
  right:-160px;
  right:-10rem;
  top:70px;
  z-index: 1;
}

.arrow-text{
  position: absolute;
  right:-150px;
  right:-9.063rem;
  top:70px;
  z-index: 1;
  color:#dc0000;
  font-size: 26px;
  font-size: 1.625rem;
}

.b{
  font-weight: bold;
}

.red,
p.red{
  color: red;
}

.old-price{
  color:red;
  font-weight:bolder;
  font-size:20px;
  font-size:1.250rem;
}

.price-normal{
  color: green;
  font-weight:bolder;
  font-size:20px;
  font-size:1.250rem;
}

.left{
  text-align: left;
}

.u{
  text-decoration: underline;
}

.table-border td{
  border: 1px solid #CCCCCC;
  padding: 8px 16px;
  padding: 0.5rem 1em;
  padding: 8px;
  padding: 0.5rem;
}

.table-border{
  border-spacing: 0;
  border-collapse: collapse;
}

#bottle1{
  text-align: center;
}

#bottle1 img{
  width: 300px;
}

.table-buttons{
  margin-top: 32px;
  margin-top: 2em;
}

.style9 {
  font-size: 15px;
  font-size: 0.938rem;
  font-weight: bold;
}

.style4 {
  font-size: 18px;
  font-size: 1.125rem;
}

.czerwony {
  font-size: 14px;
  font-size: 0.875rem;
  color: rgb(204, 0, 51);
}

.zielony {
  color: rgb(0, 102, 51);
}

.left-align{
  text-align: left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.hide-for-mobile{
  display: none;
}

.style61 {
  color: rgb(204, 0, 0);
  font-size: 24px;
  font-size: 1.5rem;
}

.style71 {
  color: rgb(0, 102, 0);
  font-size: 24px;
  font-size: 1.5rem;
}

table.table_diff
{
  margin:10px auto 60px auto;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}

table.table_diff caption
{
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  font-size:26px;
  font-size:1.625rem;
}

table.table_diff thead
{
  border: 1px solid #CCCCCC;
}


table.table_diff th
{
  padding:6px 8px;
  padding:0.375rem 0.5rem;
  border: 1px solid #CCCCCC;
  border-top: medium none currentColor;
  background-color: #DCE9F9;
  background-image: -o-linear-gradient(top, #EBF3FC, #DCE9F9);
  font-weight: bold;
  vertical-align:middle;
}

table.table_diff td
{
  padding:4px 8px;
  padding:0.25rem 0.5rem;
  border: 1px solid #CCCCCC;
}

table.table_diff td:first-of-type
{
  text-align: right;
}

table.table_diff td.main-price {
  background: #fff url('../img/kolko.jpg') 50% 50% no-repeat;
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

table.table_diff .main-price > div {
  position: relative;
}

table.table_diff .main-price > div > img {
  position: absolute;
  bottom: -55px;
  right: -110px;
  max-width: none;
}

/********************************************

RESPONSIVE STYLES

*********************************************/
/* Wieksze od 400px */
@media only screen and (min-width: 25.063em){
  #gwarancja {
    width: 370px;
    height: 225px;
  }

  #gwarancja  h1 {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #gwarancja p {
    text-align: center;
    margin: 0 20px;
    font-size: 14px;
  }

  #gwarancja p.gwar_p {
    font-weight: normal;
  }

}

/* Wieksze od 400px */
@media only screen and (min-width: 35.750em) and (max-width: 40em){
  
  #gwarancja {
    width: 526px;
    height: 320px;
  }

  #gwarancja  h1 {
    font-size: 22px;
    margin: 26px 0;
  }

  #gwarancja p {
    text-align: center;
    margin: 0 40px;
    font-size: 16px;
  }

  #gwarancja p.gwar_p {
    margin-top: 25px;
  }
}

/*Większe od 480 px*/
@media only screen and (min-width: 30.063em){
  .button1 {
    width: 440px;
  }
  
  .button2{
    width: 360px;
  }

  .box_1{
    overflow: hidden;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
  }

  .box_1 .box_1-img{
    display: inline;
    float: left;
    width: 40%;
  }

  .box_1 .info{
    display: inline;
    width: 60%;
    float: left;
  }

  .box_1 h3{
    font-size: 22px;
    font-size: 1.375rem;
  }

  .box_1 p.t2, .box_1 p.t1{
    font-size: 95%;
  }
  .box_1 .author{
    font-size: 85%;
  }

  .table-border td{
    padding: 8px 16px;
    padding: 0.5rem 1em;
  }

  #sbutton{
   width: 350px;
   width: 21.875rem; 
   font-size: 22px;
   font-size: 1.375rem;
 }

 

.ewentualna-weryfikacja{
  font-size: 12px;
  font-size: 0.75rem;
}


.naglowki{
  font-size: 22px;
  font-size: 1.375em;
}

.naglowki .phone{
  font-size: 30px; 
  font-size: 1.875rem;
}

#sbutton .smaller{
  font-size: 14px;
  font-size: 0.875rem;
}

.button2{
  font-size: 16px;
  font-size: 1rem;
}

.button1{
  font-size: 19px;
  font-size: 1.188em;
}

.a2{
  font-size: 32px;
  font-size: 2rem;
}
.slogan{
  font-size: 24px;
  font-size: 1.5rem;
}

.slogan-style12{
  font-size: 26px;
  font-size: 1.625rem;
}

h1.headline{
  font-size: 32px;
  font-size: 2rem;
}
h3.h_benefit{
  line-height: 44px;
  line-height: 2.750rem;
}
.box_achtung{
  width: 75%;
}
.bigger{
  font-size: 20px;
  font-size: 1.250rem;
}

ul.lista li{
  padding-left: 40px;
  padding-left: 2.500rem;
}



}


/* Wieksze od 500px */
@media only screen and (min-width: 31em) and (max-width: 40em){
  .button2,
 .button1 {
  width: 85%;
}
  ul.testimonials{
    overflow: hidden;
    width: 460px;
  }

  .hide-for-mobile{
    display: block;
  }

  ul.testimonials li.opinion{
    float: left;
    width: 220px;
  }

  ul.testimonials li.opinion.odd{
    margin-right: 20px;
  }
  ul.testimonials li.opinion.row-1{
    height: 662px;
  }
  ul.testimonials li.opinion.row-2{
    height: 994px;
  }
  ul.testimonials li.opinion.row-3{
    height: 920px;
  }
  .order-form-list .country-text-wrapper{
    width: 80%;
  }
}

/* Większe od 768 */
@media only screen and (min-width: 48.000em){
  #gwarancja {
    width: 526px;
    height: 320px;
  }

  #gwarancja  h1 {
    font-size: 22px;
    margin: 26px 0;
  }

  #gwarancja p {
    text-align: center;
    margin: 0 40px;
    font-size: 16px;
  }

  #gwarancja p.gwar_p {
    margin-top: 25px;
  }
  .order1-prod-photo{
    width: 40%;
  }
  .order-form-list li{
    width: 50%;
    display: inline;
    float: left;
    margin: 16px 0;
    margin: 1em  0;
  }

  .order-form-list li.li-country{
    width: 100%;
  }

  .order-form-list li.li-country select{
    margin-top: 0;
  }

  .order-form-list li.li-country select{
    width: 40%;
  }

  .order-form-list li.li-country .country-text-wrapper{
    width: 50%;
  }

  .order-form-wrapper{
    margin-top: 32px;
    margin-top: 2em;
  }

  .order-form-wrapper,
  #main-table-order1{
    margin-left:10%;
    margin-right:10%;
  }
  .p_benefit {
    margin:8px 0;
    margin:0.5rem 0;
    padding-left: 4%;
  }
}

/* 641px - 768px */
@media only screen and (min-width: 40.063em){
  ul.testimonials{
    width: 100%;
  }
  ul.testimonials li.opinion{
    width: 100%;
    float: none;
  }
  .hide-for-mobile{
    display: block;
  }
  
}

/* 768px - 1024px*/
@media only screen and (min-width : 48.063em) and (max-width : 64.000em) {

}

/* Większe od 1025px */
@media only screen and (min-width: 64.063em) { 
  .order-form-list li.li-country .country-text-wrapper{
    width: 40%;
  }
  .main-wrapper{
    margin: 60px auto;
    margin: 3.750rem auto;
  }
  #content{
    padding: 0 32px;
    padding: 0 2rem;
  }

  .box_1{
  }

  .box_1 .info{
    width: 60%;
  }
  .box_1 .box_1-img{
    width: 40%
  }
  .box_1 h3{
    font-size: 24px;
    font-size: 1.500rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
  }
  .box_1 p.t2, 
  .box_1 p.t1{
    font-size: 100%;
  }
  .box_1 .author{
    font-size: 100%;
    margin-top: 16px;
    margin-top: 1rem;
  }
}



