@media all and (max-width: 1100px){
    .column__container, .footer__inner{
        width: 100%;
    }
    .menu_top-menu{
        display: block;
    }
    .menu__link_top-menu{
        display: inline-block;
    }
    .menu__hot-wrapper,.menu_menu-footer{
        display: none;
    }
    .footer{
        min-height: auto;
    }
}
@media all and (max-width:800px){
    .column_300.column_border_left,.menu_top-menu{
        display: none;
    }
    .column__wrapper_pad-t_20{
        padding-top: 0;
    }
    .top-menu__ads{
        text-align: center;
    }
    .logo_top-menu{
        margin: 23px;
    }
}