body { margin: 0pt; font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(43, 43, 43); }
.wrapper { width: 988px; margin: auto; padding: 5px; }
.clear { clear: both; height: 1px; overflow: hidden; }
img { border: 0pt none; }
#topnav { width: 490px; float: right; margin: 23px 15px 0pt 0pt; font-size: 12px; text-align: right; }
#topnav .fr a { font-size: 11px; color: rgb(0, 124, 168); text-decoration: none; }
.toprednav { font-size: 11px; color: rgb(217, 33, 40); padding: 15px 0pt 0pt; text-transform: uppercase; }
.toprednav a { color: rgb(217, 33, 40); text-decoration: none; margin: 0pt 0pt 0pt 20px; }

#mainnav { font-size: 12px; line-height: 20px; text-transform: uppercase; border-style: solid; border-color: rgb(0, 0, 0); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-width: 1px 0pt 3px; }
#mainnav span { padding: 0 20px 0 0; }

#maincontent { padding: 5px; }
#breadcrumbnav { font-size: 10px; }
#breadcrumbnav a { color: rgb(0, 124, 168); }
h1 { color: rgb(0, 0, 0); font-size: 26px; font-weight: bold; margin: 0pt; padding: 0pt; }
#mainsubhead { font-size: 12px; color: rgb(137, 137, 137); border-bottom: 1px solid rgb(178, 178, 178); margin: 0pt 0pt 5px; }
.fl { float: left; }
.fr { float: right; }
#maintext { width: 545px; float: left; }
#maintext a:link { font-weight:normal; color:#0066cc; }
#maintext a:active { font-weight:normal; color:#0066cc; }
#maintext a:visited { font-weight:normal; color:#0066cc; }
#maintext a:hover { font-weight:normal; color:#cc0000; }
#rightcontent { width: 255px; background: none repeat scroll 0% 0% rgb(239, 236, 202); float: left; margin: 0pt 5px 0pt 10px; }
#rightcontent a:link { font-weight:normal; color:#0066cc; }
#rightcontent a:active { font-weight:normal; color:#0066cc; }
#rightcontent a:visited { font-weight:normal; color:#0066cc; }
#rightcontent a:hover { font-weight:normal; color:#cc0000; }
.righttxt { padding: 10px; font-size: 12px; font-family: Georgia,"Times New Roman",Times,serif; }
#adspanel { width: 160px; float: left; font-family: Georgia,"Times New Roman",Times,serif; }
.mainnewsimg { width: 155px; float: left; font-size: 12px; color: rgb(108, 108, 108); font-style: italic; margin: 0pt 5px 0pt 0pt; }
.captiontxt { width: 415px; background: none repeat scroll 0% 0% rgb(243, 243, 243); padding: 10px; margin: 10px 0pt 10px 30px; }
.results { padding: 10px; background: none repeat scroll 0% 0% rgb(243, 243, 243); }
.commentspanel { width: 455px; font-size: 12px; color: rgb(71, 71, 71); }
form { display: inline; }
.commenthead { line-height: 30px; border-top: 1px dashed rgb(159, 159, 159); }
.commenthead strong { font-size: 14px; }
.usercomments { padding: 5px 0pt; border-top: 1px dashed rgb(159, 159, 159); }
.usercomments span { display: block; font-style: italic; color: rgb(191, 191, 191); }
.usercomments .fl { float: left; margin: 0pt 10px 10px 0pt; }
.usercomments .txt { width: 370px; float: left; }
.whitespacer { background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 15px; }
.watotherssay { margin: 0pt 0pt 5px; }
.watotherssay .user { padding: 30px 0pt 0pt; text-align: center; font-style: italic; }
.watotherssay .username { text-align: right; }
#footer { text-align: center; color: rgb(82, 82, 82); padding: 20px 0pt 30px; }
.step1 { font-size: 14px; font-weight: bold; }
.highlight { background-color: rgb(255, 255, 0); }
.rightpadding { padding: 5px; font-size: 11px; }
.headlinered { color: rgb(202, 0, 0); font-size: 24px; font-weight: bold; }
.step2 { font-size: 19px; }
blockquote {clear:both;border: 1px solid #999999;background-color: #CCCCCC;margin:0 15px 10px 15px;padding:10px 15px;}

.fb_right {height:26px; overflow:visible; float:right; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:11px 0 0 0;}
.fb_right:hover { text-decoration:none;}
#ll{
	width:25px; height:26px;
	line-height:26px;
	float:left;
	background-image:url(fblikel.png); background-repeat:no-repeat;}
#lm{
	height:26px;
	line-height:26px;
	float:left;
	background-image:url(fblikem.png); background-repeat:repeat-x;}
#lr{
	width:33px; height:26px;
	line-height:26px;
	float:left;
	background:url(fbliker.png) no-repeat left}
	
ul.model-face, ul.model-face2 {
	list-style: none;
	width: 203px;
	font-weight: bold;
	font-size: 11px;
	padding-top: 10px;
	position: relative;
}
ul.model-face li{
text-align:right;
}
ul.model-face {
	background: url(model-face.jpg) no-repeat top right;
	height: 221px;
	padding-right: 343px;
}
ul.model-face2 {
	background: url(model-face2.jpg) no-repeat top left;
	text-align: left;
	height: 238px;
	padding-left: 350px;
}
ul.model-face li, ul.model-face2 li {
	position: absolute;
	top: 0;
	width: 200px;
}
ul.model-face li.i1 { top: 17px; }
ul.model-face li.i2 { top: 47px; }
ul.model-face li.i3 { top: 77px; }
ul.model-face li.i4 { top: 108px; }
ul.model-face li.i5 { top: 140px; }
ul.model-face li.i6 { top: 170px; }
ul.model-face li.i7 { top: 193px; }

ul.model-face2 li.i1 { top: 8px; }
ul.model-face2 li.i2 { top: 38px; }
ul.model-face2 li.i3 { top: 70px; }
ul.model-face2 li.i4 { top: 103px; }
ul.model-face2 li.i5 { top: 138px; }
ul.model-face2 li.i6 { top: 170px; }
ul.model-face2 li.i7 { top: 194px; }