body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 15px;
}

#maintext p {
	line-height: 25px;
	margin: 20px 0 10px 0;
}

#maintext {
	width: 570px;
	color: #000;
}

.righttxt {
	overflow-x: hidden;
	width: 235px;
}


h1 {
	font-size: 24px;
}
.headlinered {
	font-size: 28px;
}
.watotherssay .user {
	padding: 10px 0 0 0;
}
li.yellow span {
	background: #ffc900;
	padding: 0 5px;
}
li.yellow span.until {
	background: transparent;
	font-weight: bold;
	color: #993300;
	padding: 0;
}

#mainnav {
	display: block;
	clear: both;
	border: 0;
	height: 28px;
	background: #FEDE7B;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin: 20px 0 10px 0;
}
#mainnav li {	
	height: 16px;
	float: left;
	padding: 0 7px;
	margin: 7px 0;
	border-right: 2px solid #a00000;
	display: inline-block;
	line-height: 16px;
}
#mainnav li.last {
	border-right: 0;
}
#mainnav li.right {
	float: right;
	background: #a00000;
	font-weight: bold;
	margin: 0;
	padding: 6px 15px;
	border-right: 0;
}
.clearfix { clear: both; }

#maintext {
	
}
hgroup.maintitle {
	clear: both;
	margin: 40px 0 30px;
}
hgroup.maintitle h1 {
	color: #a00000;
	font-weight: bold;
	text-decoration: underline;
	font-size: 43px;
}
hgroup.maintitle h2 {
	font-size: 32px;
}
.attention{display:block;margin-bottom:20px;}
.attention table{width:112%;margin-left:-12%;}

.annone img{  height: 100%;
  position: relative;
  right: -25px;
}

.annone {text-align:center;
	 vertical-align: middle;position:relative;width: 5%;
}
.annoucment .text{
	padding: 5px 0 5px 5%;
	font-size: 11px;
	vertical-align: middle;
}
.annoucment .border {border:3px solid #a00000}
.annoucment .border.top{border-width:3px 0 0;}
.annoucment .border.bottom{border-width:0 0 3px;}
.annoucment strong {
	color: #a00000;
	text-transform: uppercase;
}

.mainnewsimg {
	background: #fff1bf;
	padding-bottom: 5px;
	position: relative; 
	top: 5px;
	margin-bottom: 10px;
	margin-right: 20px;
	  padding-bottom: 0;
	width: 150px;
	font-style: normal;
	color: #000;
}
.mainnewsimg .dott {
	display: block;
	position: absolute;
	height: 10px;
	width: 42px;
	background: #1b5ba2;
	margin-top: -5px;
}
#maintext .mainnewsimg p {
	padding: 1em 1.2em;
	margin: 0;
	line-height: 17px;
}

#maincontent {
	padding: 0;
}
#rightcontent {
	background: transparent;
	float: right;
	margin: 0 -3px 0 10px;
	line-height: 17px;
}
#rightcontent .righttxt {
	background: #fff1bf;
}

.fb_right2 {
	height: 26px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 11px 0 0 0;
}
.righttxt {
	font-family: 'Open Sans', arial, sans-serif;
	position: relative;
	overflow: visible;
	overflow-x: visible;
	width: 225px;
	padding: 10px 0;
}
.righttxt2 {
	text-align: center;
	min-height: 100px;
	margin-bottom: 50px;
	cursor: normal;
	width: 225px;
}
.righttxt p {
	
}
#lm { cursor: normal; }
#lr {
	width: 15px;
}
#lr2 {
	height: 26px;
	line-height: 26px;
	background: url(fbliker.png) no-repeat -10px center;
	padding: 0 0 0 25px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

img.frontPage {
	width: 150px;
	margin: 0 auto;
	display: block;
	position: absolute;
	left: 33px;
	top: -50px;
	border: 5px solid #fff;
}
.righttxt .spacer {
	margin-top: 200px;
}

.righttxt .graph-bar {
	background: #404040 url('graph-shadow.png') right center repeat-y;
	height: 10px;
}
div.round {
	background: #a00000;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	font-weight: bold;
	float: right;
	color: #fff;
	position: relative;
	bottom: 10px;
	left: 2px;
}
.righttxt .graph-bar div span {
	font-size: 10px;
}
.righttxt .graph-bar.item1 { width: 87%; }
.righttxt .graph-bar.item2 { width: 89%; }
.righttxt .graph-bar.item3 { width: 79%; }
.righttxt .graph-bar.item4 { width: 83%; }
.righttxt p {
	padding: 10px;
	line-height: 21px;
	margin: 0;
}
.righttxt p.graph {
	margin: 5px 0 0 0;
	font-weight: bold;
}

.righttxt h3 {
	color: #1b5ba2;
	padding: 0 10px;
	font-size: 14px;
}
.righttxt .dott {
	display: block;
	position: absolute;
	width: 5px;
	height: 12px;
	background: #1b5ba2;
	margin-top: 3px;
}
#rightcontent .righttxt.grey {
	background: #d9d9d9;
}
p.f16 {
	font-size: 15px;
	font-weight: bold;
}

div.modelface {
	border-top: 1px solid #1b5ba2;
	border-bottom: 1px solid #1b5ba2;
	padding: 15px 0 10px 0;
}
div.modelface .model-face2 {
	background-image: url('model-face.jpg');
	background-position: 0 -5px;
	height: 212px;
}

div.info {
	border: 3px dotted #000;
	font-size: 15px;
	position: relative;
}
div.info .header {
	z-index: 9999;
	text-align: center;
	text-transform: uppercase; 
	width: 570px;
	height: 30px;
	line-height: 30px;
	position: relative;
	bottom: 3px;
	right: 3px;
	
	background: #a00000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a00000 0%, #710000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a00000), color-stop(100%,#710000));
	background: -webkit-linear-gradient(top,  #a00000 0%,#710000 100%);
	background: -o-linear-gradient(top,  #a00000 0%,#710000 100%);
	background: -ms-linear-gradient(top,  #a00000 0%,#710000 100%);
	background: linear-gradient(to bottom,  #a00000 0%,#710000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a00000', endColorstr='#710000',GradientType=0 );

}

div.info .header h3 {
	font-size: 18px;
	color: #fff;
	display: block;
	width: 100%;
	position: relative;
	left: 55px;
}
div.info img.satisfaction {
	float: right;
	right: 0;
	width: 120px;
	position: relative;
	bottom: 50px;
	right: 15px;
	z-index: 91250;
	margin-bottom: -48px;
}
div.info ol li {
	color: #1b5ba2;
	margin-bottom: 10px;
	line-height: 21px;
	font-weight: bold;
}
div.info ol li div {
	color: #000;
	font-weight: normal;
}
.watotherssay .user img {
	display: block;
	width: 200px;
	margin: 5px auto 0 auto;
}
.blue {
	color: #1b5ba2;
	font-weight: bold;
}
p.subtitle {
	font-size: 19px;
}
.fb_right2 .button {
	padding:7px 0 0 25px;
	color:#3b5998;
	min-width: 50px;
	text-align: left;
	clear: both;
	margin: 0 auto;
	display: inline-block;
}