.e451f6a00d29 {
    width:1px !important;
    height:1px !important;
    border:0 !important;
    background:none !important;
    border-style:none !important;
    position:absolute;
}

.d38f0e547e2d {
    width:2px !important;
    height:2px !important;
    border:0 !important;
    background:none !important;
    border-style:none !important;
    position:absolute;
}

.hpromo{
    text-align:center;
    font-size:20px;
    letter-spacing:7px;
    padding-top:25px;
    margin-bottom:20px;
    color:#a8a8a8;
    display: none;
}

#mainnav{
    margin-bottom:0;
}