.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{zoom:1}.watotherssay .user img{width:100%}h1{font-size:21px}.f16{font-size:16px}.video{margin-bottom:20px}.video__header{margin:20px 0 10px 0}.video__film-wrapper{margin:0 auto;width:426px}.video__caption{color:#5c5c5c;font-size:10px;font-style:italic}.video__caption span{text-decoration:underline}.maria__photo{float:left;width:100px;margin:0 10px 10px 0}.maria .more{margin-top:10px;text-align:right}
