#header {
  background: url("../../images/frontend/topvector6.jpg") no-repeat;
  width: auto;
  height: 308px;
  padding-top:250px;
}

.navbar-default  {
  border: none !important;
  background: #D20272;
}

h4 {
  margin-top:20px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
  color:#FFF;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px #ab035d;
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover {
  color:#fff;
  background: #59b8d7;
  text-shadow: 2px 2px #127595;
}

.media {
  padding:10px 0;
  border-bottom:1px dashed #ccc;
}

.media-left img {
  width:70px;
  height:70px;
}

.media-heading {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
}

ol.breadcrumb {
  background: none;
  border-bottom:1px dashed #ccc;
  padding-left:30px;
}

ol.breadcrumb li a {
  color:#515151;
  font-size: 12px;
}

ol.breadcrumb li a:hover {
  text-decoration: none;
}

ol.breadcrumb li a.active {
  color:#ccc;
  font-size: 12px;
}

#comment-section h3 {
  color:#59b8d7;
  padding:10px 0;
  border-bottom:1px dashed #ccc;
}

.center-button {
  text-align: center;
  padding:30px 0;
}

.center-button .btn-danger {
  background:#D20272 !important;
  text-shadow: 2px 2px #ab035d;
  font-weight: bold;
}

#footer {
  background: url("../../images/frontend/botvector6.png") center no-repeat;
  width: auto;
  height: 205px;
}

@media screen and (max-width: 989px) and (min-width: 640px) {


}

@media screen and (max-width: 640px) and (min-width: 320px) {

  #actress, #fb, #letter, #garciImg{
    width: 100%;
  }

  .btn-lg, .btn-group-lg > .btn{
    font-size: 13px!important;
  }
}

