.uppercase,
div.content h2 {
  text-transform: uppercase;
}

.countdown,
.disclaimer p,
.widget,
div.content footer,
div.content h1,
div.product-order {
  text-align: center;
}

.btn,
button {
  cursor: pointer;
}

.clear-both,
.container::after,
.form-horizontal .form-group::after,
.row::after,
div.row::after {
  clear: both;
}

a,
aside,
b,
body,
div,
footer,
form,
h1,
h2,
h3,
h4,
html,
img,
label,
li,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.countdown,
.sale-text {
  font-weight: 700;
  display: inline-block;
}

a.veryred,
button.veryred {
  background: #bf2626 !important;
}

a.red,
button.red {
  background: #914141 !important;
}

a.superred,
button.superred {
  background: #d90b0b !important;
}

.widget {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .9);
  z-index: 100;
  border-bottom: 3px solid #794293;
}

.widgetWrap {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.sale-text {
  font-size: 35px;
  margin-right: 30px;
}

.countdown {
  font-size: 40px;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 auto;
}

#countdown-text {
  font-size: 16px;
  vertical-align: middle;
  display: block;
  margin-bottom: -10px;
}

.countdown span {
  position: relative;
  margin: 0 5px;
}

.widget a {
  border: none;
  display: inline-block;
  color: #fff;
  font-size: 23px;
  margin-top: -28px;
}

p,
ul li {
  line-height: 20px;
  color: #3d3d3d;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-height: 40%;
  max-width: 100%;
}

div.row::after {
  display: block;
  content: "";
}

div.row div.left-side {
  float: left;
}

div.row img.right {
  float: right;
}

@media all and (max-width: 440px) {
  div.row img.right {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

body {
  background: linear-gradient(to right, #808195, #b6b6c2, #b6b6c2, #b6b6c2, #808195);
}

div.wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 13px 0 rgba(0, 1, 1, .3);
  background: #fff;
  padding-top: 75px;
}

ul li {
  font-size: 15px;
  position: relative;
}

ul li::before {
  position: absolute;
  content: "•";
  top: 0;
  left: -17px;
  color: #00b02a;
  font-size: 17px;
}

p {
  font-size: 15px;
}

div.row div.content {
  width: 72.1649%;
  float: left;
  vertical-align: top;
  position: relative;
}

div.row aside {
  float: right;
  vertical-align: top;
  width: 27.8351%;
}

div.content {
  padding: 0 57px 0 38px;
}

div.content h1 {
  color: #7a20b5;
  font-size: 52px;
  font-weight: 900;
}

.fronth1 {
  background: url(../../images/frontend/h1.jpg) left center no-repeat;
}

div.content h2 {
  font-size: 18px;
  line-height: 23px;
  padding-left: 53px;
  min-height: 39px;
  margin-bottom: 25px;
  font-weight: 900;
}

aside div.effect h4,
div.content h3 {
  color: #3d3d3d;
  line-height: 20px;
  font-weight: 900;
}

div.content h2.one-line {
  padding-top: 8px;
  margin-bottom: 15px;
}

div.content h3 {
  font-size: 15px;
  margin-bottom: 3px;
}

div.content section {
  margin-bottom: 30px;
}

.disclaimer {
  padding: 0 20px 20px;
  width: 70%;
}

.disclaimer p {
  font-size: 10px;
  margin-top: 70px;
}

.disclaimer p + p {
  margin-top: 10px;
}

div.content footer a {
  text-decoration: none;
  color: #3d3d3d;
  display: inline-block;
  padding: 0 15px;
  font-size: 11px;
  border-left: 1px solid #3d3d3d;
}

div.content footer a:first-child {
  border-left: 0 none;
}

div.product-order,
div.product-order img {
  margin: 30px 0;
}

aside {
  padding-left: 20px;
  padding-right: 20px;
}

aside div.effect {
  border: 1px solid #e8e8e8;
  padding: 8px 8px 20px;
}

aside div.effect h4 {
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

aside div.effect div.txt {
  padding: 0 4px 0 5px;
}

aside div.effect p.end {
  margin-top: 15px;
  font-weight: 900;
}

aside div.effect + div.effect {
  margin-top: 25px;
}

div.wrapper.index2 div.content {
  padding: 0 25px;
}

div.wrapper.index2 div.content h1 {
  font-size: 37px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}

div.wrapper.index2 div.content div.metamorphosis {
  background: #e1e1e1;
  border: 1px solid #a7a7b3;
  padding: 22px;
}

div.wrapper.index2 div.content div.metamorphosis span.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}

div.wrapper.index2 div.content div.metamorphosis p {
  color: #000;
}

.metamorphosis .left-side {
  width: 52%;
}

.metamorphosis .left-side p {
  line-height: 23px;
}

metamorphosis .left-side span {
  font-weight: 700;
  font-style: italic;
  display: block;
  text-align: right;
  font-size: 15px;
  margin-top: 10px;
}

div.wrapper.index2 div.content section.block-1::after {
  clear: both;
  display: block;
  content: "";
}

div.wrapper.index2 div.content section.block-1 > img {
  float: right;
  border: 1px solid #a8a8a8;
  margin-left: 15px;
}

div.wrapper.index2 div.content section.block-1 ul {
  margin-top: 15px;
  margin-left: 10%;
}

div.wrapper.index2 div.content section.block-1 ul li {
  margin: 5px 0;
}

div.wrapper.index2 div.content section.block-1 ul li::before {
  font-size: 22px;
}

div.wrapper.index2 div.content section.block-1 p.bordered {
  border-bottom: 3px solid #727489;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 10px;
}

div.wrapper.index2 div.content h3 {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #000;
  margin: 25px 0 15px;
}

div.wrapper.index2 div.content p.center {
  text-align: center;
}

.product-image {
  display: inline-block;
  position: relative;
}

div.product-image .price {
  margin-bottom: 20px;
  font-weight: 700;
}

div.product-image .price span {
  text-decoration: line-through;
  font-weight: 400;
}

.metamorphosis-alt .sign::first-line,
b {
  font-weight: 700;
}

.metamorphosis-alt {
  background: linear-gradient(to right, #b6b6c0, #fbfbfb, #b6b6c0) 0 0/100% auto;
  max-width: 641px;
  padding: 26px 42px;
  border: 1px solid #9091a3;
}

.metamorphosis-alt span.title {
  display: block;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 13px;
}

.metamorphosis-alt p {
  color: #000;
  width: 65%;
  float: left;
}

button,
h1,
h2,
h3,
h4,
input {
  color: inherit;
  font-family: inherit;
}

.metamorphosis-alt #photo {
  float: right;
  width: 35%;
  position: relative;
  left: 10px;
}

@media all and (max-width: 440px) {
  .metamorphosis-alt span.title {
    text-align: center;
  }

  .metamorphosis-alt p {
    width: 100%;
    float: none;
    margin-top: 10px;
  }

  .metamorphosis-alt #photo {
    float: none;
    width: 75%;
    position: static;
    left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.metamorphosis-alt .sign {
  font-size: 13px;
  line-height: 19px;
  margin-left: 25px;
  margin-top: -4px;
  padding-bottom: 10px;
  text-align: right;
}

@media all and (max-width: 890px) {
  img {
    float: none !important;
    display: block;
    margin: 0 auto;
  }

  .metamorphosis .title,
  .metamorphosis-alt .title {
    text-align: center;
  }

  .metamorphosis .left-side,
  .metamorphosis-alt p {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  div.wrapper div.row aside,
  div.wrapper div.row div.content {
    float: none !important;
    width: 100% !important;
    display: block !important;
  }

  div.wrapper {
    padding-top: 45px;
  }

  .sale-text {
    margin-right: 0;
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .widget a {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .countdown {
    font-size: 17px;
    padding: 5px 2px;
  }

  #countdown-text {
    font-size: 11px;
    margin-bottom: -5px;
    display: none;
  }

  div.wrapper div.row {
    display: block !important;
  }

  div.wrapper div.row aside {
    margin-top: 5px;
    text-align: center;
  }

  div.wrapper div.row aside div.effect {
    display: inline-block;
    text-align: left;
    width: 100%;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.btn,
img {
  vertical-align: middle;
}

@media all and (max-width: 555px) {
  p {
    font-size: 14px;
    line-height: 22px !important;
  }

  div.wrapper.index2 div.content h1 {
    font-size: 31px;
    line-height: 40px;
  }

  div.wrapper.index2 div.content div.metamorphosis {
    padding: 15px;
  }

  .metamorphosis .left-side {
    width: 100%;
  }

  div.wrapper.index2 div.content div.metamorphosis span.title {
    font-size: 19px;
  }

  img.block-1-img {
    width: 28%;
  }

  div.content h2 {
    font-size: 15px;
    line-height: 19px;
  }

  div.wrapper.index2 div.content {
    padding: 0 10px;
  }
}

@media all and (max-width: 455px) {
  div.wrapper.index2 div.content h1 {
    font-size: 24px;
    line-height: 32px;
  }

  div.wrapper.index2 div.content div.metamorphosis span.title {
    font-size: 17px;
    text-align: center;
  }
}

@media all and (max-width: 355px) {
  div.wrapper.index2 div.content h1 {
    font-size: 21px;
    line-height: 28px;
  }
}

#mobile-footer {
  display: none;
}

@media all and (max-width: 440px) {
  .disclaimer {
    width: 100%;
  }

  #footer {
    display: none;
  }

  #mobile-footer {
    display: block;
    margin-top: 100px;
    text-align: center;
  }

  #mobile-footer a {
    text-decoration: none;
    color: #3d3d3d;
    display: inline-block;
    padding: 0 15px;
    font-size: 11px;
  }

  #mobile-footer a:nth-child(2),
  a:nth-child(3) {
    border-left: 1px solid #3d3d3d;
  }
}

div.content footer {
  margin-top: 0 !important;
}

@media all and (min-width: 360px) and (max-width: 700px) {
  #orderSubmit {
    font-size: 16px;
  }
}

#orderFormBorder {
  border: 3px solid #794293;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: .67em 0;
}

h1,
h2,
h3,
h4,
ul {
  margin-bottom: 10px;
}

[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: buttontext dotted 1px;
}

html {
  font-family: sans-serif;
}

aside,
footer,
section {
  display: block;
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}

.form-control,
body {
  background-color: #fff;
}

img {
  border: 0;
}

button,
input {
  overflow: visible;
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url(../fonts/glyphicons-halflings-regular.eot) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg) format("svg");
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
}

button,
input {
  font-size: inherit;
  line-height: inherit;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: dotted thin;
  outline-offset: -2px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
}

h1,
h2,
h3 {
  margin-top: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

ul {
  list-style: none;
  margin-top: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-horizontal .form-group,
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-3,
.col-md-7,
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn,
.form-control {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  background-image: none;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-group {
  margin-bottom: 15px;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:active:focus,
.btn:focus {
  outline: dotted thin;
  outline-offset: -2px;
}

.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .125) inset;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.btn-primary:active,
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active:focus,
.btn-primary:active:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary:active {
  background-image: none;
}

.container::after,
.container::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}