body {
  background:#000;
}

.main-wrapper {
  background:#fff;
  padding-bottom:30px;
}

.main-wrapper img {
  margin:20px 0;
}

.navbar-brand {
  margin-top:-15px;
}

.yellowbg {
  background: yellow;
}

@media screen and (max-width: 800px) {

  img {
    width:100%;
  }

}
