body {
  background:url(../../images/frontend/bg-cina.jpg) 0 bottom no-repeat #1C0C2A;
}

.main-wrapper {
  background:#fff;
  padding-bottom:30px;
}

.main-wrapper img {
  margin:20px 0;
}

.navbar-brand {
  margin-top:-15px;
}

.yellowbg {
  background: yellow;
}

@media screen and (max-width: 800px) {

  img, a {
    width:100%;
  }

  .btn-lg {
    font-size: 13px;
  }

  .komentar-btn{
    display:none;
  }

}
