/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}

*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input{outline: none;}

/* Default settings*/

.hidden{display: none;}
.clear{clear: both;height: 0px;}
.invis{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}

/*Site settings*/
h1,h2,h3,h4,h5,h6{font-weight: 500;}
b, strong{font-weight: 500;}

@font-face {
    font-family: 'Roboto-Regular'; /* Гарнитура шрифта */
    src: url('../../../fonts/Roboto-Regular.ttf');
} 
.Roboto-Regular {
    font-family: 'Roboto-Regular';
}
@font-face {
    font-family: 'Roboto-Bold'; /* Гарнитура шрифта */
    src: url('../../../fonts/Roboto-Bold.ttf');
}       
.Roboto-Bold {
    font-family: 'Roboto-Bold';
}
@font-face {
    font-family: 'pfdintextcomppro-medium'; /* Гарнитура шрифта */
    src: url('../../../fonts/pfdintextcomppro-medium.ttf');
}       
.pfdintextcomppro-medium {
    font-family: 'pfdintextcomppro-medium';
}
.col-fff {
    color: #fff;
}
.col-e53c8b {
    color: #e53c8b;
}
.col-ff57a5 {
    color: #ff57a5;
}
/*structure*/
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px;
    font-family: 'Georgia', "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    background: #fff;
    color: #000;
    font-weight: 400;
}
.main-wrap{
    position: relative;
    width: 480px;
    margin: 0px auto;
}
.section{
    position: relative;
}
.block-1 {
    background: url(../../images/frontend/b1.jpg) center top no-repeat;
    height: 1684px;
}
.block-1-1 {
    padding: 28px 0 30px 45px;
    height: 154px;
}
.block-1-1 h1 {
    font-size: 46px;
    line-height: 100%;
    padding-bottom: 5px;
}
.block-1-1 h2 {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 150%;
}
.block-1-2 {
    height: 60px;
    margin-top: 423px;
}
.block-1-2 .old {
   font-size: 32px; 
   line-height: 100%;
   text-decoration: line-through;
   float:left;
    width: 177px;
    padding: 10px 0 0 0;
    text-align: center;
	letter-spacing: -2px;
	word-spacing: -2px;
}
.block-1-2 .sale {
    font-size: 48px; 
    line-height: 100%;
    float:left;
    width: 124px;
    padding: 10px 0 0 0;
    text-align: center;
}
.block-1-2 .new {
    font-size: 32px; 
	letter-spacing: -2px;
	word-spacing: -2px;
    line-height: 100%;
    float:left;
    width: 175px;
    padding: 10px 0 0 0;
    text-align: center;
}
.block-1-3 {
    margin-top: 80px;
    height: 153px;
}
.block-1-3 p {
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    padding-bottom: 15px;
}
form {
    margin-top: 40px;
    height: 284px;
}
form input, select {
    width: 365px;
    font-size: 20px;
    margin: 0 auto 15px;
    display: block;
    border-radius: 5px;
    border: 0;
    line-height: 150%;
    padding: 10px 15px 10px;
}
form button {
    border:0;
    background: url(../../images/frontend/button.png) center top no-repeat;
    width: 292px;
    height: 106px;
    cursor: pointer;
    opacity: 0.95;
    display: block;
    margin: 15px auto 0;
}
form button:hover {
    opacity: 1;
}
p.b1p {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    font-style: italic;
    text-align: center;
    height: 95px;
    margin-top: 70px;
}
p.b2p {
    font-size: 20px;
    line-height: 130%;
    font-style: italic;
    text-align: center;    
    height: 80px;
    margin-top: 215px;
}

.block-2 {
    background: url(../../images/frontend/b2.jpg) center top no-repeat;
    padding: 480px 40px 0;
}
.block-2 h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    line-height: 150%;
    padding-bottom: 20px;
}
.block-2 h3 {
    font-size: 20px;
    padding-bottom: 13px;
    text-align: center;
    line-height: 150%;
    background: url(../../images/frontend/dot.jpg) center bottom no-repeat;
}
.block-2 p {
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    padding: 15px 0 40px;
}

.block-3 {
    background: url(../../images/frontend/b33.jpg) center top no-repeat #129988;
    height: 944px;
    padding: 94px 40px 0;
}
.block-3 h2 {
    text-align: center;
    font-size: 36px;
    line-height: 120%;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.step {
    margin: 35px 0px 30px 185px;
}
.step h3 {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
    padding-bottom: 20px;
}
.step p {
    font-size: 16px;
    font-style: italic;
    line-height: 150%;
    padding-bottom: 20px;
    text-align: justify;
}

.block-4 {
    background: url(../../images/frontend/b44.jpg) center top no-repeat #fff;
    padding: 55px 30px 0;
}
.block-4 h2 {
    text-align: center;
    font-size: 28px;
    height: 28px;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
}
.block-4 h3 {
    text-align: right;
    font-size: 20px;
    font-style: italic;
    line-height: 120%;
    padding: 10px 0 50px;
    height: 113px;
}
.block-4 h3 span {
    font-size: 16px;
}
.block-4 ul {
    margin-bottom: 67px;
        height: 288px;
}
.block-4 ul li {
    font-size: 16px;
    font-style: italic;
    line-height: 140%;
    padding: 10px 0 0 178px;
    height: 96px;
}
.block-4 p {
    font-size: 18px;
    font-style: italic;
    line-height: 150%;
    padding-bottom: 20px;
    text-align: justify;
}
a.button {
    border:0;
    background: url(../../images/frontend/button.png) center top no-repeat;
    width: 292px;
    height: 106px;
    cursor: pointer;
    opacity: 0.9;
    display: block;
    margin: 20px auto 10px;
}
a.button:hover {
    opacity: 1;
}

.block-5 {
    background: url(../../images/frontend/b55.jpg) center top no-repeat #129988;
    padding: 67px 30px 0;
}
.block-5 h2 {
    text-align: center;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.rev {
    background: url(../../images/frontend/eclips.png) center top no-repeat;
    padding: 50px 10px 40px;
}
.rev img {
    display: block;
    margin: 0 auto 20px;
}
.rev h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 150%;
}
.rev h4 {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    line-height: 150%;
}
.rev p {
    padding-top: 30px;
    text-align: justify;
    font-size: 16px;
    font-style: italic;
    line-height: 150%;
}
.block-6 {
    background: url(../../images/frontend/b6.jpg) center top no-repeat #129988;
    height: 1790px;
    padding: 77px 0 0;
}
.block-6 h2 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 30px;
}
.block-6 ul li {
    text-align: left;
    font-size: 18px;
    font-style: italic;
    line-height: 150%;
    padding: 0 30px 50px 200px;
    height: 190px;
}
.block-6 .block-1-2 {
    height: 60px;
    margin-top: 283px !important;
}
.block-6 .block-1-3 {
    margin-top: 120px !important;
    height: 153px;
}