.countbox
{
	color: #fff;
	font-family: 'Roboto-Bold';
	font-size: 39px;
	height: 106px;
	line-height: 70px;
	margin: 10px auto 0;
	padding: 0;
	width: 380px;
	text-shadow: 1px 1px 1px #a88355;
}
.countbox .countbox-num
{
	float: left;
	margin-left: 9px;
}
.countbox .countbox-space
{
	float: left;
	height: 90px;
	width: 14px;
}
.countbox-hours1,.countbox-mins1,.countbox-secs1,.countbox-hours2,.countbox-mins2,.countbox-secs2
{
	background-image: url('../../images/frontend/flip.png');
	background-repeat: no-repeat;
	float: left;
	height: 89px;
	margin: 0 5px 0 0;
	text-align: center;
	width: 49px;
	z-index: 1;
}
.countbox-hours-text,.countbox-mins-text,.countbox-secs-text
{
	background-position: center;
	background-repeat: no-repeat;
	height: 14px !important;
	margin-top: 90px;
	position: absolute;
	width: 106px;
}
.countbox-hours-text
{
	background-image: url('../../images/frontend/hours_text.png');
}
.countbox-mins-text
{
	background-image: url('../../images/frontend/mins_text.png');
}
.countbox-secs-text
{
	background-image: url('../../images/frontend/secs_text.png');
}
.countbox-hours1 span, .countbox-hours2 span, .countbox-mins1 span, .countbox-mins2 span, .countbox-secs1 span, .countbox-secs2 span
{
	background-repeat: no-repeat;
	display: block;
	height: 89px;
	position: absolute;
	width: 50px;
}